<%= form_for @goods_label,:url => admin_goods_labels_path, :html => {:class => "form-horizontal"} do |f| %>
  <%=f.hidden_field :tag_type,:value=>"goods"%>
  
  <fieldset>
    <div class="control-group">
      <%= f.label :tag_name, "商品标签", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :tag_name%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :tag_bgcolor, "商品颜色", :class => "control-label" %>
      <div class="controls">
        <input type="text" id="color" name="color" value="#ffffff"/>
      </div>
      <div id="colorpicker"></div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <%= f.submit '确定', :class => "btn btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '返回', admin_goods_labels_path %>
      </div>
    </div>

  </fieldset>
<% end %>