<%= form_for @goods_cat,:url => admin_goods_cat_path(@goods_cat), :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :addr, "分类名称", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :cat_name%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :addr, "上级分类", :class => "control-label" %>
      <div class="controls">
        <%=f.select :cat_id,options_from_collection_for_select(Ecstore::Category.all,:cat_id,:full_path_name,params[:id].to_i),{:include_blank=>"请选择"},{:class=>"span3"} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :addr, "商品类型", :class => "control-label" %>
      <div class="controls">
        <%=f.select :type_id, options_from_collection_for_select(Ecstore::GoodType.all,:type_id,:name,Ecstore::GoodCat.find(params[:id]).type_id),{:include_blank=>"请选择"},{:class=>"span3"} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :p_order, "显示位置", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :p_order%>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <%= f.submit '确定', :class => "btn btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '返回', admin_goods_cats_path %>
      </div>
    </div>

  </fieldset>
<% end %>