<div>
    <%=link_to "新建类目",create_top_admin_goods_cats_path %>
</div>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>分类名称</th>
			<th>上一级</th>
			<th>类型</th>
			<th>排序</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<%@top_cats.each do |cat|%>
			<tr class="class_<%=cat.cat_path_rep%>">
				<td><span class="folder" cat_path="<%=cat.cat_path_rep%><%=cat.cat_id%>-" style="cursor:pointer;color:red">[+]</span><%=cat.cat_name%></td>
				<td><%=cat.cat_path_rep%></td>
				<td><%#=Ecstore::GoodType.find(cat.type_id).name if !cat.type_id.nil?%></td>
				<td><%=cat.p_order%></td>
				<td>
					<%=link_to "增加子项",new_admin_goods_cat_path(:cat_id=>cat)%>
					|
					<%=link_to '编辑', edit_admin_goods_cat_path(cat) %>
					|
					<%=link_to "删除",admin_goods_cat_path(cat),:method=>:delete,:confirm=>"确定删除吗？"%>
					|
					<%= link_to toggle_future_admin_goods_cat_path(cat) do%>
			        	<%=cat.future == 'false' ? "设置期货" : "期货关闭"%>
			      	<%end%>
					|
					<%= link_to toggle_agent_admin_goods_cat_path(cat) do%>
			        	<%=cat.agent == 'false' ? "设置代购" : "代购关闭"%>
			      	<%end%>
					|
					<%= link_to toggle_sell_admin_goods_cat_path(cat) do%>
			        	<%=cat.sell == 'false' ? "设置现货" : "现货关闭"%>
			      	<%end%>
				</td>
			</tr>
			<%=render :partial=>"cat",:collection=>cat.child_cats,:as=>:child%>
		<%end%>
	</tbody>
</table>
<div class="pagination">
	<%=will_paginate @top_cats,:container=>false%>
</div>