
<style>.bottomdivsclearfix{display: none} .evenfont{color: #0e90d2;}</style>
<div class="am-g"style="padding: 15px">
  <!--完善个人信息-->
  <div  id="step1"  style="display: none;">
  <div style="border: none" data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-no-layout">
    <h2 class="am-titlebar-title">完善个人信息</h2>
  </div>
  <%=form_for :user,:url=>"/events/party/stepone" ,:html => {:class => "am-form"} do |f| %>

        <div class="am-input-group">
          <span class="am-input-group-label"><i class="am-icon-user"></i></span>
          <%=f.text_field :name,:class=>"input" ,:placeholder=>"请输入您的姓名"%>
        </div>
          <br>
        <div class="am-input-group">
          <span class="am-input-group-label"><i class="am-icon-envelope"></i></span>
          <%=f.text_field :email,:class=>"input" ,:placeholder=>"请输入您的邮箱"%>
        </div>
         <br>
        <div class="am-input-group">
          <span class="am-input-group-label"><i class="am-icon-weixin"></i></span>
          <%=f.text_field :wechat_num,:class=>"input" ,:placeholder=>"请输入您的微信号"%>
        </div>
        <br>
      <%=f.submit "下一步", :class=>"am-btn am-btn-block am-btn-warning"%>
  <%end%>    </div>

    <!--发布活动-->


<div  id="step2"  style="display: none;">
  <div style="border: none" data-am-widget="titlebar" class="am-titlebar am-titlebar-default am-no-layout">
    <h2 class="am-titlebar-title">发布活动</h2>
  </div>

  <%=form_for :event,:url=>"/events/party/steptwo" ,:html => {:class => "eventform am-form"} do |f| %>
       <%=f.hidden_field :terminal ,:value=>"mobile"%>
      <%=f.hidden_field :member_id ,:value=>@user.member_id%>

      <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-cutlery"></i></span>
        <%= f.text_field :name, :placeholder => "活动名称" %>
      </div>
      <br>
     <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-map-marker"></i></span>
        <%=f.text_field :adds,:class=>"input" ,:placeholder=>"请输入准确活动地址(如:上海市江宁路212号)"%>
      </div>
      <br>
      <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-clock-o"></i></span>
        <%=f.text_field :endtime,:class=>"input" ,:id=>"endatetimepicker",:placeholder=>"请选择报名截止时间"%>
      </div> <br>

      <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-clock-o"></i></span>
        <%=f.text_field :startime,:class=>"input" ,:id=>"startdatetimepicker",:placeholder=>"请选择活动开始时间"%>
      </div> <br>

      <div class="am-input-group">

        <%=f.text_area :body,:class=>"input" ,:placeholder=>"请输入活动内容" ,:style=>"height:60px"%>
      </div> <br>

      <input class=" am-btn am-btn-block am-btn-warning submit" name="commit" type="button" value="确  认">

      <%end%>        </div>


  <div  id="step3"  style="display: none;">

    <br><br>
    <div class="am-list-news-bd">

      <ul class="am-list">
        <li style="border: none" class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
          <div class="am-col col-sm-2 am-list-thumb" style="line-height: 4">
            <img src="/assets/tick.png" >
          </div>
          <div class="am-col col-sm-10 am-list-main">
            <div style="text-align: center;color: #ff0000">温馨提示</div>
            <div class="dotted">   </div>
            <span class="evenfont" ><%=@user.name%>您好:&nbsp;&nbsp;&nbsp;恭喜您发布成功!!!</span> <br>



          </div>  </li> </ul>
    </div>
    <p  class=""style="font-size: 14px"> 您可以在<a href="/vshop/78/user?id=78">个人中心</a>查看我的活动信息或者是在<a href="/events/foodie?supplier_id=78">吃货平台</a>里查看</p>
    <a href="/events/foodie?supplier_id=78" >点击返回吃货平台</a>
  </div>
</div>

<script type="text/javascript">

  if ('<%=params[:step]%>'=='2'){
      document.getElementById("step2").style.display="";
  }
  else if('<%=params[:step]%>'=='3'){
      document.getElementById("step3").style.display="";
  }
  else{
      document.getElementById("step1").style.display="";
  }

  $('#startdatetimepicker').datetimepicker({
      format:'Y-m-d H:i',
      lang:'ch'

  });
  
  $('#endatetimepicker')  .datetimepicker({
      format:'Y-m-d H:i',
      lang:'ch'

  });


  $(document).ready(function(){

    $(".submit").click(function(){
        var startime=$("#startdatetimepicker").val();
        var endtime=$("#endatetimepicker").val();

        if( new Date(endtime)> new Date(startime)){
           alert("报名截至时间不能大于活动开始时间"); return false;
        }

        var event_name=$("#event_name").val();
        var event_adds=$("#event_adds").val();
        var event_times=$("#event_times").val();
        if (event_name==""||event_adds==""||event_times=="") {
          alert("信息量不足!无法发布活动哦!");
            return false;
        }
        else{
            $(".eventform").submit();
        }
    })
  })

</script>
