<% if @tag && ["index", "newest", "newin"].include?(action_name) %>
<div id="mini_items">
  <div class="container">
    <ul id="" class="jcarousel-skin-tango">
      <%@tag.goods.order("uptime desc").each do |good|%>
        <%if good.default_product%>
        <li>
          <%=link_to good_path(good.bn,:tag=>@tag.tag_name) do %>
            <%=image_tag good.default_product.list_pictures.first,:size=>"190x268" %>
          <%end%>
          <p>
            <a href="#" class="item"><%=good.default_product.name%></br>
              <span class="imodec_price"><a href="javascript:void(0)" class="login" style="font-size:13px;color:#D30000;">会员价<%= signed_in? ? "￥#{good.default_product.price}" : "[会员专享]"%></a></span> 
              <br />
              <span class='imodec_price' style="font-size:13px;">市场价￥<%=good.default_product.mktprice if good.default_product%></span>
            </a>
          </p>
        </li>
        <%end%>
      <%end%>
    </ul>
  </div>
</div>
<%end%>