<% if @recommend_goods %>
<div id="more_products" data-2450="bottom: -400px;" data-2850="bottom: 0px;"  data-3130="bottom: 280px;">
  <div class="wrapper">
    <h3>推荐商品 </h3>
    <ul id="" class="jcarousel-skin-tango">
        <%@recommend_goods.each do |good|%>
          <%if good.default_product%>
          <li>
            <%=link_to good_path_ext(good,:tag=>@tag&&@tag.tag_name) do %>
              <%=image_tag good.default_product.list_pictures.first,:size=>"190x268"%>
            <%end%>
            <p>
              <a href="#" class="item"><%=good.default_product.name%></br>
                <span class="imodec_price"><a href="javascript:void(0)" class="login" style="font-size:13px;color:#D30000;">会员价<%= signed_in? ? "￥#{good.default_product.price}" : "[会员专享]"%></a></span> 
                <br />
                <span class='imodec_price' style="font-size:13px;">市场价￥<%=good.default_product.mktprice if good.default_product%></span>
              </a>
            </p>
          </li>
          <%end%>
        <%end%>
    </ul>
  </div>
</div>
<% end %>
