<%=render "shared/metable", :resource => nil %>
<div id="modal_login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <!-- <h3 id="myModalLabel"></h3> -->
      TRADE-V － 跨境贸易 一键直达
      </div>
      <div class="modal-body">
        <div class="login_box">
          <h5>您还没有登录，请在此处登录网站</h5>
          <!--login form-->
          <div class="login_form">
              <%=form_for :session,:url=>"/login", :remote=>true do |f|%>
              <%=hidden_field_tag :return_url%>
              <div id="login_msg"></div>
              
                <%=f.text_field :username,:placeholder=>"已认证手机号/用户名/邮箱",:class=>"new-input"%>
                <%=f.password_field :password, :placeholder=>"密码",:class=>"new-input"%>
                <%=f.submit "登 录",:class=>"btn new_btn"%>
              
              <div class="clear"></div>
              <div class="other-login">
                  <span>
                     还不是会员？<a class="register_link dark_red" href="javascript:void(0);">立即注册</a>
                  </span>
                <ul class="sns_login" style="">
                  <span> 或第三方登录:</span>
                  <li>
                    <a class="tsina" href="/auth/weixin" target="_top">微信</a>
                  </li>

                  <div class="clear"></div>
                </ul>
                  <ul class="sns_login" style="display:none">
                    <span> 或第三方登录:</span>
                    <li>
                      <a class="tsina" href="/auth/weibo" target="_top">新浪微博</a>
                    </li>
                    <li>
                      <a class="douban" href="/auth/douban" target="_top">豆瓣</a>
                    </li>
                    <div class="clear"></div>
                  </ul>
                  <div class="login_links">
                  <input type="checkbox" checked="checked" id="autologin" name="remember_me" value="1">
                  <label id="remember_me" class="checkbox_label"  for="autologin"> 记住登录</label>
                  <a class="forgot_link" href="/users/forgot_password" target="_top">找回密码</a>
                  </div>
                  <div class="clear"></div>
              </div>
              <%end%>
          </div>
          
          <div id="myCarousel" class="carousel slide">
               
                <div class="carousel-inner">
                  <div class="active item">
                    <img src="/assets/login_img1.jpg" alt="享受旗下所有设计师品牌提供的VIP专享优惠">
                  </div>
                  <div class="item">
                    <img src="/assets/login_img2.jpg" alt="有机会受邀参加贸威线下会员专享沙龙活动">
                  </div>
                  <div class="item">
                    <img src="/assets/login_img3.jpg" alt="获得贸威提供的最新时尚信息">
                  </div>
                </div>

                 <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                </ol>
          </div>

          
        </div>
        <!--register form-->
        <div class="register_box">
          <h5><!--a class="login_link" href="#">返回登录框</a-->现在注册即可获价值100元现金抵用券</h5>
          <div class="login_form">
            <img class="register_girl" src="/assets/register_girl.jpg">
            <%=form_for :user,:url=>users_path,:remote=>true,:html=>{:id=>"register_form"} do |f|%>
            <ul class="register_ul">
              <li>
                <%=f.text_field :login_name,:class=>"new-input required",:placeholder=>"用户名"%>
                <div class="help-block" rel="user_login_name"></div>
              </li>
              <li>
                <%=f.password_field :login_password,:class=>"new-input required",:placeholder=>"密码"%>
                <div class="help-block" rel="user_login_password"></div>
              </li>
              <li>
                <%=f.password_field :login_password_confirmation,:class=>"new-input required",:placeholder=>"确认密码"%>
                <div class="help-block" rel="user_login_password_confirmation"></div>
              </li>
              <li>
                <%=f.text_field :email,:class=>"new-input required email",:placeholder=>"邮箱"%>
                 <div class="help-block" rel="user_email"></div>
              </li>
              <li>
                <%=f.text_field :mobile,:class=>"new-input required mobile",:placeholder=>"手机号码"%>
                 <div class="help-block" rel="user_mobile"></div>
              </li>
              <li>
                <input type="checkbox" checked="checked" value="agree" name="user[license]" id="license" class="x-input required" autocomplete="off">
                <label for="license" class="checkbox_label" id="i_agree">&nbsp;我已阅读并同意：</label><a href="/pages/zhucexieyi" target="_top"  id="reg_term">会员注册协议</a>
                <span id="and">和</span><br/><a href="/pages/ysbh" id="privacy" target="_top">隐私保护政策</a>
                <div class="help-block" rel="user_license"></div>
              </li>

              <li>
                <%=f.submit "注 册",:class=>"btn register_btn"%>
                <%=link_to "返回登录","javascript:void(0);",:class=>"login_link dark_red"%>
              </li>
            </ul>
            <%end%>
          </div>
        </div>
      </div>
</div>

<script type="text/javascript">

$(document).ready(function(){

      var showLogin = function(){
          $(window.parent.document).find("body").append('<div id="simple_modal_over" class="__mask" style="opacity: 0.3;filter:alpha(opacity=30);position: fixed;display:block;z-index: 99998;top: 0;left: 0;width: 100%;height: 100%;background-color:#000;background-position: center center;background-repeat: no-repeat;background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#291a49));background: -webkit-radial-gradient(circle, #ffffff, #291a49);background: -moz-radial-gradient(circle, #ffffff, #291a49);background: -ms-radial-gradient(circle, #ffffff, #291a49);"></div>');
          $(window.parent.document).find("#iframe_login").show();
          $('.carousel').carousel();
      }


       var nologin_times  = document.cookie.match(/nologin_times=(\d+)/)[1];
       var nologin_close = !!document.cookie.match(/nologin_close=1/);
       var logined = !!document.cookie.match(/MEMBER=([0-9a-z-]+)/);
       var passportLost = (window.parent.location.pathname == "/passport-lost.html");
      var matched = window.parent.location.search.slice(1).match(/return_url=([^&]+)/);
      if(!!matched){
         var return_url = matched[1];
         if(logined){
            window.parent.location.replace(return_url);
         }else{
            $("#return_url").val(decodeURIComponent(return_url));
             showLogin();
         }
      }else{
          $("#return_url").val(window.parent.location.href);
      }

       if(!logined&&!nologin_close&&parseInt(nologin_times)>3&&!passportLost){
          showLogin();
       }

	$(document).on("click","#modal_login .close",function(){

		$(window.parent.document).find("iframe#iframe_login").hide();
		$(window.parent.document).find(".__mask").remove();
              if (!document.cookie.match(/nologin_close=1/)){
                 document.cookie = "nologin_close=1";
              }
             $('#modal_login .register_box').css({ left: '640px'});
             $('#modal_login .login_box').css({ left: '40px'});
	});

	$(window.parent.document).on("click",".login",function(e){

            $("#return_url").val(window.parent.location.href);


            if($(this).attr("id")=="reg"){

                // $('#modal_login .register_box').css({ left: '40px'},'linear');
                // $('#modal_login .login_box').css({ left: '-600px'},'linear');
                //$('#modal_login .login_box').animate({ left: '-600px'}, 400,'linear');
                //$('#modal_login .register_box').animate({ left: '40px'}, 400,'linear');

                setTimeout(function(){
                  $("#modal_login .register_link").click();
                },5);
             }

              showLogin();


            return false;
      });
});
</script>