<style type="text/css">
    .am-tabs-warning{
        display: none;
    }
</style>

<%=render "shared/metable", :resource => nil %>

<%=form_for :session,:url=>"/login", :remote=>true do |f|%>
    <%=hidden_field_tag :id,params[:id]%>
    <%=hidden_field_tag :supplier_id,params[:supplier_id] if params[:supplier_id]%>
    <%=hidden_field_tag :return_url,params[:return_url]%>
    <%=hidden_field_tag :platform,'mobile'%>
    <br/>

    <!--<%#if @user%>-->

      <!--<p>你已经登陆了<a href="/vshop/<%#=@supplier.id%>">点击进入首页</a></p>-->

        <!--<%#else%>-->


    <!--<div class="connerdiv" >-->
      <!--<a href="<%#=@oauth2_url%>">-->
        <!--<img src="/assets/vshop/Oauth_button.png"  class="am-img-thumbnail" style="border: 1px solid grey;width:200px;">-->
      <!--</a>-->
    <!--</div>-->
        <!--<div class="connerdiv" >-->
          <!--轻轻点击图片进行登陆-->
          <!--</div>-->
    <!--<br/>-->
        <!--<%#if params[:dev]=="1" #开发用：显示传统登录页面%>-->
    <!--<div class="connerdiv">-->


           <div class="connerdiv">



      <div class="am-input-group">
        <span class="am-input-group-label">姓名:</span>

        <%=f.text_field :username,  :class=>"am-form-field" ,:placeholder=>"姓名"%>
      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label">密码:</span>

        <%=f.password_field :password,  :class=>"am-form-field" ,:placeholder=>"密码"%>
      </div>
      <br/>
      <div class="am-form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input name="remember_me" type="checkbox" value="1" checked="true" class="fl">记住登录状态
            </label>
          </div>
        </div>
      </div>

      <dl id="li_captcha" style="display:none;">
        <input type="text" name="captcha" size="5" maxlength="4" class="testcode">
        <img src="files/captcha.html" id="captcha" alt="captcha" style="vertical-align: middle;cursor: pointer;" onclick="this.src=&#39;captcha.html?&#39;+Math.random()">
        <a href="javascript:void(0)" onclick="document.getElementById(&#39;captcha&#39;).src=&#39;captcha.html?&#39;+Math.random()"><label>&nbsp;看不清？换一张</label></a>
      </dl>

      <div id="login_msg" style="color:red;font-size:12pt;"></div>
      <input type="hidden" name="back_act" value="product-198535-26038564.html">
      <div class="space15"></div>
      <%=f.submit "登 录",:class=>"am-btn am-btn-warning am-btn-block"%>

      <br/>
      <br/>

          <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>

      <a href="/mregister?id=<%=params[:id]%>&platform=mobile&<%=return_url%>" class="forgetkey">立即注册&gt;&gt;</a>
      <a href="/users/forgot_password?id=<%=params[:id]%>&platform=mobile" class="fr forgetkey" target="new">忘记密码?</a>
    </div>
<%end%>

<%= javascript_include_tag "login" %>

