
<%=@mancoorder.each do |ord|%>
    <tr>
      <td><%=link_to ord.order_id, order_path(ord)%></td>
      <td>

      </td>

    <td><%=Time.at(ord.createtime).localtime.to_s(:db) %></td>
      <td><%=ord.total_amount%>元</td>
      <td><%=ord.status_text%></td>
    </tr>
<%end%>


