<div class="coupon">
				<%=link_to " + 使用优惠券","#"%>

				<div class="control-group">
				    <%=f.label :coupon, "优惠券名称：",:class=>"control-label"%>
				    <div class="controls">
				      <%=f.select :coupon,@user.usable_coupons.collect{|c| [c.coupon_name,c.memc_code] },{:include_blank=>"--请选择优惠券--"},{:class=>"span2",:id=>"coupon_options"}%>
				    </div>
				</div>
				<div class="control-group">
				    <%=f.label :coupon_no, "优惠券号码：",:class=>"control-label"%>
				    <div class="controls">
				      <%=f.text_field :coupon_no,:class=>"span2",:id=>"coupon_val"%>
				      <%=link_to "使用",use_coupon_orders_path,:class=>"btn btn-inverse",:id=>"use_coupon"%>
				    </div>
				</div>
				<div class="control-group">
				    <label class="control-label"></label>
				    <div class="controls">
				    	<span class="required" id="coupon_msg"></span>
				    </div>
				</div>
			</div>