
<style type="text/css">

    .bottomdivsclearfix{
        display: none;
    }

</style>

<div class="am-panel am-panel-warning" style="text-align: center">
  <div class="am-panel-hd"><%= I18n.t "modify"%><%= I18n.t "address"%></div>
</div>
<%#=javascript_include_tag "patch/member_addrs"%>
<div class="am-input-group">
  <span class="importstart">* </span>
  <span > <%=I18n.t "importstart"%></span>
</div>
<%=form_for :addr, :url=>  "edit_addr", :html=>{ :class=> " form-horizontal" } do |f|%>
    <input type="hidden" name="platform" value="<%=params[:platform]%>">
    <input type="hidden" name="id" value="<%=@addr.id%>">
    <input name="addr[def_addr]" type="hidden" value="1">
    <div class="new-addr " id="addr_form">
      <div class="am-panel am-panel-default">

        <div class="am-panel am-panel-default">

          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "name"%><span class="importstart">*</span></span>
            <input class="am-form-field" id="addr_name" name="addr[name]" placeholder="<%=I18n.t "name"%>" value="<%=@addr.name%>" size="30" type="text">

            <%#=f.text_field :name,  :class=>"am-form-field" ,:placeholder=>"收货人姓名"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "m_phone"%><span class="importstart">*</span></span>
            <input class="am-form-field" id="addr_mobile" name="addr[mobile]" placeholder="<%=I18n.t "m_phone"%>" value="<%=@addr.mobile%>" size="30" type="text">

            <%#=f.text_field :mobile,  :class=>"am-form-field" ,:placeholder=>"手机"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "tel"%></span>
            <input class="am-form-field" id="addr_tel" name="addr[tel]" placeholder="<%=I18n.t "tel"%>"  value="<%=@addr.tel%>" size="30" type="text">

            <%#=f.text_field :tel,  :class=>"am-form-field" ,:placeholder=>"固定电话"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "express_code"%></span>
            <input class="am-form-field" id="addr_zip" name="addr[zip]" placeholder="<%=I18n.t "express_code"%>" value="<%=@addr.zip%>" size="30" type="text">
            <%#=f.text_field :zip,  :class=>"am-form-field" ,:placeholder=>"邮编"%>
          </div>
            <div class="controls" style="display:none">
            <select id="province" name="addr[province]">
              <option value="21" selected="selected">上海</option>
            </select>
            <select class="am-input-group-label" id="city" name="addr[city]">
              <option value="1" selected="selected">上海</option>
            </select>
            <select id="district" name="addr[district]" onchange="selectDistrict(this);">
              <option value="1" selected="selected">静安区</option>
            </select>
          </div>


            <br/>

          <div class="am-input-group">

            <span class="am-input-group-label"><%= I18n.t "address_detail"%><span class="importstart">*</span></span>
              <%=f.text_field :addr, :id=>"addr",:class=>"am-form-field"%>
            <span class="help-inline error"></span>


        </div>
         </div>
      </div>



      <div class="control-group">
        <div class="controls">
          <%if @method == :put%>
              <input type="submit" class="am-btn am-btn-warning am-btn-block" value="<%=I18n.t "modify"%>">
              <%#=f.submit "修 改",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%else%>
              <input type="submit" class="am-btn am-btn-warning am-btn-block" value="<%=I18n.t "confirm"%>">
              <%#=f.submit "确认收货地址",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%end%>
        </div>
      </div>
    </div>
<%end%>
</div>