<style type="text/css">

    .bottomdivsclearfix{
      display: none;
  }

</style>
<header id="am-topbar am-topbar-inverse">

  <div class="am-panel am-panel-default">
    <div class="am-panel-hd"style="text-align: center"><span style="color: #ff0000">寄</span>货人地址</div>

  </div>

</header>
<div class="href">
   </div>
  <form action="arrival" class="am-form" method="post">
    <input type="hidden" name="supplier_id"value="<%=@supplier.id%>">
    <input type="hidden" name="platform"value="<%=@platform%>">


    <ul class="am-list am-list-striped ">

      <%if @def_addrs.size>0%>
          <%@def_addrs.each do |def_addr|%>
        <li style="padding: 15px" class="li_addr">
          <%=radio_button_tag "member_departure_id",def_addr.addr_id ,:checked=>true ,:class=>"am-badge-danger"%>
          <span >&nbsp;&nbsp;<%=def_addr.name%>  <span  style="margin-left: 30px"> <%=def_addr.mobile%></span></span>
          <br/>

          <span >&nbsp;&nbsp;<%=def_addr.addr%></span>
          <span class="am-badge am-badge-danger delete" style="cursor:pointer " >删除</span>

       </li>


          <% end %>
      <%else%>
          <a id="ahref" class="am-btn am-btn-success " style="width:50%;float: left" href="/orders/new_manco_addr?supplier_id=<%=@supplier.id%>&platform=<%=params[:platform]%>" title="">新增寄货人地址 </a>
        <%end%>
          </ul>





<div class="bottomdiv clearfix"  >

  <a id="ahref" class="am-btn am-btn-success " style="width:50%;float: left" href="/orders/new_manco_addr?supplier_id=<%=@supplier.id%>&platform=<%=params[:platform]%>" title="">新增寄货人地址 </a>
  <%if @def_addrs.size>0%>
  <input type="submit" class="  am-btn am-btn-primary  " style=" width:50%;float: right" value="确认选择" >
    <%end%>
  </div>
  </form>
<%= javascript_include_tag "jquery", "jquery_ujs" %>
<script type="application/javascript">
    $(document).ready(function(){
        $(".delete").bind("click",function(){
            var addr_idsss=   $(this).parent("li").children("input[type='radio']").val();
            var thisTr =  $(this);
            $.ajax( {
                url: "/orders/destroyaddr?supplier_id=#{<%@supplier.id%>}",
                type: "post",
                data:{addr_idsss:addr_idsss },
                success:function(res){
                    thisTr.parents("li").remove();
                }
            });

        })
    $(".li_addr").bind("click",function(){
       $(this).children("input[type='radio']").attr("checked",'true');

    })

    })

</script>