<style type="text/css">

    .bottomdivsclearfix{
      display: none;
  }

</style>

<div class="href">
   </div>
  <form action="arrival" class="am-form" method="post">
    <input type="hidden" name="supplier_id"value="<%=@supplier.id%>">
    <input type="hidden" name="platform"value="<%=@platform%>">
    <input type="hidden" name="xiehuo"value="<%=session[:xiehuo]%>">


    <ul class="am-list am-list-striped ">

      <%if @def_addrs.size>0%>
          <%@def_addrs.each do |def_addr|%>
        <li style="padding: 15px" class="li_addr">
          <%=radio_button_tag "member_departure_id",def_addr.addr_id ,:checked=>true ,:class=>"am-badge-danger"%>
          <span >&nbsp;&nbsp;<%=def_addr.name%>  <span  style="margin-left: 30px"> <%=def_addr.mobile%></span></span>
          <br/>

          <span  class="addr" style="margin-left: 30px"><%=def_addr.addr%></span>
          <span class="am-badge am-badge-danger delete" style="cursor:pointer " >删除</span>

       </li>


          <% end %>

        <%end%>
          </ul>

<div class="bottomdiv clearfix"  >
  <%if @def_addrs.size>0%>
  <a id="ahref" class="am-btn am-btn-success " style="width:50%;float: left" href="/orders/new_manco_addr?supplier_id=<%=@supplier.id%>&platform=<%=params[:platform]%>" >新增装货地址 </a>

  <input type="submit" class="  am-btn am-btn-primary  " style=" width:50%;float: right" value="确认选择" >
    <%else%>
      <a id="ahref" class="am-btn am-btn-success " style="float: left" href="/orders/new_manco_addr?supplier_id=<%=@supplier.id%>&platform=<%=params[:platform]%>" title="">新增装货地址 </a>
      <%end%>
      </div>
  </form>
<%= javascript_include_tag "jquery", "jquery_ujs" %>
<script type="application/javascript">
    $(document).ready(function(){
        $(".delete").bind("click",function(){
            var r=confirm("确认删除？")
            if (r==true) {
                var addr_idsss = $(this).parent("li").children("input[type='radio']").val();
                var thisTr = $(this);
                $.ajax({
                    url: "/orders/destroyaddr?supplier_id=#{<%@supplier.id%>}",
                    type: "post",
                    data: {addr_idsss: addr_idsss },
                    success: function (res) {
                        thisTr.parents("li").remove();
                        $("input[type='submit']").remove();
                        $(".am-btn-success").css("width","100%");
                    }
                });
            }
        })
    $(".li_addr").bind("click",function(){
       $(this).children("input[type='radio']").attr("checked",'true');

    })



    })

</script>