<!--<link href="/assets/store/orders.css?body=1" media="screen" rel="stylesheet" type="text/css" />-->
<!--<script src="/assets/store/orders.js?body=1" type="text/javascript"></script>-->
<br>
<div class="row">
<div class="panel callout radius">
 <div>
   <strong>订单号：<%=@order.order_id%>&nbsp;&nbsp;&nbsp;&nbsp;状态：<span class="" style="color: #12A000;">
     <%=@order.order_status_text%></span>&nbsp;&nbsp;
     <%if @order.status == 'active' && @order.pay_status=='0'%>
     <span ><a href="/goods/<%=@order.order_id%>" target="_blank">
       <img width="46" height="25" style="display:inline;" src="/assets/paybtn.gif"></a></span>
       <%end%>
   </strong>
   <div style="border-bottom: 1px dotted #fcbebb;"></div>
   <div class="" style="font-size: 16px">
     尊敬的客户，我们还未收到该订单的款项，请您尽快付款<a href="/pages/zxzf">（在线支付帮助）</a>
     该订单会为您保留24小时（从下单之日算起），24小时之后如果还未付款，系统将自动取消该订单。
     </div>

   </div>
</div>  </div>

<div class="row panel" style=" ">

  <span class="large-3 medium-3 small-3 columns ">提交订单</span>

  <span class="large-3 medium-3 small-3 columns">等待付款 </span>
  <span class="large-3 medium-3 small-3 columns">等待发货 </span>
  <span class="large-3 medium-3 small-3 columns">订单完成</span>

  <br><br>
  <div class="range-slider round" data-slider="50">
    <span class="range-slider-handle" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50" style="-webkit-transform: translateX(30px);"></span>
    <span class="range-slider-active-segment" style="width: 25%;"></span>
    <input type="hidden" value="50">
  </div> </div>





<div class="m row" id="orderinfo">
  <div class="mt">
    <strong>订单信息</strong>
  </div>
  <div class="mc">

    <dl class="fore">
      <dt>
        收货人信息
      </dt>
      <dd>
        <ul style="list-style-type:none">
          <li>收&nbsp;货&nbsp;人：<%=@order.ship_name%></li>
          <li>地&nbsp;&nbsp;&nbsp;&nbsp;址：<%=@order.ship_addr%></li>
          <li>手机号码：<%=@order.ship_mobile%></li>
          <%if @order.ship_email %>
          <li>电子邮件：<%=@order.ship_email%></li><%end%>
          <%if @order.ship_zip %>
          <li>邮编：<%=@order.ship_zip%></li>   <%end%>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>
        支付及配送方式
      </dt>
      <dd>
        <ul style="list-style-type:none">
          <li>支付方式：<%=@order.payment_name%></li>
          <li>运&nbsp;&nbsp;&nbsp;&nbsp;费：&yen;<%=@order.cost_freight.to_i%></li>
        </ul>
      </dd>
    </dl>

    <dl>
      <dt>
        <span class="i-mt">商品清单</span>
      <div id="fquan" class="fquan">
        <div id="eventName">
        </div>
        <div class="prompt p-fquan" id="couponListShow">
          <div class="pc" id="couponList">
          </div>
        </div>
      </div>
      <div class="clr"></div>
      </dt>

        <table style="width: 100%">
          <thead>
          <tr>
            <th width="20%">商品编号</th>
            <th width="20%">商品名称</th>
            <th width="20%">单价</th>
            <th width="20%">数量 </th>
            <th width="20%">金额 </th>
          </tr>
          </thead>

          <tbody>

          <%@order.order_items.each do |order_item|%>
              <tr>
                <td><%=order_item.bn%></td>
                <td><%=link_to order_item.name,good_path_ext(order_item.good)%>
                  <%if order_item.item_type=="gift"%>
                      <span class="hui">赠品</span>
                  <%end%></td>
                <td>&yen;<%=order_item.price%></td>
                <td><%=order_item.nums.to_i%></td>
                <td>&yen;<%=(order_item.price * order_item.nums).to_i if order_item.item_type == 'product'%><%= 0 if order_item.item_type == 'gift'%>
                </td>
              </tr>

          <%end%>
          </tbody>
        </table>

    </dl>

  </div>

  <div class="total">
    <ul style="list-style-type:none">
      <li><span>总商品金额：</span><%=@order.products_total%></li>
      <li><span>- 优惠：</span>￥<%=@order.pmts_total%></li>
      <li><span>+ 运费：</span>￥0.00</li>
    </ul>

    <span style="color:#EDEDED;"></span>
    <div class="extra">
      应付总额：
      <span class="ftx04"><b><%=@order.final_pay%></b></span>
    </div>
  </div>
  <link type="text/css" rel="stylesheet" href="/assets/cheuksgroup/order.css" />
</div>






<div class="row panel">
  <h4 class="title">优惠信息</h4>
  <% if @order.order_pmts.size > 0%>
      <%@order.order_pmts.each do |pmt|%>
  <div class="large-12 medium-12 small-12 columns panel">
         <span >
						<%=pmt.pmt_name%>
           <%="(券)" if pmt.pmt_type=="coupon"%>
					</span>
    <span class=> <%=pmt.pmt_desc%></span>
      <%end%>
  <%else%>
      <span>无优惠信息</span>
  <%end%>
  </div>    </div>






