<div id="order_details">
	<h4 class="title">订单信息</h4>

	<div class="detail summary">
		<ul>
			<li>
				<strong>订单编号 : <%=@order.order_id%></strong>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<strong>
					状态 : <span class="status <%=@order.status%>">
					<%=@order.order_status_text%></span>
				</strong>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%if @order.status == 'active'&&@order.pay_status == '0' && @order.payment != 'offline'%>
				<%=link_to "付款",order_path(@order),:class=>"btn btn-inverse" %>
				<%end%>
			</li>
			<li>订单备注 : <%=@order.memo%></li>
		</ul>

	</div>

	<div class="detail track">
		<div class="subtitle">
			<strong>订单追踪</strong>
		</div>
		<ul>
			<li class="flow">
				<span class="">提交订单</span>
				<span class="">等待付款</span>
				<span class="">等待发货</span>
				<span class="">订单完成</span>
			</li>
			<li class="flow-img">
				<div class="flow-progress <%=@order.progress_status%>"></div>
			</li>

			<%@order.order_logs.order("alttime asc").each do |log|%>
			<li>
				<%=log.created_at%> 
				<%=log.log_text%>
			</li>
			<%end%>
		</ul>
	</div>
	
	<div class="detail products">
		<div class="subtitle">
			<strong>商品清单</strong>
		</div>

		<table class="table table-bordered">
			<tr>
				<th width="15%">商品编号</th>
				<th >商品名称</th>
				<th >单价</th>
				<th width="10%">数量</th>
				<th width="10%">金额小计</th>
			</tr>
			<%@order.order_items.each do |order_item|%>
			<tr>
				<td><%=order_item.bn%></td>
				<td>
					<div>
						<%=link_to order_item.name,good_path_ext(order_item.good)%>
						<%if order_item.item_type=="gift"%>
						<span class="hui">赠品</span>
						<%end%>
					</div>
					<div class="spec-info"><%=order_item.product.spec_info%></div>
				</td>
				<td>&yen;<%=order_item.price%></td>
				<td><%=order_item.nums.to_i%></td>
				<td>
						&yen;<%=(order_item.price * order_item.nums).to_i if order_item.item_type == 'product'%><%= 0 if order_item.item_type == 'gift'%>
				</td>
			</tr>
			<%end%>
		</table>
	</div>
	<div class="detail pmts">
		<div class="subtitle">
			<strong>优惠</strong>
		</div>
		<ul>
			<% if @order.order_pmts.size > 0%>
				<%@order.order_pmts.each do |pmt|%>
				<li>
					<span class="pmt-name">
						<%=pmt.pmt_name%> 
						<%="(券)" if pmt.pmt_type=="coupon"%>
					</span>
					<span class="pmt-desc"> <%=pmt.pmt_desc%></span>
					
				</li>
				<%end%>
			<%else%>
				<li>无优惠信息</li>
			<%end%>
		</ul>
	</div>
	<div class="detail addr-info">
		<div class="subtitle">
			<strong>收货信息</strong>
		</div>
		<ul>
			<li>
				<span class="name">收货人: </span>
				<span class="val"><%=@order.ship_name%></span>
			</li>
			<li>
				<span class="name">收货地址 : </span>
				<span class="val"><%=@order.ship_addr%></span>
			</li>
			<li>
				<span class="name">邮编 : </span>
				<span class="val"><%=@order.ship_zip%></span>
			</li>
			<li>
				<span class="name">手机号码 : </span>
				<span class="val"><%=@order.ship_mobile%></span>
			</li>
			<li>
				<span class="name">固定电话 : </span>
				<span class="val"><%=@order.ship_tel%></span>
			</li>
			<li>
				<span class="name">电子邮件 : </span>
				<span class="val"><%=@order.ship_email%></span>
			</li>
		</ul>
	</div>

	<div class="detail shipment">
		<div class="subtitle">
			<strong>支付及配送方式</strong>
		</div>
		<ul>
			<li>
				<span>支付方式 : </span>
				<span><%=@order.payment_name%></span>
			</li>

			<li>
				<span>配送方式 : </span>
				<span><%=@order.shipping%></span>
			</li>
			<li>
				<span>配送时间 : </span>
				<span><%=@order.ship_time%></span>
			</li>
		</ul>
	</div>
	
	<%if @order.is_tax == 'true'%>
	<div class="detail tax">
		<div class="subtitle">
			<strong>发票</strong>
		</div>
		<ul>
			<li>
				<span>发票抬头 : </span>
				<span><%=@order.tax_company%></span>
			</li>
		</ul>
	</div>
	<%end%>


	<div class="detail total">
		<div class="subtitle">
			<strong>结算信息</strong>
		</div>
		<ul>
			<li>
				<span class="name">商品总额 : </span>
				<span class="val"> &yen;<%=@order.products_total%></span>
			</li>

			<li>
				<span class="name">+运费 : </span>
				<span class="val"> &yen;<%=@order.cost_freight.to_i%></span>
			</li>
			<li>
				<span class="name">-优惠 : </span>
				<span class="val"> &yen;<%=@order.pmts_total%></span>
			</li>
			<li>
				<span class="name">-余额 : </span>
				<span class="val"> &yen;<%=@order.part_pay.to_i%></span>
			</li>
			
			<%if @order.payment == 'bcom'%>
			<li>
				<span class="name">-支付优惠 : </span>
				<span class="val"> &yen;<%=@order.bcom_discount%></span>
			</li>
			<%end%>

			<li class="pay-amount">
				<span class="name">应付金额 : </span>
				<span class="val"> &yen;<%=@order.final_pay%></span>
			</li>

		</ul>
	</div>

</div>