
<style type="text/css">

    .change_lange,.bottomdivsclearfix{
        display: none;
    }

</style>




<%=form_for :addr, :url=>@action_url,:method=>@method, :html=>{ :class=> "form " } do |f|%>
    <input type="hidden" id="addr_name" name="addr[id]"  value="<%=@addr.id%>" >
    <input type="hidden" name="way" value="<%=params[:way]%>">
    <input name="arrival_id" type="hidden" value="<%=@arrival_id%>" >
    <input name="departure_id" type="hidden" value="<%=@departure_id%>" >
    <input name="bill"  type="hidden" value="<%=@bill%>">
    <input name="invoice" type="hidden"  value="<%=@invoice%>">
    <input name="warehouse" type="hidden"  value="<%=@warehouse%>">
    <% if params[:way]=="departure"%>
        <input name="addr[addr_type]" type="hidden" value="1" >

    <%else%>
        <input name="addr[addr_type]" type="hidden" value="0" >

    <%end%>


    <div class="new-addr <%='hide' unless display==true%>" id="addr_form">
      <div class="am-panel am-panel-default">

        <div class="am-panel am-panel-default">

          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "name"%></span>
            <input class="am-form-field" id="addr_name" name="addr[name]" placeholder="<%=I18n.t "name"%>" value="<%=@addr.name%>" size="30" type="text">

            <%#=f.text_field :name,  :class=>"am-form-field" ,:placeholder=>"收货人姓名"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "m_phone"%></span>
            <input class="am-form-field" id="addr_mobile" name="addr[mobile]" placeholder="<%=I18n.t "m_phone"%>" value="<%=@addr.mobile%>" size="30" type="text">

            <%#=f.text_field :mobile,  :class=>"am-form-field" ,:placeholder=>"手机"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "tel"%></span>
            <input class="am-form-field" id="addr_tel" name="addr[tel]" placeholder="<%=I18n.t "tel"%>"  value="<%=@addr.tel%>" size="30" type="text">

            <%#=f.text_field :tel,  :class=>"am-form-field" ,:placeholder=>"固定电话"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "express_code"%></span>
            <input class="am-form-field" id="addr_zip" name="addr[zip]" placeholder="<%=I18n.t "express_code"%>" value="<%=@addr.zip%>" size="30" type="text">
            <%#=f.text_field :zip,  :class=>"am-form-field" ,:placeholder=>"邮编"%>
          </div>
          <br/>



        <div class="controls" style="display:none">
          <select id="province" name="addr[province]">
            <option value="21" selected="selected">上海</option>
          </select>
          <select class="am-input-group-label" id="city" name="addr[city]">
            <option value="1" selected="selected">上海</option>
          </select>
          <select id="district" name="addr[district]" onchange="selectDistrict(this);">
            <option value="1" selected="selected">静安区</option>
          </select>
        </div>




        <div class="am-panel-hd">
          <label for="addr"><%=I18n.t "address"%></label>
          <%#=f.label :addr, "收货地址：".html_safe%></div>
        <div class="am-panel-bd">
          <%=f.text_field :addr,:class=>"span5", :id=>"addr",:class=>"am-form-field"%>
          <span class="help-inline error"></span>
        </div>
      </div>



      <div class="am-panel am-panel-default">
        <div class="am-panel-hd">
          <label for="addr_def_addr"><%=I18n.t "set_default"%>:</label>
          <%#=f.label :def_addr, "设置默认："%>  </div>
        <div class="am-panel-bd" id="choose_default">
          <input checked="checked" id="addr_def_addr" name="addr[def_addr]" type="checkbox" value="1">设置默认
          <span class="help-inline error"></span>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%if @method == :put%>
              <input type="submit" id="sub" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t "modify"%>">
              <%#=f.submit "修 改",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%else%>
              <input type="submit" id="sub" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t "confirm"%>">
              <%#=f.submit "确认收货地址",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%end%>
        </div>
      </div>
    </div>
       </div>

<%end%>
<script type="application/javascript">
    $(document).ready(function(){
        $("#choose_default").bind("click",function(){
            checkbox($("#addr_def_addr"));
    })

        $("#sub").bind("click",function(){
            if( $("#addr_name").val()=="" &&$("#addr_mobile").val()==""||$("#addr").val()=="") {
                alert("请完善联系人信息")
                return false;

            }
            else{
                $(".form").submit()

            }

        })
    })

</script>