

<style>
    @media only screen and (min-width: 1200px) {
        .blog-g-fixed {
            max-width: 1200px;
        }
    }
    ul a

    @media only screen and (min-width: 641px) {
        .blog-sidebar {
            font-size: 1.4rem;
        }
    }
    .blog-main {
        padding: 20px 0;
    }
    .blog-title {
        margin: 10px 0 20px 0;
    }
    .blog-meta {
        font-size: 14px;
        margin: 10px 0 20px 0;
        color: #222;
    }
    .blog-meta a {
        color: #27ae60;
    }
    .blog-pagination a {
        font-size: 1.4rem;
    }
    .blog-team li {
        padding: 4px;
    }
    .blog-team img {
        margin-bottom: 0;
    }
    .blog-footer {
        padding: 10px 0;
        text-align: center;
    }
    .inner{
        float: right;
    }
</style>



<div class="am-panel-group">

  <section class="am-panel am-panel-primary">
    <div class="am-panel-hd">您的订单</div>
    <table class="am-table">
      <thead>
      <tr>
        <th>订单号</th>
        <th>订单商品</th>
        <th>下单时间</th>
        <th>订单金额</th>
        <th>订单状态</th>
      </tr>
      </thead>
      <tbody>
      <%@orders.each  do |order|%>
          <tr>
            <td><%=link_to order.order_id, order_path(order)%></td>
            <td>
              <%order.order_items.each_with_index do |order_item,index|%>
                  <%
                     link_title = order_item.name
                     link_title = "赠品:#{link_title}" if order_item.item_type == 'gift'
                  %>
                  <%=link_to good_path_ext(order_item.good),:title=>link_title,:target=>"_blank",:class=>"thumb-link" do %>
                      <%=image_tag order_item.good.medium_pic,:class=>"thumb" if order_item.item_type == 'product'%>
                      <%=image_tag order_item.product.gift_image_url,:class=>"thumb" if order_item.item_type == 'gift'%>
                  <%end%>

              <%end%>
            </td>

            <td><%=order.created_at%></td>
            <td>￥<%=order.final_amount%></td>
            <td style="display:none"><%=order.status_text%></td>
            <td>

              <div><%=link_to "去付款",order_path(order),:target=>"_blank" if order.status == 'active' && order.pay_status=='0'%></div>
            </td>
          </tr>
      <%end%>

      </tbody>
    </table>


  </section>

  </div>