
<style>
    .good_name{
        overflow:hidden;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        white-space:nowrap;
        width:100%;
    }
        .money{
            color: #ff0000;
            float: right;
        }
</style>
<%if @line_items.size > 0%>
    <div class="row">
    <div class="large-12 columns panel" >
		<h5>
			收货地址 
			<span class="required">*</span>
		</h5>
        <div class="row">

		<%if @addrs.size>0%>
			<%@addrs.each_with_index do |addr,index|%>
				<%if @def_addr == addr%>
                      <a href="/orders/member_addrsform?addr_id=<%=addr.addr_id%>" class="update-link" >
                        <div class="large-12 medium-12 small-12 columns panel">


                    <%=radio_button_tag "member_addr", addr.addr_id,:checked=>true%>
                        <span class="addr-line"><%=addr.name%> &nbsp; <%=addr.mobile%> <br> <%=addr.addr%></span> <span class="right">修改</span>
                      </div>
                      </a>
				<%else%>
                      <a href="/orders/member_addrsform?addr_id=<%=addr.addr_id%>" class="update-link" >
                      <div class="large-12 medium-12 small-12 columns panel">
						<%=radio_button_tag "member_addr", addr.addr_id%> 
						<span class="addr-line"><%=addr.name%> &nbsp; <%=addr.mobile%> <br> <%=addr.addr%></span>
                            <span class="right">修改</span>
                         </div>   </a>
				<%end%>
			<%end%>
             </div>
              <div class="large-12 medium-12 small-12 columns">
                <a href="/orders/new_member_addrsform" class="update-link" >使用新的地址</a>

             </div>
		<%else%>
              <div class="large-12 columns" >

                <a href="/orders/new_member_addrsform" class="update-link" >点击创建新的地址</a>

              </div>

		</div>

		<%#=render :partial=>"patch/member_addrs/form",:locals=>{ :display=>( @addrs.size == 0 ), :@addr=>Ecstore::MemberAddr.new }%>
           <%end%>
    </div>
    <div class="row">
    <div class="large-12 columns " >
	<%=form_for :order,:url=>orders_path,:html=>{ :class=>"form-horizontal",:id=>"order_form" } do |f|%>
		<%=hidden_field_tag "member_addr",@def_addr&&@def_addr.addr_id%>

        <div class="row panel">

            <h5>配送方式</h5>

     <div class="large-6 medium-6 small-6 columns">
       <div class="radio">
       <%=f.radio_button :shipping_id, 0%><span class="addr-line">自提</span>
          </div>   </div>
          <div class="large-6 medium-6 small-6 columns">
            <div class="radio">
            <%=f.radio_button :shipping_id, 1, :checked=>true%> 快递
            <span class="extra-info">+ ￥10</span>
              </div>
          </div>




            <div class="large-12 medium-12  ">
              <h7>  <%=f.label :ship_time, "收货时间：",:class=>"control-label"%></h7>
            </div>
            <div class="large-6 medium-6 small-6 columns">
              <div class="radio">
                <%=f.select :ship_day,ship_day_options%>
              </div>   </div>     <%=f.text_field :ship_special,:class=>"input-small hide datetime"%>
            <div class="large-6 medium-6 small-6 columns">
              <div class="radio">
                <%=f.select :ship_time2,ship_time_options%>
              </div>
            </div>
          </div>
              <br>
          <div class="row payment panel" id="payments">
            <div class="large-12 medium-12">
              <h5>  支付方式</h5>
            </div>

           <% if cookies[:MLV] == "10" %>
                   <div class="large-6 medium-6 small-6 columns">
                    <%=f.radio_button :payment, "term"%> <b>账期（与供应商协商）</b>
                  </div>  <%end%>

            <%if @user.advance>0 && @user.advance < @cart_total%>
              <div class="large-6 medium-6 small-6 columns">
         <%=f.check_box :part_pay, { :checked=>true, :'data-amount'=>@user.advance, :id=>"advance" }, @user.advance, 0%> <b>预存款先支付</b>
              余额(<span>￥<%=@user.advance%></span>)
            </div>
             <%end%>

            <div class="large-12 medium-12 small-12 columns">
                <%=f.radio_button :payment, "bcom", :checked=>true%> <b>交通银行网上支付</b>
             </div>
            <hr>
            <div class="large-12 medium-12 small-12 columns">
                <%=f.radio_button :payment, "icbc", :checked=>true%> <b>工商银行网上支付</b>
             </div>
            <hr>
            <div class="large-12 medium-12 small-12 columns">

                <%=f.radio_button :payment, "alipay"%> <b>支付宝</b>
                <span class="extra-desc" style="display:none"><img src="/assets/store/alipay.png"/></span>

            </div>
               <hr>
            <div class="large-12 medium-12 small-12 columns">
              <%=f.radio_button :payment, "offline"%> <b>银行转账</b>

            </div>
            <hr>

            <div class="large-12 medium-12 small-12 columns">
              <%if @user.advance >= @cart_total%>
              <%=f.radio_button :payment, "deposit"%> <b>预存款</b>
            <%end%>
            </div>

          </div>
            <br>

          <div class="row panel" >
            <h4 class="title">商品清单</h4>
            <table style="width: 100%">
              <thead>
              <tr>
                <th width="20%">商品编号</th>
                <th width="20%">商品名称</th>
                <th width="20%">单价</th>
                <th width="20%">数量 </th>
                <th width="20%">金额 </th>
              </tr>
              </thead>

              <tbody>

              <%@line_items.each do |line_item|%>
                  <%=hidden_field_tag "products[]",line_item.product.product_id%>
                  <tr>
                    <td><%=line_item.good.bn%></td>
                    <td> <%=link_to good_path(line_item.good.bn),:class=>"thumb",:target=>"_blank" do%>
                          <%=image_tag line_item.good.medium_pic,:size=>"35x50",:alt=>line_item.product.name%>
                      <%end%>
                     </td>
                    <td><%if cookies[:MLV] == "10"%>
                          &yen<%=number_to_currency line_item.product.bulk,:unit=>"",:precision=>2%>
                      <%else%>
                          &yen<%=number_to_currency line_item.product.price,:unit=>"",:precision=>2%>
                      <%end%></td>
                    <td><%=line_item.quantity%></td>
                    <td><%if cookies[:MLV] == "10"%>
                          &yen<%=number_to_currency line_item.line_total_bulk,:unit=>"",:precision=>2%>
                      <%else%>
                          &yen<%=number_to_currency line_item.line_total,:unit=>"",:precision=>2%>
                      <%end%></td>
                  </tr>

              <%end%>
              </tbody>
            </table>

          </div>











	<%if @pmtable%>
	<div class="section promotions">
		<h5>优惠: </h5>
		<%=render "promotions"%>
		<%=render "coupons"%>
	</div>
	<%end%>

        <!--<div class="section promotions">-->
          <!--<h5>导购信息: </h5>-->
          <!--<%#=render "sales"%>-->
        <!--</div>-->
          <hr>
	<div class="large-12 medium-12 small-12 columns">
		<h5>结算信息</h5>

			<div class="memo">
				<div class="control-group">
				    <%=f.label :memo, "订单备注：",:class=>"control-label"%>
				    <div class="controls">
				      <%=f.text_area :memo,:rows=>4%>
				    </div>
				</div>
			</div>
		</div>

        <div class="large-12 medium-12 small-12 columns">


					<span >需要发票：</span>
					<span class="money"><%=f.check_box :is_tax, {}, 'true','false'%>(税金:0%)</span>
				</div>
        <div class="large-12 medium-12 small-12 columns">

					<span class="text">发票抬头：</span>
					<span class="money"><%=f.text_field :tax_company,:class=>"tax-owner"%></span>
				</div>

			</div>

          <div class="large-12 medium-12 small-12 columns">
				<!-- <div class="item">
					<span class="text">商品总额：</span>
					<span class="rmb-symbol">￥</span>
					<span class="money" data-amount="<%=@cart_total%>" id="cart_amount">
						<%=@cart_total%> 
					</span>
				</div> -->
            <div class="large-6 medium-6 small-6 columns">
					<span class="text">商品总额：</span>
					<span class="rmb-symbol">￥</span>
                        </div>
            <div class="large-6 medium-6 small-6 columns">
              <span class="money sum" data-amount = "<%=@cart_total%>" id="order_amount">
						<%=@cart_total %>
					</span>
            </div>
             </div>
                 <hr>
          <%if @order_promotions.present? || @goods_promotions.present? %>
          <div class="large-12 medium-12 small-12 columns">

            <div class="large-6 medium-6 small-6 columns">
              <span class="text">优惠：</span>
              <span class="rmb-symbol">￥</span>
            </div>
            <div class="large-6 medium-6 small-6 columns">
              <span class="money" data-amount="0" id="pmt_amount"></span>
            </div>
          </div>
          <%end%>

				<div class="item hide">
					<span class="text">优惠券：</span>
					<span class="rmb-symbol">￥</span>
					<span class="money" data-amount="0" id="coupon_amount">
						 -0
					</span>
				</div>

          <div class="large-12 medium-12 small-12 columns">

            <div class="large-6 medium-6 small-6 columns">
              <span class="text">订单总金额：</span>
              <span class="rmb-symbol">￥</span>
            </div>
            <div class="large-6 medium-6 small-6 columns">
              <span class="money" data-amount="0" id="pmt_amount"></span>
            </div>
          </div>
           <hr>
          <%unless @user.advance == 0%>
          <div class="large-12 medium-12 small-12 columns">

            <div class="large-6 medium-6 small-6 columns">
              <span class="text">预付金额：</span>
              <span class="rmb-symbol">￥</span>
            </div>
            <div class="large-6 medium-6 small-6 columns">
             <span class="money part" id="part_amount">
						-<%=@user.advance < @cart_total && @user.advance>0 ? @user.advance : 0%>
					</span>
            </div>
          </div>
             <%end%>
              <div class="row" style="display:none">
            <div class="large-6 medium-6 small-6 columns" >
              <span class="text">支付优惠(交通银行)：</span>
              <span class="rmb-symbol">￥</span>
            </div>
            <div class="large-6 medium-6 small-6 columns">
              <span class="money bcom-discount" id="bcom_discount"></span>
            </div>
                <hr>
          </div>

          <div class="large-12 medium-12 small-12 columns">

            <div class="large-6 medium-6 small-6 columns">
              <span class="text">支付金额：</span>
              <span class="rmb-symbol">￥</span>
            </div>
            <div class="large-6 medium-6 small-6 columns">
              <span class="money final" id="pay_amount"></span>
            </div>
          </div>
          </div>

				

             <hr>
			<div class="large-12 medium-12 small-12 columns" style="text-align: center">
				<%=f.submit "提 交 订 单",:class=>" button " %>
			</div>


	<%end%>
<%else%>
	<p>您还没有选择商品。</p>
<%end%>




