   <style>

       .am-panel-bd {
           padding: 2px;
           position: relative;
           border-bottom: 1px solid #c8c7cc;
       }

       .am-panel-bd .text {
           display: block;
           font-size: 16px;
           color: #333;
       }
     .bottomdivsclearfix{
         display: none;
     }
 </style>

<%=form_for :order,:url=>"#{orders_path}?platform=wuliu",:html=>{ :class=>"am-form",:id=>"order_form" } do |f|%>

    <%=f.hidden_field :supplier_id,:value=>"98"%>
       <%=f.hidden_field :ship_name,:value=>"1111"%>
       <%=f.hidden_field :ship_mobile,:value=>@arrival_addr.mobile%>
       <%=f.hidden_field :ship_addr,:value=>@arrival_addr.addr%>
       <%unless @departure_addr.nil? %>
    <%=f.hidden_field :from_addr,:value=>"#{@departure_addr.name},#{@departure_addr.mobile},#{@departure_addr.addr}"%>
     <%=hidden_field_tag "member_addr",@departure_addr&&@departure_addr.addr_id%>
       <div class="am-panel am-panel-default">
          <div class="am-panel-hd">装货人信息(始发地)</div>
            <a  href="/orders/edit_manco_addr?departure_id=<%=@departure_addr.id%>&bill=<%=@bill%>&invoice=<%=@invoice%>&warehouse=<%=@warehouse%>&arrival_id=<%=@arrival_addr.id%>&platform=mobile&supplier_id=<%=@supplier.id%>&way=departure">
            <div class="am-panel-bd">
              <span class="text">&nbsp;&nbsp;<%=@departure_addr.name%>  <span class="phone-num" style="margin-left: 30px"> <%=@departure_addr.mobile%></span></span>
              <br/>

              <span class="text2">&nbsp;&nbsp;<%=@departure_addr.addr%></span>
              <span class="icon-arr" >修改</span>
         </div>  </a>
        </div>
        <div>
        <%else%>
           <%=hidden_field_tag "member_addr",@arrival_addr&&@arrival_addr.addr_id%>
           <%end%>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">卸货人信息(目的地)</div>
            <input type="hidden" name="order[ship_name]" value="<%=@arrival_addr.name%> ">
            <input type="hidden" name="order[ship_mobile]" value="<%=@arrival_addr.mobile%> ">
            <input type="hidden" name="order[ship_addr]" value="<%=@arrival_addr.addr%> ">
            <%unless @departure_addr.nil? %>
            <a  href="/orders/edit_manco_addr?departure_id=<%=@arrival_addr.id%>&arrival_id=<%=@arrival_addr.id%>&bill=<%=@bill%>&invoice=<%=@invoice%>&warehouse=<%=@warehouse%>&platform=mobile&supplier_id=<%=@supplier.id%>&way=arrival">
            <%else%>
                <a  href="/orders/edit_manco_addr?departure_id=nil&arrival_id=<%=@arrival_addr.id%>&bill=<%=@bill%>&invoice=<%=@invoice%>&warehouse=<%=@warehouse%>&platform=mobile&supplier_id=<%=@supplier.id%>&way=arrival">
                 <%end%>
                <div class="am-panel-bd">
                <span class="text">&nbsp;&nbsp;<%=@arrival_addr.name%>  <span class="phone-num" style="margin-left: 30px"> <%=@arrival_addr.mobile%></span></span>
                <br/>

                <span class="text2">&nbsp;&nbsp;<%=@arrival_addr.addr%></span>
                <span class="icon-arr" >修改</span>


              </div>  </a> </a>
          </div>
          <div>
        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
                <div class="am-panel-hd">支付方式</div>
                <div class="am-panel-bd">
                  <%if @user.advance>0 && @user.advance <@cart_total_final%>
                      <label class="radio active" style="margin-left: 40px;padding: 2px">
                        <%=f.check_box :part_pay, { :checked=>true, :'data-amount'=>@user.advance, :id=>"advance" }, @user.advance, 0%>预存款先支付</label>

                      <label class="radio active" style="margin-left: 40px;padding: 2px"> 微信支付
                        <input id="order_payment_wxpay" name="order[payment]" type="hidden" value="wxpay">
                      </label>
                  <%elsif @user.advance>0 && @user.advance >@cart_total_final %>

                      <label class="radio active" style="margin-left: 40px;padding: 2px"> 预存款支付
                        <input id="order_payment_deposit" name="order[payment]" type="hidden" value="deposit">
                      </label>
                      <%else%>

                      <label class="radio active" style="margin-left: 40px;padding: 2px"> 微信支付
                        <input id="order_payment_wxpay" name="order[payment]" type="hidden" value="wxpay">
                      </label>
                      <%end%>
                </div>
                <div class="am-panel-hd">微信支付需要微信5.0版本以上，并且已经用微信授权登录</div>
              </div>
            <%=f.hidden_field :serverbill ,:value=>@bill %>
            <%=f.hidden_field :serverinvoice ,:value=>@invoice %>
            <%=f.hidden_field :serverwarehouse ,:value=>@warehouse %>
            <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
              <div class="am-panel-hd">附加服务</div>
              <div class="am-panel-bd">签单返回:

                <% if @bill==1 %>
                 <span class="fr"  style="color: red;float: right">  是 +5元&nbsp;  </span>
                <%else%>
                <span class="fr"  style="color: red;float: right">   否  &nbsp;</span>
                <%end%>
              </div>
              <div class="am-panel-bd">开票:
                <%=f.hidden_field :serverinvoice ,:value=>@invoice %>
                <% if @invoice ==0%>
                 <span class="fr"  style="color: red;float: right">     没有发票   &nbsp; </span>
                <%elsif @invoice ==1%>
                  <span class="fr"  style="color: red;float: right">    运费发票(按照总运费的11%收取) &nbsp;&nbsp; </span>
                <%elsif @invoice ==2%>
               <span class="fr"  style="color: red;float: right">       服务费发票 (按照总运费的8%收取)&nbsp;</span>
                <%elsif @invoice ==3%>
                <span class="fr"  style="color: red;float: right">      自带发票（按照总运费的1%）&nbsp; </span>
                <%end%>
                    </div>
              <div class="am-panel-bd">进仓服务费:
                <%=f.hidden_field :serverwarehouse ,:value=>@warehouse %>
              <%if @warehouse==1%>
                 <span class="fr"  style="color: red;float: right">     是（150元/票)&nbsp; </span>
                 <%else%>
                <span class="fr"  style="color: red;float: right">  没有进仓服务费&nbsp; </span>
                  <%end%>
                    </div>

              <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
                <div class="am-panel-hd">货物备注</div>
                <div class="am-panel-bd"> <%=f.text_area :memo, :rows=>8%> </div>
                 </div>

            <div class="am-panel am-panel-warning" style="display: none" data-collapse="true" data-style="arrow">
              <div class="am-panel-hd"><%= I18n.t "delivery_options"%></div>
              <div class="am-panel-bd">
                <div class="in_pay clearfix " style="display: none">
                  <%=f.select :ship_day,ship_day_options%>&nbsp;&nbsp;&nbsp;
                  <%=f.text_field :ship_special,:class=>"input-small hide datetime"%>
                  <%=f.select :ship_time2,ship_time_options%>
                  <ul style="display:none">
                    <li mars_sead="checkout_receive_anytime_btn"><span class="radio-box radio-selted"></span><input name="transport_day" value="1" type="radio" class="hide" checked="checked"><p>送货时间不限</p></li>
                    <li mars_sead="checkout_receive_weekend_btn"><span class="radio-box "></span><input name="transport_day" value="2" type="radio" class="hide"><p>只双休日/节假日送货(工作日不用送)</p></li>
                    <li mars_sead="checkout_receive_workday_btn"><span class="radio-box "></span><input name="transport_day" value="3" type="radio" class="hide"><p>只工作日(双休日/节假日不用送)</p></li>
                  </ul>
                </div>

              </div>  </div>


            <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
              <div class="am-panel-hd">运输金额</div>
              <div class="am-panel-bd">
                <span class="bg-border"><span class="icon"></span></span>
                <p>&nbsp;金额：<span class="fr  " style="float: right" id="order_amount" data-amount = "<%=@cart_total_final%>">¥<%=@cart_total_final%>&nbsp;</span></p>
                   <p>&nbsp;待支付总额：<span class="fr"  style="color: red;float: right">¥<%=@cart_total_final %>&nbsp;</span></p>
                <%=hidden_field_tag :cart_total_final ,@cart_total_final%>
                  <span class="bg-border2"></span>
               </div>
               </div>


      </div>
    </div>

        <%=f.submit "安 全 结 算",:class=>"am-btn am-btn-primary am-btn-block"%>
        <div mars_sead="checkout_submit_btn" class="fr btn_sure" data-orderfrom="true" data-countorder="true" data-ordertime="988" style="display:none">
          提交

        </div>
      </div>
    </div>
    </div>


    <style type="text/css">
        .footer{
            display:none;
        }
    </style>
    <%=javascript_include_tag "store/orders"%>
    <div style="display:none">
      <%if @pmtable%>
          <div class="section promotions">
            <h5>优惠: </h5>
            <%=render "promotions"%>
            <%=render "coupons"%>
          </div>
      <%end%>

      <div class="section checkout clearfix">
        <h5>结算信息</h5>

        <div class="right">
          <div class="tax" id="order_tax">
            <div class="item">
              <span class="text">需要发票：</span>
              <span class="money">(税金:0%)<%=f.check_box :is_tax, {}, 'true','false'%></span>
            </div>

            <div class="item hide tax-input">
              <span class="text">发票抬头：</span>
              <span class="money"><%=f.text_field :tax_company,:class=>"tax-owner"%></span>
            </div>
          </div>
          <div class="cost" id="order_cost">
            <div class="item">
              <span class="text">商品总额：</span>
              <span class="rmb-symbol">￥</span>

            </div>

            <%if @order_promotions.present? || @goods_promotions.present? %>
                <div class="item">
                  <span class="text">优惠：</span>
                  <span class="rmb-symbol">￥</span>
                  <span class="money" data-amount="0" id="pmt_amount"></span>
                </div>
            <%end%>


            <div class="item hide">
              <span class="text">优惠券：</span>
              <span class="rmb-symbol">￥</span>
					<span class="money" data-amount="0" id="coupon_amount">
						 -0
					</span>
            </div>

            <div class="item">
              <span class="text">订单总金额：</span>
              <span class="rmb-symbol">￥</span>
              <span class="money" id="final_amount"></span>
            </div>

          </div>
          <div class="total" id="order_bill">
            <div class="item">
              <span class="text">支付金额：</span>
              <span id ="money_total_ex"class="rmb-symbol">￥</span>
              <span class="money final" id="pay_amount"></span>
            </div>

          </div>

        </div>
      </div>
    </div>
<%end%>

