<%=javascript_include_tag "area_seletor"%>
<%=javascript_include_tag "patch/member_addrs"%>
<div class="am-panel am-panel-warning "style="margin: 0px;padding: 0px">
  <div class="am-panel-hd" style="text-align: center"><%= I18n.t "new_addr"%></div>
</div>


<div class="connerdiv">

<div style="display:none">
<%if @addrs.size>0%>
    <%@addrs.each_with_index do |addr,index|%>
        <%if @def_addr == addr%>
            <label class="radio active">
              <%=radio_button_tag "member_addr", addr.addr_id,:checked=>true%>
              <span class="addr-line"><%=addr.addr_line%></span>
              <%=link_to I18n.t 'modify',edit_member_addr_path(addr),:remote=>true,:class=>"update-link"%>
            </label>
        <%else%>
            <label class="radio">
              <%=radio_button_tag "member_addr", addr.addr_id%>
              <span class="addr-line"><%=addr.addr_line%></span>
              <%=link_to I18n.t 'modify',edit_member_addr_path(addr), :remote=>true, :class=>"update-link"%>
            </label>
        <%end%>
    <%end%>

    <label class="radio">
      <%=radio_button_tag "member_addr", "new"%>
      <span><%= I18n.t "use_new_addr"%>+</span>
    </label>
<%end%>

</div>

<%=render :partial=>"patch/member_addrs/form_mobile",:locals=>{ :display=>( @addrs.size == 0 ), :@addr=>Ecstore::MemberAddr.new }%>
 </div>
<script>
    /*  $("#addr_form").removeClass("hide")

    $(".addr-list").on "change","input[type='radio']", ->
            $(".addr-list .active").removeClass("active").find("form").remove()
    $(this).parent(".radio").addClass("active")


    if $(this).val() == 'new'
        $("#addr_form").removeClass("hide")
    $("#member_addr").val ''
    else
    $("#addr_form").addClass("hide")
    $("#member_addr").val $(this).val()

    $(document).on "focus", ".new-addr input[type='text'], .new-addr select", ->
            $(this).nextAll(".help-inline").empty();
            */
</script>
