<style type="text/css">

    .bottomdivs{
        display: none;
    }
    .am-panel-bd {
        padding: 2px;
        position: relative;
        border-bottom: 1px solid #c8c7cc;
    }
    .am-tabs-warning{
        display: none;
    }
    .am-panel-bd .text {
        display: block;
        font-size: 16px;
        color: #333;
    }
    .text2 {
        display: block;
        overflow: hidden;
        color: #666;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    a {
        color: #000;
        text-decoration: none;

    }
    ul li {
        list-style: none;
    }
    a span{
        font-size: 20px;
    }
    .icon-arr {
        position: absolute;
        top: 40%;
        right: 10px;
        width: 10px;
        height: 15px;
        background: url(/assets/icon_order.png) 0 0 no-repeat;
        background-size: 100px 100px;
    }
    .btn-radio {
        display: inline-block;
        width: 22px;
        height: 22px;
        padding: 0;
        background: url(/assets/icon_order.png) -57px -50px no-repeat;
        background-size: 100px 100px;
        vertical-align: -5px;
    }
    .bg-border {
        display: block;
        position: relative;
        height: 2px;
        background: url(/assets/bg_line2.png) 0 0 repeat-x;
        background-size: 6px 1px;
    }
    .fr{
        float: right;
    }


</style>

<%if @line_items.size > 0%>

    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">收货人信息</div>
      <div class="am-panel-bd">


        <a id="addressLink" href="/orders/new_mobile_addr">
          <span class="text">&nbsp;&nbsp;<%=@def_addr.name%>  <span class="phone-num" style="margin-left: 30px"><%=@def_addr.mobile%></span></span>
          <br/>

          <span class="text2">&nbsp;&nbsp;<%=@def_addr.addr%></span>
          <span class="icon-arr"></span>
        </a>
      </div>
    </div>


    <%=form_for :order,:url=>"#{orders_path}?platform=mobile",:html=>{ :class=>"am-form",:id=>"order_form" } do |f|%>
        <%=hidden_field_tag "member_addr",@def_addr&&@def_addr.addr_id%>

        <div class="am-panel am-panel-default" style="display: none" data-collapse="true" data-style="arrow">
          <div class="am-panel-hd">送货时间</div>
          <div class="am-panel-bd">
            <div class="in_pay clearfix " style="display: none">
              <%=f.select :ship_day,ship_day_options%>&nbsp;&nbsp;&nbsp;
              <%=f.text_field :ship_special,:class=>"input-small hide datetime"%>
              <%=f.select :ship_time2,ship_time_options%>
              <ul style="display:none">
                <li mars_sead="checkout_receive_anytime_btn"><span class="radio-box radio-selted"></span><input name="transport_day" value="1" type="radio" class="hide" checked="checked"><p>送货时间不限</p></li>
                <li mars_sead="checkout_receive_weekend_btn"><span class="radio-box "></span><input name="transport_day" value="2" type="radio" class="hide"><p>只双休日/节假日送货(工作日不用送)</p></li>
                <li mars_sead="checkout_receive_workday_btn"><span class="radio-box "></span><input name="transport_day" value="3" type="radio" class="hide"><p>只工作日(双休日/节假日不用送)</p></li>
              </ul>
            </div>

          </div>  </div>

        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd">送货方式</div>
          <div class="am-panel-bd">

            <label class="radio active">
              <%if @supplier.id==78&& @cart_total >=350 %>

                  <label> 您已经购物满350了免运费</label>
              <%else%>
               <%=f.radio_button :shipping_id, 0%><span class="addr-line">自提</span>
            </label>
            <label class="radio" style="margin-left: 40px;padding: 2px">
              <%=f.radio_button :shipping_id, 1, :checked=>true%> 快递
              <span class="extra-info">+ ￥<%=@cart_freight%></span>
                <%end%>
            </label>
          </div>
        </div>

        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
          <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
            <div class="am-panel-hd">支付方式</div>
            <div class="am-panel-bd">
              <%if @user.advance>0 && @user.advance < @cart_total%>
                  <label class="radio active" style="margin-left: 40px;padding: 2px">
                    <%=f.check_box :part_pay, { :checked=>true, :'data-amount'=>@user.advance, :id=>"advance" }, @user.advance, 0%>预存款先支付</label>>
              <%end%>
              <label class="radio active" style="margin-left: 40px;padding: 2px">
                <%=f.radio_button :payment, "alipaywap"%>支付宝手机版
              </label>
              <label class="radio active" style="margin-left: 40px;padding: 2px">
                <%=f.radio_button :payment, "wxpay", :checked=>true %>
                微信支付
              </label>
            </div>
            <div class="am-panel-hd">微信支付需要微信版本5.0以上，并且已经用微信授权登录</div>
          </div>
        </div>

        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd">发票信息</div>
          <div class="am-panel-bd">
            <%=f.text_field :tax_company,:placeholder=>"请输入发票抬头",:class=>"text_input w100"%>
          </div>
        </div>
        <%if @supplier.id==78 %>
        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd">注意哦！   <span style="color: #ff0000">本店购物满350以上是包邮的哦</span> <br/>

              <span>而且为保证商品新鲜，我们是全程冷藏运输的</span>

          </div>
          </div>
        </div>
        <%end%>

        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd">订单金额</div>
          <div class="am-panel-bd">
            <span class="bg-border"><span class="icon"></span></span>
            <p>&nbsp;商品金额：<span class="fr  " id="order_amount" data-amount = "<%=@cart_total%>">¥<%=@cart_total%>&nbsp;</span></p>
            <p>&nbsp;发货运费：  <%if @cart_total >=350 %>
                  <span class="fr">¥0&nbsp;</span></p>

                  <p>&nbsp;待支付总额：<span class="fr" style="color: red">¥<%=@cart_total_final-@cart_freight%>&nbsp;</span></p>
                  <%else%>

                  <span class="fr">¥<%=@cart_freight%>&nbsp;</span></p>
            <p>&nbsp;待支付总额：<span class="fr" style="color: red">¥<%=@cart_total_final%>&nbsp;</span></p>
                  <%end%>
            <input type="hidden" name="payable" value="">
            <span class="bg-border2"></span>
          </div>
        </div>


        <%=f.submit "安 全 结 算",:class=>"am-btn am-btn-warning am-btn-block"%>




    <%end%>
<%else%>
    <p>您还没有选择商品。</p>
<%end%>
<br/>
<br/>

<%=javascript_include_tag "store/tairyo_order"%>
