<%=javascript_include_tag "area_seletor"%>
<%=javascript_include_tag "patch/member_addrs"%>
<header data-am-widget="header" class="am-header am-header-warning  am-no-layout"><div class="am-header-left am-header-nav">
  <a href="javascript:history.go(-1)" class=""><img class="am-header-icon-custom" src="data:image/svg+xml;charset=utf-8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 12 20&quot;&gt;&lt;path d=&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill=&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""></a>
</div>
  <h1 class="am-header-title" style="text-align: center">新增地址</h1>
  <div class="am-header-right am-header-nav">
  </div></header>

<div class="connerdiv">

<div style="display:none">
<%if @addrs.size>0%>
    <%@addrs.each_with_index do |addr,index|%>
        <%if @def_addr == addr%>
            <label class="radio active">
              <%=radio_button_tag "member_addr", addr.addr_id,:checked=>true%>
              <span class="addr-line"><%=addr.addr_line%></span>
              <%=link_to "修改",edit_member_addr_path(addr),:remote=>true,:class=>"update-link"%>
            </label>
        <%else%>
            <label class="radio">
              <%=radio_button_tag "member_addr", addr.addr_id%>
              <span class="addr-line"><%=addr.addr_line%></span>
              <%=link_to "修改",edit_member_addr_path(addr), :remote=>true, :class=>"update-link"%>
            </label>
        <%end%>
    <%end%>

    <label class="radio">
      <%=radio_button_tag "member_addr", "new"%>
      <span>使用新地址+</span>
    </label>
<%end%>

</div>

<%=render :partial=>"patch/member_addrs/form_mobile",:locals=>{ :display=>( @addrs.size == 0 ), :@addr=>Ecstore::MemberAddr.new }%>
 </div>
<script>
    /*  $("#addr_form").removeClass("hide")

    $(".addr-list").on "change","input[type='radio']", ->
            $(".addr-list .active").removeClass("active").find("form").remove()
    $(this).parent(".radio").addClass("active")


    if $(this).val() == 'new'
        $("#addr_form").removeClass("hide")
    $("#member_addr").val ''
    else
    $("#addr_form").addClass("hide")
    $("#member_addr").val $(this).val()

    $(document).on "focus", ".new-addr input[type='text'], .new-addr select", ->
            $(this).nextAll(".help-inline").empty();
            */
</script>
