<style type="text/css">

    .bottomdivsclearfix{
        display: none;
    }
    .change_lange{
        display: none;
    }
    .am-panel-bd {
        padding: 2px;
        position: relative;
        border-bottom: 1px solid #c8c7cc;
    }
    .am-tabs-warning{
        display: none;
    }
    .am-panel-bd .text {
        display: block;
        font-size: 16px;
        color: #333;
    }
    .text2 {
        display: block;
        overflow: hidden;
        color: #666;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    a {
        color: #000;
        text-decoration: none;

    }
    ul li {
        list-style: none;
    }
    a span{
        font-size: 20px;
    }
    .icon-arr {
        position: absolute;
        top: 40%;
        right: 10px;


        background-size: 100px 100px;
    }
    .btn-radio {
        display: inline-block;
        width: 22px;
        height: 22px;
        padding: 0;
        background: url(/assets/icon_order.png) -57px -50px no-repeat;
        background-size: 100px 100px;
        vertical-align: -5px;
    }
    .bg-border {
        display: block;
        position: relative;
        height: 2px;
        background: url(/assets/bg_line2.png) 0 0 repeat-x;
        background-size: 6px 1px;
    }
    .fr{
        float: right;
    }


</style>

<%if @line_items.size > 0%>

    <div class="am-panel am-panel-warning">
      <div class="am-panel-hd"><%=I18n.t "details_consignee"%></div>
      <a id="addressLink" href="/orders/new_mobile_addr?platform=mobile&supplier_id=78">
      <div class="am-panel-bd">



          <span class="text">&nbsp;&nbsp;<%=@def_addr.name%>  <span class="phone-num" style="margin-left: 30px"><%=@def_addr.mobile%></span></span>
          <br/>

          <span class="text2">&nbsp;&nbsp;<%=@def_addr.addr%></span>
           <span class="icon-arr" >修改</span>


      </div>  </a>
    </div>
     <div>

    <%=form_for :order,:url=>"#{orders_path}?platform=mobile",:html=>{ :class=>"am-form",:id=>"order_form" } do |f|%>
        <%=hidden_field_tag "member_addr",@def_addr&&@def_addr.addr_id%>

        <div class="am-panel am-panel-warning" style="display: none" data-collapse="true" data-style="arrow">
          <div class="am-panel-hd"><%= I18n.t "delivery_options"%></div>
          <div class="am-panel-bd">
            <div class="in_pay clearfix " style="display: none">
              <%=f.select :ship_day,ship_day_options%>&nbsp;&nbsp;&nbsp;
              <%=f.text_field :ship_special,:class=>"input-small hide datetime"%>
              <%=f.select :ship_time2,ship_time_options%>
              <ul style="display:none">
                <li mars_sead="checkout_receive_anytime_btn"><span class="radio-box radio-selted"></span><input name="transport_day" value="1" type="radio" class="hide" checked="checked"><p>送货时间不限</p></li>
                <li mars_sead="checkout_receive_weekend_btn"><span class="radio-box "></span><input name="transport_day" value="2" type="radio" class="hide"><p>只双休日/节假日送货(工作日不用送)</p></li>
                <li mars_sead="checkout_receive_workday_btn"><span class="radio-box "></span><input name="transport_day" value="3" type="radio" class="hide"><p>只工作日(双休日/节假日不用送)</p></li>
              </ul>
            </div>

          </div>  </div>

        <div class="am-panel am-panel-warning"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd"><%= I18n.t "delivery_options"%></div>
          <div class="am-panel-bd">

            <label class="radio active">
              <%if @supplier.id==78&& @cart_total >=350 %>

                  <label><%=I18n.t "order_notice_three"%></label>
              <%else%>
               <%=f.radio_button :shipping_id, 0%><span class="addr-line"><%= I18n.t "self_options"%></span>
            </label>
            <label class="radio" style="margin-left: 40px;padding: 2px">
              <%=f.radio_button :shipping_id, 1, :checked=>true%> <%= I18n.t "express"%>
              <span class="extra-info">+ ￥<%=@cart_freight%></span>
                <%end%>
            </label>
          </div>
        </div>

        <div class="am-panel am-panel-warning"  data-collapse="true" data-style="arrow">
          <div class="am-panel am-panel-warning"  data-collapse="true" data-style="arrow">
            <div class="am-panel-hd"><%= I18n.t "pay_options"%></div>
            <div class="am-panel-bd">
              <%if @user.advance>0 && @user.advance < @cart_total%>
                  <label class="radio active" style="margin-left: 40px;padding: 2px">
                    <%=f.check_box :part_pay, { :checked=>true, :'data-amount'=>@user.advance, :id=>"advance" }, @user.advance, 0%>预存款先支付</label>>
              <%end%>
              <label class="radio active" style="margin-left: 40px;padding: 2px">
                <%=f.radio_button :payment, "alipaywap",:checked=>true %><%= I18n.t "alipay_mobile"%>
              </label>
              <% unless @supplier==(Ecstore::Supplier.find_by_name("诺狮").id)%>
              <label class="radio active" style="margin-left: 40px;padding: 2px">
                <%=f.radio_button :payment, "wxpay" %>
                <%= I18n.t "wechat"%>
                <%end%>
              </label>
            </div>
            <div class="am-panel-hd"><%= I18n.t "pay_detail"%></div>
          </div>
        </div>

        <div class="am-panel am-panel-warning"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd"><%= I18n.t "invoice"%></div>
          <div class="am-panel-bd">
            <input class="text_input w100" id="order_tax_company" name="order[tax_company]" placeholder="<%=I18n.t "details_invoice"%>" size="30" type="text">
            <%#=f.text_field :tax_company,:placeholder=>"请输入发票抬头",:class=>"text_input w100"%>
          </div>
        </div>
        <%if @supplier.id==78 %>
        <div class="am-panel am-panel-warning"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd"><%= I18n.t "order_notice"%>   <span style="color: #ff0000"><%= I18n.t "order_notice_one"%></span> <br/>

              <span><%= I18n.t "order_notice_two"%></span>

          </div>
          </div>
        </div>
        <%end%>

        <div class="am-panel am-panel-warning"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd"><%= I18n.t "order_details_price"%></div>
          <div class="am-panel-bd">
            <span class="bg-border"><span class="icon"></span></span>
            <p>&nbsp;<%= I18n.t "order_goods_price"%>：<span class="fr  " id="order_amount" data-amount = "<%=@cart_total%>">¥<%=@cart_total%>&nbsp;</span></p>
            <p>&nbsp;<%= I18n.t "express_price"%>：



                  <span class="fr">¥<%=@cart_freight%>&nbsp;</span></p>
            <p>&nbsp;<%= I18n.t "overall"%>：<span class="fr" style="color: red">¥<%=@cart_total_final%>&nbsp;</span></p>

            <input type="hidden" name="payable" value="">
            <span class="bg-border2"></span>
          </div>
        </div>



            <input type="submit" class="am-btn am-btn-warning am-btn-block" value="<%=I18n.t 'confirm_order'%>">




    <%end%>
<%else%>
    <p><%=I18n.t "order_notice_four"%>。</p>

<%end%>
<br/>
<br/>

<%=javascript_include_tag "store/tairyo_order"%>
