
<style>

    .block{
        display: block;
    }
    .icon-arr {
        position: absolute;

        right: 10px;
        width: 10px;
        height: 15px;
        background: url(/assets/icon_order.png) 0 0 no-repeat;
        background-size: 100px 100px;
    }

     .bottomdivsclearfix{
         display: none;
     }



</style>


<%=javascript_include_tag "patch/member_addrs"%>



<div class="am-panel am-panel-warning address " style="text-align: center">
  <div class="am-panel-hd"><%= I18n.t "address"%></div>
</div>
<div class="am-panel am-panel-default addr">
  <%if @addrs && @addrs.size > 0%>
      <%@addrs.each  do |addr|%>
          <a id="addressLink" href="addr_detail?platform=mobile&supplier_id=<%=@supplier.id%>&id=<%=addr.id%>">
            <div class="am-panel-bd">
              <span class="text" style="font-size: 20px"><%=addr.name%>  </span>
              <span class="text" style="margin-left: 20px"><%=addr.mobile%>  </span>
              <br/>
              <span class="text2"><%=addr.area%></span>
              <span class="icon-arr"></span>
            </div>  </a>
      <%end%>








      <a id ="newaddr" class="am-btn am-btn-warning am-btn-block" >  <%= I18n.t "new_addr"%></a>




  <%else%>
      <div class="am-panel am-panel-warning" style="text-align: center">
        <div class="am-panel-hd"><%=I18n.t "new_addr"%></div>
        <%=render :partial=>"patch/member_addrs/form_mobile",:locals=>{ :display=>( @addrs.size == 0 ), :@addr=>Ecstore::MemberAddr.new }%>

      </div>

  <%end%>

  </div>








<script>
    $(document).ready(function(){
        $("#newaddr").bind("click",function(){
            if( $("form").css("display")=="none"){
                $("form").addClass("block")
                $(".addr").addClass("change_lange") ;
            }
        })
    })


    /*  $("#addr_form").removeClass("hide")

    $(".addr-list").on "change","input[type='radio']", ->
            $(".addr-list .active").removeClass("active").find("form").remove()
    $(this).parent(".radio").addClass("active")


    if $(this).val() == 'new'
        $("#addr_form").removeClass("hide")
    $("#member_addr").val ''
    else
    $("#addr_form").addClass("hide")
    $("#member_addr").val $(this).val()

    $(document).on "focus", ".new-addr input[type='text'], .new-addr select", ->
            $(this).nextAll(".help-inline").empty();
            */
</script>
