<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <%= stylesheet_link_tag    "manco/amui.all.min.css" %>
  <%= stylesheet_link_tag    "manco/amui.all.css" %>

  <%= javascript_include_tag "manco/zepto.min.js" %>
  <%= javascript_include_tag "manco/handlebars.min" %>
  <%= javascript_include_tag "manco/amui.min.js" %>
  <%= javascript_include_tag "manco/amui.widget.helper.js" %>

  <%= javascript_include_tag "manco/amui.js" %>


  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <style type="text/css">

  .span  {
          color: #dd514c;
      }
      .ahref{
        width: 100%;

      }
  </style>
</head>
<body>

<div class="am-panel am-panel-danger">
  <div class="am-panel-hd" style="text-align: center" >订单详细</div>
  <%@order.order_items.each do |order_item|%>
  <div id="demo-view" data-backend-compiled=""><figure data-am-widget="figure" class="am am-figure am-figure-default am-no-layout am-figure-zoomable">
    <%=image_tag order_item.good.medium_pic,:class=>"thumb" if order_item.item_type == 'product'%>
    <%=image_tag order_item.product.gift_image_url,:class=>"thumb" if order_item.item_type == 'gift'%>
    <figcaption ><%= order_item.name%></figcaption></figure></div>


  <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">



  <div >
    <span class="span"> &nbsp; &nbsp;商品价格：</span>        <span style="float: right">  <%= format('%.2f',order_item.price)%> &nbsp; &nbsp;    </span>
  </div>

  <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
  <div class="">
    <span class="span"> &nbsp; &nbsp;商品数量：</span>     <span style="float: right">   <%=order_item.nums.to_i%>个 &nbsp; &nbsp;    </span>
  </div>

  <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">


  <div class="">
    <span class="span"> &nbsp; &nbsp;金额小计：</span>       <span style="float: right">    &yen; <%= format('%.2f',order_item.price * order_item.nums) if order_item.item_type == 'product'%><%= 0 if order_item.item_type == 'gift'%>
    &nbsp; &nbsp;            </span>
  </div>
  <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">
<%end%>
  <div >
    <span class="span"> &nbsp; &nbsp;订单编号：</span> <span style="float: right">  <%=@order.order_id%> &nbsp; &nbsp;    </span>
  </div>

  <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">

  <div >
    <span class="span"> &nbsp; &nbsp;下单时间：</span> <span style="float: right">  <%=@order.created_at%> &nbsp; &nbsp;     </span>
  </div>
  <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">

  <div >
    <span class="span"> &nbsp; &nbsp;订单状态：</span> <span style="float: right" >  <%=@order.order_status_text%> &nbsp; &nbsp;     </span>

  </div>
  <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">
  <div >
    <span class="span"> &nbsp; &nbsp;订单总额：</span> <span style="float: right" >  <%= format('%.2f',@order.total_amount)%> &nbsp; &nbsp;     </span>

  </div>
    <br/>
  <% if @order.order_status_text=="待付款" %>
  <a class="ahref am-btn  am-btn-danger " href="/orders/mobile_show?id=<%=@order.order_id%>&supplier_id=<%=@order.supplier_id%>" class="btn btn-inverse">去付款</a>
  <% else%>
      <span>您已经成功支付了</span>
  <% end %>
</div>


    <script src="/assets/mobile/swipe.min.js" type="text/javascript"></script>

    <div class="footer clearfix">
      <div class="footnav clearfix">
        <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>

        <a href="?t=1#" class="backtop" mars_sead="home_foot_top_btn"></a>
      </div>
      <p class="copyright">Copyright © 2013-2014 trade-v.com 版权所有 上海普慧信息科技有限公司 All rights reserved. 沪ICP备13045311号-1 </p>
    </div>
    <div class="space10"></div>

    <div class="c-bottom"></div>

    <script type="text/javascript">
        function wechatShare(data) {
            // If no data is defined, just fallback to wechat's default behaviour.
            if (!data) {
                return;
            }
            var title = data.title || document.title;
            var desc = data.desc || "分享";
            var url = data.url || document.location.href;

            function getDefaultImage() {
                var images = document.getElementsByTagName("img");
                if (images && images.length > 0) {
                    for (var i = 0; i < images.length; i++) {
                        var image = images[i];
                        if (image.width > 140 && image.height > 130 && $(image).is(":visible")) {
                            return image.src;
                        }
                    }
                }
                return null;
            }
            function shareFriend() {
                // Delay image loading to the time when DOM is ready.
                var img = data.img || getDefaultImage();
                WeixinJSBridge.invoke("sendAppMessage", {
                    "img_url": img,
                    "link": url,
                    "desc": desc,
                    "title": title
                }, function(res) {
                });
            }
            function shareTimeline() {
                var img = data.img || getDefaultImage();
                WeixinJSBridge.invoke("shareTimeline", {
                    "img_url": img,
                    "link": url,
                    "desc": desc,
                    "title": title
                }, function(res) {
                });
            }
            function shareWeibo() {
                var img = data.img || getDefaultImage();
                WeixinJSBridge.invoke("shareWeibo", {
                    "img_url": img,
                    "content": title,
                    "url": url,
                    "desc": desc,
                    "title": title
                }, function(res) {
                });
            }

            document.addEventListener("WeixinJSBridgeReady", function onBridgeReady() {
                WeixinJSBridge.on("menu:share:appmessage", function(argv) {
                    shareFriend();
                });
                WeixinJSBridge.on("menu:share:timeline", function(argv) {
                    shareTimeline();
                });
                WeixinJSBridge.on("menu:share:weibo", function(argv) {
                    shareWeibo();
                });
            }, false);
        }
        <%if @user%>
        <%useraccount=@user.account.login_name%>
        <%end%>
        var current_url =document.location.href+"&from=weixin&wechatuser=<%=useraccount%>"
        var data = {"img":null,"url":current_url,"title":"关注我们，转发朋友，赚佣金啰！<%#=@wechat_share_title%>","desc":null};
        wechatShare(data);
    </script>
    <%= javascript_include_tag "mobile/jquery.vs.common-1.0.0.min" %>
    <%= javascript_include_tag "mobile/jquery.vs.mobile-1.0.0.min" %>
    <%= javascript_include_tag "mobile/jquery.vs.mars_wap" %>
    <script src="/assets/mobile/sm.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var _smq = _smq || [];
        _smq.push(['_setAccount', '63e2363', new Date()]);
        _smq.push(['_setDirectoryIndex', '/m/']);
        _smq.push(['_setHeatmapEnabled', 'no']);
        _smq.push(['pageview']);
    </script>
    <script type="text/javascript">
        $(function(){
            var $clickBox = $('#channel_img')
            $clickBox.off('click.push.count','a.itemList').on('click.push.count','a.itemList', function(){
                var t = $(this),
                        dom = {
                            index: $clickBox.find('a.itemList').index(t) + 1,
                        };
                (dom.index > 0 && dom.index < 31) && _smq.push(['pageview','/brandlist', dom.index.toString()]);
            })
        })
    </script>

</body></html>