<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <%= stylesheet_link_tag    "manco/amui.all.min.css" %>
  <%= stylesheet_link_tag    "manco/amui.all.css" %>

  <%= javascript_include_tag "manco/zepto.min.js" %>
  <%= javascript_include_tag "manco/handlebars.min" %>
  <%= javascript_include_tag "manco/amui.min.js" %>
  <%= javascript_include_tag "manco/amui.widget.helper.js" %>

  <%= javascript_include_tag "manco/amui.js" %>


  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <style type="text/css">

  .span  {
          color: #dd514c;
      }
      .ahref{
        width: 100%;

      }
  </style>
</head>
<body>




<%@order.order_items.each do |order_item|%>


<div class="am-panel am-panel-danger">
  <div class="am-panel-hd" style="text-align: center" >订单详细</div>

  <div id="demo-view" data-backend-compiled=""><figure data-am-widget="figure" class="am am-figure am-figure-default am-no-layout am-figure-zoomable">
    <%=image_tag order_item.good.medium_pic,:class=>"thumb" if order_item.item_type == 'product'%>
    <%=image_tag order_item.product.gift_image_url,:class=>"thumb" if order_item.item_type == 'gift'%>
    <figcaption ><%=link_to order_item.name,good_path(order_item.good.bn),:target=>"_blank"%></figcaption></figure></div>


  <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">



  <div >
    <span class="span"> &nbsp; &nbsp;商品价格：</span>        <span style="float: right">   <%=order_item.price%> &nbsp; &nbsp;    </span>
  </div>

  <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
  <div class="">
    <span class="span"> &nbsp; &nbsp;商品数量：</span>     <span style="float: right">   <%=order_item.nums.to_i%>个 &nbsp; &nbsp;    </span>
  </div>

  <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">


  <div class="">
    <span class="span"> &nbsp; &nbsp;金额小计：</span>       <span style="float: right">    &yen;<%=(order_item.price * order_item.nums).to_i if order_item.item_type == 'product'%><%= 0 if order_item.item_type == 'gift'%>
    &nbsp; &nbsp;            </span>
  </div>
  <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">

  <div >
    <span class="span"> &nbsp; &nbsp;订单编号：</span> <span style="float: right">  <%=@order.order_id%> &nbsp; &nbsp;    </span>
  </div>

  <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">

  <div >
    <span class="span"> &nbsp; &nbsp;下单时间：</span> <span style="float: right">  <%=@order.created_at%> &nbsp; &nbsp;     </span>
  </div>
  <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">

  <div >
    <span class="span"> &nbsp; &nbsp;订单状态：</span> <span >  <%=@order.order_status_text%> &nbsp; &nbsp;     </span>

  </div>

  <a class="ahref am-btn  am-btn-danger " href="/goods/<%=@order.order_id%>?platform=mobile&supplier_id=97" class="btn btn-inverse">去付款</a>

</div>
    <%end%>
</body>
</html>