
<header id="header" class="header clearfix">
        <h1>万家订单信息</h1>

  <div class="head_right fr" style="display:none"><a href="#"><span class="h_search"></span></a></div>
</header>
<%=form_for :order,:url=>"#{orders_path}?platform=mobile",:html=>{ :class=>"form-horizontal",:id=>"order_form" } do |f|%>
    <%=hidden_field_tag "member_addr",@departure_addr&&@departure_addr.addr_id%>
    <%=f.hidden_field :supplier_id,:value=>"98"%>
    <%=f.hidden_field :from_addr,:value=>"#{@departure_addr.name},#{@departure_addr.mobile},#{@departure_addr.addr}"%>


    <div data-cartforms="time" data-collapse="true">

      <div class="userdiv">
        <div class="checktit clearfix"><span class="pay_way"></span>寄货人信息</div>
        <div class="in_pay">
          <p > 始发地地址：  <%=text_field_tag "地址", value=@departure_addr.addr%> </p>  <br/>
          <p >联系电话：  <%=text_field_tag "电话", value=@departure_addr.mobile%> </p> <br/>
          <p >联系人姓名 ：  <%=text_field_tag "姓名", value=@departure_addr.name%> </p>
          <br/>
        </div>
      </div>
    </div>




      <div class="userdiv">
        <div class="checktit clearfix"><span class="pay_way"></span>收货人信息</div>
        <div class="in_pay">
     <p > 目的地地址：  <%=f.text_field :ship_addr, :value=>@arrival_addr.addr%> </p>  <br/>
       <p >联系电话：  <%=f.text_field :ship_mobile, :value=>@arrival_addr.mobile%> </p> <br/>
        <p >联系人姓名 ：  <%=f.text_field :ship_name, :value=>@arrival_addr.name%> </p>
          <br/>

      </div>
    </div>
    </div>


    <div class="userdiv" id="order_payway" data-cartforms="payway">
      <div class="checktit clearfix"><span class="pay_way"></span>支付方式</div>
      <div class="in_pay">
        <ul>
          <%if @user.advance>0 && @user.advance < @cart_total%>
              <li class="otherpay" mars_sead="checkout_payment_paypal_radio">
                <span class="radio-box"></span>
                <%=f.check_box :part_pay, { :checked=>true, :'data-amount'=>@user.advance, :id=>"advance" }, @user.advance, 0%>
                <span class="payicon zfbapp"></span><p>预存款先支付</p>
              </li>
          <%end%>
          <li class="otherpay" mars_sead="checkout_payment_paypal_radio">
            <span class="radio-box"></span>
            <%=f.radio_button :payment, "alipaywap", :class=>"hide" , :checked=>true %>
            <span class="payicon zfbapp"></span><p>支付宝手机版</p>
          </li>
        </ul>
      </div>
    </div>
    <div data-cartforms="time" data-collapse="true">
      <div class="userdiv">
        <div class="checktit clearfix"><span class="pay_way"></span>货物备注</div>
        <div class="in_pay">

          <%=f.label :memo, "备注：",:class=>"control-label"%>
          <div class="controls">
            <%=f.text_area :memo, :rows=>8%>
          </div>
        </div>
      </div>
    </div>
    <div class="userdiv">
      <div class="checktit clearfix"><span class="pay_sum"></span>运输金额</div>
      <div class="checkcon clearfix" id="order-m-list">

        <div class="sumtotal clearfix">
          <p>商品金额：<span class="fr money sum" id="order_amount" data-amount = "<% @cart_total%>">¥:<%=@cart_total%> </span></p>

          <p>待支付总额：<span class="fr">¥ : <%=@cart_total    %></span></p>
        </div>

      </div>
    </div>



    <div class="left">
      <div class="memo">
        <div class="control-group">

        </div>
      </div>
    </div>

    <div class="bottomdiv clearfix">
      <div class="cover_load_img w38" id="CoverloadImg"></div>
      <div class="inner clearfix">
        <div class="fl">
          <p class="cart_total">总金额：<span class="c_t_price">¥<%= @cart_total%></span></p>

        </div>
        <%=f.submit "安 全 结 算",:class=>"fr btn_sure"%>
        <div mars_sead="checkout_submit_btn" class="fr btn_sure" data-orderfrom="true" data-countorder="true" data-ordertime="988" style="display:none">
          提交

        </div>
      </div>
    </div>
    </div>
    <div class="space10"></div>
    <script type="text/javascript">
        $(function() {
            $("#reddot").on("click", function() {
                Cookie.Set("WAP[redDot]", 'fd73928d4dea11aa0cbba3c2cb6b9afe', 7, "trade-v.com", "/")
            });
        });
    </script>
    <div class="space30"></div><div class="space30"></div>
    <style type="text/css">
        .footer{
            display:none;
        }
    </style>
    <%=javascript_include_tag "store/orders"%>
    <div style="display:none">
      <%if @pmtable%>
          <div class="section promotions">
            <h5>优惠: </h5>
            <%=render "promotions"%>
            <%=render "coupons"%>
          </div>
      <%end%>

      <div class="section checkout clearfix">
        <h5>结算信息</h5>

        <div class="right">
          <div class="tax" id="order_tax">
            <div class="item">
              <span class="text">需要发票：</span>
              <span class="money">(税金:0%)<%=f.check_box :is_tax, {}, 'true','false'%></span>
            </div>

            <div class="item hide tax-input">
              <span class="text">发票抬头：</span>
              <span class="money"><%=f.text_field :tax_company,:class=>"tax-owner"%></span>
            </div>
          </div>
          <div class="cost" id="order_cost">
            <div class="item">
              <span class="text">商品总额：</span>
              <span class="rmb-symbol">￥</span>

            </div>

            <%if @order_promotions.present? || @goods_promotions.present? %>
                <div class="item">
                  <span class="text">优惠：</span>
                  <span class="rmb-symbol">￥</span>
                  <span class="money" data-amount="0" id="pmt_amount"></span>
                </div>
            <%end%>


            <div class="item hide">
              <span class="text">优惠券：</span>
              <span class="rmb-symbol">￥</span>
					<span class="money" data-amount="0" id="coupon_amount">
						 -0
					</span>
            </div>

            <div class="item">
              <span class="text">订单总金额：</span>
              <span class="rmb-symbol">￥</span>
              <span class="money" id="final_amount"></span>
            </div>

          </div>
          <div class="total" id="order_bill">
            <div class="item">
              <span class="text">支付金额：</span>
              <span id ="money_total_ex"class="rmb-symbol">￥</span>
              <span class="money final" id="pay_amount"></span>
            </div>

          </div>

        </div>
      </div>
    </div>
<%end%>

<%=javascript_include_tag "store/tairyo_order"%>
