<header id="header" class="header clearfix">
  <div class="head_left fl"><a href="/m"><span class="h_back"></span></a></div>
  <span class="headtit">我的佣金</span>
  <div class="head_right fr"><a href="/m" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>
<div class="space10"></div>
<div class="userdiv">
  <div class="checktit clearfix"><span class="pay_sum"></span>佣金结算</div>
  <div class="checkcon clearfix" id="order-m-list">

    <div class="sumtotal clearfix">
      <p>总收益佣金：<span class="fr">¥<%=@share%></span></p>

      <p>已领取佣金：<span class="fr">¥0</span></p>
      <p>待领取佣金：<span class="fr">¥<%=@share%></span></p>
    </div>
    <input type="hidden" name="payable" value="">
  </div>
</div>
<input type="hidden" name="favourable_id" value="">

<div class="userdiv" data-cartforms="invoice">
  <div class="invoice clearfix">
    <h3>最新佣金:
      <span class="new">¥<%=format("%.2f",@sharelast)%></span><span class="down_arrow"></span>
    </h3>
  </div>
  <div class="invoice clearfix hide">
    <h3>最新佣金:</h3>
    <div class="dashline2"></div>
    <input name="invoice" type="text" placeholder="" value="¥<%=format("%.2f",@sharelast)%>" class="text_input w100">
  </div>
</div>

</div>
<div class="checktit clearfix">
  &nbsp;&nbsp;&nbsp;&nbsp;<a href="/pages/yongjin?supplier_id=<%=@supplier.id%>">什么是佣金</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/pages/yongjin?supplier_id=<%=@supplier.id%>">怎么赚佣金</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/pages/yongjin?supplier_id=<%=@supplier.id%>">怎么领佣金</a>
</div>