
<style type="text/css">
    .aaa{
        margin: 0;
        float: left;
        font-size: 15px
    }
.form_td input{
    text-align: center;
}
input[type=text]{

    width: 80%;
}
   textarea {
       clear: both;
       width: 100%;
       height: 100px;
   }
#suggest,#suggest2{width:100%}
    .gray{color:gray;}
    .ac_results {background:#fff;border:1px solid #7f9db9;z-index: 10000;display: none;}.ac_results ul{margin:0;padding:0;list-style:none;}
    .ac_results li a{white-space: nowrap;text-decoration:none;display:block;color:#05a;padding:10px 3px;}
    .ac_results li{border:1px solid #fff; line-height:18px}
    .ac_over,.ac_results li a:hover {background:#c8e3fc;}
    .ac_results li a span{float:right;}
    .ac_result_tip{border-bottom:1px dashed #666;padding:3px;}

</style>
<header id="header" class="header clearfix">

  <span class="headtit">金芭浪餐厅</span>
  <%if @user%>
      <div class="head_right fr">
        <a href="/cart/tairyo_cart" mars_sead="home_head_cart_btn" onclick="setBackAct(&#39;topHeaderCart&#39;)"/>
        <span class="h_cart"></span>
        </a>
      </div>
      <div class="head_right fr">
        <a href="/tairyo/user" onclick="setBackAct(&#39;topHeaderUserHome&#39;);" id="reddot">
          <span class="h_logn">                </span>
        </a>
      </div>
  <%end%>
</header>
<%=form_for :order,:url=>"#{orders_path}?platform=tairyorder",:html=>{ :class=>"form-horizontal",:id=>"order_form" } do |f|%>
    <%=hidden_field_tag "member_addr",@def_addr&&@def_addr.addr_id%>
   <%=f.hidden_field :payment ,:value=>"offline"%>
    <%=f.hidden_field :member_id,:value=>@account[0].account_id %>
    <%=f.hidden_field :supplier_id,:value=>@suppliers[0].id %>
    <%=hidden_field_tag :return_url,"/tairyo/showorder"%>
    <div class="userdiv">
      <div class="checktit clearfix"><span class=""></span>信息</div>
      <div class="checkcon clearfix" id="order-m-list">
        <p><%=@def_addr.name%>:<%=@def_addr.mobile%></p>
        <div class="sumtotal clearfix">

        </div>

      </div>
    </div>

    <dl class="connerbox">




      <span class="i_up_arrow"></span></dd>

      <br/>
    <dd><span class="form_hd">*日期：</span>
         <span class="form_td">
         <%=f.text_field :ship_day,:class=>"ui_timepicker" %>

  </span>
      <span class="i_up_arrow"></span></dd>


       <br/>
      <dd><span class="form_hd">*时间：</span>
         <span class="form_td">

    <select class=" hour" name="hour" id="hour" >
      <option  value="1">1点</option>
      <option value="2">2点</option>
      <option value="3">3点</option>
      <option value="4">4点</option>
      <option value="5">5点</option>
      <option value="6">6点</option>
      <option value="7">7点</option>
      <option value="8">8点</option>
      <option value="9">9点</option>
      <option value="10">10点</option>
      <option value="11">11点</option>
      <option value="12">12点</option>
      <option value="13">13点</option>
      <option value="14">14点</option>
      <option value="15">15点</option>
      <option value="16">16点</option>
      <option value="17">17点</option>
      <option value="18">18点</option>
      <option value="19">19点</option>
      <option value="20">20点</option>
      <option value="21">21点</option>
      <option value="22">22点</option>
      <option value="23">23点</option>




    </select>
  </span>
        <span class="i_up_arrow"></span></dd>

        <br/>
      <dd><span class="form_hd">*人数：</span>
         <span class="form_td">
           <%=f.select :weight, options_for_select([['1', 1],['2', 2],['3', 3],['4', 4],['5', 5]] ) %>
 </span>
      <span class="i_up_arrow"></span></dd>
  </dl>

  <dl class="connerbox"><dd><span>其他要求，如您有特殊要求，请在这里注明：</span>
    <%=f.text_area :tostr  %>
    <span class="help-inline error"></span>
  </dd></dl>
  <div class="ui-btn-area">
    <input class="btn_red" name="commit" type="submit" value="确认下单" />
  </div>


<%end%>
  <script type="application/javascript">
    $(document).ready(function(){
        $(".ui_timepicker").focus(function(){
            HS_setDate(this);
        })
    })

  </script>

<script type="text/javascript">
    function HS_DateAdd(interval,number,date){
        number = parseInt(number);
        if (typeof(date)=="string"){var date = new Date(date.split("-")[0],date.split("-")[1],date.split("-")[2])}
        if (typeof(date)=="object"){var date = date}
        switch(interval){
            case "y":return new Date(date.getFullYear()+number,date.getMonth(),date.getDate()); break;
            case "m":return new Date(date.getFullYear(),date.getMonth()+number,checkDate(date.getFullYear(),date.getMonth()+number,date.getDate())); break;
            case "d":return new Date(date.getFullYear(),date.getMonth(),date.getDate()+number); break;
            case "w":return new Date(date.getFullYear(),date.getMonth(),7*number+date.getDate()); break;
        }
    }
    function checkDate(year,month,date){
        var enddate = ["31","28","31","30","31","30","31","31","30","31","30","31"];
        var returnDate = "";
        if (year%4==0){enddate[1]="29"}
        if (date>enddate[month]){returnDate = enddate[month]}else{returnDate = date}
        return returnDate;
    }

    function WeekDay(date){
        var theDate;
        if (typeof(date)=="string"){theDate = new Date(date.split("-")[0],date.split("-")[1],date.split("-")[2]);}
        if (typeof(date)=="object"){theDate = date}
        return theDate.getDay();
    }
    function HS_calender(){
        var lis = "";
        var style = "";
        style +="<style type='text/css'>";
        style +=".calender { width:200px; height:200px; font-size:20px; background:#82B3FF;  border:4px solid #397EAE; padding:3px}";
        style +=".calender ul {list-style-type:none; margin:0; padding:0;}";
        style +=".calender .day { background-color:#EDF5FF; height:20px;}";
        style +=".calender .day li,.calender .date li{ float:left; width:14%; height:19px; line-height:20px; text-align:center}";
        style +=".calender li a { text-decoration:none; font-family:Tahoma; font-size:20px; color:#333}";
        style +=".calender li a:hover { color:#f30; text-decoration:underline}";
        style +=".calender li a.hasArticle {font-weight:bold; color:#f60 !important}";
        style +=".lastMonthDate, .nextMonthDate {color:#bbb;font-size:11px}";
        style +=".selectThisYear a, .selectThisMonth a{text-decoration:none; margin:0 2px; color:#000; font-weight:bold}";
        style +=".calender .LastMonth, .calender .NextMonth{ text-decoration:none; color:#000; font-size:18px; font-weight:bold; line-height:16px;}";
        style +=".calender .LastMonth { float:left;}";
        style +=".calender .NextMonth { float:right;}";
        style +=".calenderBody {clear:both}";
        style +=".calenderTitle {text-align:center;height:20px; line-height:20px; clear:both}";
        style +=".today { background-color:#ffffaa;border:1px solid #f60; padding:2px}";
        style +=".today a { color:#f30; }";
        style +=".calenderBottom {clear:both; border-top:1px solid #ddd; padding: 3px 0; text-align:left}";
        style +=".calenderBottom a {text-decoration:none; margin:2px !important; font-weight:bold; color:#000}";
        style +=".calenderBottom a.closeCalender{float:right}";
        style +=".closeCalenderBox {float:right; border:1px solid #000; background:#fff; font-size:9px; width:11px; height:11px; line-height:11px; text-align:center;overflow:hidden; font-weight:normal !important}";
        style +="</style>";

        var now;
        if (typeof(arguments[0])=="string"){
            selectDate = arguments[0].split("-");
            var year = selectDate[0];
            var month = parseInt(selectDate[1])-1+"";
            var date = selectDate[2];
            now = new Date(year,month,date);
        }else if (typeof(arguments[0])=="object"){
            now = arguments[0];
        }
        var lastMonthEndDate = HS_DateAdd("d","-1",now.getFullYear()+"-"+now.getMonth()+"-01").getDate();
        var lastMonthDate = WeekDay(now.getFullYear()+"-"+now.getMonth()+"-01");
        var thisMonthLastDate = HS_DateAdd("d","-1",now.getFullYear()+"-"+(parseInt(now.getMonth())+1).toString()+"-01");
        var thisMonthEndDate = thisMonthLastDate.getDate();
        var thisMonthEndDay = thisMonthLastDate.getDay();
        var todayObj = new Date();
        today = todayObj.getFullYear()+"-"+todayObj.getMonth()+"-"+todayObj.getDate();

        for (i=0; i<lastMonthDate; i++){  // Last Month's Date
            lis = "<li class='lastMonthDate'>"+lastMonthEndDate+"</li>" + lis;
            lastMonthEndDate--;
        }
        for (i=1; i<=thisMonthEndDate; i++){ // Current Month's Date

            if(today == now.getFullYear()+"-"+now.getMonth()+"-"+i){
                var todayString = now.getFullYear()+"-"+(parseInt(now.getMonth())+1).toString()+"-"+i;
                lis += "<li><a href=javascript:void(0) class='today' onclick='_selectThisDay(this)' title='"+now.getFullYear()+"-"+(parseInt(now.getMonth())+1)+"-"+i+"'>"+i+"</a></li>";
            }else{
                lis += "<li><a href=javascript:void(0) onclick='_selectThisDay(this)' title='"+now.getFullYear()+"-"+(parseInt(now.getMonth())+1)+"-"+i+"'>"+i+"</a></li>";
            }

        }
        var j=1;
        for (i=thisMonthEndDay; i<6; i++){  // Next Month's Date
            lis += "<li class='nextMonthDate'>"+j+"</li>";
            j++;
        }
        lis += style;

        var CalenderTitle = "<a href='javascript:void(0)' class='NextMonth' onclick=HS_calender(HS_DateAdd('m',1,'"+now.getFullYear()+"-"+now.getMonth()+"-"+now.getDate()+"'),this) title='Next Month'>&raquo;</a>";
        CalenderTitle += "<a href='javascript:void(0)' class='LastMonth' onclick=HS_calender(HS_DateAdd('m',-1,'"+now.getFullYear()+"-"+now.getMonth()+"-"+now.getDate()+"'),this) title='Previous Month'>&laquo;</a>";
        CalenderTitle += "<span class='selectThisYear'><a href='javascript:void(0)' onclick='CalenderselectYear(this)' title='Click here to select other year' >"+now.getFullYear()+"</a></span>年<span class='selectThisMonth'><a href='javascript:void(0)' onclick='CalenderselectMonth(this)' title='Click here to select other month'>"+(parseInt(now.getMonth())+1).toString()+"</a></span>月";

        if (arguments.length>1){
            arguments[1].parentNode.parentNode.getElementsByTagName("ul")[1].innerHTML = lis;
            arguments[1].parentNode.innerHTML = CalenderTitle;

        }else{
            var CalenderBox = style+"<div class='calender'><div class='calenderTitle'>"+CalenderTitle+"</div><div class='calenderBody'><ul class='day'><li>日</li><li>一</li><li>二</li><li>三</li><li>四</li><li>五</li><li>六</li></ul><ul class='date' id='thisMonthDate'>"+lis+"</ul></div><div class='calenderBottom'><a href='javascript:void(0)' class='closeCalender' onclick='closeCalender(this)'>×</a><span><span><a href=javascript:void(0) onclick='_selectThisDay(this)' title='"+todayString+"'>今天</a></span></span></div></div>";
            return CalenderBox;
        }
    }
    function _selectThisDay(d){
        var boxObj = d.parentNode.parentNode.parentNode.parentNode.parentNode;
        boxObj.targetObj.value = d.title;
        boxObj.parentNode.removeChild(boxObj);
    }
    function closeCalender(d){
        var boxObj = d.parentNode.parentNode.parentNode;
        boxObj.parentNode.removeChild(boxObj);
    }

    function CalenderselectYear(obj){
        var opt = "";
        var thisYear = obj.innerHTML;
        for (i=1970; i<=2020; i++){
            if (i==thisYear){
                opt += "<option value="+i+" selected>"+i+"</option>";
            }else{
                opt += "<option value="+i+">"+i+"</option>";
            }
        }
        opt = "<select onblur='selectThisYear(this)' onchange='selectThisYear(this)' style='font-size:11px'>"+opt+"</select>";
        obj.parentNode.innerHTML = opt;
    }

    function selectThisYear(obj){
        HS_calender(obj.value+"-"+obj.parentNode.parentNode.getElementsByTagName("span")[1].getElementsByTagName("a")[0].innerHTML+"-1",obj.parentNode);
    }

    function CalenderselectMonth(obj){
        var opt = "";
        var thisMonth = obj.innerHTML;
        for (i=1; i<=12; i++){
            if (i==thisMonth){
                opt += "<option value="+i+" selected>"+i+"</option>";
            }else{
                opt += "<option value="+i+">"+i+"</option>";
            }
        }
        opt = "<select onblur='selectThisMonth(this)' onchange='selectThisMonth(this)' style='font-size:11px'>"+opt+"</select>";
        obj.parentNode.innerHTML = opt;
    }
    function selectThisMonth(obj){
        HS_calender(obj.parentNode.parentNode.getElementsByTagName("span")[0].getElementsByTagName("a")[0].innerHTML+"-"+obj.value+"-1",obj.parentNode);
    }
    function HS_setDate(inputObj){
        var calenderObj = document.createElement("span");
        calenderObj.innerHTML = HS_calender(new Date());
//        calenderObj.style.position = "absolute";
        calenderObj.style.zIndex=2;
        calenderObj.targetObj = inputObj;
        inputObj.parentNode.insertBefore(calenderObj,inputObj.nextSibling);
    }
</script>