
<%=form_for :member,:url=>export_admin_members_path,:method=>:post do |f|%>
<%= f.hidden_field :select_all,:class=>"sel_operation", :value => 0 %>
<%if current_admin.login_name=="admin" %>
<div class="page-header">
  <h2>所有会员</h2>
  <div class="btn-group">
    <%= f.submit '导出会员', :class => "btn btn-primary" %>
  </div>
  <%=link_to "短信群发","#sms_editor",:class=>"btn btn-primary",:'data-toggle'=>"modal"%>
  <%=link_to "短信自定义发送","#sms_define",:class=>"btn btn-primary",:'data-toggle'=>"modal"%>
  <ul class="clearfix unstyled">
    <% @column_data.each do |column| %>
      <li class="checkbox-verticle">
        <%if column.last.last == "true" %>
            <%= check_box_tag "fields[]",column.first,true,:class =>'sel_reload'%>
        <%else%>
            <%= check_box_tag "fields[]",column.first,false,:class =>'sel_reload'%>
        <%end%>
        &nbsp;&nbsp;<%=column.last.first%>
      </li>
    <%end%>
  </ul>
</div>
<%end%>



<div class='sel_banner'>
  您当前选定了<a class='sel_nums'>0</a>条记录！  <a href='' class='cancel_all'>取消选定</a> <a href='' class='sel_all'>选定全部</a>
  <p class="total_member hidden"><%=@total_member%></p>
</div>
<table class="table table-bordered table-hover">
  <tr>
    <td>全选
      <%= check_box_tag "ids_all","",false,:class =>'operate_all_id'%>
    </td>
    <% @column_data.each do |column| %>
      <%if column.last.last == "true" %>
        <th><%=column.last.first%></th>
      <%end%>
    <%end%>
    <%if (current_admin.login_name=="admin")%>
    <th colspan="3">操作</th>
        <%else%>
        <th colspan="3" style="display:none">操作</th>
    <%end%>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td>
      <%= check_box_tag "ids[]",member.member_id,false,:class =>'operate_ids'%>
    </td>
    <% @column_data.each do |column| %>
        <%if column.last.last == "true" %>
            <td><%= getColumnValue(column.last[1],member) %></td>
        <%end%>
    <% end %>
    <%if (current_admin.login_name=="admin")%>
    <td><%=link_to "查看",info_admin_member_path(member)%></td>
    <td><%=link_to "编辑",edit_admin_member_path(member)%></td>
    <td>删除</td>
        <%else%>
        <td style="display:none"><%=link_to "查看",info_admin_member_path(member)%></td>
        <td style="display:none"><%=link_to "编辑",edit_admin_member_path(member)%></td>
        <td style="display:none">删除</td>
    <%end%>
  </tr>
<% end %>
</table>

<div class="pagination">
  <%= will_paginate @members, :container => false %>
</div>
<%end%>
<div class="modal hide fade" id="sms_editor">

  <%=form_for :member,:url=>send_sms_admin_members_path,:remote=>true do |f|%>
    <%@members.each do |member| %>
      <%= check_box_tag "tels[]",member.mobile,false,:class =>'sms-ids hide',:'data-id'=>member.id if member.mobile.present?%>
    <%end%>
    <%=hidden_field_tag :send_all,0%>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>短信内容</h3>
    </div>
    <div class="modal-body">
      <%=f.text_area :text,:rows=>3,:style=>"width:510px;"%>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">关闭</a>
      <%=f.submit "发送",:class=>"btn btn-primary"%>
    </div>
    <%end%>
</div>

<div class="modal hide fade" id="sms_define">
  <%=form_for :member,:url=>send_sms2_admin_members_path,:remote=>true do |f|%>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>发送短信</h3>
    </div>
    <div class="modal-body">
      <div>
        <span>手机号码(多个手机号码分号[;]分割，建议一次不要超过20个号码)</span>
        <%=f.text_field :mobiles,:style=>"width:510px;",:placeholder=>"如 13917986865;15898789878"%></div>
      <div>
      <span>短信内容</span><%=f.text_area :text,:rows=>3,:style=>"width:510px;"%>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">关闭</a>
      <%=f.submit "发送",:class=>"btn btn-primary"%>
    </div>
    <%end%>
</div>