<link href="/assets/jquery.ui.core.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/jquery.ui.theme.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/jquery.ui.datepicker.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<link href="/assets/admin/promotions.css?body=1" media="screen" rel="stylesheet" type="text/css" />
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.ui.core.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.ui.datepicker.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery-ui-timepicker-addon.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.ui.datepicker-zh-CN.js?body=1" type="text/javascript"></script>
<script src="/assets/admin/promotions.js?body=1" type="text/javascript"></script>

<%= form_for @event,:url=>@create_or_update_path ,:html => {:class => "form-horizontal eventform"} do |f| %>
  <%if @event.member_id.nil?%>
    <%=f.hidden_field :member_id ,:value=>"2521"%>
        <%end%>
  <% if @event.errors.any? %>
      <div class="notice">
        <ul>
        <% @event.errors.messages.each do |key,msg| %>
          <li><%= msg.join(",") %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :name, "活动名称", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => "活动名称" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :times, "报名截止时间", :class => "control-label" %>
      <div class="controls">
            <%unless @event.endtime.nil?%>
        <%=f.text_field :endtime,:value=>Time.at(@event.endtime).to_s(:db),:class=>"span2 datetime" %>
            <%else%>
        <%=f.text_field :endtime,:class=>"span2 datetime"%>
        <%end%>
           </div>
    </div>
    <div class="control-group">
      <%= f.label :startime, "请选择活动开始时间", :class => "control-label" %>
      <div class="controls">
        <%unless @event.startime.nil?%>
        <%=f.text_field :startime,:value=>Time.at(@event.startime).to_s(:db),:class=>"span2 datetime"%>
        <%else%>
            <%=f.text_field :startime,:class=>"span2 datetime"%>
        <%end%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :adds, "活动地点", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :adds, :placeholder => "活动地点" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :terminal, "活动展示", :class => "control-label" %>
      <div class="controls">
        <%=f.select :terminal, {"电脑端"=>"pc","手机端"=>"mobile" }%>
      <span style="color: red">pc端显示的是pc的页面以及活动</span>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :body, "内容", :class => "control-label" %>
      <div class="controls">
        <%= f.cktext_area :body, :toolbar => 'Easy',:language=>'zh-cn',:height => 300 %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="button" value="确定" class="btn btn-primary submit">

        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to '返回', admin_events_path %>
      </div>
    </div>
  </fieldset>
<% end %>


<script>
    $(document).ready(function(){


        $(".submit").click(function(){
            var startime=$("#imodec_event_startime").val();
            var endtime=$("#imodec_event_endtime").val();

            if( new Date(endtime)> new Date(startime)){
///               alert("报名截至时间不能大于活动开始时间"); return false;
            }

            var event_name=$("#imodec_event_name").val();
            var event_adds=$("#imodec_event_adds").val();
            var event_times=$("#imodec_event_times").val();
            if (event_name==""||event_adds==""||event_times=="") {
                alert("信息量不足!无法发布活动哦!");
                return false;
            }
            else{
                $(".eventform").submit();
            }
        })
    })


</script>