<%=form_for :shop,:url=>admin_shop_path(@shop),:method=>:put,:html=>{:class=>"form-horizontal"} do |f|%>
	
  	<div class="control-group">
	    <label class="control-label">店铺名称</label>
	    <div class="controls">
	      <%=f.text_field :shop_name%>
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">邮箱</label>
	    <div class="controls">
	      <%=f.text_field :shop_email%>
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">手机</label>
	    <div class="controls">
	      <%=f.text_field :shop_tel%>
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">店长</label>
	    <div class="controls">
	      <%=f.text_field :name%>
	    </div>
  	</div>
<div class="control-group">
	    <label class="control-label">微信号</label>
	    <div class="controls">
	      <%=f.text_field :shop_wx%>
	    </div>
  	</div>
<div class="control-group">
	    <label class="control-label">销售区域</label>
	    <div class="controls">
	      <%=f.text_field :area%>
	    </div>
  	</div>
<div class="control-group">
	    <label class="control-label">简介</label>
	    <div class="controls">
	      <%=f.text_area :shop_intro%>
	    </div>
  	</div>
<div class="control-group">
	    <label class="control-label">状态</label>
	    <div class="controls">
	      <%=f.text_field :status%>
	    </div>
  	</div>

  	<div class="control-group">
  		<div class="controls">
	      		<%=f.submit "更新",:class=>"btn btn-primary"%>
	      		&nbsp;&nbsp;&nbsp;
	      		<%=link_to "返回",admin_shops_path%>
	    	</div>
  	</div>
  	
<%end%>