<%=form_for :shop,:url=>admin_shop_path(@shop),:method=>:put,:html=>{:class=>"form-horizontal"} do |f|%>
	
  	<div class="control-group">
	    <label class="control-label">店铺名称</label>
	    <div class="controls">
	      <%=f.text_field :shop_name%>
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">邮箱</label>
	    <div class="controls">
	      <%=f.text_field :shop_email%>
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">手机</label>
	    <div class="controls">
	      <%=f.text_field :shop_tel%>
	    </div>
  	</div>
  	<div class="control-group">
	    <label class="control-label">店长</label>
	    <div class="controls">
	      <%=f.text_field :name%>
	    </div>
  	</div>
<div class="control-group">
	    <label class="control-label">微信号</label>
	    <div class="controls">
	      <%=f.text_field :shop_wx%>
	    </div>
  	</div>
<div class="control-group">
	    <label class="control-label">销售区域</label>
	    <div class="controls">
	      <%=f.text_field :area%>
	    </div>
  	</div>
<div class="control-group">
	    <label class="control-label">简介</label>
	    <div class="controls">
	      <%=f.text_area :shop_intro ,:style=>"height:40px;"%>
	    </div>
  	</div>
    <div class="control-group">
      <label class="control-label">审核内容 </label>
      <div class="controls">
          <%unless @shop_desc.nil?%>
        <%=text_area_tag :shop_desc ,@shop_desc %>
        <%else%>
        <%=text_area_tag :shop_desc%>
            <%end%>
      </div>
    </div>
<div class="control-group">
	    <label class="control-label">申请状态 </label>
	    <div class="controls">
          <%if @shop.status==0%>
          <%=f.select :status, {"审核中"=>"0","审核通过"=>"1" }%>
              <%else%>
          <span style="line-height: 32px;color: #ff0000">该店铺已经审核通过</span>
            <%end%>
        </div>
  	</div>

    <div class="control-group">
      <label class="control-label">分店申请状态 </label>
      <div class="controls">
        <%#if @shop.permission_branch=="0"%>
            <%=f.select :permission_branch, {"默认状态"=>"-2","有资格开(未申请)"=>"-1","申请中"=>"0","审核通过"=>"1" }%>
        <%#elsif @shop.permission_branch=="1" %>
            <!--<span style="line-height: 32px;color: #d222fc">该店铺已经具有分店了</span>-->
            <%#else%>
            <!--<span style="line-height: 32px;color: #8a216b">该店铺目前无法申请分店</span>-->
        <%#end%>
      </div>
    </div>


  	<div class="control-group">
  		<div class="controls">
	      		<%=f.submit "更新",:class=>"btn btn-primary"%>
	      		&nbsp;&nbsp;&nbsp;
	      		<%=link_to "返回",admin_shops_path%>
	    	</div>
  	</div>
  	
<%end%>