<%=render "form"%>
<table class="table table-bordered">
	<thead>
		<tr>

			<th>店名</th>
			<th>店长</th>
			<th>手机</th>
			<th>邮件</th>
			<th>销售地区</th>
			<th>创建时间</th>

			<th>状态</th>
          <th>分店管理</th>
          <th>操作</th>
          <th>详细查看</th>
		</tr>
	</thead>
	<tbody>
		<%@shops.each do |shop|%>
		<tr>
				<td><%=link_to shop.shop_name,"/shop/?shop_id=#{shop.shop_id}",:target=>"_blank"%></td>
			<td><%=shop.name%></td>
			<td><%=shop.shop_tel%></td>
			<td><%=shop.shop_email%></td>
			<td><%=shop.area%></td>
          <td><%=shop.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
            <% if shop.status==1%>
              <td>正常</td>
              <%elsif shop.status==-2 %>
              <td style="color: seagreen">申请关闭</td>
             <%elsif shop.status==-1%>
              <td style="color: #ff0619">已经关闭</td>
              <%else%>
              <td>待审核</td>
              <%end%>


          <% if shop.permission_branch=="-2"%>
              <td >目前没有资格</td>
              <% elsif shop.permission_branch=="-1"%>
                  <td>店主没有提交申请</td>
          <% elsif shop.permission_branch=="0"%>
            <td style="color: red">分店申请中!!</td>
              <%elsif shop.permission_branch=="1"%>

              <td style="color: #070bd6" >(<%=Ecstore::Shop.where(:parent=>shop.shop_id).count%>)个分店
                 </td>
              <%end%>
			<td>
				<%=link_to "编辑",edit_admin_shop_path(shop)%>
              <%unless shop.order.count>0%>
				<%=link_to "关闭",admin_shop_path(shop),:method=>:delete,:confirm=>"确定关闭吗？"%>
                  <%else%>  <br>
                 <span>该店铺目前有订单无法删除</span>

            <%end%>
              <td><%=link_to "查看","/admin/shops/detail?shop_id=#{shop.shop_id}",:target=>"_blank"%></td>

              </td>
		</tr>
		<%end%>
	</tbody>
</table>