<div class="main" >
<div class="get">
  <div class="am-container">
    <h3 class="get-title">欢迎来到贸威自贸平台</h3>
      <input type="hidden" id="shopid" value="<%=@shop.shop_id%>">
    <p>
      期待您的参与
    </p>

       <p>
         <%if @shop.nil?%>
      <a href="/shopinfos/register?shop_id=<%=@user.member_id%>"class="am-btn am-btn-sm get-btn">开始商店之旅 </a>
         <%else%>
      <a  href="/shopinfos/my_goods?shop_id=<%=@user.member_id%>" class="am-btn am-btn-sm get-btn">管理店铺</a>
             <button class="am-btn am-btn-danger look" data-am-modal="{target: '#my-popup'}">二微码查看</button>

             <div class="am-popup" id="my-popup">
               <div class="am-popup-inner">
                 <div class="am-popup-hd">
                   <h4 class="am-popup-title"><%=@shop_title%></h4>
      <span data-am-modal-close
            class="am-close">&times;</span>
                 </div>
                 <div class="am-popup-bd"style="text-align: center">
                   <div id="qrcodeCanvas" style="display: none"></div>
                   <div id="qrcodeimg"></div>
                   <div >欢迎关注</div>
                 </div>
               </div>
             </div>

       <%end%>
    </p>
  </div>
</div>
<!--
<div class="detail">
  <div class="am-container">
    <h2 class="detail-h2"></h2>

    <div class="am-g">
      <div class="am-u-sm-3 detail-mb">

        <h3 class="detail-h3">
          <i class="am-icon-mobile am-icon-sm"></i>

        </h3>

        <p class="detail-p">

        </p>
      </div>
      <div class="am-u-sm-3 detail-mb">
        <h3 class="detail-h3">
          <i class="am-icon-cogs am-icon-sm"></i>

        </h3>

        <p class="detail-p">

        </p>
      </div>
      <div class="am-u-sm-3 detail-mb">
        <h3 class="detail-h3">
          <i class="am-icon-check-square-o am-icon-sm"></i>

        </h3>

        <p class="detail-p">

        </p>
      </div>
      <div class="am-u-sm-3 detail-mb">
        <h3 class="detail-h3">
          <i class="am-icon-send-o am-icon-sm"></i>

        </h3>

        <p class="detail-p">

        </p>
      </div>
    </div>
  </div>
</div>


        -->
</div>
<%= javascript_include_tag "amaze/jquery.min.js"%>
<%= javascript_include_tag "qrcode/jquery.qrcode.min.js"%>
<%= javascript_include_tag "shop/urlqrcode.js"%>


<script>

  var shop_id= $("#shopid").val();
     var host=window.location.host;

    var url="http://"+host+"/shopinfos/myshop?shop_id="+shop_id;


    jQuery('#qrcodeCanvas').qrcode({
        text	: "url"
    });



</script>