
<style type="text/css">

    .am-btn-catid{
        font-size: 15px;
        margin-left: 30px;
        color: #ffffff;
    }
    .line_a{
        background-color: #ff0000;
    }

</style>
<script>
$(document).ready(function(){
  $('.publish_goods_bn').click(function(){
     
alert($('.shop_id').val())
   });


});
</script>
<div class="main">
<%if @goods_store%>

<div class="am-panel-bd">
  <ul class="am-list">

  
<%@goods_store.each do |good|%>

        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">

          <a href="/shopinfos/goods_details?id=<%=good.bn%>&fp=category&shop_id=<%=@shop_id%>" class="cart_orderlist_i">

            <div class="am-col col-sm-4 am-list-thumb">
              <img src="" class="j_item_image pg1" data-original1="" data-brandid="<%=@brand_id%>" data-productid="<%=good.bn%>" data-onerror="" data-brandlazy="false" style="display: block;">
            </div>
            <div class="am-col col-sm-8 am-list-main">
                <span class="am-list-item-hd" style="font-size: 10px">
                  <%=good.name%>
                </span>
              <div class="am-list-item-text"> <strong class="" style="color: red;font-size: 16px ;float: right" >¥<%=good.price%> &nbsp;</strong>   </div>
            </div>
            <div>
            </div>
          </a>
        </li>
<%end%>

  </ul>
</div>
    <%else%>
      <a href="/shopinfos/show_goods?shop_id=<%=@shop_id%>" >
    <div class="am-panel am-panel-primary " style="margin-top: 100px">
      <div class="am-panel-hd" style="padding: 24px"><i  class="am-icon-shopping-cart "></i>
        <span style="margin-left: 10px">您的店铺空空的!您可以去贸威里面挑选喜欢的商品</span> </div>
    </div>
      </a>

     <%end%>
  </div>
    <script>
    $(".am-btn-catid").each(function(){
        var v = $(this).attr("href");
        if("http://"+window.location.host+v==window.location.href){

        }
    });

</script>
