
<style type="text/css">
    .bottomdivsclearfix{
       display: none;
    }
    .am-btn-catid{
        font-size: 15px;
        margin-left: 30px;
        color: #ffffff;
    }
    .line_a{
        background-color: #ff0000;
    }

</style>


<div class="main">
<%if @shop_goods%>

<div class="am-panel-bd">
  <ul class="am-list">  
    <%@shop_goods.each do |shopgoods|%>
      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="cursor: pointer">
         <span class="delete" style="float: right">
         <a href="/shop/shopinfos/goods_destroy?goods_id=<%=shopgoods.goods_id%>&shop_id=<%=@shop.shop_id%>" class="delete" data-method="delete" data-confirm="确定要删除吗？" data-remote="true" rel="nofollow"  mars_sead="cart_delect_btn">
           <img src="/assets/mobile/scan_layer-33.png" width="30" height="30">
         </a>
        </span>
         <a href="/shop/shopinfos/details_trade?id=<%=shopgoods.good.bn%>&shop_id=<%=@shop.shop_id%>" >
          <div class="am-col col-sm-4 am-list-thumb">
            <img src="<%=shopgoods.good.list_default_pic%>" class="j_item_image pg1" data-original1="<%=shopgoods.good.list_default_pic%>" data-brandid="<%=shopgoods.good.brand_id%>" data-productid="<%=shopgoods.good.bn%>" data-onerror="<%=shopgoods.good.list_default_pic%>" data-brandlazy="false" style="display: block;">
          </div>
          <div class="am-col col-sm-8 am-list-main">
            <span class="am-list-item-hd "><%=shopgoods.good.name%></span>
          </div>
        </a>
        <div class="am-list-item-text" style="width: 100%;" >
            <span class="right">提成:<strong class="price" >¥<%=format('%.2f',shopgoods.good.share_for_sale*shopgoods.good.price)%></strong> 
            &nbsp;|&nbsp;售价:<strong class="price" >¥<%=shopgoods.good.price%></strong> </span> 
        </div>
        <div>

        </div>
      </li>


    <%end%>

  </ul>
</div>
    <%else%>
      <a href="/shop/shopinfos/show_goods?shop_id=<%=@shop.shop_id%>" >
    <div class="am-panel am-panel-primary " style="margin-top: 100px">
      <div class="am-panel-hd" style="padding: 24px"><i  class="am-icon-shopping-cart "></i>
        <span style="margin-left: 10px">您的店铺空空的!您可以去贸威里面挑选喜欢的商品</span> </div>
    </div>
      </a>

     <%end%>
  </div>

<div class="bottomdiv clearfix"  >
  <a  class="am-btn am-btn-primary " style="width:33.3%;float: left" href="/shop/shopusers" >店铺管理</a>
  <a  class="am-btn am-btn-danger " style="width:33.3%;float: left" href="/shop/shopinfos/show_goods" >增加商品 </a>
  <a  class="am-btn am-btn-success " style="width:33.3%;float: left" href="/shop/shopinfos/myshop?shop_id=<%=@shop.shop_id%>" >发布 </a>
</div>

    <script>
    $(".am-btn-catid").each(function(){
        var v = $(this).attr("href");
        if("http://"+window.location.host+v==window.location.href){

        }
    });

</script>
