<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<% if @orders.size>0%>
      <div class="am-g">
        <div class="am-u-md-6">
       <%@orders.each  do |order|%>
        <div class="am-panel am-panel-default">
         <div class="am-panel-hd"><span class="left">订单状态:</span><a href="/orders/mobile_show_order?id=<%=order.order_id%>&shop_id=<%=@shop_id%>" target="_blank"><%=order.order_status_text%> </a> <span class="right" >购买人:<%=order.user.weixin_nickname%>
              <%if order.order_status_text=="待付款"%>
           <a href="/shop/shopinfos/delete_order?order_id=<%=order.order_id%>" class="  am-close am-close-alt am-close-spin  am-icon-times"  data-method="delete" data-confirm="确定要删除这个订单吗？" data-remote="true"style="color: red"></a>
               <%end%>
               </span> </div>
               <ul class="am-panel-bd am-list">
                 <%order.order_items.each_with_index do |order_item,index|%>

                     <li class="order_list">  <%=image_tag order_item.good.medium_pic,:class=>"thumb" if order_item.good%><span style="font-size: 14px"><%=order_item.good.name%></span></li>
                 <%end%>
               </ul>
               </div>

<%end%></div></div>

  <%else%>
      <div style="margin:28% auto; text-align: center;">

        <span>您当前还没有订单哦!!!</span>
      </div>

  <%end%>