<style type="text/css">
.am-btn-catid{font-size: 15px;  margin-left: 30px;  color: #ffffff;}
.line_a{  background-color: #ff0000;}
.clearstyle{margin: 0;padding: 0}
#head{height:200px;}
#head div{float:left; }
</style>
<input type="hidden" id="shop_id" value="<%=@shop.shop_id%>">


<div id="amz-home">
  <section id="amz-hero" style="text-align: center">
    <div class="amz-container am-cf">
      <div class="amz-mascot am-scrollspy-init am-scrollspy-inview am-animation-slide-left" data-am-scrollspy="{animation: 'slide-left', delay: 100}">
        <%=image_tag @shop.shop_logo,:id=>"weixin",:style => "width:40%"  %>
      </div>

      <div class="amz-hero-intro">
        <div class="amz-hero-headings">
          <h1 class="clearstyle " data-am-scrollspy="{animation:'slide-left'}" class="am-scrollspy-init am-scrollspy-inview am-animation-slide-left">欢迎来到<%=@shop.shop_name%>的小店</h1>
          <h2 class="clearstyle " style="color: #1f6377" data-am-scrollspy="{animation:'slide-right', delay: 500}" class="am-scrollspy-init am-scrollspy-inview am-animation-slide-right"><%=@shop.shop_intro%></h2>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="main">
  <%if @shop_goods.size>0%>
      <div class="am-panel-bd">
        <ul class="am-list">
          <%@shop_goods.each do |shopgoods|%>

              <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                <div class="am-col col-sm-4 am-list-thumb">
                  <a href="javascript:void (0);" class="Q-buy-btn">
                    <img class="j_item_image beisaier hide "  src="<%=shopgoods.good.list_default_pic%>" >
                    <img src="<%=shopgoods.good.list_default_pic%>" class="j_item_image pg1" data-original1="<%=shopgoods.good.list_default_pic%>" data-brandid="<%=shopgoods.good.brand_id%>" data-productid="<%=shopgoods.good.bn%>" data-onerror="<%=shopgoods.good.list_default_pic%>" data-brandlazy="false" style="display: block;">
               <input type="hidden" class="goods_id" value="<%=shopgoods.good.goods_id%>">

                    <hr style="margin-top: 3.5em;border-top:none">
                    <%if @user%>

                    <button type="button" href="###" title="加入购物车" class="  am-btn am-btn-block am-btn-danger" > <i class="am-icon-shopping-cart"> <em class="icon-em" >加入购物车</em> </i> </button>
                 <%end%>
                  </a>
                </div>
                <div class="am-col col-sm-8 am-list-main">

                  <a href="  /shop/shopinfos/goods_details?id=<%=shopgoods.good.bn%>&shop_id=<%=@shop.shop_id%>" class="cart_orderlist_i">
                    <span class="am-list-item-hd goods-name-span" >  <%=shopgoods.good.name%>  </span> </a>  <br>
                  <%unless shopgoods.good.tag.blank?%>
                      <%a=0%>
                      <%shopgoods.good.tag.split(",").each do |tag|%>
                          <%color=["black","red","black","red"]%>
                          <%if a<5%>
                              <em style=" font-size: 12px; color: <%=color[a]%>"> <%=tag%> </em>
                              <%end%><%a=a+1%> <%end%>  <%end%>
                  <hr style="margin-top: 2.2em;border-top:none"><div class="am-list-item-text">
                  <div class="am-col col-sm-4">  <br> <span  class="mall_price">¥<%=shopgoods.good.price%> &nbsp; </span>
                  </div>
                  <%if @user%>
                  <div class="am-col col-sm-8">
                    <a href="javascript:void(0)"class="am-btn  am-btn-block am-btn-success buttom_bolt" > <i class="am-icon-bolt"> <em class="icon-em" >立即购买</em> </i> </a>
                  </div>  <%end%>
                </div>   </div> <div></div> </li>


          <%end%>


        </ul>
      </div>
  <%else%>
      <%if @user.member_id==@shop.member_id%>

      <a href="/shop/shopinfos/show_goods?shop_id=<%=@shop.shop_id%>" >
        <div class="am-panel am-panel-primary " style="margin-top: 100px">
          <div class="am-panel-hd" style="padding: 24px"><i  class="am-icon-shopping-cart "></i>
            <span style="margin-left: 10px">您的店铺空空的!您可以去贸威里面挑选喜欢的商品</span> </div>
        </div>
      </a>
       <%else%>
          <div class="am-panel am-panel-primary " style="margin-top: 100px">
            <div class="am-panel-hd"><i  class="am-icon-shopping-cart "></i>
              <span style="margin-left: 10px">对方店铺目前没有商品<br> 您可以选择<a style="color: #ff0e29" href="/shop/shopinfos/new?parent_id=<%=@shop.shop_id%>">我也要开店</a>来经营自己的小店</span> </div></div>
      <%end%>
  <%end%>
</div>
<% if @user%>
<div class="J-shoping">
  <div class="amz-toolbar J-shoping-title" id="amz-toolbar">
    <a href="/shop/visitors/my_shopping_cart?shop_id=<%=@shop.shop_id%>" title="购物车" >
      <i class="am-icon-btn  am-icon-shopping-cart " id="cart"></i>
    </a>
    <span class="  J-shoping-num" id="cart_num"><%=@line_items.count%></span>
  </div> </div>
<%end%>
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<%= javascript_include_tag  "store/mobile/fly.js"%>
<%= javascript_include_tag  "store/mobile/shop_animation.js"%>
<script type="text/javascript" >


    $('.Q-buy-btn').on('click',addProduct);

    $(".buttom_bolt").on('click',function(){
        var goods_id= $(this).parent().parent().parent().prev().children().children(".goods_id").val();
        var shop_id=$("#shop_id").val();

        var url="/shop/visitors/my_add_shopping"
        $.ajax(url,{
            type: "post",
            data:{"goods_id":goods_id,"spec": "","attr":"mall","platform":"shop","shop_id": shop_id },

            success:function(res){
                 window.location.href="/shop/visitors/my_shopping_cart?shop_id="+shop_id;
            }
        })
    })

</script>
