
<style type="text/css">

    .am-btn-catid{
        font-size: 15px;
        margin-left: 30px;
        color: #ffffff;
    }
    .line_a{
        background-color: #ff0000;
    }

</style>
<%=image_tag eval(@followers.user_info)["headimgurl"],:id=>"weixin" ,:style=>"display:none"%>

<div class="main">

  <button class="am-btn am-btn-danger look" data-am-modal="{target: '#my-popup'}">二微码查看</button>

  <div class="am-popup" id="my-popup">
    <div class="am-popup-inner">
      <div class="am-popup-hd">
        <h4 class="am-popup-title"><%=@shop_title%></h4>
      <span data-am-modal-close
            class="am-close">&times;</span>
      </div>
      <div class="am-popup-bd"style="text-align: center">
        <div id="qrcodeCanvas" style="display: none"></div>
        <div id="qrcodeimg"></div>
          <div >欢迎关注</div>
      </div>
    </div>
  </div>
  <div class="am-modal am-modal-confirm" tabindex="1" id="my-confirm" style="color: #000000">
    <div class="am-modal-dialog">
      <div class="am-modal-hd"><%=@shop_title%></div>
      <div class="am-modal-bd" id="url">
        前往店铺查看
      </div>
      <div class="am-modal-footer">
        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      </div>
    </div>
  </div>



  <%if @goods_store%>

      <div class="am-panel-bd">
        <ul class="am-list">


          <%@goods_store.each do |good|%>



              <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="cursor: pointer">

                <a href="/shopinfos/goods_details?id=<%=good.bn%>&shop_id=<%=@shop_id%>" class="">
                <div class="am-col col-sm-4 am-list-thumb">
                  <img src="<%=good.list_default_pic%>" class="j_item_image pg1" data-original1="<%=good.list_default_pic%>" data-brandid="<%=good.brand_id%>" data-productid="<%=good.bn%>" data-onerror="<%=good.list_default_pic%>" data-brandlazy="false" style="display: block;">
                </div>
                <div class="am-col col-sm-8 am-list-main">
                <span class="am-list-item-hd ">
                  <%=good.name%>
                </span>
                  <div class="am-list-item-text" style="width: 100%;" >

                    <span class="right">商品价:<strong class="price" >¥<%=good.price%></strong> </span>  </div>
                </div>

                </a>
              </li>
          <%end%>

        </ul>
      </div>
  <%else%>
      <a href="/shopinfos/show_goods?shop_id=<%=@shop_id%>" >
        <div class="am-panel am-panel-primary " style="margin-top: 100px">
          <div class="am-panel-hd" style="padding: 24px"><i  class="am-icon-shopping-cart "></i>
            <span style="margin-left: 10px">您的店铺空空的!您可以去贸威里面挑选喜欢的商品</span> </div>
        </div>
      </a>

  <%end%>
</div>
<%= javascript_include_tag "qrcode/kaelQrcode.min.js"%>
<%= javascript_include_tag "shop/urlqrcode.js"%>

<script>
     var url=window.location.href;

     var imag=$("#weixin").attr("src");

     window.onload = function(){
         var kaelBase = new KaelQrcode();
         kaelBase.init(document.getElementById("qrcodeCanvas"), {
             text :url,
             size: 200,
             img: {
                 src : imag
             }
         });


     }


     $=Zepto;
     $(function() {
         $('#qrcodeimg').on('click', function() {

             $('#my-confirm').modal({
                 relatedElement: this,
                 onConfirm: function() {
                     window.location.href=url
                 },
                 onCancel: function() {

                 }
             });
         });
     });
</script>