
<style>
    .help-block {color:red;}
</style>

<header id="header" class="header clearfix">

  <div class="head_left fl"><a href="#"><span class="h_back"></span></a></div>
  <span class="headtit">创建店铺</span>
  <div class="head_right fr"><a href="/m/" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>

<%=form_for :shop,:url=>"/shopinfos/shop_add",:remote=>true,:html=>{:id=>"register_form"} do |f|%>
    <div class="connerdiv">
	<span>

	  <%=f.hidden_field :shop_id, :value=>@shop_id%>

	</span>
      <dl class="connerbox">
        <dd><span class="form_hd">店铺名称：</span><span class="form_td">
        <%=f.text_field :shop_name,:class=>"text_input",:placeholder=>"name"%>
      </span>
          <div class="help-block" rel="user_login_name"></div>
        </dd>
        <dd><span class="form_hd">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</span><span class="form_td">
        <%=f.text_field :shop_email,:class=>"text_input",:placeholder=>""%>
      </span>
          <div class="help-block" rel="user_login_password"></div>
        </dd>
        <dd><span class="form_hd">联系电话：</span><span class="form_td ml80">
        <%=f.text_field :shop_tel,:class=>"text_input",:placeholder=>""%>
      </span>
          <div class="help-block" rel="user_login_password_confirmation"></div>
        </dd>
        <dd><span class="form_hd">微信号码：</span><span class="form_td ml80">
        <%=f.text_field :shop_wx,:class=>"text_input",:placeholder=>""%>
      </span>
          <div class="help-block" rel="user_email"></div>
        </dd>
        <dd><span class="form_hd">店铺描述：</span><span class="form_td ml80">
        <%=f.text_field :shop_intro,:class=>"text_input",:placeholder=>""%>
      </span>
          <div class="help-block" rel="user_mobile"></div>
        </dd>
        <dd>
          <input type="checkbox" checked="checked" value="agree" name="user[license]" id="license" class="x-input required" autocomplete="off">
          <label for="license" class="checkbox_label" id="i_agree">&nbsp;我已阅读并同意：</label><a href="/pages/zhucexieyi?platform=mobile" target="_top"  id="reg_term">会员注册协议</a>
          <span id="and">和</span><br/><a href="/pages/ysbh?platform=mobile" id="privacy" target="_top">隐私保护政策</a>
          <div class="help-block" rel="user_license"></div>
        </dd>
      </dl>
      <div class="space15"></div>
      <div id="login_msg" style="color:red;font-size:12pt;"></div>
      <%=f.submit "创建店铺",:class=>"btn_red largerbtn longbtn"%>

<%end%>

