

<style>
    .help-block {color:red;}
    .bottomdivsclearfix{
      display: none;
       }
</style>
    <div class="main">

<%=form_for :shop,:url=>"/shopinfos/shop_add",:remote=>true,:html=>{:id=>"register_form"} do |f|%>
    <div class="connerdiv">


	  <%=f.hidden_field :shop_id, :value=>@shop_id%>



          <div class="am-input-group">
          <span class="am-input-group-label">店铺名称:</span>
         <%=f.text_field :shop_name,:class=>"am-form-field",:placeholder=>"name"%>

        </div>
      <br>
      <div class="am-input-group">
        <span class="am-input-group-label">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</span>
        <%=f.text_field :shop_email,:class=>"am-form-field",:placeholder=>""%>

      </div>
      <br>
      <div class="am-input-group">
        <span class="am-input-group-label">手机号码:</span>

        <%=f.text_field :shop_tel,:class=>"am-form-field",:placeholder=>"请输入手机号"%>
      </div>
      <br>
      <div class="am-input-group">
        <span class="am-input-group-label">微信号码:</span>

        <%=f.text_field :shop_wx,:class=>"am-form-field",:placeholder=>"请输入微信号码"%>
      </div>
      <br>



        <%=f.text_area :shop_intro,:class=>"am-form-field",:placeholder=>"请输入店铺描述"%>

      <br>


      <div id="login_msg" style="color:red;font-size:12pt;"></div>
      <%=f.submit "创建店铺",:class=>"am-btn am-btn-primary am-btn-block "%>
        </div>
<%end%>

  </div>
