
<style type="text/css">

    .am-btn-catid{
        font-size: 15px;
        margin-left: 30px;
        color: #ffffff;
    }
    .line_a{
        background-color: #ff0000;
    }
    .bottomdivsclearfix {
        display: none;
    }
</style>
<script>



</script>
  <div class="main">

    <ul class="am-list" >
        <%if @sup%>
        <% @sup.each do |sup|%>
          <li >  <a class="am-btn-catid" style="color: #000000" href="/shop/shopinfos/show_goods?supplier_id=<%=sup.supplier_id%>"><%=sup.supplier.name%>&nbsp;(<%=sup.sum%>)</a>  </li>
        <%end%>
            <%elsif @category%>
            <% @category.each do |cat|%>
               <li> <a class="am-btn-catid"style="color: #000000" href="/shop/shopinfos/show_goods?supplier_id=<%=params[:supplier_id]%>&cat_id=<%=cat.cat_id%>"><%=cat.cat.cat_name%>&nbsp;(<%=cat.sum%>)</a> </li>
            <%end%>

        <%end%>  </ul>
      </div>
    </div>

<form action ="/shop/shopinfos/add_goods" method="post">
<div class="am-panel-bd">
  <ul class="am-list" >
    <%if @goods.size>0%>
        <input type="hidden" value="<%=params[:supplier_id]%>" name="supplier_id"/>
    <% @goods.each do |good|%>

        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="cursor: pointer">

          <div class="am-col col-sm-2 am-list-thumb ">
            <input type="checkbox" value="<%=good.goods_id%>" class="shop_selector" name="goods_id[]"/>
            </div>
            <div class="am-col col-sm-2 am-list-thumb">
              <img src="<%=good.list_default_pic%>" class="j_item_image pg1" data-original1="<%=good.list_default_pic%>" data-brandid="<%=good.brand_id%>" data-productid="<%=good.bn%>" data-onerror="<%=good.list_default_pic%>" data-brandlazy="false" style="display: block;">
            </div>
            <div class="am-col col-sm-8 am-list-main">
              <a href="/shop/shopinfos/details_trade?id=<%=good.bn%>&shop_id=<%=@shop.member_id%>" class="">
                <span class="am-list-item-hd ">
                  <%=good.name%>
                </span>
              <div class="am-list-item-text" style="width: 100%;" >
                分成:<strong class="price" >¥<%= format('%.2f',good.price*good.share_for_sale)%> </strong>
                <span class="right">贸威价:<strong class="price" >¥<%=good.price%></strong> </span>  </div>

          </a>
            </div>
        </li>
    <%end%><%end%>
  </ul>
</div>


<div class="bottomdiv clearfix">
    <a class="am-btn am-btn-primary " style="width:50%;float: left" href="/shop/shopinfos/my_goods" >取消 </a>
    <input class="am-btn am-btn-danger  " style="width:50%;float: left"  type="submit" value="确认">
</div>

</form>  </div>
<script>

    $(".am-list-item-thumb-left").each(function(){
         $(this).bind("click",function() {


             if ($(this).children().children().attr("checked") == false) {
                 $(this).children().children().attr("checked", 'true');
             }
             else {
                 $(this).children().children().removeAttr("checked");
             }
         });
    });



    // $(".submit").click(function(){
    //  var goodid=   get_selector_shop_ids();
    //     var shop_id=$("#shopid").val();
    //     $.ajax({
    //         type:'post',
    //         url:"/shop/shopinfos/add_goods?shop_id="+shop_id,
    //         data: { selector_shop: goodid,shop_id:shop_id },
    //         success:function(data){window.location.href="/shop/shopinfos/my_goods?shop_id="+shop_id
    //         }

    //     });
    // })
    function get_selector_shop_ids(){
        var shop_selector_ids = "";
        var ids = $(".shop_selector");
        for(var i=0;i<ids.length;i++){
            if($(ids[i]).is(':checked')){

                if(shop_selector_ids==""){
                    shop_selector_ids = $(ids[i]).val();
                }else{
                    shop_selector_ids = shop_selector_ids + "," + $(ids[i]).val();
                }
            }
        }
        return shop_selector_ids;
    }
</script>
           <script>
              $(document).ready(function(){

                      $('#my-prompt').modal({
                      });

              })




           </script>