
<style type="text/css">

    .am-btn-catid{
        font-size: 15px;
        margin-left: 30px;
        color: #ffffff;
    }
    .line_a{
        background-color: #ff0000;
    }

</style>
<script>



</script>
  <div class="main">

<div class="am-panel am-panel-primary  "style="filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7" data-am-sticky >

  <div class="am-panel-hd" >
 <a class="" href="/show_goods" style="font-size: 20px;color: #ffffff">&nbsp;德国香肠</a>
    <a class="am-btn-catid" href="show_goods?cat_id=<%=Ecstore::GoodCat.find_by_cat_name("香肠").cat_id%>">|&nbsp;香肠</a>
    <a class="am-btn-catid" href="show_goods?cat_id=<%=Ecstore::GoodCat.find_by_cat_name("火腿").cat_id%>">|&nbsp;火腿</a>
    <a class="am-btn-catid" href="show_goods?cat_id=<%=Ecstore::GoodCat.find_by_cat_name("培根").cat_id%>">|&nbsp;培根</a>
    <a class="am-btn-catid" href="show_goods?cat_id=<%=Ecstore::GoodCat.find_by_cat_name("其它").cat_id%>">|&nbsp;其它</a></div>
</div>  <div class="fiex_text ">
    <div style="filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9 ;" >
      <input class=" am-btn am-btn-primary submit"   type="button" value="提交">
    </div>    </div>
<div class="am-panel-bd">

  <ul class="am-list" >
      <input type="hidden" id="shopid" value="<%=@shop.id%>">

    <% @goods.each do |good|%>


        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="cursor: pointer">

          <div class="am-col col-sm-2 am-list-thumb has-check">
            <input type="checkbox" value="<%=good.goods_id%>" class="shop_selector"/> </div>
            <div class="am-col col-sm-2 am-list-thumb">
              <img src="<%=good.list_default_pic%>" class="j_item_image pg1" data-original1="<%=good.list_default_pic%>" data-brandid="<%=good.brand_id%>" data-productid="<%=good.bn%>" data-onerror="<%=good.list_default_pic%>" data-brandlazy="false" style="display: block;">
            </div>
            <div class="am-col col-sm-8 am-list-main">
                <span class="am-list-item-hd ">
                  <%=good.name%>
                </span>
              <div class="am-list-item-text" style="width: 100%;" >
                分成:<strong class="price" >¥<%= format('%.2f',good.price.to_i*0.15)%> </strong>
                <span class="right">贸威价:<strong class="price" >¥<%=good.price%></strong> </span>  </div>
            </div>

          </a>
        </li>
    <%end%>
  </ul>
</div>

    </div>
<script>
    $(".am-list-item-thumb-left").each(function(){
        $(this).bind("click",function(){
         if(  $(this).children().children().attr("checked")==false ){
             $(this).children().children().attr("checked",'true');
         }
            else{
             $(this).children().children().removeAttr("checked");
         }

        })

    });
    $(".submit").click(function(){
     var goodid=   get_selector_shop_ids();
        var shop_id=$("#shopid").val();
        $.ajax({
            type:'post',
            url:"/shopinfos/add_goods",
            data: { selector_shop: goodid,shop_id:shop_id },
            success:function(data){

            }

        });
    })
    function get_selector_shop_ids(){
        var shop_selector_ids = "";
        var ids = $(".shop_selector");
        for(var i=0;i<ids.length;i++){
            if($(ids[i]).is(':checked')){

                if(shop_selector_ids==""){
                    shop_selector_ids = $(ids[i]).val();
                }else{
                    shop_selector_ids = shop_selector_ids + "," + $(ids[i]).val();
                }
            }
        }
        return shop_selector_ids;
    }
</script>
