
<style type="text/css">

    .am-btn-catid{
        font-size: 15px;
        margin-left: 30px;
        color: #ffffff;
    }
    .line_a{
        background-color: #ff0000;
    }
    .bottomdivsclearfix {
        display: none;
    }
</style>
<script>



</script>
  <div class="main">

    <ul class="am-list" >
        <%if @sup%>
        <% @sup.each do |sup|%>
          <li >  <a class="am-btn-catid" style="color: #000000" href="/shop/shopinfos/show_goods?supplier_id=<%=sup.supplier_id%>"><%=sup.supplier.name%>&nbsp;(<%=sup.sum%>)</a>  </li>
        <%end%>
            <%elsif @category%>
            <% @category.each do |cat|%>
               <li> <a class="am-btn-catid"style="color: #000000" href="/shop/shopinfos/show_goods?supplier_id=<%=params[:supplier_id]%>&cat_id=<%=cat.cat_id%>"><%=cat.cat.cat_name%>&nbsp;(<%=cat.sum%>)</a> </li>
            <%end%>

        <%end%>  </ul>
      </div>
    </div>

<form action ="/shop/shopinfos/add_goods" method="post">
<div class="am-panel-bd">
  <ul class="am-list" >
    <%if @goods.size>0%>
        <input type="hidden" value="<%=params[:supplier_id]%>" id="supplier_id"/>
        <input type="hidden" value="<%=@shop.shop_id%>" id="shop_id" />
    <% @goods.each do |good|%>

        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" style="cursor: pointer">

            <div class="am-col col-sm-2 am-list-thumb">
              <img src="<%=good.list_default_pic%>" class="j_item_image pg1" data-original1="<%=good.list_default_pic%>" data-brandid="<%=good.brand_id%>" data-productid="<%=good.bn%>" data-onerror="<%=good.list_default_pic%>" data-brandlazy="false" style="display: block;">
            </div>
            <div class="am-col col-sm-7 am-list-main">
              <a href="/shop/shopinfos/details_trade?id=<%=good.bn%>&shop_id=<%=@shop.member_id%>" class="">
                <span class="am-list-item-hd ">
                  <%=good.name%>
                </span>
                </a></div>
          <div class="am-col col-sm-3 am-list-thumb ">
            <input type="hidden" class="good_id" value="<%=good.goods_id%>" />
            <input type="button" class="am-btn am-btn-primary btn-loading-example btn-loading-goods"  value="添加" />
           </div>
           </li>
            <div>
              分成:<strong class="price" >¥<%= format('%.2f',good.price*good.share_for_sale)%> </strong>
              <span class="">贸威价:<strong class="price" >¥<%=good.price%></strong> </span>
            </div>
              <%end%><%end%>
  </ul>
</div>


<div class="bottomdiv clearfix">
    <a class="am-btn am-btn-primary " href="javascript:history.go(-1)" style="width:50%;float: left"  >返回 </a>
  <a class="am-btn am-btn-primary " href="/shop/shopinfos/my_goods?shop_id=<%=@shop.shop_id%>" style="width:50%;float: left">商品管理 </a>
</div>

</form>  </div>
<script>

    var supplier_id=$("#supplier_id").val();
    var shop_id=$("#shop_id").val();
    $(".btn-loading-goods").each(function(){

         $(this).bind("click",function() {
             var $btn = $(this)
             var good_id=$btn.prev(".good_id").val()
             if(!$(this).hasClass("am-btn-default")){
                 $btn.val("loading");
            $.ajax({
                           type:'post',
                            url:"/shop/shopinfos/add_goods",
                            data: { goods_id: good_id ,supplier_id:supplier_id,shop_id:shop_id},
                           success:function(data){
                               if(!$btn.hasClass("error")){
                                   $btn.removeClass(" am-btn-primary");
                                   $btn.addClass("am-btn-default");
                                   setTimeout(function(){
                                       $btn.val("取消");
                                   }, 500);
                               } else{
                                   $btn.val("添加失败");

                               }


                          }

                 } )
             }
             else {
                 $btn.val("loading");
                 $.ajax({
                     type:'post',
                     url:"/shop/shopinfos/goods_destroy",
                     data: { goods_id: good_id ,supplier_id:supplier_id,shop_id:shop_id,platform:"mygood"},
                     success:function(data){
                         $btn.addClass(" am-btn-primary");
                         $btn.removeClass("am-btn-default");
                         setTimeout(function(){
                             $btn.val("添加");
                         }, 500);
                     }

                 } )
             }
         });
    });



    // $(".submit").click(function(){
    //  var goodid=   get_selector_shop_ids();
    //
    //     $.ajax({
    //         type:'post',
    //         url:"/shop/shopinfos/add_goods?shop_id="+shop_id,
    //         data: { selector_shop: goodid,shop_id:shop_id },
    //         success:function(data){window.location.href="/shop/shopinfos/my_goods?shop_id="+shop_id
    //         }

    //     });
    // })
    function get_selector_shop_ids(){
        var shop_selector_ids = "";
        var ids = $(".shop_selector");
        for(var i=0;i<ids.length;i++){
            if($(ids[i]).is(':checked')){

                if(shop_selector_ids==""){
                    shop_selector_ids = $(ids[i]).val();
                }else{
                    shop_selector_ids = shop_selector_ids + "," + $(ids[i]).val();
                }
            }
        }
        return shop_selector_ids;
    }
</script>
           <script>
              $(document).ready(function(){

                      $('#my-prompt').modal({
                      });

              })




           </script>