<%= render "shared/metable", :resource=>@vgood%>
<%=content_for :head do %>
	<%= stylesheet_link_tag "store/virtual_goods" %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
	<%= javascript_include_tag "store/virtual_goods", "gmaps"%>
<%end%>

<ul class="breadcrumb">
      <li>
            当前位置 :
      </li>
      <li>
            <a href="http://www.TRADE-V.com">首页</a> 
            <span class="divider">/</span>
      </li>
      <%@cat.cat_paths.each do |cat|%>
      <li>
            <%=link_to cat.cat_name, cat_path(cat)%>
            <span class="divider">/</span>
      </li>
      <%end%>
       <li class="active"><%=@vgood.name%></li>
</ul>

<div class="vgood clearfix" id="products">
      <div class="covers">
            <div id="cover_carousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                        <%@vgood.pictures.each_with_index do |url,index|%>
                        <div class="item <%='active' if index==0%>">
                              <%= link_to url, :class=>"jqzoom#{index+1}" do %>
                                    <%=image_tag url,:alt=>@vgood.name%>
                              <% end %>
                        </div>
                        <%end%>
                  </div>
                  <!-- Carousel nav -->
                  <a class="carousel-prev" href="#cover_carousel" data-slide="prev"><span>Prev</span></a>
                  <a class="carousel-next" href="#cover_carousel" data-slide="next"><span>Next</span></a>
            </div>
      </div>

      <div class="detail">
            <div class="brand">
                  <a href="<%=brand_path(@brand)%>" class="brand" target="_blank">
                        <%=image_tag @brand.logo_url if @brand%>
                  </a>
            </div>
            <div class="name">
                  <%=@vgood.name%>
            </div>
            <div class="price">
                  品牌店铺零售价 :  <b>&yen;<%=@vgood.price%></b>  
            </div>
            
            <div class="desc-block ">
                  <div class="info clearfix">
                        <b class="info-tl">商品说明 : </b> 
                        <span class="info-bd">
                              此款商品仅限品牌实体店销售
                              <br>
                              凭贸威VIP体验券至店铺购买可享特别优惠
                        </span>
                  </div>
                  <%if @coupon%>
                        <div class="coupon">
                              <span class="cp-title">可用VIP体验券 : </span> 
                              <span class="cp-name"><%=@coupon.name%></span>
                              <%=link_to "查看详情>>", coupon_path(@coupon), :class=>"pull-right"%>
                        </div>
                  <%end%>
            </div>

            <div class="download">
                  <%if @coupon%>
                        <%if @coupon.start?%>
                              <div class="btn btn-inverse btn-large disabled">暂未开始</div>
                        <%elsif @coupon.expired?%>
                              <div class="btn btn-inverse btn-large disabled">优惠已过期</div>
                        <%else%>
                              <%=link_to "VIP体验券免费短信下载","#{ signed_in? ? '#download' : '#' }", data: { toggle: "modal" }, :class=>"btn btn-inverse btn-large #{'login' unless signed_in? }"%>
                        <%end%>
                  <%else%>
                        <div class="btn btn-inverse btn-large disabled">暂无优惠活动</div>
                  <%end%>
            </div>
            
            <div id="rules_and_addrs">
                  <h3 class="title">
                    VIP体验说明<span class="expand"></span>
                  </h3>
                  <div class="holder rules">
                        <%=render "rules"%>
                  </div>
                  <h3 class="title">
                    店铺地址<span class="expand"></span>
                  </h3>
                  <div class="holder addrs">
                      <%=render "addresses", :addresses=>@brand.addresses.limit(2) if @brand%>
                      <%=link_to "更多店铺地址>>","#{coupon_path(@coupon)}#addrs",:class=>"pull-right more-addrs" if @coupon%>
                  </div>
            </div>
      </div>
</div>

<%=render "newin_vgoods" if @newin_vgoods.size > 0%>

<%=render "store/offline_coupons/map_modal" if @coupon%>
<%=render "store/offline_coupons/download_modal" if @coupon%>

