
<style type="text/css">

    .change_lange{
        display: none;
    }
     .bottomdivsclearfix{
         display: none
     ;
     }

</style>
<%=javascript_include_tag "area_seletor"%>
<%=javascript_include_tag "patch/member_addrs"%>
<div class="am-panel am-panel-default">
  <div class="am-panel-hd" style="text-align: center">新增收货人地址</div>
</div>
<%=form_for :addr, :url=>@method == :put ?@action_url :" /member_addrs/addship?platform=#{params[:platform]}&supplier_id=#{@supplier.id}",  :remote=>true,:method=>@method||:post,:html=>{ :class=> " form-horizontal" } do |f|%>
    <input name="return_url" type="hidden" value="<%="/orders/arrival?platform=#{params[:platform]}&supplier_id=#{@supplier.id}&member_departure_id=#{params[:member_departure_id]}"%>" >
    <input name="addr[addr_type]" type="hidden" value="0" >
    <div class="am-panel am-panel-default">

      <div class="am-panel am-panel-default">

        <div class="am-input-group">
          <span class="am-input-group-label">联系人</span>
          <input class="am-form-field" id="addr_name" name="addr[name]" placeholder="联系人" value="<%=@addr.name%>" size="30" type="text">

          <%#=f.text_field :name,  :class=>"am-form-field" ,:placeholder=>"收货人姓名"%>
        </div>
        <br/>
        <div class="am-input-group">
          <span class="am-input-group-label">手机</span>
          <input class="am-form-field" id="addr_mobile" name="addr[mobile]" placeholder="手机" value="<%=@addr.mobile%>" size="30" type="text">

          <%#=f.text_field :mobile,  :class=>"am-form-field" ,:placeholder=>"手机"%>
        </div>
        <br/>
        <div class="am-input-group">
          <span class="am-input-group-label">固定电话</span>
          <input class="am-form-field" id="addr_tel" name="addr[tel]" placeholder="固定电话"  value="<%=@addr.tel%>" size="30" type="text">

          <%#=f.text_field :tel,  :class=>"am-form-field" ,:placeholder=>"固定电话"%>
        </div>
        <br/>
        <div class="am-input-group">
          <span class="am-input-group-label">邮编</span>
          <input class="am-form-field" id="addr_zip" name="addr[zip]" placeholder="邮编" value="<%=@addr.zip%>" size="30" type="text">
          <%#=f.text_field :zip,  :class=>"am-form-field" ,:placeholder=>"邮编"%>
        </div>
        <br/>

        <div class="am-panel-hd">
          <label for="addr_area">地址</label>
          <%#=f.label :area, "收货地区：".html_safe%></div>
        <div class="am-panel-bd">
          <%=f.select :province,Ecstore::Region.provinces.collect{|p| [p.local_name,p.region_id] },{:include_blank=>"请选择省" },{ :onchange=>"selectProvince(this,'#city','#district');",:id=>"province" }%>
          <%if @addr&&@addr.city%>
              <%=f.select :city,Ecstore::Region.cities_of(@addr.province).collect{|p| [p.local_name,p.region_id] },{:include_blank=>"请选择市"},{ :onchange=>"selectCity(this,'#district');",:id=>"city" }%>
          <%else%>
              <%=f.select :city, {}, { :include_blank=>"请选择市" }, { :onchange=>"selectCity(this,'#district');",:id=>"city" }%>
          <%end%>

          <%unless @addr&&@addr.new_record?%>
              <%=f.select :district,Ecstore::Region.districts_of(@addr&&@addr.city).collect{|p| [p.local_name,p.region_id] },{:include_blank=>"请选择区/县" },{ :onchange=>"selectDistrict(this);",:id=>"district",:style=>"#{'display:none;' if @addr.district.blank? }" } %>
          <%else%>
              <%=f.select :district, {}, { :include_blank=>"请选择区/县" }, { :onchange=>"selectDistrict(this);",:id=>"district" }%>
          <%end%>
          <span class="help-inline error"></span>
        </div>
      </div>
      <!--<div class="controls" style="display:none">-->
        <!--<select id="province" name="addr[province]">-->
          <!--<option value="21" selected="selected">上海</option>-->
        <!--</select>-->
        <!--<select class="am-input-group-label" id="city" name="addr[city]">-->
          <!--<option value="1" selected="selected">上海</option>-->
        <!--</select>-->
        <!--<select id="district" name="addr[district]" onchange="selectDistrict(this);">-->
          <!--<option value="1" selected="selected">静安区</option>-->
        <!--</select>-->
      <!--</div>-->



      <div class="am-panel-hd">
        <label for="addr">详细地址</label>
        <%#=f.label :addr, "收货地址：".html_safe%></div>
      <div class="am-panel-bd">
        <%=f.text_field :addr,:class=>"span5", :id=>"addr",:class=>"am-form-field"%>
        <span class="help-inline error"></span>
      </div>
    </div>




    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">
        <label for="addr_def_addr">设置默认<em style="color: #ff0000">(选择设置为当前默认地址)</em>:</label>
        <%#=f.label :def_addr, "设置默认："%>  </div>
      <div class="am-panel-bd">
        <%=f.check_box :def_addr, {}, 1, 0 %><span><%=I18n.t "default"%></span>
        <span class="help-inline error"></span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%if @method == :put%>
            <input type="submit" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t "modify"%>">
            <%#=f.submit "修 改",:class=>"am-btn am-btn-warning am-btn-block" %>
        <%else%>
            <input type="submit" id="sub" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t "confirm"%>">
            <%#=f.submit "确认收货地址",:class=>"am-btn am-btn-warning am-btn-block" %>
        <%end%>
      </div>
    </div>
    </div>
<%end%>
<script type="application/javascript">
    $(document).ready(function(){
        $("#sub").bind("click",function(){
            if( $("#addr_name").val()=="" &&$("#addr_mobile").val()==""||$("#addr").val()=="") {
                alert("请完善联系人信息")
                return false;

            }
            else{
                $(".am-form").submit()

            }

        })
    })

</script>