
<style type="text/css">
    #province,#city,#district{
        width: 30%;
    }
</style>
<%=form_for :addr, :url=>@method == :put ? @action_url : member_addrs_path, :remote=>true,:method=>@method||:post,:html=>{ :class=> " form-horizontal" } do |f|%>
    <input type="hidden" name="platform" value="<%=params[:platform]%>">
    <div class="new-addr <%='hide' unless display==true%>" id="addr_form">
      <div class="am-panel am-panel-default">
        <div class="am-panel-hd"> <%=f.label :area, "收货地区：".html_safe%></div>
        <div class="am-panel-bd">
          <%=f.select :province,Ecstore::Region.provinces.collect{|p| [p.local_name,p.region_id] },{:include_blank=>"请选择省" },{ :onchange=>"selectProvince(this,'#city','#district');",:id=>"province" }%>
          <%if @addr&&@addr.city%>
              <%=f.select :city,Ecstore::Region.cities_of(@addr.province).collect{|p| [p.local_name,p.region_id] },{:include_blank=>"请选择市"},{ :onchange=>"selectCity(this,'#district');",:id=>"city" }%>
          <%else%>
              <%=f.select :city, {}, { :include_blank=>"请选择市" }, { :onchange=>"selectCity(this,'#district');",:id=>"city" }%>
          <%end%>

          <%unless @addr&&@addr.new_record?%>
              <%=f.select :district,Ecstore::Region.districts_of(@addr&&@addr.city).collect{|p| [p.local_name,p.region_id] },{:include_blank=>"请选择区/县" },{ :onchange=>"selectDistrict(this);",:id=>"district",:style=>"#{'display:none;' if @addr.district.blank? }" } %>
          <%else%>
              <%=f.select :district, {}, { :include_blank=>"请选择区/县" }, { :onchange=>"selectDistrict(this);",:id=>"district" }%>
          <%end%>
          <span class="help-inline error"></span>
        </div>
      </div>

      <div class="am-panel am-panel-default">
        <div class="am-panel-hd">   <%=f.label :addr, "收货地址：".html_safe%></div>
        <div class="am-panel-bd">
          <%=f.text_field :addr,:class=>"span5", :id=>"addr",:class=>"am-form-field"%>
          <span class="help-inline error"></span>
        </div>
      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-user"></i>收货人</span>

        <%=f.text_field :name,  :class=>"am-form-field" ,:placeholder=>"收货人姓名"%>
      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><i class="am-icon-mobile"></i>手机</span>

        <%=f.text_field :mobile,  :class=>"am-form-field" ,:placeholder=>"手机"%>
      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><i class=" am-icon-phone"></i>固定电话</span>
        <%=f.text_field :tel,  :class=>"am-form-field" ,:placeholder=>"固定电话"%>
      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label">邮编</span>
        <%=f.text_field :zip,  :class=>"am-form-field" ,:placeholder=>"邮编"%>
      </div>
      <br/>

      <div class="am-panel am-panel-default">
        <div class="am-panel-hd">  <%=f.label :def_addr, "设置默认："%>  </div>
        <div class="am-panel-bd">
          <%=f.check_box :def_addr, {}, 1, 0 %><span>设置为默认地址</span>
          <span class="help-inline error"></span>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%if @method == :put%>
              <%=f.submit "修 改",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%else%>
              <%=f.submit "确认收货地址",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%end%>
        </div>
      </div>
    </div>
<%end%>