<style>
    #province,#city,#district{
        width: 100%;
        height: 100%;
    }
    #addr{
        width: 100%;
        height: 10%;
    }
    .bottomdivsclearfix{
         display: none;
     }
    #_x_ctr_location_box { position:absolute;z-index:1000 ;border: 1px solid #666666; background-color: #FFFFFF; position:absolute; top:0px; left:0px; }
    #_x_str_location_title { margin-top: 5px; margin-right: 5px; margin-left: 5px; text-align:right; }
    #_x_str_location_title i { background-image: url('../Images/_x_ctr_location_btnclose.png'); width: 15px; height: 14px; display: block; margin-right: 0px; margin-left: auto; cursor: pointer; }
    #_x_ctr_location_area { padding: 5px; }
    #_x_ctr_location_area select {padding: 5px; width: 180px; }
    #_x_ctr_location_area select[xtype=must] { border: 1px solid #FF0000; padding: 5px; width: 180px; }
    #_x_ctr_location_button { padding-right: 5px; padding-bottom: 5px; padding-left: 5px; text-align:right; }
    #_x_ctr_location_button button { border: 1px solid #666666; cursor:pointer; margin-left:10px; }

    </style>


<script src="http://www.byland-t.com/js_location/Js/_x_ctr_location-1.0.min.js"></script>

  <input type="text" id="txt_area" size="30" />

<script language="javascript" type="text/javascript">
    $(function () {
        $("#txt_area").Location({ ValueControlID: "txt_Code", LastSelected: false });
    });
</script>


<%=form_for :addr, :url=>@method == :put ? @action_url : member_addrs_path, :remote=>FALSE,:method=>@method||:post,:html=>{ :class=> " form-horizontal" } do |f|%>
     <% if params[:return_url]%>
          <input type="hidden" name="return_url" value="<%=@return_url%>">
      <%else%>

      <input type="hidden" name="return_url" value="/member_addrs?platform=mobile">
          <%end%>
      <br/>
      <input type="hidden" name="platform" value="mobile">
      <div class="am-input-group">
        <span class="am-input-group-label"><%=I18n.t "name"%></span>
        <input class="am-form-field" id="addr_name" name="addr[name]" placeholder="<%=I18n.t "name"%>"value="<%=@addr.name%>">


      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><%=I18n.t "m_phone"%></i></span>
        <input class="am-form-field" id="addr_mobile" name="addr[mobile]" placeholder="<%=I18n.t "m_phone"%>" value="<%=@addr.mobile%>">


      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><%=I18n.t "tel"%></span>
        <input class="am-form-field" id="addr_tel" name="addr[tel]" placeholder="<%=I18n.t "tel"%>" value="<%=@addr.tel%>">


      </div>

      <div class="am-input-group">
        <span class="am-input-group-label"><%= I18n.t "express_code"%></span>
        <input class="am-form-field" id="addr_zip" name="addr[zip]" placeholder="<%=I18n.t "express_code"%>" size="30" type="text">

      </div>
      <br/>
      <div class="">
        <span class=""><%= I18n.t "address_detail"%></span>

        <%=f.text_area :addr, :id=>"addr", :cols=>"0",:rows=>"0"%>
        <span class="help-inline error"></span>
      </div>

      <dl class="connerbox" style="display:none"><dd><span> <%=f.label :def_addr, "设置为默认地址：",:class=>"text_input"%></span>
        <span class="form_td"><input name="addr[def_addr]" type="hidden" value="1" checked="true" /></span>
      </dd></dl>
      <br/>
      <div class="ui-btn-area">
        <%if @method == :put%>
            <input type="submit" class="am-btn am-btn-warning am-btn-block "  value="<%=I18n.t "confirm"%>">

        <%else%>
            <input type="submit" class="am-btn  am-btn-warning am-btn-block  "   value="<%=I18n.t "confirm"%>">

        <%end%>
      </div>

  <%end%>
</div>
  <script>
   $(".am-btn-block").click(function(){
       var mobile=$("#addr_mobile").val()

       if(mobile.length==0)
       {
           alert('请输入手机号码！');

           return false;
       }
       if(mobile.length!=11)
       {
           alert('请输入有效的手机号码！');

           return false;
       }

       var myreg = /^(((13[0-9]{1})|159|153)+\d{8})$/;
       if(!myreg.test(mobile))
       {
           alert('请输入有效的手机号码！');

           return false;
       }


   })





  </script>