
<style type="text/css">
    #province,#city,#district{
        width: 30%;
    }
    .change_lange,.bottomdivsclearfix{
        display: none;
    }

</style>


<%=form_for :addr, :url=>@method == :put ?@action_url :" /member_addrs",  :remote=>true,:method=>@method||:post,:html=>{ :class=> " form-horizontal" } do |f|%>
     <input name="return_url" type="hidden"value="<%="/orders/departure?platform=#{params[:platform]}&supplier_id=98"%>">
    <input name="addr[addr_type]" type="hidden" value="1" >
    <input name="goods_id" type="hidden" value="<%=params[:goods_id]%>">

      <div class="am-panel am-panel-default">

        <div class="am-panel am-panel-default">

          <div class="am-input-group">
            <span class="am-input-group-label">联系人</span>
            <input class="am-form-field" id="addr_name" name="addr[name]" placeholder="联系人" value="<%=@addr.name%>" size="30" type="text">

            <%#=f.text_field :name,  :class=>"am-form-field" ,:placeholder=>"收货人姓名"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label">手机</span>
            <input class="am-form-field" id="addr_mobile" name="addr[mobile]" placeholder="手机" value="<%=@addr.mobile%>" size="30" type="text">

            <%#=f.text_field :mobile,  :class=>"am-form-field" ,:placeholder=>"手机"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label">固定电话</span>
            <input class="am-form-field" id="addr_tel" name="addr[tel]" placeholder="固定电话"  value="<%=@addr.tel%>" size="30" type="text">

            <%#=f.text_field :tel,  :class=>"am-form-field" ,:placeholder=>"固定电话"%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label">邮编</span>
            <input class="am-form-field" id="addr_zip" name="addr[zip]" placeholder="邮编" value="<%=@addr.zip%>" size="30" type="text">
            <%#=f.text_field :zip,  :class=>"am-form-field" ,:placeholder=>"邮编"%>
          </div>
          <br/>



        <div class="controls" style="display:none">
          <select id="province" name="addr[province]">
            <option value="21" selected="selected">上海</option>
          </select>
          <select class="am-input-group-label" id="city" name="addr[city]">
            <option value="1" selected="selected">上海</option>
          </select>
          <select id="district" name="addr[district]" onchange="selectDistrict(this);">
            <option value="1" selected="selected">静安区</option>
          </select>
        </div>


        <div class="am-panel-hd">
            <label for="addr">详细地址</label>
            <%#=f.label :addr, "收货地址：".html_safe%></div>
          <div class="am-panel-bd">
            <% if session[:zhuanghuo]%>
            <%=f.text_field :addr,:class=>"span5", :id=>"addr",:class=>"am-form-field", :value => session[:zhuanghuo]%>
                <%else%>
                <%=f.text_field :addr,:class=>"span5", :id=>"addr",:class=>"am-form-field"%>
                <%end%>
            <span class="help-inline error"></span>
          </div>
        </div>




      <div class="am-panel am-panel-default">
        <div class="am-panel-hd">
          <label for="addr_def_addr"><%=I18n.t "set_default"%><em style="color: #ff0000">(选择设置为当前默认地址)</em>:</label>
          <%#=f.label :def_addr, "设置默认："%>  </div>
        <div class="am-panel-bd" id="choose_default">
          <%=f.check_box :def_addr, {}, 1, 0 %><span><%=I18n.t "default"%></span>
          <span class="help-inline error"></span>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%if @method == :put%>
              <input type="button" id="sub" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t "modify"%>">
              <%#=f.submit "修 改",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%else%>
              <input type="button" id="sub" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t "confirm"%>">
              <%#=f.submit "确认收货地址",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%end%>
        </div>
      </div>
    </div>
<%end%>
<script type="application/javascript">
    $(document).ready(function(){
        $("#choose_default").bind("click",function(){
                var dd=$("#chufadizi").val() ;
            var cityarrer=choosecity(dd);

            checkbox($("#addr_def_addr"));
        })

        $("#sub").bind("click",function(){
            if( $("#addr_name").val()=="" &&$("#addr_mobile").val()==""||$("#addr").val()=="") {
                alert("请完善联系人信息")
                return false;

            }
            else{
                $(".form-horizontal").submit()

            }

        })



    })

</script>