if($("#main").hasClass("member_addrs")){
	window.location.href = '/member_addrs?supplier_id=<%=@supplier.id if @supplier%>';
	return;
}

var addrLine = '<label class="radio active">'+
					'<%=radio_button_tag "member_addr", @addr.addr_id,:checked=>true%> '+
					'<span class="addr-line"><%=@addr.addr_line%></span>'+
					'<%=link_to "修改",edit_member_addr_path(@addr),:class=>"update-link",:remote=>true%>'+
				'</label>';


if($("#member_addr_new").length > 0){
	$("#member_addr_new").parent("label.radio").before(addrLine);//.removeClass("active");
}else{
	$(".addr-list").append(addrLine);
}
$("#member_addr").val('<%=@addr.addr_id%>');
$("#addr_form").addClass("hide");