

<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>




    <h4>您的地址信息
<a href="/member_addrs/<%=@newurl%>" class="btn btn-primary pull-right" >新增收货地址</a>   </h4>
<br>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>收货人</th>
        <th>所在地区</th>
        <th>收货地址</th>
        <th>手机</th>
        <th>默认</th>
        <th colspan="3" style="text-align: center">操作</th>
      </tr>
      </thead>
      <tbody>
      <%if @addrs && @addrs.size > 0%>
          <%@addrs.each  do |addr|%>
              <tr class="<%='success' if addr.def_addr%>">
                <td><%=addr.name%></td>
                <td><%=addr.display_area%></td>
                <td><%=addr.addr%></td>

                <td><%=addr.mobile%></td>
                <td><%=addr.def_addr ? "是" : "否"%></td>
                <td>  <%=link_to "修改",edit_member_addr_path(id:addr,platform:params[:platform])%>  </td>
                <td> <%=link_to "删除",member_addr_path(id:addr,platform:params[:platform]),:method=>:delete,:confirm=>"确定要删除吗？"%>  </td>
                <td>  <%=link_to "设为默认",member_addr_path(id:addr,platform:params[:platform],"addr[def_addr]"=>1),:method=>:put unless addr.def_addr%>
                </td>
              </tr>
          <%end%>
      <%else%>
          <tr class="no-record">
            <td colspan="5">您还没有收货地址</td>
          </tr>
      <%end%>

      </tbody>
    </table>



  </br>


<div class="pagination">
  <%=will_paginate @addrs,:container=>false%>
</div>
