

<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>

<div class="am-panel-group">

  <section class="am-panel am-panel-warning" >
    <div class="am-panel-hd" style="text-align: center">您的地址信息</div>
    <table class="am-table">
      <thead>
      <tr>
        <th>收货人</th>
        <th>所在地区</th>
        <th>收货地址</th>
        <th>手机</th>
        <th>默认</th>
        <th>操作</th>
        <th>删除</th>
        <th> 设为默认</th>
      </tr>
      </thead>
      <tbody>
      <%if @addrs && @addrs.size > 0%>
          <%@addrs.each  do |addr|%>
              <tr class="<%='success' if addr.def_addr%>">
                <td><%=addr.name%></td>
                <td><%=addr.display_area%></td>
                <td><%=addr.addr%></td>

                <td><%=addr.mobile%></td>
                <td><%=addr.def_addr ? "是" : "否"%></td>
                <td>  <%=link_to "修改",edit_member_addr_path(id:addr,platform:params[:platform])%>  </td>
                 <td> <%=link_to "删除",member_addr_path(id:addr,platform:params[:platform]),:method=>:delete,:confirm=>"确定要删除吗？"%>  </td>
                <td>  <%=link_to "设为默认",member_addr_path(id:addr,platform:params[:platform],"addr[def_addr]"=>1),:method=>:put unless addr.def_addr%>
                </td>
              </tr>
          <%end%>
      <%else%>
          <tr class="no-record">
            <td colspan="5">您还没有收货地址</td>
          </tr>
      <%end%>

      </tbody>
    </table>


  </section>
  </br>
      <a href="/member_addrs/new_memberaddr_add?supplier_id=<%=@supplier.id%>" class="am-btn am-btn-warning">新曾收货地址</a>
</div>
<div class="pagination">
  <%=will_paginate @addrs,:container=>false%>
</div>
