
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>

<div class="am-panel am-panel-warning" style="text-align: center">
  <div class="am-panel-hd"><%= I18n.t "address"%></div>
</div>
<div class="am-panel am-panel-default">
  <%if @addrs && @addrs.size > 0%>
      <%@addrs.each  do |addr|%>
          <a id="addressLink" href="/member_addrs/<%=addr.id%>/edit?supplier_id=<%=@supplier.id%>&platform=mobile">
            <div class="am-panel-bd">
              <span class="text">&nbsp;&nbsp;<%=addr.name%>  <span class="phone-num" style="margin-left: 30px"><%=addr.mobile%></span></span>
              <br/>
              <span class="text2">&nbsp;&nbsp;<%=addr.addr%></span>
              <span class="icon-arr" >修改</span>

            </div>  </a>

      <%end%>
      </div>
  <%else%>
      <div class="am-panel-bd">
        <span>您还没有收货地址</span>
      </div>
  <%end%>
  <div class="am-panel am-panel-default">
    <a href="/member_addrs/<%=@newurl%>" >
      <div class="am-panel-bd">
        <span class="text" style="font-size: 20px"><%=I18n.t "new_addr"%>  </span>
        <span class="icon-arr"></span>  </div>
    </a>
  </div>
  </div>








  </br>

  <div class="pagination">
    <%=will_paginate @addrs,:container=>false%>
  </div>
