<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" type="text/css" href="/assets/mobile/jd/base.css" charset="gbk"/>

<link rel="stylesheet" type="text/css" href="/assets/mobile/jd/extend.css" charset="gbk"/>
<link rel="stylesheet" type="text/css" href="/assets/mobile/jd/hotel.css" charset="gbk"/>
<link rel="stylesheet" type="text/css" href="/assets/mobile/jd/airline.css" charset="gbk"/>

<script type="text/javascript">
      var _winLocation=window.location.href;//获得当前页面的路径，根据路径规则进行逐页替换
      var _isWebKit = '__proto__' in {};//是否是webkit内核
      if(_isWebKit){//如果是webkit内核，则分模块使用zepto
        //要使用zeptojs的路径列表，可以做为分模块替换的开关
        var _locationList=new Array();
        //活动模块
        _locationList.push('../activity/proActList');
        _locationList.push('../activity/proActWareList');
        _locationList.push('../activity/list');
        //商品分类模块
        _locationList.push('../category/');
        //京东快讯模块
        _locationList.push('../newslist.html');
        _locationList.push('../newslist/');
        _locationList.push('../news/');
        //机票模块
        _locationList.push('../airline/');
        //酒店模块
        _locationList.push('../hotel/');
        //团购模块
        _locationList.push('../tuan/');
        //首页相关
        _locationList.push('../hotbrand.html');//品牌馆
        //商品筛选相关
        _locationList.push('../ware/expandSort.action');
        _locationList.push('../ware/categoryFilter.action');
        _locationList.push('../ware/search.action');
        _locationList.push('../products/');
        
        _locationList.push('../notice/');//通告模块
        _locationList.push('../coupons/');//随地惠模块
        _locationList.push('../chongzhi/');//手机充值模块
        _locationList.push('../comment/');//手机推荐模块
        _locationList.push('../pay/');//支付
        _locationList.push('../order/');//订单
        var _needReplace = false;
        //如果当前路径符合要使用的路径规则，则进行替换
        for(var i=0;i<_locationList.length;i++){
          if(_winLocation.indexOf(_locationList[i])!=-1){
            _needReplace=true;
            break;
          }
        }
        //如果是首页的话，则使用zepto
        var _tmp = _winLocation.replace(/(^http:\/\/)|(\/*$)/g,'');
        if(_tmp.indexOf('/')<0 || (_tmp.split('/').length<=2 && _tmp.indexOf('/index')>=0)){
          _needReplace=true;
        }
        //如果是商品详情页的话，则使用zepto
        var _dlocationList=new Array();
        _dlocationList.push(/\/product\/([0-9]+)\.html/);
        _dlocationList.push(/\/orderComment\/([0-9]+)\.html/);
        _dlocationList.push(/\/consultations\/([0-9]+)\.html/);
        _dlocationList.push(/\/consultations\/([0-9]+)-([0-9]+)\.html/);
        _dlocationList.push(/\/comments\/([0-9]+)\.html/);
        for(var i=0,len=_dlocationList.length;i<len;i++){
          if(_dlocationList[i].test(_winLocation)){
            _needReplace=true;
            break;
          }
        }
        if(_needReplace){
          document.write('<script src="/assets/mobile/jd/zepto.min.js"><\/script>');
          document.write('<script type="text/javascript">window.jQuery=window.Zepto;<\/script>');
        }else{
          document.write('<script src="/assets/mobile/jd/jquery-1.6.2.min.js"><\/script>');
        }
      }else{//如果是非webkit内核直接使用jquery
        document.write('<script src="/assets/mobile/jd/jquery-1.6.2.min.js"><\/script>');
      }
      </script>
      <script type="text/javascript" src="/assets/mobile/jd/html5/common.js"></script>
      <script type="text/javascript" src="/assets/mobile/jd/html5/spin.min.js"></script>
    </head>

    <body id="body">
      <a name="top"></a>
      <header>
        <div class="new-header">
          <a href="javascript:pageBack();" class="new-a-back" id="backUrl"><span>返回</span></a>
          <h2>购物车</h2>
          <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span>京东键</span></a>
        </div>
        <div class="new-jd-tab" style="display:none" id="jdkey">
          <div class="new-tbl-type">
            <a href="../index.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
              <span class="icon">首页</span>
              <p style="color:#6e6e6e;">首页</p>
            </a>
            <a href="../category/all.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
              <span class="icon2">分类搜索</span>
              <p style="color:#6e6e6e;">分类搜索</p>
            </a>
            <a href="javascript:void(0)" id="html5_cart" class="new-tbl-cell">
              <span class="icon3">购物车</span>
              <p style="color:#6e6e6e;">购物车</p>
            </a>
            <a href="../user/home.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
              <span class="icon4">我的贸威</span>
              <p style="color:#6e6e6e;">我的贸威</p>
            </a>
          </div>
        </div>
      </header>

      <body class="cart list">
        <div style="width:100%;z-index:1001;position:absolute;overflow:hidden;background:rgba(145, 145, 145, .4);display:none" id="background" >
        </div>
        <div class="m" id="m">
          <div class="blank"></div>
          <div class="mt"><h2>我的购物车</h2></div>
          <div>
            <div class="icon-cart">
              <%if @line_items%>
                <ul>
                  <li>
                    <div class="p_img_title">
                    </div>
                    <div class="p_info_title">
                      商品
                    </div>
                    <div class="p_price_title">
                      单价
                    </div>
                    <div class="p_num_title">
                      数量
                    </div>
                    <div class="p_num_title">
                      总价
                    </div>
                  </li>
                  <%@line_items.select{ |x| x.good.present? && x.product.present? }.each do |line_item|%>
                    <li style="float:left;width:100%;">
                      <div class="p_img">
                          <%=link_to good_path(line_item.good.bn),:target=>"_blank" do%>
                              <%=image_tag line_item.good.medium_pic,:size=>"50x50"%>
                          <%end%>
                      </div>
                      <div class="p_info">
                        <%if line_item.good.default_image&&line_item.product.list_pictures.first.blank?%>
                          <%=link_to truncate2(line_item.product.name,:length=>8),"/product-"+line_item.good.goods_id.to_s+".html",:target=>"_blank"%>
                        <%else%>
                          <%=link_to truncate2(line_item.product.name,:length=>8),good_path(line_item.good.bn),:target=>"_blank"%>
                        <%end%>
                      </div>
                      <div class="p_price">
                        <% if cookies[:MLV] == "10" %>
                            ￥<%= format('%.2f',line_item.product.bulk)%>
                        <%else%>
                            ￥<%= format('%.2f',line_item.product.price)%>
                        <%end%>
                      </div>
                      <div class="p_num">
                        <%=number_field_tag :quantity,line_item.quantity.to_i,:class=>"textcenter quantity",:size=>1,:min=>1,:'data-url'=>cart_path(line_item.obj_ident)%>
                      </div>
                      <div class="p_num">
                        <% if cookies[:MLV] == "10" %>
                            ￥<%=(line_item.product.bulk*line_item.quantity)%>
                        <%else%>
                            ￥<%=(line_item.product.price*line_item.quantity)%>
                        <%end%>
                      </div>
                    </li>
                  <%end%>
                  <li style="border-top:1px solid #ccc;padding-top:5px;float:left;width:95%;">
                    <div class="p_num_bottom">
                      总金额 :
                    </div>
                    <div class="p_num_bottom">
                      ￥<%= format('%.2f',@cart_total)%>
                    </div>
                    <div class="p_num_bottom_right">
                      <a href="/orders/new_mobile?supplier_id=<%=@supplier.id%>" data-islogin="true" class="fr btn_sure black_btn" data-shopcarthide="true" data-counttime="true" data-carttime="1196">安全结算
                      </a>
                      <div class="fr cart_time_smb">
                        <div class="clockicon fl"></div>
                      </div>
                    </div>
                  </li>
                </ul>
              <%else%>
                <span></span>
                  <p>
                  您的购物车暂时没有商品，
                  <a href='#' >登录&gt;&gt;</a>
                  将显示您之前保存的商品
                  </p>
                  <p>去<a href='#'>首页</a>挑选喜欢的商品</p>
              <%end%>    
              </div>
            </div>
            <input type="hidden" id="cartNum" value="" />
          </div>
        </body>
        <input type="hidden" id="resourceType" value="" />
        <input type="hidden" id="resourceValue" value="" />
        <script type="text/javascript" src="/assets/mobile/jd/html5/cart.js"></script>
        <script>

        $(document).ready(function(){
          if(!isBlank(location.hash.replace(/#/g,""))){
            location.hash='';
            location.reload();
          }
          document.getElementById("background").style.height=document.getElementById("m").scrollHeight+20+"px";
      if(isBlank('')) //no product
      {
        clearCart();
      }else{
        judgeSubmit('$realPrice');
      }
    });
        </script>


        <div class="login-area" id="footer">
          <div class="login">
            <a href="../user/login.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911">登录</a><span class="lg-bar">|</span><a href="../user/mobileRegister.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911">注册</a>
            <span  class="new-fr"><a href="../showvote.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911">反馈</a><span class="lg-bar">|</span><a href="#top">回到顶部</a></span>
          </div>
          <div class="version"><a href="../index.html@v=w&sid=e0d0f025d6d3e8e8d7be5428c43ef911">标准版</a><a href="javascript:void(0)" class="on">触屏版</a><a href="../index/pcsite.action" id="toPcHome">电脑版</a></div>
          <div class="copyright">&copy; m.trade-v.com </div>
        </div>
        <script type="text/javascript">
        $("#unsupport").hide();
if(!testLocalStorage()){ //not support html5
  if(0!=0 && !$clearCart && !$teamId){
    $("#html5_cart_num").text(0>0>0);
  }
}else{
  updateToolBar('');
}

$("#html5_cart").click(function(){
//  syncCart('e0d0f025d6d3e8e8d7be5428c43ef911',true);
location.href='cart.action';
});

function reSearch(){
  var depCity = window.sessionStorage.getItem("airline_depCityName");
  if(testSessionStorage() && isNotBlank(depCity) && !/^\s*$/.test(depCity) && depCity!=""){
    var airStr = '<form action="../airline/list.action" method="post" id="reseach">'
    +'<input type="hidden" name="sid"  value="e0d0f025d6d3e8e8d7be5428c43ef911"/>'
    +'<input type="hidden" name="depCity" value="'+ window.sessionStorage.getItem("airline_depCityName") +'"/>'
    +'<input type="hidden" name="arrCity" value="'+ window.sessionStorage.getItem("airline_arrCityName") +'"/>'
    +'<input type="hidden" name="depDate" value="'+ window.sessionStorage.getItem("airline_depDate") +'"/>'
    +'<input type="hidden" name="depTime" value="'+ window.sessionStorage.getItem("airline_depTime") +'"/>'
    +'<input type="hidden" name="classNo" value="'+ window.sessionStorage.getItem("airline_classNo") +'"/>'
    +'</form>';
    $("body").append(airStr);
    $("#reseach").submit();
  }else{
    window.location.href='../airline/index.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911';
  }
}
 //banner 关闭点击
 $('.div_banner_close').click(function(){
  $('#div_banner_header').unbind('click');
  jQuery.post('../index/addClientCookieVal.json',function(d){
    $('#div_banner_header').slideUp(500);
  });
});
    //banner 下载点击
    $('.div_banner_download').click(function(){
     var downloadUrl = $(this).attr('url');
     jQuery.post('../index/addClientCookieVal.json',function(d){
       window.location.href=downloadUrl;
     });
   });

    </script>
  </body>