<style>
    input.textcenter {
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: 40px;
        border: solid 1px #ccc;
    }
</style>
<div class="space10"></div>

<h2 class="order_sendby clearfix">
  <span style="display:none">	供应商发货,</span>
</h2>
<div id="cart">
  <%@line_items.select{ |x| x.good.present? && x.product.present? }.each do |line_item|%>
      <div class="cartdiv" id="line_<%=line_item.obj_ident%>">
        <div class="cartlist clearfix">

          <div class="space10"></div>
          <div class="cartlistinner clearfix">
            <a href="\mproducts?id=<%=line_item.good.bn%>&supplier_id=99 class="cart_orderlist_i">
            <img src="<%=line_item.good.medium_pic%>"
                 data-original="<%=line_item.good.medium_pic%>"
                 data-onerror="<%=line_item.good.medium_pic%>"
                 width="80" height="101" data-brandlazy="true" style="display: inline;">
            </a>
            <div class="cart_orderlist_info"> <a href="\mproducts?id=<%=line_item.good.bn%>&supplier_id=99">
              <p class="cart_g_name"><%=line_item.product.name%></p>
              <p class="cart_b_name"><%=line_item.good.brand.brand_name%></p>
              <p class="fontgrey"><%=line_item.good.spec_info%></p>
              <p class="space5"></p>
            </a>
              <div class="space5"></div>
              <div class="goods_Cnum clearfix" id="goods_Cnum">
                <div class="good_data_num J_pro_num_btn_cart" data-product="68671252" style="border:none;height:33px;">
            	 <span class="good_data_num_l J_num_cart_reduce" style="display:none">
            	 	<a href="javascript:;" mars_sead="cart_edit_btn" data_mars="prd_id:26038564">-</a>
				 </span>
                  <em class="good_data_num_m J_num_cart_txt">
                    <%=number_field_tag :quantity,line_item.quantity.to_i,:class=>"textcenter quantity good_data_num_m J_num_cart_txt",:size=>3,:min=>1,:'data-url'=>cart_path(line_item.obj_ident)%>
                  </em>
				 <span class="good_data_num_r J_num_cart_add" onclick="VsmCart.addNum(this)" style="display:none">
				 	<a href="javascript:;" mars_sead="cart_edit_btn" data_mars="prd_id:26038564">+</a>
				</span>
                </div>
              </div>
            </div>
            <a class="cart_orderlist_p" href="\mproducts?id=<%=line_item.good.bn%>&supplier_id=99" target="_blank"  style="display:block">
              <span class="c_price">¥<%= format('%.2f',line_item.good.price)%></span>
              <span class="fontstyle">¥<%= format('%.2f',line_item.good.mktprice)%></span>
            </a>
		<span class="delete">

           <a href="<%="#{cart_path(line_item.obj_ident)}?platform=mobile"%>" class="delete" data-method="delete" data-remote="true" rel="nofollow"  mars_sead="cart_delect_btn">
             <img src="/assets/mobile/scan_layer-33.png" width="22" height="22">
           </a>
		</span>
          </div>
        </div>
        <div class="orderaction clearfix">

          <div class="fl"></div>

          <p class="fr"><span class="c_price line-total"> ¥<%=(line_item.product.price*line_item.quantity)%> </span></p>

          <div class="clear"></div>

        </div>
      </div>
  <%end%>
  <div class="bottomdiv clearfix">
    <div class="inner clearfix">
      <div class="fl">
        <p class="cart_total modal-footer">总金额：<span class="c_t_price total">¥<%= format('%.2f',@cart_total)%> </span></p>
      </div>
      <a href="/orders/new_mobile" data-islogin="true" class="fr btn_sure" data-shopcarthide="true" data-counttime="true" data-carttime="1196">
        结算
      <span class="fr cart_time_smb"><span class="clockicon fl"></span>
        <span class="num_cunt"><span class=":">19</span><span>:</span><span>42</span><span></span></span></span>
      </a>
    </div>
  </div>
</div>
<%= javascript_include_tag "jquery", "jquery_ujs" %>
<script>

    $(document).ready(function(){

        $(" .quantity").on("change",function(){
            var quantity = $(this).val();
            if(!/\d+/.test(quantity)) return false;
            var url = $(this).data('url');
            $.ajax(url,{
                type: "PUT",
                data:{ quantity:quantity },
                success:function(res){
                }
            });
        });
    });
</script>