
<style>
    .help-block {color:red;}
</style>

<header id="header" class="header clearfix">

  <div class="head_left fl"><a href="#"><span class="h_back"></span></a></div>
  <span class="headtit">login in</span>
  <div class="head_right fr"><a href="/m/" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>

<%=form_for :visitor,:url=>"/visitors/login_in",:remote=>true,:html=>{:id=>"register_form"} do |f|%>
    <div class="connerdiv">
	<span>
          <%=f.hidden_field :shop_id, :value=>@shop_id%>
	  <%=f.hidden_field :return_url,{:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
	</span>
      <dl class="connerbox">
        <dd><span class="form_hd">tel：</span><span class="form_td">
        <%=f.text_field :visitor_name,:class=>"text_input",:placeholder=>"name"%>
      </span>
          <div class="help-block" rel="user_login_name"></div>
        </dd>
        <dd><span class="form_hd">lpassword：</span><span class="form_td">
        <%=f.password_field :visitor_password,:class=>"text_input",:placeholder=>""%>
      </span>
          <div class="help-block" rel="user_login_password"></div>
        </dd>
        
      </dl>
      <div class="space15"></div>
      <div id="login_msg" style="color:red;font-size:12pt;"></div>
      <div>
      <%=f.submit "login",:class=>"btn_red largerbtn longbtn"%>
	<div>
	<a href='/visitors/register?shop_id=<%=@shop_id%>'/>
      <input type="button" value='register'/>
	</div>
      </div>
<%end%>

