
<style>
    .help-block {color:red;}
        .bottomdivsclearfix{
            display: none;
        }
</style>

<div class="main">
  <br>
<%=form_for :visitor,:url=>"/visitors/login_in",:remote=>true,:html=>{:id=>"register_form"} do |f|%>

          <%= hidden_field_tag :return_url, params[:return_url]%>
          <%=f.hidden_field :shop_id, :value=>@shop_id%>



      <div class="am-input-group">
        <span class="am-input-group-label">用户名:</span>
        <%=f.text_field :visitor_name,:class=>"am-form-field",:placeholder=>"姓名"%>
    </div>
      <br>
      <div class="am-input-group">
        <span class="am-input-group-label">密码:</span>
        <%=f.text_field :visitor_password,:class=>"am-form-field",:placeholder=>"密码"%>
      </div>
      <br>











      <%=f.submit "登陆",:class=>"am-btn am-btn-primary am-btn-block"%>



<%end%>
   </div>
<a href='/visitors/register?shop_id=<%=@shop_id%>' class="am-btn am-btn-default"> 注册</a>
