<style>
    .bottomdivsclearfix{
        display: none;
    }
    .am-panel-default{
        position:relative;
    }
    .icon-arr {
        position: absolute;
        top: 60px;
        right: 10px;
        width: 10px;
        height: 15px;

        background-size: 100px 100px;
    }



</style>
<%if @line_items.size > 0%>

    <div class="am-panel am-panel-default">
      <div class="am-panel-hd"><%=I18n.t "details_consignee"%></div>
      <div class="am-panel-bd">
          <span class="text">&nbsp;&nbsp;<%=@def_addr.name%>  <span class="phone-num" style="margin-left: 30px"><%=@def_addr.mobile%></span></span>
          <br/>
          <span class="text2">&nbsp;&nbsp;<%=@def_addr.addr%></span>
           <span class="icon-arr" ><%=I18n.t "modify"%></span>

      </div>  </a>
    </div>
     <div>

    <%=form_for :order,:url=>"#{orders_path}?platform=shop",:html=>{ :class=>"am-form",:id=>"order_form" } do |f|%>
        <%=hidden_field_tag "member_addr",@def_addr&&@def_addr.id%>
        <%=f.hidden_field :shop_id,:value=>@shop_id%>
        <div class="am-panel am-panel-warning" data-collapse="true" data-style="arrow" style="display:none">
          <div class="am-panel-hd"><%= I18n.t "delivery_time"%></div>
          <div class="am-panel-bd">
            <div class="in_pay clearfix ">
              <%=f.select :ship_day,ship_day_options%>&nbsp;&nbsp;&nbsp;
              <%=f.text_field :ship_special,:class=>"input-small hide datetime"%>
              <%=f.select :ship_time2,ship_time_options%>
            </div>
          </div>
        </div>

        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow" style="display:none">
          <div class="am-panel-hd"><%= I18n.t "delivery_options"%></div>
          <div class="am-panel-bd">
            <label class="radio active">
              <%if  @cart_total >=350 %>
                  <label><%=I18n.t "order_notice_three"%></label>
              <%else%>
               <%=f.radio_button :shipping_id, 0%><span class="addr-line"><%= I18n.t "self_options"%></span>
            </label>
            <label class="radio" style="margin-left: 40px;padding: 2px">
              <%=f.radio_button :shipping_id, 1, :checked=>true%> <%= I18n.t "express"%>
              <span class="extra-info">+ ￥<%=@cart_freight%></span>
                <%end%>
            </label>
          </div>
        </div>


          <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
            <div class="am-panel-hd"><%= I18n.t "pay_options"%></div>
            <div class="am-panel-bd">

              <label class="radio active" style="margin-left: 40px;padding: 2px">
                <%=f.radio_button :payment, "wxpay",:checked=>true %>
                <%= I18n.t "wechat"%>
              </label>
              <label class="radio " style="margin-left: 40px;padding: 2px">
                <%=f.radio_button :payment, "alipaywap" %><%= I18n.t "alipay_mobile"%>
              </label>

              </label>
            </div>
            <div class="am-panel-hd"><%= I18n.t "pay_detail"%></div>
          </div>
        </div>

        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow" style="display:none">
          <div class="am-panel-hd"><%= I18n.t "invoice"%></div>
          <div class="am-panel-bd">
            <input class="text_input w100" id="order_tax_company" name="order[tax_company]" placeholder="<%=I18n.t "details_invoice"%>" size="30" type="text">

          </div>
        </div>

        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow" style="display:none">
          <div class="am-panel-hd"><%= I18n.t "order_notice"%>   <span style="color: #ff0000"><%= I18n.t "order_notice_one"%></span> <br/>
              <span><%= I18n.t "order_notice_two"%></span>
          </div>
          </div>
        </div>


        <div class="am-panel am-panel-default"  data-collapse="true" data-style="arrow">
          <div class="am-panel-hd"><%= I18n.t "order_details_price"%></div>
          <div class="am-panel-bd">
            <span class="bg-border"><span class="icon"></span></span>
           <% @cart_total_by_supplier.each(:as => :hash) do |row|%>
                <p style="display:none"><%="#{row["supplier_id"]}|#{row["total"]}|#{row["freight"]}"%></p>
            <%end%>
            <p>&nbsp;<%= I18n.t "order_goods_price"%>：<span class="fr  " id="order_amount" data-amount = "<%=@cart_total%>">¥<%=@cart_total%>&nbsp;</span></p>
            <p>&nbsp;<%= I18n.t "express_price"%>：
                  <span class="fr">¥<%=@cart_freight%>&nbsp;</span></p>
            <p>&nbsp;优惠：<span class="fr">¥<%=@favorable_terms%>&nbsp;</span></p>
            <p>&nbsp;<%= I18n.t "overall"%>：<span class="fr" style="color: red">¥<%=@cart_total_final%>&nbsp;</span></p>
            <input type="hidden" name="payable" value="">
            <span class="bg-border2"></span>
          </div>
        </div>
            <input type="submit" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t 'confirm_order'%>">
    <%end%>
<%else%>
    <p><%=I18n.t "order_notice_four"%>。
      <a id="addressLink" href=""></a></p>

<%end%>
<br/>
<br/>


