
<style>
    .help-block {color:red;}
</style>
<script>
 $(document).ready(function(){

   $('#visitor_visitor_name').blur(function(){
 //var name = $("#visitor_visitor_name").val();
var name =document.getElementById('visitor_visitor_name').value
    $.ajax({
	type: 'get',
	url: '/visitors/istrue?visitor_name='+name,
	success:function(date){
alert(date)
	}


	});
    });


});

</script>
<header id="header" class="header clearfix">
  <div class="head_left fl"><a href="#"><span class="h_back"></span></a></div>
  <span class="headtit">register user</span>
  <div class="head_right fr"><a href="/m/" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>

<%=form_for :visitor,:url=>"/visitors/register_user",:remote=>true,:html=>{:id=>"register_form"} do |f|%>
    <div class="connerdiv">
	<span>
         <%=f.hidden_field :shop_id, :value=>@shop_id%>
	</span>
      <dl class="connerbox">
        <dd><span class="form_hd">tel：</span><span class="form_td">
<<<<<<< HEAD
        <%=f.text_field :visitor_tel,:class=>"text_input",:placeholder=>"tel"%>
=======
        <%=f.text_field :visitor_name,:class=>"text_input",:placeholder=>"name"%>
>>>>>>> 896dafebe2ab348b1366f1ef9b4dd0434eaf2667
        
      </span>
          <div class="help-block" rel="user_login_name"></div>
        </dd>
        <dd><span class="form_hd">password：</span><span class="form_td">
        <%=f.password_field :visitor_password,:class=>"text_input",:placeholder=>""%>
      </span>
          <div class="help-block" rel="user_login_password"></div>
        </dd>
        <dd><span class="form_hd">password：</span><span class="form_td">
        <%=f.password_field :visitor_password,:class=>"text_input",:placeholder=>""%>
      </span>
          <div class="help-block" rel="user_login_password"></div>
        </dd>

      </dl>
      <div class="space15"></div>
      <div id="login_msg" style="color:red;font-size:12pt;"></div>
      <%=f.submit "register",:class=>"btn_red largerbtn longbtn"%>

<%end%>

