<h1>Listing public_accounts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weixin Server Url</th>
      <th>Weixin Token</th>
    </tr>
  </thead>

  <tbody>
    <% @public_accounts.each do |public_account| %>
      <tr>
        <td><%= public_account.name %></td>
        <td><%= weixin_engine.weixin_server_url(public_account.weixin_secret_key) %></td>

        <td><%= public_account.weixin_token %></td>
        <td><%= link_to 'Show', public_account %></td>
        <td><%= link_to 'Edit', edit_public_account_path(public_account) %></td>
        <td><%= link_to 'Destroy', public_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New public_account', new_public_account_path %>
