<h4>
	页脚
	<%=link_to "新建页脚",new_admin_footer_path,:class=>"btn btn-primary pull-right"%>
</h4>
<br>
<table class="table table-striped table-bordered">
	<tr>
		<th>名称</th>
		<th>更新时间</th>
		<th>操作</th>
	</tr>
	<%@footers.each do |footer|%>
	<tr>
		<td><%=footer.title%></td>
		<td><%=footer.updated_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
		<td>
			<%=link_to "编辑",edit_admin_footer_path(footer)%>
			<%=link_to "删除",admin_footer_path(footer), method: :delete, confirm: "确定要删除吗?"%>
		</td>
	</tr>
	<%end%>
</table>
<div class="pagination">
	<%=will_paginate @footers, container: false%>
</div>