<h5>账户服务</h5>
<table class="table" id="validation_items">
	<tr>
		<td class="title">登录密码</td>
		<td></td>
		<td class="desc">
			建议您定期更换密码，且设置一个包含数字和字母，并长度超过6位以上的密码，保障您的账户安全
		</td>
		<td class="operate">
			<%=link_to "修改密码",password_profile_path%>
		</td>
	</tr>
	<tr>

		<td class="title">邮箱认证</td>
		<td>
			<%if @user.email_validated?%>
				已认证
			<%else%>
				未认证
			<%end%>
		</td>
		<td class="desc">验证后，可用于登录帐号，快速找回登录密码。</td>
		<td class="operate">

			

			<%if @user.email_validated?%>
				<%=link_to "修改",email_validation_path%>
			<%else%>
				<%=link_to "立即认证",email_validation_path,:class=>"btn btn-success"%>
			<%end%>
		</td>
	</tr>

	<tr>
		<td class="title">手机认证</td>
		<td>
			<%if @user.sms_validated?%>
				已认证
			<%else%>
				未认证
			<%end%>
		</td>
		<td class="desc">验证后，可用于登录帐号，可享受贸威手机提醒服务。</td>
		<td class="operate">
			<%if @user.sms_validated?%>
				<%=link_to "修改",mobile_validation_path%>
			<%else%>
				<%=link_to "立即认证",mobile_validation_path,:class=>"btn btn-success"%>
			<%end%>
		</td>
	</tr>

</table>