<%= form_for :good,:html => {:class => "form-horizontal"} do |f| %>
    <fieldset>

    <div class="control-group">

      <div class="controls">
        <%=f.hidden_field :cat_id, :value=>"576" %> <!-- 万家小黑板-->
        <%=f.hidden_field :bulk, :value=>"10" %>  <!-- 单价对应unit_price-->
        <%=f.hidden_field :supplier_id, :value=>"98" %> <!-- 供应商id-->
        <%=f.hidden_field :place ,:value=>"中国"%>   <!-- 产地-->
        <%=f.hidden_field :brand_id ,:value=>"万家物流小黑板"%>  <!-- 万家物流小黑板   品牌ID-->
      <%=f.hidden_field :place_info,:value=>"中国"%>    <!-- 产地信息-->
        <%= f.hidden_field :spec_info,:class=>"span10" %> <!-- 规格说明-->

      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, "商品名称", :class => "control-label" %>
      <div class="controls">

        <%= f.text_field :name,:placeholder=>"例如 安吉-安吉",:class=>"span4"%>
      </div>
    </div>

    </div>

    <div class="control-group">
      <%= f.label :wholesale, "批发价", :class => "control-label" %>
      <div class="controls">

        <%= f.text_field :wholesale,:class=>"span4"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :promotion, "促销价", :class => "control-label" %>
      <div class="controls">

        <%= f.text_field :promotion,:class=>"span4"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :bn, "商品编号", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :bn,:value=>"a0981001",:class=>"span4"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :price, "价格", :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :price%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mktprice, "市场价", :class => "control-label" %>   <!-- 例如：原来安吉到安吉的价钱 -->
      <div class="controls">
        <%= f.number_field :mktprice%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :store, "最大运输量", :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :store,:placeholder=>"请输入最大运输量"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :marketable, "立即发布", :class => "control-label" %>
      <div class="controls">
        <label class="radio inline"><%= f.radio_button :marketable,'true'%>是</label>
        <label class="radio inline"><%= f.radio_button :marketable,'false'%>否</label>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :desc, "详细信息描述", :class => "control-label" %>
      <div class="controls">
        <%= f.cktext_area :desc, :toolbar => 'Easy',:language=>'zh-cn',:height => 100,:width=>800 %>
      </div>
    </div>
 <div class="control-group">
      <%= f.label :intro, "商品详情", :class => "control-label" %>
      <div class="controls">
        <%= f.cktext_area :intro, :toolbar => 'Easy',:language=>'zh-cn',:height => 200,:width=>800  %>
      </div>
    </div>
   <div class="control-group">
      <div class="controls">
        <%= f.submit '确定', :class => "btn btn-primary" %>
        <%= link_to '返回', admin_goods_path,:class=>"btn" %>
      </div>
    </div>
    </fieldset>
<% end %>
