<style type="text/css">
  .bottomdivsclearfix{
      display: none;
  }

</style>


<div class="am-panel am-panel-default">
  <div class="am-panel-hd" style="text-align: center">发布车源信息</div>
  <div class="am-panel-bd">
   请注意：发布信息必须属实，并严格遵守万家协议
  </div>
</div>


<%= form_for :good, :url=>"/manco/blackbord_add",:method=>"POST",:html => {:class => "am-form"} do |f| %>


    <div class="control-group">

      <div class="controls">
        <%=hidden_field_tag "spec_id",12%> <!-- 万家小黑板-->
        <%=f.hidden_field :type_id, :value=>"15" %> <!-- 万家小黑板-->
        <%=f.hidden_field :cat_id, :value=>"571" %> <!-- 万家小黑板-->
        <%=f.hidden_field :bulk, :value=>"10" %>  <!-- 单价对应unit_price-->
        <%=f.hidden_field :supplier_id, :value=>"98" %> <!-- 供应商id-->
        <%=f.hidden_field :place ,:value=>"中国"%>   <!-- 产地-->
        <%=f.hidden_field :brand_id ,:value=>"141"%>  <!-- 万家物流小黑板   品牌ID-->
      <%=f.hidden_field :place_info,:value=>"中国"%>    <!-- 产地信息-->
        <%= f.hidden_field :spec_info,:class=>"span10" %> <!-- 规格说明-->
        <%=f.hidden_field :wholesale%>    <!-- 批发价-->
        <%=f.hidden_field :promotion%>    <!-- 促销价-->
        <%=f.hidden_field :name%>    <!-- 商品名称-->
        <%=f.hidden_field :member_id,:value=>@member.member_id %>

      </div>
    </div>

    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">出发地</span>
      <input type="text" class="am-form-field" name="departure" id="departure" placeholder="出发地">
      <div id='suggest' class="am-input-group-lg"></div>
    </div>
    <br/>
    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">到达地</span>
      <input type="text" class="am-form-field" name="arrival" id="arrival" placeholder="到达地">
      <div id='suggest2' class="am-input-group-lg"></div>
    </div>
     <br/>
        <div style="text-align: center">
       <input type="button" style="width:100%" class="am-btn am-btn-primary" id="button" value="点击获取参考价"  />
        </div>
      <div class="form_hide" id="mktprice">
    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">参考价为</span>
      <%= f.number_field :mktprice ,:readonly=>"readonly",:class=>"am-form-field"%>  <span class="am-input-group-label">元/公斤</span>
    </div>
      </div>
    <br/>


    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">价格</span>
      <%= f.number_field :price ,:class=>"am-form-field"%>  <span class="am-input-group-label">元/公斤</span>
      </div>
    <br/>



    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">有效日期</span>
      <%=f.text_field :downtime,:class=>"ui_timepicker" %>
    </div>
    <br/>
    <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label ">有效时间</span>
    <select class="am-input-group-label  hour" name="hour" id="hour" >
      <option  value="1">1:00</option>
      <option value="2">2:00</option>
      <option value="3">3:00</option>
      <option value="4">4:00</option>
      <option value="5">5:00</option>
      <option value="6">6:00</option>
      <option value="7">7:00</option>
      <option value="8">8:00</option>
      <option value="9">9:00</option>
      <option value="10">10:00</option>
      <option value="11">11:00</option>
      <option value="12">12:00</option>
      <option value="13">13:00</option>
      <option value="14">14:00</option>
      <option value="15">15:00</option>
      <option value="16">16:00</option>
      <option value="17">17:00</option>
      <option value="18">18:00</option>
      <option value="19">19:00</option>
      <option value="20">20:00</option>
      <option value="21">21:00</option>
      <option value="22">22:00</option>
      <option value="23">23:00</option>



    </select>
          </div>
    <div class="control-group">

      <div class="controls">
        <%= f.cktext_area :desc,:placeholder=>"运输要求说明" %>
      </div>
    </div>

    <div class="control-group_lable" >
      <%= f.label :marketable, "立即发布",:class=>"am-label  " %>
      <div class="controls">
        <label class="radio_inline"><%= f.radio_button :marketable,'true'%>是</label>
        <label class="radio _inline"><%= f.radio_button :marketable,'false'%>否</label>
      </div>
    </div>
    <br/>
   <div class="control-group">
      <div class="controls">
        <input type="button" class="am-btn am-btn-primary btn-submit am-btn-block" value="发布">


      </div>
    </div>
         <br/>

<% end %>
<%= javascript_include_tag "jquery", "jquery_ujs" %>
   <script type="application/javascript">
          $(document).ready(function(){
              $("#departure").focus(function(){
                  blurall();
              })
              $("#arrival").focus(function(){
                  blurall();
              })

              $("#button").click(function(){
                  var departures=$("#departure").val();
                  var  arrivals=$("#arrival").val();

                 if (departures=="中文/拼音" ||arrivals=="中文/拼音")  {
                     alert("请先输入详细的地址在查询"); }
                  else{
                    $("#mktprice").removeClass("form_hide");
                  $(this).css({"display":"none"});
                  $.ajax({
                      url: "/manco/blackboardfind_e",
                      type: "post",
                      data: {departure:departures,arrival:arrivals},
                      success: function (res) {

                      }
                  }) }
              })

               $("#good_price").blur(function(){
               var    departure=$("#departure").val();
                var   arrival=$("#arrival").val();
                   if (!departure ||!arrival)  {alert("请先输入详细的地址在查询"); return false}
                   $.ajax({
                       url: "/manco/blackboardfind_e",
                       type: "post",

                       data: {departure:departure,arrival:arrival},
                       success: function (res) {

                       }
                   })
                   var goods_price=$(this).val();
                   if (!goods_price){alert("请输入您的价格");
                       return false}
                   else{
                       $("#good_wholesale").val(goods_price);
                       $("#good_promotion").val(goods_price);

                   }
               })

           function blurall(){

                   $("#mktprice").addClass("form_hide");
                   $("#button").css({"display":"block"});


           }


           $(".btn-submit").click(function(){

               if(!$("#good_name").val()){
                       departure=$("#departure").val();
                       arrival=$("#arrival").val();
                       $.ajax({
                           url: "/manco/blackboardfind_e",
                           type: "post",
                           data: {departure:departure,arrival:arrival},
                           success: function (res) {

                           }
                       })}
               if(!departure ||!arrival ||!$("#good_price").val()) {
                   alert("还不能发布哦,信息量不足"); return false}
               else{
                 $(".am-form").submit();
               }
               }

           )

              $(".ui_timepicker").focus(function(){
                  HS_setDate(this);
              })

          })

      </script>

<script type="text/javascript">
    function HS_DateAdd(interval,number,date){
        number = parseInt(number);
        if (typeof(date)=="string"){var date = new Date(date.split("-")[0],date.split("-")[1],date.split("-")[2])}
        if (typeof(date)=="object"){var date = date}
        switch(interval){
            case "y":return new Date(date.getFullYear()+number,date.getMonth(),date.getDate()); break;
            case "m":return new Date(date.getFullYear(),date.getMonth()+number,checkDate(date.getFullYear(),date.getMonth()+number,date.getDate())); break;
            case "d":return new Date(date.getFullYear(),date.getMonth(),date.getDate()+number); break;
            case "w":return new Date(date.getFullYear(),date.getMonth(),7*number+date.getDate()); break;
        }
    }
    function checkDate(year,month,date){
        var enddate = ["31","28","31","30","31","30","31","31","30","31","30","31"];
        var returnDate = "";
        if (year%4==0){enddate[1]="29"}
        if (date>enddate[month]){returnDate = enddate[month]}else{returnDate = date}
        return returnDate;
    }

    function WeekDay(date){
        var theDate;
        if (typeof(date)=="string"){theDate = new Date(date.split("-")[0],date.split("-")[1],date.split("-")[2]);}
        if (typeof(date)=="object"){theDate = date}
        return theDate.getDay();
    }
    function HS_calender(){
        var lis = "";
        var style = "";
        style +="<style type='text/css'>";
        style +=".calender { width:200px; height:200px; font-size:20px; background-color:#82B3FF;  border:4px solid #397EAE; padding:3px}";
        style +=".calender ul {list-style-type:none; margin:0; padding:0;}";
        style +=".calender .day { background-color:#EDF5FF; height:20px;}";
        style +=".calender .day li,.calender .date li{ float:left; width:14%; height:19px; line-height:20px; text-align:center}";
        style +=".calender li a { text-decoration:none; font-family:Tahoma; font-size:20px; color:#333}";
        style +=".calender li a:hover { color:#f30; text-decoration:underline}";
        style +=".calender li a.hasArticle {font-weight:bold; color:#f60 !important}";
        style +=".lastMonthDate, .nextMonthDate {color:#bbb;font-size:11px}";
        style +=".selectThisYear a, .selectThisMonth a{text-decoration:none; margin:0 2px; color:#000; font-weight:bold}";
        style +=".calender .LastMonth, .calender .NextMonth{ text-decoration:none; color:#000; font-size:18px; font-weight:bold; line-height:16px;}";
        style +=".calender .LastMonth { float:left;}";
        style +=".calender .NextMonth { float:right;}";
        style +=".calenderBody {clear:both}";
        style +=".calenderTitle {text-align:center;height:20px; line-height:20px; clear:both}";
        style +=".today { background-color:#ffffaa;border:1px solid #f60; padding:2px}";
        style +=".today a { color:#f30; }";
        style +=".calenderBottom {clear:both; border-top:1px solid #ddd; padding: 3px 0; text-align:left}";
        style +=".calenderBottom a {text-decoration:none; margin:2px !important; font-weight:bold; color:#000}";
        style +=".calenderBottom a.closeCalender{float:right}";
        style +=".closeCalenderBox {float:right; border:1px solid #000; background:#fff; font-size:9px; width:11px; height:11px; line-height:11px; text-align:center;overflow:hidden; font-weight:normal !important}";
        style +="</style>";

        var now;
        if (typeof(arguments[0])=="string"){
            selectDate = arguments[0].split("-");
            var year = selectDate[0];
            var month = parseInt(selectDate[1])-1+"";
            var date = selectDate[2];
            now = new Date(year,month,date);
        }else if (typeof(arguments[0])=="object"){
            now = arguments[0];
        }
        var lastMonthEndDate = HS_DateAdd("d","-1",now.getFullYear()+"-"+now.getMonth()+"-01").getDate();
        var lastMonthDate = WeekDay(now.getFullYear()+"-"+now.getMonth()+"-01");
        var thisMonthLastDate = HS_DateAdd("d","-1",now.getFullYear()+"-"+(parseInt(now.getMonth())+1).toString()+"-01");
        var thisMonthEndDate = thisMonthLastDate.getDate();
        var thisMonthEndDay = thisMonthLastDate.getDay();
        var todayObj = new Date();
        today = todayObj.getFullYear()+"-"+todayObj.getMonth()+"-"+todayObj.getDate();

        for (i=0; i<lastMonthDate; i++){  // Last Month's Date
            lis = "<li class='lastMonthDate'>"+lastMonthEndDate+"</li>" + lis;
            lastMonthEndDate--;
        }
        for (i=1; i<=thisMonthEndDate; i++){ // Current Month's Date

            if(today == now.getFullYear()+"-"+now.getMonth()+"-"+i){
                var todayString = now.getFullYear()+"-"+(parseInt(now.getMonth())+1).toString()+"-"+i;
                lis += "<li><a href=javascript:void(0) class='today' onclick='_selectThisDay(this)' title='"+now.getFullYear()+"-"+(parseInt(now.getMonth())+1)+"-"+i+"'>"+i+"</a></li>";
            }else{
                lis += "<li><a href=javascript:void(0) onclick='_selectThisDay(this)' title='"+now.getFullYear()+"-"+(parseInt(now.getMonth())+1)+"-"+i+"'>"+i+"</a></li>";
            }

        }
        var j=1;
        for (i=thisMonthEndDay; i<6; i++){  // Next Month's Date
            lis += "<li class='nextMonthDate'>"+j+"</li>";
            j++;
        }
        lis += style;

        var CalenderTitle = "<a href='javascript:void(0)' class='NextMonth' onclick=HS_calender(HS_DateAdd('m',1,'"+now.getFullYear()+"-"+now.getMonth()+"-"+now.getDate()+"'),this) title='Next Month'>&raquo;</a>";
        CalenderTitle += "<a href='javascript:void(0)' class='LastMonth' onclick=HS_calender(HS_DateAdd('m',-1,'"+now.getFullYear()+"-"+now.getMonth()+"-"+now.getDate()+"'),this) title='Previous Month'>&laquo;</a>";
        CalenderTitle += "<span class='selectThisYear'><a href='javascript:void(0)' onclick='CalenderselectYear(this)' title='Click here to select other year' >"+now.getFullYear()+"</a></span>年<span class='selectThisMonth'><a href='javascript:void(0)' onclick='CalenderselectMonth(this)' title='Click here to select other month'>"+(parseInt(now.getMonth())+1).toString()+"</a></span>月";

        if (arguments.length>1){
            arguments[1].parentNode.parentNode.getElementsByTagName("ul")[1].innerHTML = lis;
            arguments[1].parentNode.innerHTML = CalenderTitle;

        }else{
            var CalenderBox = style+"<div class='calender'><div class='calenderTitle'>"+CalenderTitle+"</div><div class='calenderBody'><ul class='day'><li>日</li><li>一</li><li>二</li><li>三</li><li>四</li><li>五</li><li>六</li></ul><ul class='date' id='thisMonthDate'>"+lis+"</ul></div><div class='calenderBottom'><a href='javascript:void(0)' class='closeCalender' onclick='closeCalender(this)'>×</a><span><span><a href=javascript:void(0) onclick='_selectThisDay(this)' title='"+todayString+"'>今天</a></span></span></div></div>";
            return CalenderBox;
        }
    }
    function _selectThisDay(d){
        var boxObj = d.parentNode.parentNode.parentNode.parentNode.parentNode;
        boxObj.targetObj.value = d.title;
        boxObj.parentNode.removeChild(boxObj);
    }
    function closeCalender(d){
        var boxObj = d.parentNode.parentNode.parentNode;
        boxObj.parentNode.removeChild(boxObj);
    }

    function CalenderselectYear(obj){
        var opt = "";
        var thisYear = obj.innerHTML;
        for (i=1970; i<=2020; i++){
            if (i==thisYear){
                opt += "<option value="+i+" selected>"+i+"</option>";
            }else{
                opt += "<option value="+i+">"+i+"</option>";
            }
        }
        opt = "<select onblur='selectThisYear(this)' onchange='selectThisYear(this)' style='font-size:11px'>"+opt+"</select>";
        obj.parentNode.innerHTML = opt;
    }

    function selectThisYear(obj){
        HS_calender(obj.value+"-"+obj.parentNode.parentNode.getElementsByTagName("span")[1].getElementsByTagName("a")[0].innerHTML+"-1",obj.parentNode);
    }

    function CalenderselectMonth(obj){
        var opt = "";
        var thisMonth = obj.innerHTML;
        for (i=1; i<=12; i++){
            if (i==thisMonth){
                opt += "<option value="+i+" selected>"+i+"</option>";
            }else{
                opt += "<option value="+i+">"+i+"</option>";
            }
        }
        opt = "<select onblur='selectThisMonth(this)' onchange='selectThisMonth(this)' style='font-size:11px'>"+opt+"</select>";
        obj.parentNode.innerHTML = opt;
    }
    function selectThisMonth(obj){
        HS_calender(obj.parentNode.parentNode.getElementsByTagName("span")[0].getElementsByTagName("a")[0].innerHTML+"-"+obj.value+"-1",obj.parentNode);
    }
    function HS_setDate(inputObj){
        var calenderObj = document.createElement("span");
        calenderObj.innerHTML = HS_calender(new Date());
        calenderObj.style.position = "absolute";
        calenderObj.style.zIndex=2;
        calenderObj.targetObj = inputObj;
        inputObj.parentNode.insertBefore(calenderObj,inputObj.nextSibling);
    }
</script>
<style>

</style>
<script>$(function(){
    $("#departure").suggest(citys,{
        hot_list:commoncitys,
        attachObject:'#suggest'
    });
    $("#arrival").suggest(citys,{
        hot_list:commoncitys,
        attachObject:"#suggest2"
    });

});</script>


<script type="text/javascript" src="/assets/manco/aircity.js"></script>
<script type="text/javascript" src="/assets/manco/j.suggest.js"></script>
