<%=stylesheet_link_tag "manco/amui.all.min"%>
<!--<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/1.0.0-beta1/css/amui.all.min.css"/>-->
<style>
    body{
        background-color: #fcfffa;
    }
    .out{
        float: right;
    }
    .head-info {
        margin: 1rem auto;
        width: 300px;
        text-align: center;
    }
    .header h1 {
        font-size: 200%;
        color: #333;
        margin-top: 30px;
    }
    .header p {
        font-size: 14px;
    }
    .am-fl{
        margin-left: 30%;
        width: 30%;
    }
    .form_hide, #mancoweight,.button-hide,.kgi{
        display: none;
    }
    .button-am{
        font-size: 20px    ;
    }
    .am-form-group{
        text-align: center;
    }
    .form_show{
        display: block;
    }

    .am-form input[type="text"] {

        background-color: #fcfffa;

    }
    .floatfirst.floatright{
        float: left;

    }
    .kginput #mancoweight input[type=text]{
        width: 40%;
    }
    .kginput #mancoweight,.kginput .kgi{
        float: left;
    }




    #suggest,#suggest2{width:100%}
    .gray{color:gray;}
    .ac_results {background:#fff;border:1px solid #7f9db9;z-index: 10000;display: none;}.ac_results ul{margin:0;padding:0;list-style:none;}
    .ac_results li a{white-space: nowrap;text-decoration:none;display:block;color:#05a;padding:10px 3px;}
    .ac_results li{border:1px solid #fff; line-height:18px}
    .ac_over,.ac_results li a:hover {background:#c8e3fc;}
    .ac_results li a span{float:right;}
    .ac_result_tip{border-bottom:1px dashed #666;padding:3px;}
</style>

<header id="am-topbar am-topbar-inverse">

  <div class="am-panel am-panel-primary">
    <div class="am-panel-hd">万家物流</div>

  </div>

</header>
<div class="head-info" >
  <img src="/assets/manco/logo.jpg" alt="..." class="am-img-circle">
  <p>400-821-6789</p>
</div>

<form method="post" id="form_first" class="am-form am-form-group ">
  <span class="am-badge am-badge-primary" >请输入准确的信息:</span>
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">始发地</span>
    <input type="text" name="departure" class="am-form-field floatright" placeholder="请输入始发地:" id="departure" value="">
    <div id='suggest' class="am-input-group-lg"></div>
  </div>
  <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">终点站</span>

    <input type="text" name="arrival"placeholder="请输入终点站" class="am-form-field floatright" id="arrival" value="">
    <div id='suggest2' class="am-input-group-lg"> </div>
  </div>
  <br/>
  <div class="am-cf">
    <input type="button" id="serach" data-url="/manco/find_manco_good_first" name="" value="查询" class="am-btn am-btn-primary am-btn-sm am-fl">

  </div>

</form>

<%=form_for :product,:url=>"/cart/mancoexpress_add",:method=>"post",:html=>{:class=>"am-form am-form-group form_hide",:id=>"form_second",} do |f|%>
    <%=hidden_field_tag :goods_id, :id=>"goods_id"%>
    <%=f.hidden_field :type_id,:id=>"type_id"%>
    <%=hidden_field_tag :platform,'mancoexpress'%>
    <%=hidden_field_tag :manco_unit_price, :id=>"manco_total_price"%>
    <%=f.hidden_field :manco_name_two, :id=>"manco_name_two"%>
    <%=f.hidden_field :suppliers_id, :id=>"suppliers_id",:value=>"98"%>
   <table class="am-table">
    <thead>
    <tr>
      <th>始发站-终点站</th>
      <th>运费单价为:</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td> <span style="text-align: center ;color: red" id="manco_name_show"></span></td>
      <td><span style="text-align: center;color: red" id="manco_price_show"></span></td>

    </tr>
       </tbody>
     </table>






    <a href="#" class="am-badge am-badge-primary button-am" >我要送货 </a>   <br/>  <br/><br/>

    <table class="am-table form_hide">

      <tr>
        <th>请填写重量</th>
        <th><%=number_field_tag :mancoweight  %>
        </th>
        <th>公斤</th>

      </tr>

    </table>
      <%= f.submit :class=>"am-btn am-btn-primary am-btn-sm am-fl button-hide" ,:value=>"送货"%>
    </div>

<%end%>


</div>

<a class="out" href="/vshop/<%=@supplier.id%>">返回</a>
<br/>
<br/><br/>
<br/>
<%= javascript_include_tag "jquery", "jquery_ujs" %>
<script type="application/javascript">

    $("#serach").bind("click",function(){
        var departure=    $("#departure").val();
        var arrival=    $("#arrival").val();


        var url = $(this).data('url');
        $.ajax(url,{
            type: "post",
            data:{ departure:departure ,arrival:arrival},
            success:function(res){

            }
        })

        $(".button-am").bind("click",function() {
            if($("#mancoweight").css('display','none')) {
                $("#mancoweight").css('display','block') ,
                        $(".button-hide").css('display','block') ,
                        $(".kgi").css('display','block'),
                        $(".am-table").removeClass("form_hide"),
                $(this).addClass("button-hide")


            }  else{
                $("#mancoweight").addClass('display','none')  ,
                        $(".button-hide").css('display','none'),
                        $(".kgi").css('display','none') ,
                        $(".am-table").addClass("form_hide")
                ,$(this).removeClass("button-hide")
            }


        }   )
    })


</script>


<script>$(function(){
    $("#departure").suggest(citys,{
        hot_list:commoncitys,
        attachObject:'#suggest'
    });
    $("#arrival").suggest(citys,{
        hot_list:commoncitys,
        attachObject:"#suggest2"
    });

});</script>


<script type="text/javascript" src="/assets/manco/aircity.js"></script>
<script type="text/javascript" src="/assets/manco/j.suggest.js"></script>
