<div class="head-info" >
  <img src="/assets/manco/logo.jpg" alt="..." class="am-img-circle">

</div>

<form method="post" id="form_first" class="am-form am-form-group ">
  <span class="am-badge am-badge-primary" >请输入准确的信息</span>
  <div  id="notice" style="color: red">
  </div>
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">出发地</span>
    <input type="text" name="departure" class="am-form-field floatright" placeholder="请输入出发城市:" id="departure" value="">
    <div id='suggest' class="am-input-group-lg"></div>
  </div>

   <br/>
  <div class="am-input-group am-input-group-lg">
  <span class="am-input-group-label">到达地</span>
  <input type="text" name="arrival"placeholder="请输入目的城市" class="am-form-field floatright" id="arrival" value="">
  <div id='suggest2' class="am-input-group-lg"> </div>
</div>


   <br/>  <div class="am-input-group am-input-group-lg">
  <span class="am-input-group-label">派送方式&nbsp;&nbsp;</span>
    </div>
  <br/>
  <ul class="am-navbar-nav am-cf sm-block-grid-2">

    <li class=" am-btn am-btn-primary am-btn-block am-animation-slide-left">

      <input  type="radio"  name="distribution" value="586">门对门
    </li>
    <li class=" am-btn am-btn-secondary am-btn-block am-animation-slide-right" style="margin-top: 0px">

      <input type="radio"  name="distribution" value="587">自提
    </li>



  </ul>



  <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">

  <div class="am-cf">
    <input type="button" id="serach" data-url="/manco/mancoluodipei" name="" value="下一步" class="am-btn am-btn-primary am-btn-block ">

  </div>


</form>

<%=form_for :product,:url=>"/cart/add",:method=>"post",:html=>{:class=>"am-form am-form-group form_hide",:id=>"form_second",} do |f|%>
    <%=hidden_field_tag :cat_id%>
    <%=f.hidden_field :goods_id%>
    <%=hidden_field_tag "product[specs][]"%>
    <%=hidden_field_tag :platform%>
    <%=hidden_field_tag :supplier_id, @supplier.id%>
    <%=hidden_field_tag :mancoweight%>
    <%=hidden_field_tag :zhuanghuo%>
    <%=hidden_field_tag :xiehuo%>

    <div class="am-input-group am-input-group-lg" >
      <span class="am-input-group-label" >线路</span>
      <span class="am-input-group-label" id="good_name"></span>
    </div>
    </br>
      <span  id="aaa"></span>
    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">单价</span>
      <span class="am-input-group-label" style="color: red" id="unit_price"></span>
    </div>
    </br>
    <div class="am-input-group am-input-group-lg">

      <span class="am-input-group-label" style="color: red" id="low_price"></span>
    </div>
    </br>
    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">派送方式为:</span>
      <span class="am-input-group-label" id="distribution"></span>
    </div>
    </br>

    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">重量</span>
      <input type="number" id="weight" min="0"placeholder="请输入物品重量" class="am-form-field floatright"  value="">
      <span class="am-input-group-label">kg</span>
    </div>
    <br>
    <div class="am-input-group am-input-group-lg">
      <span class="am-input-group-label">体积</span>
      <input type="number" id="volue"  min="0"placeholder="请输入物品体积(200公斤/方)" class="am-form-field floatright"  value="">
      <span class="am-input-group-label">立方米</span>
    </div>
    </br>
           <input type="button" class="am-btn am-btn-primary am-btn-block  button-am" value="下一步">



<%end%>


</div>


<br/>
<br/><br/>
<br/>
<%= javascript_include_tag "jquery", "jquery_ujs" %>



<script type="application/javascript">
    var mancoweight ;
    $("#departure").focus(function(){
        $("#notice").addClass("form_hide");
    })

    $("#arrival").focus(function(){
        $("#notice").addClass("form_hide");
    })



    $("#serach").bind("click",function(){


        var departure=$("#departure").val();
        var arrival=$("#arrival").val();
        var distribution=$("input[name='distribution']:checked").val();
        var url = $(this).data('url');
        if(arrival&&departure&&distribution) {

        $.ajax(url,{
            type: "post",
            data:{ departure:departure ,arrival:arrival,distribution:distribution},
            success:function(res){
            }
        }) }
        else{
            alert("请选择配送方式");;return false;
        }
    })


        $(".button-am").bind("click",function() {
         var weight=$("#weight").val();
         var volue=$("#volue").val();
         if(weight&&volue){
              if(weight>=volue*200){mancoweight=weight}
              else{mancoweight=volue*200}

         }
          if(!volue&&weight){
              mancoweight=$("#weight").val();
             }
            if(!volue&&!weight){
               alert("至少需要输入物品重量");return false;
            }
            if (!weight&&volue){
                mancoweight=volue*200;
            }
           $("#mancoweight").val(mancoweight);
         $("#form_second").submit();

    })

    $(".am-btn-block").bind("click",function(){
        $(this).children("input[type='radio']").attr("checked",'true');

    })

</script>


<script>$(function(){
    $("#departure").suggest(citys,{
        hot_list:commoncitys,
        attachObject:'#suggest'
    });
    $("#arrival").suggest(citys,{
        hot_list:commoncitys,
        attachObject:"#suggest2"
    });

});</script>


<script type="text/javascript" src="/assets/manco/aircity.js"></script>
<script type="text/javascript" src="/assets/manco/j.suggest.js"></script>
