


<div class="head-info" >
  <img src="/assets/manco/logo.jpg" alt="..." class="am-img-circle">
   <span>万家本地落地配</span>
</div>

<form method="post" id="form_first" class="am-form am-form-group ">
  <span class="am-badge am-badge-primary" >请输入准确的信息:</span>
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">出发城市</span>
    <input type="text" name="departure" class="am-form-field floatright" placeholder="请输入出发城市:" id="departure" value="">
    <div id='suggest' class="am-input-group-lg"></div>
  </div>
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">装货地址</span>
    <input type="text" name="departure" class="am-form-field floatright" placeholder="请输入装货地址(选填):"  value="">

  </div>
   <br/>
  <div class="am-input-group am-input-group-lg">
  <span class="am-input-group-label">目的城市</span>
  <input type="text" name="arrival"placeholder="请输入目的城市" class="am-form-field floatright" id="arrival" value="">
  <div id='suggest2' class="am-input-group-lg"> </div>
</div>
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">卸货城市</span>
   <input type="text" name="arrival"placeholder="请输入卸货城市" class="am-form-field floatright"  value="">

  </div>

   <br/>
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">重量</span>
    <input type="number" name="weight"placeholder="请输入物品重量" class="am-form-field floatright"  value="">
    <span class="am-input-group-label">kg</span>
  </div>
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">体积</span>
    <input type="number" name="volue"placeholder="请输入物品体积(200公斤/方)" class="am-form-field floatright"  value="">
    <span class="am-input-group-label">立方米</span>
  </div>
  </br>
  <div class="am-input-group am-input-group-lg">
    <label class="am-input-group-label" style="border-right: 1px solid #000000">
      <input type="radio"  value="" name="docInlineRadio"> 门对门
    </label>
    <label class="am-input-group-label">
      <input type="radio" name="docInlineRadio"> 自提
    </label>

  </div>
  <!--<br/>-->
  <!--<div class="am-input-group am-input-group-lg">-->
    <!--<span class="am-input-group-label">发车时间</span>-->
    <!--<input type="text" name="arrival"placeholder="请选择发车时间" class="am-form-field floatright" value="">-->

  <!--</div>-->
  <!--<div class="am-input-group am-input-group-lg">-->
    <!--<span class="am-input-group-label">到达时间</span>-->
    <!--<input type="text" name="arrival"placeholder="请选择到达时间" class="am-form-field floatright"  value="">-->

  <!--</div>-->

  <br/>
  <div class="am-input-group am-input-group-lg">
    <span class="am-input-group-label">备注</span>
    <input type="text" name="arrival"placeholder="输入50字以内(选填)" class="am-form-field floatright"  value="">

  </div>
  <br/>
  <div class="am-cf">
    <input type="button" id="serach" data-url="/manco/find_manco_good_first" name="" value="发送" class="am-btn am-btn-primary am-btn-sm am-fl">

  </div>

</form>

<%=form_for :product,:url=>"/cart/mancoexpress_add",:method=>"post",:html=>{:class=>"am-form am-form-group form_hide",:id=>"form_second",} do |f|%>
    <%=hidden_field_tag :goods_id, :id=>"goods_id"%>
    <%=f.hidden_field :type_id,:id=>"type_id"%>
    <%=hidden_field_tag :platform,'mancoexpress'%>
    <%=hidden_field_tag :manco_unit_price, :id=>"manco_total_price"%>
    <%=f.hidden_field :manco_name_two, :id=>"manco_name_two"%>
    <%=f.hidden_field :suppliers_id, :id=>"suppliers_id",:value=>"98"%>
   <table class="am-table">
    <thead>
    <tr>
      <th>始发站-终点站</th>
      <th>运费单价为:</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td> <span style="text-align: center ;color: red" id="manco_name_show"></span></td>
      <td><span style="text-align: center;color: red" id="manco_price_show"></span></td>

    </tr>
       </tbody>
     </table>






    <a href="#" class="am-badge am-badge-primary button-am" >我要送货 </a>   <br/>  <br/><br/>

    <table class="am-table form_hide">

      <tr>
        <th>请填写重量</th>
        <th><%=number_field_tag :mancoweight  %>
        </th>
        <th>公斤</th>

      </tr>

    </table>
      <%= f.submit :class=>"am-btn am-btn-primary am-btn-sm am-fl button-hide" ,:value=>"送货"%>
    </div>

<%end%>


</div>


<br/>
<br/><br/>
<br/>
<%= javascript_include_tag "jquery", "jquery_ujs" %>



<script type="application/javascript">

  $(document).ready(function () {
     $(input[type="radio"]).click(function(){
         $(this).parent("laber").css("background","blue");
     })
  })







    $("#serach").bind("click",function(){
        var departure=    $("#departure").val();
        var arrival=    $("#arrival").val();


        var url = $(this).data('url');
        $.ajax(url,{
            type: "post",
            data:{ departure:departure ,arrival:arrival},
            success:function(res){

            }
        })

        $(".button-am").bind("click",function() {
            if($("#mancoweight").css('display','none')) {
                $("#mancoweight").css('display','block') ,
                        $(".button-hide").css('display','block') ,
                        $(".kgi").css('display','block'),
                        $(".am-table").removeClass("form_hide"),
                $(this).addClass("button-hide")


            }  else{
                $("#mancoweight").addClass('display','none')  ,
                        $(".button-hide").css('display','none'),
                        $(".kgi").css('display','none') ,
                        $(".am-table").addClass("form_hide")
                ,$(this).removeClass("button-hide")
            }


        }   )
    })


</script>


<script>$(function(){
    $("#departure").suggest(citys,{
        hot_list:commoncitys,
        attachObject:'#suggest'
    });
    $("#arrival").suggest(citys,{
        hot_list:commoncitys,
        attachObject:"#suggest2"
    });

});</script>


<script type="text/javascript" src="/assets/manco/aircity.js"></script>
<script type="text/javascript" src="/assets/manco/j.suggest.js"></script>
