


     <br> <br> <br> <br>
    <form method="post" id="form_first" class="am-form am-form-group ">
      <span class="am-badge am-badge-primary" >请输入准确的信息</span>
      <div  id="notice" style="color: red">  </div>
      <div class="am-input-group am-input-group-lg">
        <span class="am-input-group-label">出发地</span>
         <input type="text" name="departure" class="am-form-field floatright" placeholder="请输入出发地:" id="departure" value="">
         <div id='suggest' class="am-input-group-lg"></div>
        </div>
      <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
        <div class="am-input-group am-input-group-lg">
          <span class="am-input-group-label">到达地</span>

          <input type="text" name="arrival"placeholder="请输入到达地" class="am-form-field floatright" id="arrival" value="">
          <div id='suggest2' class="am-input-group-lg"> </div>
        </div>
      <br/>
     <div class="am-cf">
        <input type="button" id="serach" data-url="/manco/blackboardfind_e" name="" value="点击询价" class="am-btn am-btn-primary am-btn-sm am-fl">

      </div>

    </form>

<%=form_for :product,:url=>"/cart/add",:method=>"post",:html=>{:class=>"am-form am-form-group form_hide",:id=>"form_second",} do |f|%>
    <%=f.hidden_field :goods_id%>
    <%=f.hidden_field :type_id,:id=>"type_id"%>

   <%=hidden_field_tag :supplier_id, @supplier.id%>
    <%=hidden_field_tag "product[specs][]"%>
   <%=hidden_field_tag :platform,"mancoexpress"%>
        <%=hidden_field_tag :zhuanghuo%>
        <%=hidden_field_tag :xiehuo%>






        <table class="am-table am-table-bd ">
      <thead>
      <tr>
        <th>出发地-到达地</th>
        <th>运费单价为:</th>
        <th>最低运输价为:</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> <span style="float:left; color: red" id="manco_name_show"></span></td>
        <td><span style="float:left;color: red" id="manco_price_show"></span></td>
        <td><span style="float:left;color: red" id="manco_low_show"></span></td>
      </tr>

      </tbody>

    </table>

    <a href="#" class="am-badge am-badge-primary button-am" >我要送货 </a>   <br/>  <br/><br/>
    <table class="am-table form_hide">

      <tr>
        <th>请填写重量</th>
        <th><%=text_field_tag :mancoweight  %>
        </th>
        <th >
        </th>
        <th>公斤</th>

      </tr>

    </table>
    <%= f.submit :class=>"am-btn am-btn-primary am-btn-sm am-fl button-hide" ,:value=>"我要送货"%>

    <%end%>


</div>


<br/>
<br/><br/>
<br/>
<%= javascript_include_tag "jquery", "jquery_ujs" %>
<script type="application/javascript">
    $("#departure").focus(function(){
        $("#notice").addClass("form_hide");
    })

    $("#arrival").focus(function(){
        $("#notice").addClass("form_hide");
    })

    $("#serach").bind("click",function(){
        var departure=    $("#departure").val();
        var arrival=    $("#arrival").val();


          var url = $(this).data('url');
            $.ajax(url,{
                type: "post",
                data:{ departure:departure ,arrival:arrival},
                success:function(res){

                }
            })

        $(".button-am").bind("click",function() {
                  if($("#mancoweight").css('display','none')) {
                      $("#mancoweight").css('display','block') ,
                              $(".button-hide").css('display','block') ,
                              $(".kgi").css('display','block')
                   $(this).css({"display":"none"})
                      $(".am-table").removeClass("form_hide")


                  }  else{
                      $("#mancoweight").addClass('display','none')  ,
                      $(".button-hide").css('display','none'),
                              $(".kgi").css('display','none')  ,
                              $(this).removeClass("button-hide")
                      $(".am-table").addClass("form_hide")
                      }


        }   )
        })

</script>

<script>$(function(){
    $("#departure").suggest(citys,{
        hot_list:commoncitys,
        attachObject:'#suggest'
    });
    $("#arrival").suggest(citys,{
        hot_list:commoncitys,
        attachObject:"#suggest2"
    });

});</script>


<script type="text/javascript" src="/assets/manco/aircity.js"></script>
<script type="text/javascript" src="/assets/manco/j.suggest.js"></script>
