<header id="am-topbar am-topbar-invers  e">

  <div class="am-panel am-panel-primary">
    <div class="am-panel-hd">订单信息</div>

  </div>

</header>
   <%=form_for :@order_dining ,:html=>{:class=> " am-form" } , :url=>"nil" do |f|  %>


      <label for="email">联系人:</label>
    <%=f.text_field :user,  :value=>@user.login_name if @user  %>
         <br/>
      <label for="email">邮箱:</label>
    <%=f.text_field :phone,  :value=>@member[0].email if @member  %>
    <br/>
      <label for="password">详细发货地址:</label>
      <input type="text" name=""  value="">
    <br/>
      <label for="password">手机号码:</label>
    <%=f.text_field :phone,  :value=>@member[0].mobile if @member  %>

    <br/>

    <div class="am-panel am-panel-primary">
        <div class="am-panel-hd">收货人地址</div>
        <label for="email">收货联系人:</label>
      <%=f.text_field :phone,  :value=>@member[0].addr if @member  %>

        <label for="email">收货人联系号码:</label>
        <input type="email" name="" id="email" value="">

        <label for="password">详细收货地址:</label>
        <input type="password" name="" id="password" value="">

        <label for="password">收货人手机号码:</label>
        <input type="password" name="" id="password" value="">

      </div>
      <div class="am-panel am-panel-primary">
        <div class="am-panel-hd">货物信息</div>
        <label for="email">货物名称:</label>
        <input type="text" name="" id="user" value="">
        <label for="email">包装总件数:</label>
        <input type="text" name="" id="user" value="">
        <label for="email">注意事项/备注：:</label>
        <textarea></textarea>
        </div>

       <% end%>
  </div>
</div>