
<%=content_for :head do%>
   <%= stylesheet_link_tag "forgot_password"%>
	<%= javascript_include_tag "forgot_password"%>
<%end%>

<div class="forgot-password-holder">
	<%=form_for :user,:url=>search_users_path,:html=>{ :class=>"form-inline" } do |f|%>
		<%=f.hidden_field :by,:value=>"login_name"%>
	   <div>
	   		<span class="required">*</span>
	   		<span>用户名</span>
	   		<%=f.text_field :value,:value=>nil,:class=>"input-medium"%>
	   		<%=f.submit "重新查询",:name=>nil,:class=>"btn btn-success"%>
	   </div>
	   <div class="help-tips"></div>
	<%end%>

	<p>请选择找回密码方式 : </p>
	<%=form_for :user,:url=>send_reset_password_instruction_users_path,:html=>{ :class=>"form-inline" } do |f|%>
		<%=f.hidden_field :member_id,:value=>@user.member_id%>
		<p>
			<label class="radio">
				<%=f.radio_button :by,"email",:checked=>true%>可选邮箱 : <%=@user.mask_email%>
			</label>
		</p>

		<!-- <p>
			<label class="radio">
				<%=f.radio_button :by,"mobile",:checked=>false%>可选手机号码 : <%=@user.mask_mobile%>
			</label>
		</p> -->

		<p>
			<%=f.submit "下一步",:name=>nil,:class=>"btn btn-success"%>
		</p>
	<%end%>
</div>