<%=content_for :head do%>
   <%= stylesheet_link_tag "forgot_password"%>
	<%= javascript_include_tag "forgot_password"%>
<%end%>
<div class="forgot-password-holder">
	<p class="required"><%=notice if params[:by].blank?%></p>
	<%=form_for :user,:url=>search_users_path,:html=>{ :class=>"form-inline" } do |f|%>
		<%=f.hidden_field :by,:value=>"login_name"%>
	   <div>
	   		<span class="required">*</span>
	   		<span>用户名</span>
	   		<%=f.text_field :value,:class=>"input-medium val"%>
	   		<%=f.submit "查 询",:name=>nil,:class=>"btn btn-success"%>
	   </div>
	   <div class="help-tips required"><%=notice if params[:by]=="login_name"%></div>
	<%end%>
	<!-- <p>忘记用户名，请按照如下提示操作 : </p> -->
	<%=form_for :user,:url=>search_users_path,:html=>{ :class=>"form-inline" } do |f|%>
		<!-- <p>
			<label class="radio inline">
				<%=f.radio_button :by,"email",:checked=>false||params[:by]=="email",:data=>{:text=>"邮箱"},:class=>"choice"%>通过注册邮箱找回
			</label>

			<label class="radio inline">
				<%=f.radio_button :by,"mobile",:checked=>false||params[:by]=="mobile",:data=>{:text=>"手机"},:class=>"choice"%>通过注册手机号找回
			</label>
		</p> -->
		
		<div class="<%='hide' if params[:by] == 'login_name' || params[:by].blank? %>" id="value_holder">
	   		<span class="required">*</span>
	   		<span id="by_text">
		   		<%if params[:by].to_s == "email"%>
		   			邮箱
		   		<%end%>
		   		<%if params[:by].to_s == "mobile"%>
		   			手机
		   		<%end%>
	   		</span>
	   		<%=f.text_field :value,:class=>"input-medium val"%>
			
	   		<%=f.submit "查 询",:name=>nil,:class=>"btn btn-success"%>
	   </div>
	   <div class="help-tips required"><%=notice if ["mobile","email"].include?(params[:by])%></div>
	<%end%>
	<div class="tip">友情提示 : 手机接收找回密码的验证码可能有较长时间延迟，推荐使用注册邮箱找回，如需帮助请拨打客服电话021-22306630</div>
</div>



