<%=content_for :head do%>
   <%= stylesheet_link_tag "forgot_password"%>
	<%= javascript_include_tag "forgot_password"%>
<%end%>
<div class="forgot-password-holder">
	<p>验证成功，重设密码 : </p>
	<%=form_for :account,:url=>change_password_users_path,:html=>{:class=>"form-horizontal"} do |f|%>
		<%=f.hidden_field :account_id,:value=>@user.member_id%>
		<div class="control-group">
		    <label class="control-label"><span class="required">*</span> 新密码</label>
		    <div class="controls">
		      <%=f.password_field :login_password,:class=>"input-medium"%>
		      <span class="help-inline error"><%=@account.errors[:login_password].join(",") if @account%></span>
			</div>
		</div>

		<div class="control-group">
		    <label class="control-label"><span class="required">*</span> 再输一次</label>
		    <div class="controls">
		      <%=f.password_field :login_password_confirmation,:class=>"input-medium"%>
		      <span class="help-inline error"><%=@account.errors[:login_password_confirmation].join(",") if @account%></span>
			</div>
		</div>

		<div class="control-group">
		    <div class="controls">
		      <%=f.submit "确定修改",:class=>"btn btn-success"%>
			</div>
		</div>
	<%end%>
</div>
