<br><br>

<% if @platform%>
<!--vshop-->
        <%= stylesheet_link_tag "forgot_password"%>
        <%= javascript_include_tag "forgot_password"%>
    <%= stylesheet_link_tag "bootstrap","simple" %>
    <div class="forgot-password-holder" style="margin-left: 30%">
      <p>验证成功，重设密码 : </p>
      <%=form_for :account,:url=>change_password_users_path,:html=>{:class=>"form-horizontal"} do |f|%>
          <%=f.hidden_field :account_id,:value=>@user.member_id%>

          <%=f.hidden_field :current_password,:value=>'reset password from email'%>
          <input type="hidden" value="vshop" name="platform" >
          <div class="control-group">
            <label class="control-label"><span class="required">*</span> 新密码</label>
            <div class="controls">
              <%=f.password_field :login_password,:class=>"input-medium"%>
              <span class="help-inline error"><%=@account.errors[:login_password].join(",") if @account%></span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><span class="required">*</span> 再输一次</label>
            <div class="controls">
              <%=f.password_field :login_password_confirmation,:class=>"input-medium"%>
              <span class="help-inline error"><%=@account.errors[:login_password_confirmation].join(",") if @account%></span>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%=f.submit "确定修改",:class=>"btn btn-success"%>
            </div>
          </div>
      <%end%>
    </div>



<%else%>
<div class="row signup-panel"   style="margin-left: 20%;width: 50%">
<div class="forgot-password-holder">
	<p>验证成功，重设密码 : </p>
	<%=form_for :account,:url=>change_password_users_path,:html=>{:class=>"form-horizontal"} do |f|%>
		<%=f.hidden_field :account_id,:value=>@user.member_id%>
		<%=f.hidden_field :current_password,:value=>'reset password from email'%>
		
      <div class="large-12 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns" style="text-align:center">
            <span class="prefix"><span class="red">* </span>新密码 <i class=" fi-lock"></i> </span>
          </div>
          <div class="small-9 columns">
            <%=f.password_field :login_password,:class=>"input-medium"%>
          </div>
          <span class="help-inline "><%=@account.errors[:login_password].join(",") if @account%></span>
        </div>
      </div>
      <br> <br>
      <div class="large-12 columns">
        <div class="row collapse prefix-radius">
          <div class="small-3 columns" style="text-align:center">
            <span class="prefix"><span class="red">* </span> 再输一次 <i class=" fi-lock"></i> </span>
          </div>
          <div class="small-9 columns">
            <%=f.password_field :login_password_confirmation,:class=>"input-medium"%>

          </div>
          <span class="help-inline "><%=@account.errors[:login_password_confirmation].join(",") if @account%></span>
        </div>
      </div>
      <div class="small-12 columns">
        <div class="row">
          <%=f.submit "确定修改",:class=>"button alert" ,:style=>"width:100%"%>

        </div></div>


	<%end%>
</div>
        </div>
<%end%>
