
<ul class="breadcrumbs">
  <li><a href="/distributions">首页</a></li>
  <li  class="unavailable"><a href="#" >采购管理</a></li>
  <li class="current"><a href="#">进货单</a></li>
</ul>
  
 <%@cart.each do |goods|%>
  <div class="row">
    <div class="columns large-2 small-3">
      <%=link_to "/distributions/#{goods.bn}/product", :target=>"_blank" do %>
            <%=image_tag goods.list_default_pic,:alt=>goods.name,:class=>"default"%>
      <%end%>
    </div>
    <div class="columns large-9 small-7">
      <div class="row">
        <div class="columns medium-12"><h4><%=goods.name%></h4></div>
        <div class="columns medium-4 price">￥<%=goods.bulk%></div>
        <div class="columns medium-4"><input type="text" value="10"></div>
        <div class="columns medium-4 price">￥<%=goods.bulk*10%></div>        
      </div>
    </div>
     <div class="columns large-1 small-2">
      <div class="columns medium-2"><a href="#" title="删除"><h2><i class="fi-x-circle"></i></h2></a></div>
    </div>
  </div>
  <hr> 
  <%end%>
  <div class="row">     
     <div class="columns medium-6 small-12 price">
        总计：8999.00元
     </div>
      <div class="columns medium-3 small-6">
        <a href="/distributions" class="button radius tiny">继续采购</a>
     </div>
     <div class="columns medium-3 small-6">
        <a href="/distributions/ordernew" class="button radius success tiny">生成订单</a>
     </div>
  </div>