<%
      site_name =  nil
      site_name = "http://www.i-modec.com" if Rails.env == 'production'
%>
<div id="topmenu" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="home <%= 'active' if controller_name == 'home' %>">
            <a href="<%=site_name%>/">首页 <span>HOME</span></a>
          </li>
          <!-- <li class="newin dropdown  <%= 'active' if controller_name == 'goods' %>">
            <a id="newin" data-target="<%=site_name%>/products/newest" href="<%=site_name%>/products/newest" class="dropdown-toggle" data-toggle="dropdown">新品 <span>NEW IN</span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="newin">
              <li><a tabindex="-1" href="<%=site_name%>/products/newest">本期新品</a></li>
              <li><a tabindex="-1" href="<%=site_name%>/products/more">更多新品</a></li>
              <li><a tabindex="-1" href="<%=site_name%>/products/suits">搭配推荐</a></li>
            </ul>
          </li> -->
          <li class="brands dropdown">
            <a id="brands" data-target="<%=site_name%>/brands" href="<%=site_name%>/brands" class="dropdown-toggle" data-toggle="dropdown">现货 <span>GOODS</span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="bags">
              <%Ecstore::GoodCat.top_cats.each do |cat|%>
                <% if cat.sell == "true" %>
                  <li><a tabindex="-1" href="<%=site_name%>/gallery/<%=cat.cat_id%>"><%=cat.cat_name%></a></li>
                <%end%>
              <%end%>
            </ul>
            <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="brands">
               <% Ecstore::Brand.menu_brands.each do |brand|%>
                <%if brand%>
                  <li>
                    <%=link_to brand.brand_name,"#{site_name}#{brand_path(brand)}" if Rails.env == "production"%>
                    <%=link_to brand.brand_name, brand_path(brand) if Rails.env == "development"%>
                  </li>
                <%end%>
              <%end%>
            </ul> -->
          </li>
         
          <li class="apparel dropdown">
            <a id="apparel" data-target="<%=site_name%>/gallery/22" href="<%=site_name%>/gallery/22" class="dropdown-toggle" data-toggle="dropdown">期货 <span>FUTURES</span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="bags">
              <%Ecstore::GoodCat.top_cats.each do |cat|%>
                <% if cat.future == "true" %>
                  <li><a tabindex="-1" href="<%=site_name%>/gallery/<%=cat.cat_id%>"><%=cat.cat_name%></a></li>
                <%end%>
              <%end%>
            </ul>
            <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="apparel">
              <%Ecstore::Category.apparel_menus.each do |cat|%>
                <li><a tabindex="-1" href="<%=site_name%><%=cat_path(cat)%>"><%=cat.cat_name.split(/\s+/)[0]%></a></li>
              <%end%>
            </ul> -->
          </li>
          <li class="bags dropdown">
            <a id="bags" data-target="<%=site_name%>/gallery/59" href="<%=site_name%>/gallery/59" class="dropdown-toggle" data-toggle="dropdown">代购 <span>CATEGORY</span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="bags">
              <%Ecstore::GoodCat.top_cats.each do |cat|%>
                <% if cat.agent == "true" %>
                  <li><a tabindex="-1" href="<%=site_name%>/gallery/<%=cat.cat_id%>"><%=cat.cat_name%></a></li>
                <%end%>
              <%end%>
            </ul>
          </li>
          <!-- <li class="accessories dropdown">
            <a id="accessories" data-target="<%=site_name%>/gallery/69" href="<%=site_name%>/gallery/69" class="dropdown-toggle" data-toggle="dropdown">配饰 <span>ACCESSORIES</span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="accessories">
              <li><a tabindex="-1" href="<%=site_name%>/gallery/70">首饰</a></li>
              <li><a tabindex="-1" href="<%=site_name%>/gallery/487">手表</a></li>
              <li><a tabindex="-1" href="<%=site_name%>/gallery/77">腰带</a></li>
              <li><a tabindex="-1" href="<%=site_name%>/gallery/81">眼镜</a></li>
              <li><a tabindex="-1" href="<%=site_name%>/gallery/80">围巾</a></li>
              <li><a tabindex="-1" href="<%=site_name%>/gallery/78">手套</a></li>
            </ul>
          </li> -->
          <li class="news dropdown">
            <a href="http://blog.i-modec.com/topics" class="dropdown-toggle" data-toggle="dropdown">国别中心 <span>COUNTRIES</span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="news">
               <% Ecstore::Country.all.each do |country|%>
                  <li>
                    <%#=link_to brand.brand_name,"#{site_name}#{brand_path(brand)}" if Rails.env == "production"%>
                    <%=link_to country.country_name, country_path(country) if Rails.env == "development"%>
                  </li>
              <%end%>
            </ul>
          </li>
          <li class="last"></li>
        </ul>
      </div>
    </div>
  </div>
</div>