
<ul id="suits" class="clearfix">
	<li class="link">
		<a href="/products/suits">
		<%=image_tag '/assets/home/fix_suit.jpg'%>
		</a>
	</li>
	<%@home.suits.each do |suit|%>
	<%good =  Ecstore::Good.find_by_bn(suit["bn"])%>
	<li class="suit">
		<%if good%>
			<a href="<%=suit["link"]%>" target="_blank">
				<%=image_tag good.home_suit_pic,:alt=>good.name%>
			</a>
			<div class="name"><%=link_to truncate2(good.name,:length=>15),suit["link"],:target=>"_blank"%></div>
			<div class="price">套餐价 : ¥ <%=good.price%></div>
			<div class="savings">立省 : ¥ <%=good.savings.to_i%></div>
		<%end%>
	</li>
	<%end%>
</ul>

<div id="hots">
	<div><img src="/assets/home/hot_banner.png" alt="热品"></div>
	<ul class="clearfix">
		<%@home.goods_of_hots.each do |good|%>
		<li class="hot-single">
			<a href="<%=good_path(good.bn)%>">
				<%=image_tag good.home_picture_cover,:alt=>good.name%>
			</a>
			<div class="name"><%=link_to truncate2(good.name,:length=>15),good_path(good.bn)%></div>
			<div class="price">会员价 : 
				<%if signed_in? %>
				¥ <%=good.price%>
				<%else%>
					<a href="javascript:void(0);" class="login" style="color:#D30000;">会员专享</a>
				<%end%>
			</div>
			<div class="mktprice">市场价 : ¥ <%=good.mktprice%></div>
		</li>
		<%end%>

	</ul>
</div>