<%=render "shared/metable", :resource => @home%>
<%=content_for :head do %>
  <%=stylesheet_link_tag "home"%>
    <%=stylesheet_link_tag "homebase"%>
    <%=stylesheet_link_tag "homepage"%>
<%end%>
<%if signed_in?%>
    <%=content_for :notice do %>
        <%=render "shared/notice"%>
    <%end%>

    <%=content_for :cover do %>
    <div class="big-cover">
      <%=render "slider" if @home.sliders%>
    </div>
    <%end%>

    <%=render "keywords" if @home.keywords%>

    <% #render "suit_products"%>


    <div class="other clearfix">
        <%#render "new_hots"%>
        <%=@home.body.html_safe if @home.body.present?%>
    </div>
<%else%>
 <input id="poplogin" type="hidden" value="1">

<%end%>

<%=javascript_include_tag "bootstrap-transition","bootstrap-carousel"%>