<%=render "shared/metable", :resource => @home%>
<%=content_for :head do %>
  <%=stylesheet_link_tag "home"%>
    <%=stylesheet_link_tag "homebase"%>
    <%=stylesheet_link_tag "homepage"%>

    <script src="/assets/unslider.js"></script>
<%end%>

    <%=content_for :notice do %>
        <%=render "shared/notice"%>
    <%end%>
    <div class="menu_nav" style='float:left;'>
    <div class="nav" id="topchannel"  style='background-image:  url("/assets/cheuks_home_leftmenu_title.gif");background-repeat: no-repeat;'>
    <ul>
    <li class="lichannel firstli"><a href="#"></a>
    <div class="i_category hide" style='display: block;background-image:  url("/assets/cheuks_home_leftmenu_sub.gif");background-repeat: no-repeat;width:179;height:468'>
    <ul id="main_cat" style='background-image:  url("/assets/cheuks_home_leftmenu_sub.gif");background-repeat: no-repeat;width:179;height:468'>
    <li _index="1">
      <div class="cat_tit" id="catlistul">
        <a href="/category/98.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9804.html">水果</a> </dt>
            <dd>
              <a href="/category/980402.html">进口水果</a>
              <a href="/category/980401.html">国产水果</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9805.html">超值组合</a> </dt>
            <dd class="gdh170">
              <a href="/category/980501.html">水果组合</a>
              <a href="/category/980502.html">水果礼盒</a>
            </dd>
          </dl>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E6%96%B0%E8%A5%BF%E5%85%B0%E4%BD%B3%E6%B2%9B">新西兰佳沛</a>
            <a href="/product/search?key=%E6%96%B0%E5%A5%87%E5%A3%AB">新奇士</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="2">
      <div class="cat_tit">
        <a href="/category/97.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9704.html">蛋品</a></dt>
            <dd>
              <a href="/category/970404.html">鸡蛋</a>
              <a href="/category/970401.html">松花蛋</a>
              <a href="/category/970403.html">咸鸭蛋</a>
              <a href="/category/970402.html">其他蛋类</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9703.html">牛肉</a></dt>
            <dd>
              <a href="/category/970301.html">肥牛卷/牛肉饼</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9706.html">禽类</a></dt>
            <dd>
              <a href="/category/970601.html">冰鲜禽类</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9701.html">腌制调味</a></dt>
            <dd>
              <a href="/category/970101.html">调味肉禽</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9702.html">羊肉</a></dt>
            <dd>
              <a href="/category/970201.html">羊排羊肉</a>
              <a href="/category/970202.html">羊肉卷</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9705.html">猪肉</a></dt>
            <dd>
              <a href="/category/970501.html">黑毛/有机猪肉</a>
              <a href="/category/970502.html">进口猪肉</a>
              <a href="/category/970503.html">冷鲜猪肉</a>
            </dd>
          </dl>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E9%87%91%E9%94%A3">金锣</a>
            <a href="/product/search?key=%E7%BE%8E%E5%91%B3%E4%B8%83%E4%B8%83">贸威</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="3">
      <div class="cat_tit">
        <a href="/category/96.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9604.html">海鲜</a></dt>
            <dd>
              <a href="/category/960402.html">鲍鱼海参</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9605.html">河鲜</a></dt>
            <dd>
              <a href="/category/960501.html">大闸蟹</a>
              <a href="/category/960502.html">虾类</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9607.html">冰鲜水产</a></dt>
            <dd>
              <a href="/category/960701.html">冰鲜淡水鱼</a>
              <a href="/category/960702.html">冰鲜海水鱼</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9601.html">即食类</a></dt>
            <dd>
              <a href="/category/960101.html">贝类</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9602.html">调味预处理</a></dt>
            <dd>
              <a href="/category/960201.html">鱼柳</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9606.html">海鲜干货</a></dt>
            <dd>
              <a href="/category/960601.html">海鲜干货</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9603.html">超值组合</a></dt>
            <dd>
              <a href="/category/960301.html">海鲜组合</a>
              <a href="/category/960302.html">混合组合</a>
            </dd>
          </dl>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E7%BE%8E%E5%91%B3%E4%B8%83%E4%B8%83">贸威</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="4">
      <div class="cat_tit">
        <a href="/category/88.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/8801.html">乳制品</a></dt>
            <dd>
              <a href="/category/880101.html">进口牛奶</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8802.html">奶粉系列</a></dt>
            <dd>
              <a href="/category/880201.html">孕妇奶粉</a>
            </dd>
          </dl>
          <div style="height: 55px; width:1px;float: left;"></div>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E7%BA%BD%E9%BA%A6%E7%A6%8F">纽麦福</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="5">
      <div class="cat_tit">
        <a href="/product/listchannel/95">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9501.html">坚果炒货</a> </dt>

          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9502.html">肉蛋制品</a> </dt>

          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9503.html">海味零食</a> </dt>

          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9504.html">小食</a> </dt>

          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9505.html">饼干糕点</a> </dt>

          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9506.html">糖果巧克力</a> </dt>

          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9507.html">蜜饯果干</a> </dt>

          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9509.html">营养保健</a> </dt>

          </dl>
        </div>
        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E7%BE%8E%E5%91%B3%E4%B8%83%E4%B8%83">贸威</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="6">
      <div class="cat_tit">
        <a href="/category/89.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m cat_width_m">
          <dl class="cat_dl">
            <dt><a href="/category/8906.html">速冻方便菜肴</a></dt>
            <dd>
              <a href="/category/890601.html">半成品菜</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8908.html">即食食品</a> </dt>
            <dd>
              <a href="/category/890802.html">酒酿制品</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8907.html">速冻主食小吃</a></dt>
            <dd>
              <a href="/category/890701.html">西式主食</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8909.html">冷鲜熟食</a></dt>
            <dd>
              <a href="/category/890901.html">微波熟食</a>
            </dd>
          </dl>
          <div style="height: 105px; width:1px;float: left;"></div>
        </div>

      </div>
    </li>
    <li _index="7">
      <div class="cat_tit">
        <a href="/category/87.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/8702.html">蔬菜</a> </dt>
            <dd>
              <a href="/category/870201.html">叶菜类</a>
              <a href="/category/870202.html">根茎类</a>
              <a href="/category/870203.html">瓜果类</a>
              <a href="/category/870204.html">菌菇类</a>
              <a href="/category/870206.html">香辛类</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8708.html">有机蔬菜</a> </dt>
            <dd>
              <a href="/category/870801.html">有机叶菜类</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8707.html">速冻蔬菜</a> </dt>
            <dd class="gdh170">
              <a href="/category/870701.html">叶菜类</a>
              <a href="/category/870702.html">根茎类</a>
              <a href="/category/870703.html">瓜果类</a>
              <a href="/category/870704.html">豆类</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8701.html">即食蔬果</a> </dt>
            <dd class="gdh170">
              <a href="/category/870301.html">蔬菜色拉</a>
              <a href="/category/870302.html">水果色拉</a>
              <a href="/category/870303.html">水果杯</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8706.html">健康素食</a> </dt>
            <dd class="gdh170">
              <a href="/category/870601.html">即食素食</a>
              <a href="/category/870602.html">生鲜素食</a>
              <a href="/category/870603.html">方便素食</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8704.html">豆制品</a> </dt>
            <dd class="gdh170">
              <a href="/category/870401.html">大豆食品类</a>
              <a href="/category/870402.html">其他豆制品</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/8705.html">果蔬套餐</a> </dt>
            <dd class="gdh170">
              <a href="/category/870502.html">有机套餐</a>
            </dd>
          </dl>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E4%B8%83%E4%B8%83%E5%86%9C%E5%9C%BA">七七农场</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="8">
      <div class="cat_tit">
        <a href="/category/93.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9303.html">米面杂粮</a></dt>
            <dd>
              <a href="/category/930301.html">米</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9305.html">食用油</a></dt>
            <dd>
              <a href="/category/930501.html">国产食用油</a>
              <a href="/category/930502.html">进口食用油</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9301.html">厨房调料</a></dt>
            <dd>
              <a href="/category/930105.html">糖</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9304.html">南北干货</a></dt>
            <dd>
              <a href="/category/930401.html">干货菌菇类</a>
              <a href="/category/930402.html">其他干货类</a>
            </dd>
          </dl>
          <div style="height:98px; width:1px;float: left;"></div>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E9%87%91%E8%9D%B6">金蝶</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="9">
      <div class="cat_tit">
        <a href="/category/94.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9402.html">酒类</a></dt>
            <dd>
              <a href="/category/940201.html">白酒</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9404.html">饮料/水</a> </dt>
            <dd>
              <a href="/category/940404.html">矿泉水</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9403.html">咖啡/茶</a> </dt>
            <dd>
              <a href="/category/940306.html">咖啡豆/粉</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9401.html">冲调饮品</a> </dt>
            <dd>
              <a href="/category/940106.html">奶粉</a>
            </dd>
          </dl>
          <div style="height:120px; width:1px;float: left;"></div>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E4%B9%90%E7%BB%B4%E8%90%A8">乐维萨</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="10">
      <div class="cat_tit" style="border-bottom: none;">
        <a href="/category/91.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9102.html">精品礼盒</a></dt>
            <dd>
              <a href="/category/910201.html">水果礼盒</a>
              <a href="/category/910202.html">干货礼盒</a>
              <a href="/category/910203.html">海鲜礼盒</a>
              <a href="/category/910205.html">杂粮礼盒</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9101.html">礼品卡券</a></dt>
            <dd>
              <a href="/category/910102.html">礼品卡</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9103.html">年货套餐</a></dt>
            <dd>
              <a href="/category/910301.html">年货套餐</a>
            </dd>
          </dl>
          <div style="height: 232px; width:1px;float: left;"></div>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E7%BE%8E%E5%91%B3%E4%B8%83%E4%B8%83">贸威</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="11">
      <div class="cat_tit" style="border-bottom: none;">
        <a href="/category/91.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9102.html">精品礼盒</a></dt>
            <dd>
              <a href="/category/910201.html">水果礼盒</a>
              <a href="/category/910202.html">干货礼盒</a>
              <a href="/category/910203.html">海鲜礼盒</a>
              <a href="/category/910205.html">杂粮礼盒</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9101.html">礼品卡券</a></dt>
            <dd>
              <a href="/category/910102.html">礼品卡</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9103.html">年货套餐</a></dt>
            <dd>
              <a href="/category/910301.html">年货套餐</a>
            </dd>
          </dl>
          <div style="height: 232px; width:1px;float: left;"></div>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E7%BE%8E%E5%91%B3%E4%B8%83%E4%B8%83">贸威</a>
          </div>
        </div>
      </div>
    </li>
    <li _index="12">
      <div class="cat_tit" style="border-bottom: none;">
        <a href="/category/91.html">&nbsp;</a></div>
      <div class="cat_menu" style="display: none;">
        <div class="cat_m">
          <dl class="cat_dl">
            <dt><a href="/category/9102.html">精品礼盒</a></dt>
            <dd>
              <a href="/category/910201.html">水果礼盒</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9101.html">礼品卡券</a></dt>
            <dd>
              <a href="/category/910102.html">礼品卡</a>
            </dd>
          </dl>
          <dl class="cat_dl">
            <dt><a href="/category/9103.html">年货套餐</a></dt>
            <dd>
              <a href="/category/910301.html">年货套餐</a>
            </dd>
          </dl>
          <div style="height: 232px; width:1px;float: left;"></div>
        </div>

        <div class="brand">
          <div class="title">
            推荐品牌
          </div>
          <div class="content">
            <a href="/product/search?key=%E7%BE%8E%E5%91%B3%E4%B8%83%E4%B8%83">贸威</a>
          </div>
        </div>
      </div>
    </li>
    </ul>
    </div>
    </li>
    <li class="home <%= 'active' if controller_name == 'home' %>">
      <a href="/">首页</a>
    </li>
    <li class="brands dropdown">
      <a id="brands" data-target="/gallery/483?gtype=1" href="/gallery/483?gtype=1" class="dropdown-toggle" data-toggle="dropdown">新品闪购</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="bags">
        <%Ecstore::GoodCat.top_cats.each do |cat|%>
            <% if cat.sell == "true" %>
                <li><a tabindex="-1" href="/gallery/<%=cat.cat_id%>?gtype=1"><%=cat.cat_name%></a></li>
            <%end%>
        <%end%>
      </ul>
      <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="brands">
               <% Ecstore::Brand.menu_brands.each do |brand|%>
                <%if brand%>
                  <li>
                    <%=link_to brand.brand_name,"#{site_name}#{brand_path(brand)}" if Rails.env == "production"%>
                    <%=link_to brand.brand_name, brand_path(brand) if Rails.env == "development"%>
                  </li>
                <%end%>
              <%end%>
            </ul> -->
    </li>

    <li class="apparel dropdown">
      <a id="apparel" data-target="/gallery/483?gtype=2" href="/gallery/483?gtype=2" class="dropdown-toggle" data-toggle="dropdown">明星产品</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="bags">
        <%Ecstore::GoodCat.top_cats.each do |cat|%>
            <% if cat.future == "true" %>
                <li><a tabindex="-1" href="/gallery/<%=cat.cat_id%>?gtype=2"><%=cat.cat_name%></a></li>
            <%end%>
        <%end%>
      </ul>

    </li>
    <li class="bags_two dropdown">
      <a id="bags" data-target="/country/124?gtype=1" href="/country/124?gtype=1" class="dropdown-toggle" data-toggle="dropdown">热卖产品</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="bags">
        <%Ecstore::GoodCat.top_cats.each do |cat|%>
            <% if cat.agent == "true" %>
                <li><a tabindex="-1" href="/gallery/<%=cat.cat_id%>?gtype=3"><%=cat.cat_name%></a></li>
            <%end%>
        <%end%>
      </ul>
    </li>
    <li class="last"><img src="/assets/cheuks_slogn.gif"></li>

    </ul>

    </div>
    </div>

    <div class="products clearfix" style="display:none;width:170px;float:left;border:1px solid">
    <div class="left">
      <div class="tree-menu" id="cats_tree">
        <div class="title-level1">
          <a href="#">酒类</a>
        </div>
        <ul class="items-level1 folded ">
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/489?gtype=1">啤酒</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/535?gtype=1">葡萄酒</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/548?gtype=1">果酒</a></div>
          </li>
        </ul>
        <div class="title-level1">
          <a href="#">食品饮料</a>
        </div>
        <ul class="items-level1 folded expand">
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/508?gtype=1">冰激凌</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/509?gtype=1">蛋糕</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/494?gtype=1">巧克力</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/495?gtype=1">糖果</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/496?gtype=1">饼干</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/497?gtype=1">茶</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/498?gtype=1">咖啡</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/499?gtype=1">枫糖</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/500?gtype=1">橄榄油</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/534?gtype=1">通心粉</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/532?gtype=1">果汁</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/533?gtype=1">豆奶</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/530?gtype=1">套装礼盒</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/536?gtype=1">冲饮</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/537?gtype=1">蜂蜜</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/539?gtype=1">干果</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/547?gtype=1">牛奶</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/550?gtype=1">婴儿食品</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/551?gtype=1">奶粉</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/554?gtype=1">罐头</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/555?gtype=1">饮料</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/556?gtype=1">奶酪</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/557?gtype=1">黄油</a></div>
          </li>
        </ul>

        <div class="title-level1">
          <a href="#">美容护肤</a>
        </div>
        <ul class="items-level1 folded ">
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/520?gtype=1">护肤乳液</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/510?gtype=1">面膜</a></div>
          </li>
        </ul>
        <div class="title-level1">
          <a href="#">家居日用</a>
        </div>
        <ul class="items-level1 folded ">
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/521?gtype=1">洗发水</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/522?gtype=1">润发乳霜</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/519?gtype=1">沐浴露</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/518?gtype=1">浴盐</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/524?gtype=1">厨房用品</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/527?gtype=1">工艺品</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/538?gtype=1">茶具</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/544?gtype=1">清洁剂</a></div>
          </li>
          <li class="item-level1">
            <div class="title-level2"><a href="/gallery/549?gtype=1">菜籽油</a></div>
          </li>
        </ul>


      </div>
    </div>
    </div>

        <%#=content_for :cover do %>

        <div style="display:none">

          <%#=render "slider" if @home.sliders%>
        </div>
        <%#end%>


    <%#=render "keywords" if @home.keywords%>

    <% #render "suit_products"%>

    <div class="main" id="categoryProList"  style="width:771px;border:1px solid">
      <div class="i_banner" style="border:1px solid">
        <div class="i_slider  mainBanner">
          <div class="banner" id="banner">
            <div id="banner_bg">
            </div>
            <!--标题背景-->
            <div id="banner_info">
            </div>
            <ul>
              <li class="on">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
            </ul>
            <div id="banner_list">
              <div class="bitem">
                <div class="mi">
                  <a href="/products/a0761001" target="_blank">
                    <img src="/assets/cheuks_slider_pic1.jpg" class="lazy" data-src="/assets/cheuks_slider_pic1.jpg" alt="Much Higher,Much Safer"></a>
                </div>
                <div class="bannerad">
                  <span><a href="/products/a0761001" target="_blank"><img src="./yummy77original_files/197x100-0001.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0001.jpg" alt=""></a></span>
                  <span><a href="/products/a0761001" target="_blank"><img src="./yummy77original_files/197x100-0002(1).jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0002(1).jpg" alt=""></a></span>
                  <span><a href="/products/a0761001" target="_blank"><img src="./yummy77original_files/197x100-0004.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0004.jpg" alt=""></a></span>
                  <span><a href="/products/a0761001" target="_blank"><img src="./yummy77original_files/197x100-0048.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0048.jpg" alt=""></a></span>
                </div>
              </div>
              <div class="bitem hide">
                <div class="mi">
                  <a href="/static/activity/activity140523/index.html?cpin=homeindex" target="_blank">
                    <img src="/assets/cheuks_slider_pic1.jpg" class="lazy" data-src="/assets/cheuks_slider_pic1.jpg" alt="Much Higher,Much Safer"></a>
                </div>
                <div class="bannerad">
                  <span><a href="/product/111420132.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0030522.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0030522.jpg" alt=""></a></span>
                  <span><a href="/product/111420168.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0035522.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0035522.jpg" alt=""></a></span>
                  <span><a href="/product/111413112.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-002259.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-002259.jpg" alt=""></a></span>
                  <span><a href="/product/111017015.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0039522.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0039522.jpg" alt=""></a></span>
                </div>
              </div>
              <div class="bitem hide">
                <div class="mi">
                  <a href="/products/a0761001" target="_blank">
                    <img src="/assets/cheuks_slider_pic1.jpg" class="lazy" data-src="/assets/cheuks_slider_pic1.jpg" alt="Much Higher,Much Safer"></a>
                </div>
                <div class="bannerad">
                  <span><a href="/product/111714032.html?cpin=homeindex&cpip=Mtop4-1" target="_blank"><img src="./yummy77original_files/197x100-0010.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0010.jpg" alt=""></a></span>
                  <span><a href="/product/111713049.html?cpin=homeindex&cpip=Mtop4-2" target="_blank"><img src="./yummy77original_files/197x100-0011.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0011.jpg" alt=""></a></span>
                  <span><a href="/product/111712022.html?cpin=homeindex&cpip=Mtop4-3" target="_blank"><img src="./yummy77original_files/197x100-0012.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0012.jpg" alt=""></a></span>
                  <span><a href="/product/111713048.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0024522.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0024522.jpg" alt=""></a></span>
                </div>
              </div>
              <div class="bitem hide" >
                <div class="mi">
                  <a href="/static/activity/activity140524/index.html?cpin=homeindex" target="_blank">
                    <img src="/assets/cheuks_slider_pic1.jpg" class="lazy" data-src="/assets/cheuks_slider_pic1.jpg" alt="Much Higher,Much Safer"></a>
                </div>
                <div class="bannerad">
                  <span><a href="/product/111818006.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0040522.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0040522.jpg" alt=""></a></span>
                  <span><a href="/product/111816144.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0041522.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0041522.jpg" alt=""></a></span>
                  <span><a href="/product/211111008.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0042.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0042.jpg" alt=""></a></span>
                  <span><a href="/product/211212004.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0043102.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0043102.jpg" alt=""></a></span>
                </div>
              </div>
              <div class="bitem hide">
                <div class="mi">
                  <a href="/activity/promotion/1-250.html?cpin=homeindex" target="_blank">
                    <img src="/assets/cheuks_slider_pic1.jpg" class="lazy" data-src="/assets/cheuks_slider_pic1.jpg" alt="Much Higher,Much Safer"></a>
                </div>
                <div class="bannerad">
                  <span><a href="/product/121916016.html?cpin=homeindex" target="_blank"><img src="./yummy77original_files/197x100-0044.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0044.jpg" alt=""></a></span>
                  <span><a href="/product/125310021.html?cpin=homeindex&cpip=Mtop7-3" target="_blank"><img src="./yummy77original_files/197x100-0034522.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0034522.jpg" alt=""></a></span>
                  <span><a href="/product/251425053.html?cpin=homeindex&cpip=Mtop7-1" target="_blank"><img src="./yummy77original_files/197x100-0036522.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0036522.jpg" alt=""></a></span>
                  <span><a href="/product/121812009.html?cpin=homeindex&cpip=Mtop7-2" target="_blank"><img src="./yummy77original_files/197x100-0045.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/middle/197x100-0045.jpg" alt=""></a></span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="i_right">
        <div style=" overflow:hidden;">
          <div _pn="活动专区" class="tit on">活动专区</div>
          <div _pn="网站公告" class="tit">网站公告</div>
        </div>
        <div class="i_trends">
          <ul class="Imagead">
            <li>
              <a href="http://www.yummy77.com/static/activity/activity140822/index.html?cpin=homeindex" target="_blank">
                <img src="./美味七七网 - 生鲜网购首选 - 全国领先的购物网站，精选全球时鲜蔬果、肉禽蛋奶、海鲜水产、休闲食品、酒水饮料、粮油调味等多品类商品，24小时新鲜速达，货到付款_files/1(1).jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/right/1(1).jpg">
              </a>
            </li>
            <li>
              <a href="http://www.sh-holiday.com/yummy77?cpin=homeindex" target="_blank">
                <img src="./美味七七网 - 生鲜网购首选 - 全国领先的购物网站，精选全球时鲜蔬果、肉禽蛋奶、海鲜水产、休闲食品、酒水饮料、粮油调味等多品类商品，24小时新鲜速达，货到付款_files/上航0916.jpg" class="lazy" data-src="http://images.yummy77.com/upload/wscreen/right/%E4%B8%8A%E8%88%AA0916.jpg ">
              </a>
            </li>
          </ul>
          <ul style=" display:none;">
            <li><a href="http://www.yummy77.com/static/activity/dzdianping/index.html?cpin=homeindex&cpip=Rgonggao2" target="_blank" title="【晒单有礼】10元代金券晒单即可得">【晒单有礼】10元代金券晒单即可得</a></li>
            <li><a href="http://www.yummy77.com/product/salesgift?cpin=homeindex" target="_blank" title="在线购买美味七七电子礼品卡">在线购买美味七七电子礼品卡</a></li>
            <li><a href="http://www.yummy77.com/static/activity/activity140825/index.html?cpin=homeindex" class="Important" target="_blank" title="号外！亚马逊全球副总裁莅临七七">号外！亚马逊全球副总裁莅临七七</a></li>
            <li><a href="http://www.yummy77.com/activity/promotion/1-313.html?cpin=homeindex" class="Important" target="_blank" title="【进口牛奶】口中环游世界">【进口牛奶】口中环游世界</a></li>
            <li><a href="http://www.yummy77.com/ptlist/1.html?cpin=homeindex" class="Important" target="_blank" title="七粉福利：积分兑换区！">七粉福利：积分兑换区！</a></li>
          </ul>
        </div>
        <div class="i_ad">
          <a href="http://www.yummy77.com/product/111711056.html?cpin=homeindex" target="_blank">
            <img src="./美味七七网 - 生鲜网购首选 - 全国领先的购物网站，精选全球时鲜蔬果、肉禽蛋奶、海鲜水产、休闲食品、酒水饮料、粮油调味等多品类商品，24小时新鲜速达，货到付款_files/207110081011111.jpg" class="lazy" data-src="http://images.yummy77.com/upload/right/207110081011111.jpg" width="207px" height="110px"></a>
          <a href="http://www.yummy77.com/product/211014037.html?cpin=homeindex" target="_blank">
            <img src="./美味七七网 - 生鲜网购首选 - 全国领先的购物网站，精选全球时鲜蔬果、肉禽蛋奶、海鲜水产、休闲食品、酒水饮料、粮油调味等多品类商品，24小时新鲜速达，货到付款_files/207x110-013.jpg" class="lazy" data-src="http://images.yummy77.com/upload/right/207x110-013.jpg" width="207px" height="110px"></a>

        </div>
      </div>
      </div>
    <div class="other clearfix" style="border:1px solid;">
        <%#render "new_hots"%>
        <%=@home.body.html_safe if @home.body.present?%>
    </div>

<%=javascript_include_tag "bootstrap-transition","bootstrap-carousel"%>