<style>
  dd{   display: block;
      overflow: hidden;
      zoom: 1;
      padding-bottom: 15px;
      background: url(/assets/cheuks/pic_tibiao.gif) right bottom no-repeat;
  }
  .caption a img{
      width: 100%;
  }
  .clearing-thumbs img{
      width: 100%;
  }
  .bg {
      display: block;
      height: 28px;
      line-height: 28px;

      border: 1px solid #ddd;
  }
  #news li{
      border-top: 1px solid #EEE;
  }

  .hover {

      z-index: 20;
      background: none;
  }
  .bg a {
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 24px;
      color: #666;
      font-size: 14px;
      font-weight: bold;
      background: url(/assets/cheuks/pictibiao.gif) no-repeat 10px center;
  }
  .caption:hover {


      background: #f5e4c5;
      border: 1px solid #dbc9a7;
      border-top: none;
  }
 .text_in24{overflow:hidden;  height: 100px;width: 100%;

 }
 dd .texts{
      overflow: hidden;
      zoom: 1;
      padding: 0px 8px 5px;
      line-height: 22px;
      border: 1px solid #ddd;
      border-top: 1px solid #fff;
  }

</style>

<%=render "shared/metable", :resource => @home%>
<!--侧边菜单&滑动大图&登录&新闻-->

    <div class="row" >
        <div class="large-2 medium-2 columns show-for-medium-up ">
<%=render "store/goods/tree_menu"%>
        </div>
        <div class="large-7 medium-10 columns">
            <ul data-orbit class="width: 100%;">
                <li><img style="width: 100%;" src="img/20140625143419235_indexbanner.jpg"></li>
                <li><img style="width: 100%;" src="img/20130812111618208_indexbanner.jpg"></li>
                <li><img style="width: 100%;" src="img/20130812111443224_indexbanner.jpg"></li>
                <li><img style="width: 100%;" src="img/20130812101214604_indexbanner.jpg"></li>
                <li><img style="width: 100%;" src="img/20130809134144933_indexbanner.jpg"></li>
            </ul>
            <div class=" slider lazy">

              <div><a  class="image"href="/gallery/14.html"><img data-lazy="/assets/cheuks/20120609150156309_indexbanner.jpg" title="搬运车" /></a></div>
              <div><a  class="image"href="/gallery/15.html"><img data-lazy="/assets/cheuks/20120609150206762_indexbanner.jpg" title="堆高车" /></a></div>
              <div><a  class="image"href="/gallery/16.html"><img data-lazy="/assets/cheuks/20120808084002135_indexbanner.jpg" title="叉车" /></a></div>
              <div><a  class="image"href="/gallery/17.html"><img data-lazy="/assets/cheuks/20120811110709881_indexbanner.jpg" title="牵引车" /></a></div>
              <div><a  class="image"href="#"><img data-lazy="/assets/cheuks/20120808084008948_indexbanner.jpg" title="高空平台" /></a></div>
              <div><a  class="image"href="/gallery/19.html"><img data-lazy="/assets/cheuks/20120808084043449_indexbanner.jpg" title="工业平台" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120808084014604_indexbanner.jpg" title="气动液压" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120808084020214_indexbanner.jpg" title="手工具" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120808084026214_indexbanner.jpg" title="动力工具" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120808084032870_indexbanner.jpg" title="电机电器" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120808084038839_indexbanner.jpg" title="测试仪器" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120810164714971_indexbanner.jpg" title="叉车属具" /></a></div>
              <div><a  class="image"href="/gallery/122.html"><img data-lazy="/assets/cheuks/20121225152124045_indexbanner.jpg" title="工业衡器" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120810164738019_indexbanner.jpg" title="专用搬运工具" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120810164731706_indexbanner.jpg" title="托盘类" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120816100423226_indexbanner.jpg" title="机床钻床" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120825104351653_indexbanner.jpg" title="汽车尾板" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20120825104401512_indexbanner.jpg" title="装卸平台" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20130117162642955_indexbanner.jpg" title="工业机器人" /></a></div>
              <div><a  class="image"href="/gallery/22.html"><img data-lazy="/assets/cheuks/20130330111243934_indexbanner.jpg" title="装车机" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20130527165329739_indexbanner.jpg" title="梯子" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/default_index.jpg" title="未分类" /></a></div>
              <div><a  class="image"href="/gallery/110.html"><img data-lazy="/assets/cheuks/20131202141336435_indexbanner.jpg" title="洗地机" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/default_index.jpg" title="脚轮" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/default_index.jpg" title="工位装备" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20140826094703997_indexbanner.jpg" title="劳保、安防、标识" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20140825140125059_indexbanner.jpg" title="立体车库" /></a></div>
              <div><a  class="image"href=""><img data-lazy="/assets/cheuks/20140905111248857_indexbanner.jpg" title="包装捆绑" /></a></div>


            </div>
        </div>
           <div class="large-3 columns">
            <div class="row">
                <div class="columns large-12 panel">
                    <div class="wrapper">
                      <% if @user%>
                          <label>欢迎您<%=@user.login_name%>&nbsp;|&nbsp;退出登录</label>
                         <a href="#"  class="inside">欢迎您<%=@user.login_name%></a>
                         <a  class="inside" href="/logout?platform=/vshop" >退出登录</a>
                      <%else%>

                      <label>立刻登录&nbsp;|&nbsp;免费注册</label>
                      <a href="#" class="inside" data-reveal-id="login_iframe">登录</a>
                      <a href="#" class="inside" data-reveal-id="register_iframe">注册</a>
                          <%end%>
                    </div>
                    <img src="img/cheuks_chengnuo_icon.png" style="width:100%">
                  </div>
                </div>
                <div class="columns large-12 ">

                   <span style="border: 4px solid#ff0e29;margin-left: 5%"></span><span style="color:darkred;margin-left: 2%;font-size: 20px;font-weight: bold ">商城动态</span>
                    <ul id="news" >

                        <li class="news"><a href="/pages/news_wuliujiqiren">1:物流机器人产业大时代已经来临</a></li>
                        <li><a href="/pages/ziliuyujiaoliukongzhi">2:直流与交流控制系统电动叉物流机器人产业大时代已经</a></li>
                        <li><a href="/pages/newsDetails-9-1489">3:"卓仕"获十佳优秀物流装备技术企业称号</a></li>
                        <li><a href="/pages/newsDetails-9-1812">4:第九届广州叉车展卓仕成果丰硕</a></li>
                        <li><a href="/pages/newsDetails-9-1854">5:卓仕学院成立与发展</a></li>
                        <li><a href="/pages/newsDetails-9-1812">6:第九届广州叉车展卓仕成果丰硕</a></li>
                    </ul>
                </div>
                <div class="columsn large-12 panel">
                    <img src="img/info_right_pic3.jpg" style="width:100%">
                </div>

            </div>
        </div>



<!--  -->
<% @progoods .each do |pg|%>
    <%if pg.priority==1%>
<div id="today_recommend" class="row">
  <%elsif  pg.priority==2%>

        <!--月冠军-->
        <div id="month_champion" class="row">

     <%end%>


          <div class="large-2 small-6 columns panel">
            <div>

              <a href="/products/<%=pg.codes%>"><img src="img/recommend_left.jpg" style="width:100%"></a>
            </div>
          </div>
          <div class="large-10 columns panel">
            <ul class="clearing-thumbs large-block-grid-5 small-block-grid-2">
              <%pg.field_vals.split(",")[0].each do |p|%>
                  <%@pro=Ecstore::Product.where("bn like ?" , p+"%" )%>
                  <li class="item-wrapper  ">
                    <div class="img-wrapper">
                      <% unless signed_in?%>
                          <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
                      <%else%>
                          <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

                      <%end%>
                      <a href="/products/<%=p%>"><img src="<%=Ecstore::Good.find_by_bn(p).medium_pic%>"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
                    </div>
                    <input type="hidden"class="goods_id" value="<%=p%>">
                    <a href="/products/<%=p%>"><h3><%=Ecstore::Good.find_by_bn(p).name%></h3>
                    <h5 style="color: #ff0000">￥<%=Ecstore::Good.find_by_bn(p).price%></h5>市场价：<span style="font-size:.8em ;color: #ff0000"><%=Ecstore::Good.find_by_bn(p).mktprice%></span>
                   <br>
                    <%@pro.each do |product|%>
                        <% if product.detail_spec%>
                            <%spec=JSON.parse(product.detail_spec)%>
                            <%spec.each_with_index  do |value, index|  %>
                                <% if value[0] =="额定负载" %>
                                   <%=value[0]%> : <%=value[1]%>

                                <%end%>
                            <%end%>
                              </a>
                    <div class="more-product-info">

                      <p>产品特点：<i class="fi-plus size-36"></i></p>
                      <p class="text_in24"><%=Ecstore::Good.find_by_bn(p).desc%> </p>
                    </div>   <%end %>
                    <%end%>
                  </li>
              <%end%>
            </ul>
          </div>

        </div>


    <%end%>





<% if @promotions%>
<%@promotions.each  do |pro|%>
<div class="row">
  <div class="large-12 small-2 columns">
    <a  name="<%=pro.name%>"></a>



  </div>
</div>
<div class="row">
  <div class="large-2 columns panel">
    <h4 data-magellan-destination="<%=pro.name%>">   <span><%=pro.priority%></span>F <%=pro.name%></h4>
    <ul class="clearing-thumbs" >
      <li>
        <ul class="side-nav">

          <% Ecstore::GoodCat.where(:parent_id=>pro.codes).limit(4).each  do |godes|%>
              <% unless godes.cat_name==""%>
              <li><a href="/gallery/<%=godes.cat_id%>"><%=godes.cat_name%></li>  <%end%><%end%>
        </ul>
        <img src="img/floor_left.jpg">
      </li>
    </ul>
  </div>
  <div class="columns large-8">

    <ul class="clearing-thumbs large-block-grid-4 small-block-grid-2">
      <%pro.field_vals.split(",")[0].each do |p|%>
          <%@pro=Ecstore::Product.where("bn like ?" , p+"%" )%>

      <li class="caption" >

        <a href="/products/<%=p%>" class=""><img src="<%=Ecstore::Good.find_by_bn(p).medium_pic%>" onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        <dd> <span class="bg"><a href="javascript:void(0);" ><%=Ecstore::Good.find_by_bn(p).name%></a></span>
          <div class="texts">

            <%@pro.each do |product|%>
                <% if product.detail_spec%>
                    <%spec=JSON.parse(product.detail_spec)%>
                    <%spec.each_with_index  do |value, index|  %>
                           <% if value[0] =="额定负载" %>
                          <%=value[0]%>
                         <%=value[1]%>
                        <%end   %>
                     <%end%>

            <span class="fbol ">


                        <p class="text_in24">产品特点：<%=Ecstore::Good.find_by_bn(p).desc%> </p>
                        </span>  <%end%>    <%end%>
          </div>
        </dd>
      <%end%>
      </li>
    </ul>
  </div>
  <div class="columns large-2">
    <a href="#"><img src="img/floor_product_right.jpg"></a>
  </div>
</div>
<%end%>





<%end%>
<div class="w backpanel " id="backpanel-floor"  style="display: block;">
  <div class="backpanel-inner">
    <% if @promotions%>
        <%@promotions.each  do |pro|%>

    <a href="#<%=pro.name%>" class="floor-links floor-fore0"> <div class=" bp-item bp-item-floor-links floor-fore0" data-magellan-arrival="<%=pro.name%>" > <%=pro.name%></div></a>
         <%end%>  <%end%>
  </div></div>  </div>
<%=javascript_include_tag "test/slick.min.js"%>
<script type="text/javascript">
    $('.lazy').slick({
        lazyLoad: 'ondemand',
        slidesToShow: 4,
        slidesToScroll: 1
    });


</script>
<script>

//          $(".caption").hover(function(){
//              $(this).children("dd").addClass("hover");
//         $(this).children("dd").children(".texts").children(".fbol").removeClass("hidden") ;
//},function(){
//              $(this).children("dd").removeClass("hover");
//              $(this).children("dd").children(".texts").children(".fbol").addClass("hidden") ;
//          })
            </script>

