<style>
  dd{   display: block;
      overflow: hidden;
      zoom: 1;
      padding-bottom: 15px;
      background: url(/assets/cheuks/pic_tibiao.gif) right bottom no-repeat;
  }
  .caption a img{
      width: 100%;
  }
  .clearing-thumbs img{
      width: 100%;
  }
  .bg {
      display: block;
      height: 28px;
      line-height: 28px;

      border: 1px solid #ddd;
  }
  .th{
      width: 100%;
  }
  /*.hover {*/

      /*z-index: 20;*/
      /*background: none;*/
  /*}*/
  .bg a {
      padding-left: 24px;
      color: #666;
      font-size: 14px;
      font-weight: bold;
      background: url(/assets/cheuks/pictibiao.gif) no-repeat 10px center;
  }
  /*.caption:hover {*/


      /*background: #f5e4c5;*/
      /*border: 1px solid #dbc9a7;*/
      /*border-top: none;*/
  /*}*/

  dd .texts {
      overflow: hidden;
      zoom: 1;
      padding: 0px 8px 5px;
      line-height: 22px;
      border: 1px solid #ddd;
      border-top: 1px solid #fff;
  }

</style>

<%=render "shared/metable", :resource => @home%>
<!--侧边菜单&滑动大图&登录&新闻-->

    <div class="row" >
        <div class="large-2 medium-3 columns show-for-medium-up ">
<%=render "store/goods/tree_menu"%>
        </div>
        <div class="large-7 medium-5 columns">
            <ul data-orbit class="width: 100%;">
                <li><img style="width: 100%;" src="img/20140625143419235_indexbanner.jpg"></li>
                <li><img style="width: 100%;" src="img/20130812111618208_indexbanner.jpg"></li>
                <li><img style="width: 100%;" src="img/20130812111443224_indexbanner.jpg"></li>
                <li><img style="width: 100%;" src="img/20130812101214604_indexbanner.jpg"></li>
                <li><img style="width: 100%;" src="img/20130809134144933_indexbanner.jpg"></li>
            </ul>
            <div class="row">
                <ul class="large-block-grid-4 small-block-grid-2 clearing-thumbs">
                    <li><a href="#" class="th"><img src="img/product_top3.jpg" ></a></li>
                    <li><a href="#" class="th"><img src="img/product_top3.jpg" ></a></li>
                    <li><a href="#" class="th"><img src="img/product_top3.jpg"></a></li>
                    <li><a href="#" class="th"><img src="img/product_top3.jpg"></a></li>
                </ul>
            </div>
        </div>
           <div class="large-3 medium-4 columns">
            <div class="row">
                <div class="columns large-12 panel">
                    <div class="wrapper">
                      <% if @user%>
                          <label>欢迎您<%=@user.login_name%>&nbsp;|&nbsp;退出登录</label>
                         <a href="#"  class="inside">欢迎您<%=@user.login_name%></a>
                         <a  class="inside" href="/logout?platform=/vshop" >退出登录</a>
                      <%else%>

                      <label>立刻登录&nbsp;|&nbsp;免费注册</label>
                      <a href="#" class="inside" data-reveal-id="login_iframe">登录</a>
                      <a href="#" class="inside" data-reveal-id="register_iframe">注册</a>
                          <%end%>
                    </div>
                    <img src="img/cheuks_chengnuo_icon.png" style="width:100%">
                  </div>
                </div>
                <div class="columns large-12 ">
                   <h3>商城动态</h3>
                    <ul id="news" >

                        <li class="news"><a href="/pages/news_wuliujiqiren">物流机器人产业大时代已经来临</a></li>
                        <li><a href="/pages/ziliuyujiaoliukongzhi">直流与交流控制系统电动叉物流机器人产业大时代已经</a></li>
                        <li><a href="/pages/newsDetails-9-1489">"卓仕"获十佳优秀物流装备技术企业称号</a></li>
                        <li><a href="/pages/newsDetails-9-1812">第九届广州叉车展卓仕成果丰硕</a></li>
                        <li><a href="/pages/newsDetails-9-1854">卓仕学院成立与发展</a></li>
                        <li><a href="/pages/newsDetails-9-1812">第九届广州叉车展卓仕成果丰硕</a></li>
                    </ul>
                </div>
                <div class="columsn large-12 panel">
                    <img src="img/info_right_pic3.jpg" style="width:100%">
                </div>

            </div>
        </div>

    </div>

<!--  -->
<% @progoods .each do |pg|%>
    <%if pg.priority==1%>
<div id="today_recommend" class="row">

  <div class="large-2 columns panel">
    <div>

      <a href="/products/<%=pg.code%>"><img src="img/recommend_left.jpg" style="width:100%"></a>
    </div>
  </div>
  <div class="large-10 columns panel">
    <ul class="clearing-thumbs large-block-grid-5 small-12">
      <%pg.field_vals.split(",")[0].each do |p|%>
      <li class="item-wrapper  ">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/<%=p%>"><img src="<%=Ecstore::Good.find_by_bn(p).medium_pic%>"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
        <input type="hidden"class="goods_id" value="<%=p%>">
        <a href="/products/<%=p%>"><h3><%=Ecstore::Good.find_by_bn(p).name%></h3></a>
        <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
        <p>额定载荷(kg)：1500 </p>
        <p>提升高度(mm)：6000 </p>
        <div class="more-product-info">

          <p>产品特点：<i class="fi-plus size-36"></i></p>
          <p>-倍深式前移叉车(又称剪刀叉)的适用范围非常广泛，是各种室内工作的理想选择，包括整体仓库，零售店等。
            ... </p>
        </div>
      </li>
       <%end%>
    </ul>
  </div>

</div>
    <%elsif  pg.priority==2%>

        <!--月冠军-->
        <div id="month_champion" class="row">
          <div class="large-2 columns panel">
            <div>
              <a href="/products/10010108025"><img src="img/recommend_left.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic" style="width:100%"></a>
            </div>
          </div>
          <div class="large-10 columns panel">
            <ul class="clearing-thumbs large-block-grid-5 small-12">
              <li class="item-wrapper">
                <div class="img-wrapper">
                  <% unless signed_in?%>
                      <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
                  <%else%>
                      <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

                  <%end%>
                  <a href="/products/10010108025"><img src="/images/a01/10010108025_m.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
                </div>
                <input type="hidden"class="goods_id" value="10010108025">
                <a href="/products/10010108025"><h3>电动搬运车--LPT25AC</h3></a>
                <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
                <p>LPT25AC</p>
                <p>额定载荷(kg)：2500</p>
                <div class="more-product-info">
                  <p>货叉尺寸(mm)：可定制</p>
                  <p>产品特点：<i class="fi-plus size-36"></i></p>
                  <p>-碳钢喷塑结构，轮子为尼龙轮，降低运输高度，对化学品有高阻抗力，运输不留痕迹。 -仪表箱采用特别的简洁.</p>
                </div>
              </li>


            </ul>
          </div>
        </div>


    <%end%>

    <%end%>

<!--今日推荐-->


    <div id="today_recommend" class="row">

        <div class="large-2 columns panel">
          <div>

              <a href="/products/10010203441"><img src="img/recommend_left.jpg" style="width:100%"></a>
          </div>
        </div>
        <div class="large-10 columns panel">
        <ul class="clearing-thumbs large-block-grid-5 small-12">
        <li class="item-wrapper  ">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
              <%else%>
          <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/10010203441"><img src="/images/a01/10010203441_m.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
          <input type="hidden"class="goods_id" value="10010203441">
          <a href="/products/10010203441"><h3>倍深式前移电动堆高车</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>额定载荷(kg)：1500 </p>
            <p>提升高度(mm)：6000 </p>
            <div class="more-product-info">

            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>-倍深式前移叉车(又称剪刀叉)的适用范围非常广泛，是各种室内工作的理想选择，包括整体仓库，零售店等。
              ... </p>
        </div>
        </li>
          <li class="item-wrapper">
            <div class="img-wrapper">
              <% unless signed_in?%>
                  <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
              <%else%>
                  <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

              <%end%>
              <a href="/products/10010201051"><img src="/images/a01/10010201051_m.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
            </div>
            <input type="hidden"class="goods_id" value="10010201051">
            <a href="/products/10010201051"><h3>（快速泵）手动堆高车--SFHXX16-A</h3></a>
            <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>额定载荷(kg)：1500</p>
            <p>提升高度(mm)：1600</p>

            <div class="more-product-info">
       <p>产品特点：<i class="fi-plus size-36"></i></p>
              <p>高品质油缸的选用密封性能好，安全省力。</p>
            </div>
          </li>
        <li class="item-wrapper">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/10010201071"><img src="/images/a01/10010201071_m.jpg" onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
          <input type="hidden"class="goods_id" value="10010201071">
          <a href="/products/10010201071"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;倾斜车</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>

            <p>额定载荷(kg)：100</p>
          <p> 提升高度(mm)：285</p>

            <div class="more-product-info">
            <p>货叉尺寸(mm)：可定制</p>
            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>适用于仓库、生产流水线等工作场合。</p>
        </div>
        </li>
         <li class="item-wrapper">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/10010108021"><img src="/images/a01/10010108021_m.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
           <input type="hidden"class="goods_id" value="10010108021">
          <a href="/products/10010108021"><h3>电动搬运车</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>电动搬运车--WP-LPT15(AC)</p>
            <p>额定载荷(kg)：2200</p>
            <div class="more-product-info">
            <p>货叉尺寸(mm)：可定制</p>
            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>LPT22系列全电动搬运车适用于水平中短距离货物输送，它是一款步行式和站板式结合的车辆。 1.有效载荷...</p>
        </div>
        </li>
         <li class="item-wrapper">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/10010203242"><img src="/images/a01/10010203242_m.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
           <input type="hidden"class="goods_id" value="10010203242">
          <a href="/products/10010203242"><h3>插腿式全电动堆高车-CLT10AC系列</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>电子秤搬运车--SAC</p>
            <p>额定载荷(kg)：2500</p>
            <div class="more-product-info">
            <p>货叉尺寸(mm)：可定制</p>
            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>-碳钢喷塑结构，轮子为尼龙轮，降低运输高度，对化学品有高阻抗力，运输不留痕迹。 -仪表箱采用特别的简洁.</p>
        </div>
        </li>
        </ul>
        </div>
    </div>
    <!--月冠军-->
    <div id="month_champion" class="row">
            <div class="large-2 columns panel">
          <div>
              <a href="/products/10010108025"><img src="img/recommend_left.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic" style="width:100%"></a>
          </div>
        </div>
        <div class="large-10 columns panel">
        <ul class="clearing-thumbs large-block-grid-5 small-12">
        <li class="item-wrapper">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/10010108025"><img src="/images/a01/10010108025_m.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
          <input type="hidden"class="goods_id" value="10010108025">
          <a href="/products/10010108025"><h3>电动搬运车--LPT25AC</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>LPT25AC</p>
            <p>额定载荷(kg)：2500</p>
            <div class="more-product-info">
            <p>货叉尺寸(mm)：可定制</p>
            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>-碳钢喷塑结构，轮子为尼龙轮，降低运输高度，对化学品有高阻抗力，运输不留痕迹。 -仪表箱采用特别的简洁.</p>
        </div>
        </li>
        <li class="item-wrapper">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/10010108101"><img src="/images/a01/10010108101_m.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
          <input type="hidden"class="goods_id" value="10010108101">
          <a href="/products/10010108101"><h3>电动搬运拣选车</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>搬运车-－OPL系列</p>
            <p>额定载荷(kg)：2500</p>
            <div class="more-product-info">
            <p>货叉尺寸(mm)：可定制</p>
            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>-碳钢喷塑结构，轮子为尼龙轮，降低运输高度，对化学品有高阻抗力，运输不留痕迹。 -仪表箱采用特别的简洁.</p>
        </div>
        </li>
        <li class="item-wrapper">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/10010108024"><img src="/images/a01/10010108024_m.jpg"onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
          <input type="hidden"class="goods_id" value="10010108024">
          <a href="/products/10010108024"><h3>电动搬运车</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>WP-LPT22</p>
            <p>额定载荷(kg)：2500</p>
            <div class="more-product-info">
            <p>货叉尺寸(mm)：可定制</p>
            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>-碳钢喷塑结构，轮子为尼龙轮，降低运输高度，对化学品有高阻抗力，运输不留痕迹。 -仪表箱采用特别的简洁.</p>
        </div>
        </li>
         <li class="item-wrapper">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/1001010802001"><img src="/images/a01/1001010802001_m.jpg "onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
           <input type="hidden"class="goods_id" value="1001010802001">
          <a href="/products/1001010802001"><h3>电动托盘搬运车</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>（小金刚）- LPT15BL</p>
            <p>额定载荷(kg)：2500</p>
            <div class="more-product-info">
            <p>货叉尺寸(mm)：可定制</p>
            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>-碳钢喷塑结构，轮子为尼龙轮，降低运输高度，对化学品有高阻抗力，运输不留痕迹。 -仪表箱采用特别的简洁.</p>
        </div>
        </li>
         <li class="item-wrapper">
        <div class="img-wrapper">
          <% unless signed_in?%>
              <a href="#" class="button expand add-to-cart  " data-reveal-id="login_iframe" >加入购物车</a>
          <%else%>
              <a href="#" class="button expand add-to-cart addcart">加入购物车</a>

          <%end%>
          <a href="/products/10010401031"><img src="/images/a01/10010401031_m.jpg" onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        </div>
           <input type="hidden"class="goods_id" value="10010401031">
          <a href="/products/10010401031"><h3>汽车转移器</h3></a>
          <h5>￥20000.00</h5>市场价：<span style="font-size:.8em">0</span>
            <p>汽车转移器--EL系列</p>
            <p>额定载荷(kg)：2500</p>
            <div class="more-product-info">
            <p>货叉尺寸(mm)：可定制</p>
            <p>产品特点：<i class="fi-plus size-36"></i></p>
            <p>-碳钢喷塑结构，轮子为尼龙轮，降低运输高度，对化学品有高阻抗力，运输不留痕迹。 -仪表箱采用特别的简洁.</p>
        </div>
        </li>
        </ul>
        </div>
    </div>











<% if @promotions%>
<%@promotions.each  do |pro|%>
<div class="row">
  <div class="large-12 columns">
    <a  name="<%=pro.name%>"></a>


    <h4 data-magellan-destination="<%=pro.name%>">   <span><%=pro.priority%></span>F <%=pro.name%></h4>
  </div>
</div>
<div class="row">
  <div class="large-2 columns panel">
    <ul class="clearing-thumbs" >
      <li>
        <ul class="side-nav">
          <% Ecstore::GoodCat.where(:parent_id=>pro.code).limit(4).each  do |godes|%>
              <li><a href="#"><%=godes.cat_name%></li>  <%end%>
        </ul>
        <img src="img/floor_left.jpg">
      </li>
    </ul>
  </div>
  <div class="columns large-8">

    <ul class="clearing-thumbs large-block-grid-4">
      <%pro.field_vals.split(",")[0].each do |p|%>


      <li class="caption" >

        <a href="/products/<%=p%>" class=""><img src="<%=Ecstore::Good.find_by_bn(p).medium_pic%>" onerror="javascript:this.src='/assets/nopic.png';" alt="pic"></a>
        <dd> <span class="bg"><a href="javascript:void(0);" ><%=Ecstore::Good.find_by_bn(p).name%></a></span>
          <div class="texts">
            <p>额定载荷(kg)：3000 </p><p>操作方式：坐驾 </p>

                        <span class="fbol ">

                        <h6>产品特点：</h6>
                        <p class="text_in24">产品特点：
                          1、动力系统
                          发动机为美国CumminsB3.3系列柴油机，气缸总容积3300cc，额定...
                        </p>
                        </span>
          </div>
        </dd>
      <%end%>
      </li>
    </ul>
  </div>
  <div class="columns large-2">
    <a href="#"><img src="img/floor_product_right.jpg"></a>
  </div>
</div>
<%end%>





<%end%>
<div class="w backpanel " id="backpanel-floor"  style="display: block;">
  <div class="backpanel-inner">
    <% if @promotions%>
        <%@promotions.each  do |pro|%>

    <a href="#<%=pro.name%>" class="floor-links floor-fore0"> <div class=" bp-item bp-item-floor-links floor-fore0" data-magellan-arrival="<%=pro.name%>" > <%=pro.name%></div></a>
         <%end%>  <%end%>
  </div></div>
<script>

//          $(".caption").hover(function(){
//              $(this).children("dd").addClass("hover");
//         $(this).children("dd").children(".texts").children(".fbol").removeClass("hidden") ;
//},function(){
//              $(this).children("dd").removeClass("hover");
//              $(this).children("dd").children(".texts").children(".fbol").addClass("hidden") ;
//          })
            </script>

