
<%=content_for :title do "活动在线招募 | Cheuks | 卓仕 工业品专家" end%>


  <div class="row">
<div class="page-header">
  <span style="border: 4px solid #b6edff"></span><span style="margin-left: 10px;font-weight: bold;font-size: 15px">所有活动</span>

</div>
  <br>
<table class="table table-bordered table-hover" width="100%">
  <tr>
    <th>活动名</th>
    <!-- <th>活动时间</th> -->
    <th>创建时间</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%=event.name%></td>
    <td><%=event.created_at%></td>
    <td><%= link_to '查看', event_path(event),:target=>"_blank" %></td>
  </tr>
<% end %>
</table>

<div class="pagination">
  <%= will_paginate @events, :container => false %>
</div>  </div>