


  <div class="applicant-form" id="form">
  <div>
 <span style="border: 4px solid #FF8000"></span> <span style="margin-left: 10px">活动报名</span>
  </div>
<%=form_for :applicant,:url=>@action_url,:html => {:class=>"am-form"},:remote=>true do |f|%>
    <%=f.hidden_field :event_id,:value=>@event.id%>
        <%=f.hidden_field :member_id,:value=>@user.member_id%>
    <div id="msg"></div>

        <div class="am-input-group">
         <span class="am-input-group-label"> <span style="color: red">*</span><i class="am-icon-user"></i></span>
          <%=f.text_field :name,:class=>"input" ,:placeholder=>"请输入您的姓名",:value=>@user.name%>
        </div>
        <br>

        <div class="am-input-group">
          <span class="am-input-group-label"> <i class="am-icon-user"></i></span>
          <%=f.select :sex,{'女'=>"female",'男'=>"male"}%>
        </div>
        <br>
        <div class="am-input-group">
          <span class="am-input-group-label"><span style="color: red">*</span> <i class="am-icon-mobile"></i></span>
          <%=f.text_field :mobile,:class=>"input", :placeholder=>"请输入您的手机号",:value=>@user.mobile%>
        </div>
        <br>
        <div class="am-input-group">
          <span class="am-input-group-label"><span style="color: red">*</span> <i class="am-icon-envelope"></i></span>
          <%=f.text_field :email,:class=>"input", :placeholder=>"请输入您的邮箱",:value=>@user.email%>
        </div>
        <br>
        <div class="am-input-group">
          <span class="am-input-group-label"><span style="color: red">*</span> <i class="am-icon-weixin"></i></span>
          <%=f.text_field :wechat_num,:class=>"input", :placeholder=>"请输入您的微信号",:value=>@user.wechat_num%>
        </div>
        <br>
        <div class="am-input-group">
            <span>自我介绍</span>
          <%=text_field_tag :user_desc ,@user.user_desc,:class=>"input" ,:placeholder=>"请输入下您的自我介绍如:公司职位,性格等!!" ,:style=>"height:60px;width:100%"%>
        </div>
        <br>




        <input type="submit" value="提交报名" class="am-btn am-btn-block am-btn-warning">
      </fieldset>

<%end%>
    </div> </div>      </div>