<div class="am-g"style="padding: 15px">

  <div class="am-u-md-6">
    <div class="am-panel am-panel-default">
      <div class="am-panel-hd">活动: <%=@event.name%></div>
      <div class="am-panel-bd"><span class="evenfont"> 目前已经有<span style="color: #ff0000">(<%=@applicants.size%>)</span>人报名了哦!!!</span><br>
        <span class="evenfont">报名截止时间<%=Time.at(@event.endtime).to_s(:db)%> </span> <br>
        <span class="evenfont">活动开始时间<%=Time.at(@event.startime).to_s(:db)%> </span> <br>
       <span class="evenfont">活动内容:</span> <%=raw @event.body.gsub(/width/,'widthh').gsub(/height/,'heightt/') if @event.body%>
        <div data-am-widget="map" class="am-map am-map-default" data-name="<%=@event.name%>"
             data-address="<%=@event.adds%>" data-longitude="" data-latitude=""
             data-scaleControl="" data-zoomControl="true" data-setZoom="17" >
          <div id="bd-map"></div>
        </div>
      </div></div></div>






</div>
</div>
