<%=form_for :applicant,:url=>events_applicants_path,:remote=>true do |f|%>
      <%=f.hidden_field :event_id,:value=>@event.id%>
	<div id="msg">

	</div>

	<div class="field-holder">
		<span class="field">
			<label>姓名 : </label>
			<%=f.text_field :name,:class=>"input"%>
		</span>
		<span class="field">
			<label>年龄 : </label>
			<%=f.text_field :age,:class=>"input age"%>
		</span>
		<span class="field">
			<label>性别 : </label>
			<%=f.select :sex,{'女'=>"female",'男'=>"male"}%>
		</span>
 	</div>

 	<div class="field-holder">
		<span class="field">
			<label>电话 : </label>
			<%=f.text_field :mobile,:class=>"input"%>
		</span>
		<span class="field">
			<label>邮箱 : </label>
			<%=f.text_field :email,:class=>"input"%>
		</span>

			<span class="field">
			<label>微信号 : </label>
              <%=f.text_field :wechat_num,:class=>"input"%>
		</span>

    </div>

	<div class="actions">
		<%=f.submit "",:class=>"btn-submit"%>
	</div>
<%end%>