


<%=form_for :applicant,:url=>events_applicants_path,:remote=>true do |f|%>
    <%=f.hidden_field :event_id,:value=>@event.id%>
    <div id="msg">

    </div>

    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">姓名 : </label>
        </div>
        <div class="small-9 columns">
          <%=f.text_field :name,:class=>"input"%>
        </div>
      </div>
    </div>



    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">年龄 :  </label>
        </div>
        <div class="small-9 columns">
          <%=f.text_field :age,:class=>"input age"%>
        </div>
      </div>
    </div>



    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">性别 : </label>
        </div>
        <div class="small-9 columns">
          <%=f.select :sex,{'女'=>"female",'男'=>"male"}%>
        </div>
      </div>
    </div>



    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">姓名 : </label>
        </div>
        <div class="small-9 columns">
          <%=f.text_field :name,:class=>"input"%>
        </div>
      </div>
    </div>


    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">电话 : </label>

        </div>
        <div class="small-9 columns">
          <%=f.text_field :mobile,:class=>"input"%>
        </div>
      </div>
    </div>



    <div class="small-8 columns">
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right inline">邮箱 : </label>

        </div>
        <div class="small-9 columns">
          <%=f.text_field :email,:class=>"input"%>
        </div>
      </div>
    </div>

    <div class="small-8 columns">

      <div class="row">
          <%=f.submit "提交报名信息",:class=>"button info",:style=>"margin-left:20px"%>
      </div>
    </div>




<%end%>