<%=form_for @label,:url=>admin_label_path(@label),:method=>:put,:html=>{:class=>"form-horizontal"} do |f|%>
	 <div class="control-group">
	    <label class="control-label">标签</label>
	    <div class="controls">
	      <%=f.text_field :name%>
	      <span class="help-block error">
	      	<%=@label.errors.messages[:name].join("")%>
	      </span>
	    </div>
  	</div>

  	<div class="control-group">
  		<div class="controls">
	      		<%=f.submit "更新",:class=>"btn btn-primary"%>
	      		&nbsp;&nbsp;&nbsp;
	      		<%=link_to "返回",admin_labels_path%>
	    	</div>
  	</div>
  	
<%end%>