<br/><br/><br/><br/><br/>
<div>
  <h4>所有关注者</h4>
  <%if @supplier%>
      <h4><%=link_to '注册/互信用户',  members_vshop_index_path %></h4>
  <%end%>
</div>
<%= link_to '刷新关注者列表','/admin/wechat/followers_import', :class => "pull-right btn btn-primary" %>

<table class="table table-bordered table-hover">
  <tr>
    <th>openid</th>
    <th>全部佣金</th>
    <th>头像</th>
    <th>昵称</th>
    <th>性别</th>
    <th>地区</th>
    <th>关注时间</th>
    <th>操作</th>
  </tr>

  <% @followers.each do |follower| %>
      <tr>
        <td><%=follower.openid%></td>
        <td><%=follower.commission%></td>
        <%if follower.user_info && follower.user_info.index('}')%>
            <%@person =eval(follower.user_info)%>
            <td><%=image_tag @person["headimgurl"], :size => "108x108"%></td>

            <td><%=@person["nickname"]%></td>
            <td><%=@person["sex"]%></td>
            <td><%="#{@person["country"]}/#{@person["province"]}/#{@person["city"]}"%></td>
            <td><%=Time.at(@person["subscribe_time"]).strftime("%Y-%m-%d %H:%M:%S")%></td>
        <%end%>
        <td>
          <%=link_to '更新',"/admin/wechat/follower_renew?openid=#{follower.openid}"%>
          <%#= link_to '编辑', follower_renew_admin_wechat_path(follower) %>
          |
          <%#= link_to '删除', admin_supplier_path(follower), method: :delete, data: { confirm: '确定删除?' } %>
        </td>
      </tr>
  <% end %>
</table>

<div class="pagination">
  <%= will_paginate @followers, :container => false %>
</div>
