<%=form_for :promotion,:url=>@action_url,:method=>@method,:html=>{:class=>"form-horizontal"} do |f|%>
<%=f.hidden_field :promotion_type,:value=>"order"%>
<div class="control-group">
    <%=f.label :name, "名称*",:class=>"control-label"%>
    <div class="controls">
      <%=f.text_field :name%>
    </div>
</div>

<div class="control-group">
    <%=f.label :desc, "描述*",:class=>"control-label"%>
    <div class="controls">
      <%=f.text_area :desc,:rows=>3%>
    </div>
</div>


<div class="control-group">
    <%=f.label :name, "是否开启*",:class=>"control-label"%>
    <div class="controls">
      <label class="radio inline">
      <%=f.radio_button :enable,true,:checked=>true%> <span>是</span>
      </label>
      <label class="radio inline">
      <%=f.radio_button :enable,false%> <span>否</span>
      </label>
    </div>
</div>

<div class="control-group">
    <%=f.label :priority, "优先级",:class=>"control-label"%>
    <div class="controls">
      <%=f.text_field :priority,:class=>"span2",:placeholder=>"数字越大优先级越高"%>
    </div>
</div>
<div class="control-group">
    <%=f.label :exclusive, "是否排它*",:class=>"control-label"%>

    <div class="controls">
      <label class="radio inline">
      <%=f.radio_button :exclusive,true,:checked=>true%> <span>是</span>
      </label>
      <label class="radio inline">
      <%=f.radio_button :exclusive,false%> <span>否</span>
      </label>
       <!-- <span class="help-inline tips">即只能满足一个促销，如果订单同时满足两个促销，则取优先级高的一个</span> -->
    </div>


</div>

<div class="control-group">
    <label class="control-label">开始时间</label>
    <div class="controls">
      <%=f.text_field :begin_at,:value=>@promotion.begin_at&&@promotion.begin_at.strftime("%Y-%m-%d %H:%M:%S"),:class=>"span2 datetime"%>
    </div>
</div>

<div class="control-group">
    <label class="control-label">结束时间</label>
    <div class="controls">
      <%=f.text_field :end_at,:value=>@promotion.end_at&&@promotion.end_at.strftime("%Y-%m-%d %H:%M:%S"),:class=>"span2 datetime"%>
    </div>
</div>





<!-- <div class="control-group">
    <label class="control-label">指定商品</label>
    <div class="controls alert">
        <%=link_to "+选择商品","#",:class=>"specify-goods"%><span class="tips">(默认为所有商品)</span>
        <ul id="specify_goods">
            <%@promotion.goods.select{ |bn| bn.present? }.each do |bn|%>
              <li>
              <%=Ecstore::Good.find_by_bn(bn).name%> (<%=bn%>)
              <%=hidden_field_tag "promotion[goods][]",bn%>
              </li>
            <%end%>
       </ul>
    </div>
</div> -->



<div class="control-group">
    <%=f.label :condition, "促销条件*",:class=>"control-label"%>
    <div class="controls"  id="conditions">
      <label class="radio">
          <%=f.radio_button :condition_type,"order_amount_ge_x"%><span>订单金额满X元</span>
      </label>

      <label class="radio">
          <%=f.radio_button :condition_type,"order_count_ge_x"%><span>同时购买X件(可以是相同商品)</span>
      </label>
      <label class="radio">
          <%=f.radio_button :condition_type,"none"%>
          <span>无条件</span>
      </label>

      <div class="help-block alert <%='hide' if  @promotion.condition_type == 'none'%>" id="condition_input">
          输入X = <%=f.text_field :condition_val,:class=>"input-mini"%>
      </div>
    </div>
</div>



<div class="control-group">
    <%=f.label :action, "优惠方案*",:class=>"control-label"%>
    <div class="controls" id="actions" data-val="<%=@promotion.action_val%>">
      <label class="radio">
          <%=f.radio_button :action_type,"order_minus",:'data-desc'=>"订单金额减固定价格Y元出售"%>
          <span>订单金额减固定价格Y元出售</span>
      </label>
      <label class="radio">
          <%=f.radio_button :action_type,"order_discount",:'data-desc'=>"订单金额固定折扣Y出售"%>
          <span>订单金额固定折扣Y出售(如打8折,Y=80)</span>
      </label>

      <!-- <label class="radio">
          <%=f.radio_button :action_type,"good_minus",:'data-desc'=>"商品价格减固定价格Y元出售"%>
          <span>商品价格减固定价格Y元出售</span>
      </label>
      <label class="radio">
          <%=f.radio_button :action_type,"good_discount",:'data-desc'=>"商品价格固定折扣Y出售"%>
          <span>商品价格固定折扣Y出售(如打8折,Y=80)</span>
      </label> -->

      <label class="radio">
          <%=f.radio_button :action_type,"coupon"%><span>赠送优惠券</span>
      </label>

       <label class="radio">
          <%=f.radio_button :action_type,"gift"%><span>送赠品</span>
      </label>

      <!-- <label class="radio">
          <%=f.radio_button :action_type,"good"%><span>送商品</span>
      </label> -->

    </div>


        <!--
        <%=link_to "+选择赠品","#",:class=>"select-gifts" if @promotion.action_type == 'gift'%>
        <%=link_to "+选择商品","#",:class=>"select-goods" if @promotion.action_type == 'good'%>
        <%=link_to "+选择优惠券","#",:class=>"select-coupons" if @promotion.action_type == 'coupon'%>
      -->

    <div class="control-group">
      <div class="controls alert">

      <span id="solution">
        
      </span>

       <ul id="selected_gifts">
            <%(@promotion.action_val || []).each do |bn|%>
             <li>
              <%=Ecstore::Product.find_by_bn(bn).name%> (<%=bn%>)
              <%=hidden_field_tag "promotion[action_val][]",bn%>
             </li>
            <%end if @promotion.action_type == 'gift'%>
       </ul>

       <ul id="selected_goods">
             <%(@promotion.action_val || []).each do |bn|%>
             <li>
              <%=Ecstore::Good.find_by_bn(bn).name%> (<%=bn%>)
              <%=hidden_field_tag "promotion[action_val][]",bn%>
             </li>
            <%end if @promotion.action_type == 'good'%>
       </ul>

       <ul id="selected_coupons">
            <%(@promotion.action_val || []).each do |id|%>
             <li>
              <%coupon  = Ecstore::NewCoupon.find_by_id(id)%>
              <%=coupon ? coupon.name : "优惠券不存在或已经删除"%>(<%=id%>)
              <%=hidden_field_tag "promotion[action_val][]",id%>
             </li>
            <%end if @promotion.action_type == 'coupon'%>
       </ul>

      </div>
    </div>
</div>



<div class="control-group">
    <div class="controls">
      <%=f.submit "提 交",:class=>"btn btn-primary"%>
    </div>
</div>
<%end%>


<script type="text/javascript">
    $(document).ready(function(){
        $(".specify-goods").click(function(){
            window.open('/admin/goods/select_goods?goods_type=normal&target=specify_goods&field_name=goods', 'newwindow', 'height=500, width=750, top=400, left=600, toolbar=no, menubar=no, scrollbars=no,resizable=yes,location=no, status=no');
        });

        $("#solution").on("click",".select-gifts",function(){
            window.open('/admin/goods/select_gifts?goods_type=gift&target=selected_gifts&field_name=action_val', 'newwindow', 'height=500, width=750, top=400, left=600, toolbar=no, menubar=no, scrollbars=no,resizable=yes,location=no, status=no');
            return false;
        });

        $("#solution").on("click",".select-goods",function(){
            window.open('/admin/goods/select_goods?goods_type=normal&target=selected_goods&field_name=action_val', 'newwindow', 'height=500, width=750, top=400, left=600, toolbar=no, menubar=no, scrollbars=no,resizable=yes,location=no, status=no');
            return false;
        });

        $("#solution").on("click",".select-coupons",function(){
            window.open('/admin/new_coupons/select_coupons?target=selected_coupons', 'newwindow', 'height=500, width=750, top=400, left=600, toolbar=no, menubar=no, scrollbars=no,resizable=yes,location=no, status=no');
            return false;
        });

    });
</script>