
<h4>
  <%if params[:type]=="order" || params[:type].nil?%>
  订单促销
  <%elsif params[:type]=="door" ||params[:type].nil? %>
    楼层管理
  <%elsif params[:type]=="goods" ||params[:type].nil? %>
      首页商品管理
  <%end%>
</h4>
<hr>


<h1>
  <%=link_to "添加订单促销",new_admin_promotion_path(:type=>"order"),:class=>"btn btn-primary right" if params[:type]=="order" || params[:type].nil?%>
  <%=link_to "添加楼层",new_admin_promotion_path(:type=>"goods",:type=>"door"),:class=>"btn btn-primary right" if params[:type] == 'door'%>
  <%=link_to "首页商品管理",new_admin_promotion_path(:type=>"goods",:type=>"goods"),:class=>"btn btn-primary right" if params[:type] == 'goods'%>


</h1>



        <table class="table table-bordered table-hover">
          <tr>
            <th>楼层名</th>
            <th>开启状态</th>
            <th>是否排它</th>
            <th>有效期</th>
            <%if params[:type]=="door" %>
            <th>楼层</th>
            <%elsif params[:type]=="goods"%>
                <th>商品层数</th>
                <%else%>
                <th> 优先级 </th>
                <%end%>
            <th>操作</th>
          </tr>
          
        <%@promotions.each do |promotion|%>
          <tr class="<%= 'disable' unless promotion.enable?%>">
            <% unless params[:type]=="door" %>
                <td>第<%=promotion.priority%>商品<%=promotion.codes%></td>
                <%else%>
            <td><%=promotion.name%></td>
                <%end%>
            <td><%=promotion.enable ? "是" : "否"%></td>
            <td><%=promotion.exclusive ? "是" : "否"%></td>
            <td><%=promotion.begin_at.strftime("%Y-%m-%d %H:%M:%S") if promotion.begin_at.present?%> ~ <%=promotion.end_at.strftime("%Y-%m-%d %H:%M:%S") if promotion.end_at.present?%></td>
            <td><%=promotion.priority%></td>
            <td>
                <% if promotion.code %>
              <%=link_to "编辑", edit_admin_promotion_path(promotion,:type=>promotion.promotion_type ,:tables=>"index_goods")%>
                  <%else%>
                  <%=link_to "编辑", edit_admin_promotion_path(promotion,:type=>promotion.promotion_type )%>

            <%end%>
              <%=link_to "删除", admin_promotion_path(promotion),:method=>:delete,:confirm=>"确定要删除？"%>
            </td>
          </tr>
          <%end%>
        </table>

        <div class="pagination">
          <%=will_paginate @promotions,:container=>false%>
        </div>






