<div class="am-list-news-bd">
  <ul class="am-list">

    <% @goods.each do |good|%>

        <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
          <a href="/mproducts?id=<%=good.bn%>&supplier_id=<%=@supplier.id%>&fp=category" class="cart_orderlist_i">
            <div class="am-col col-sm-4 am-list-thumb">

              <img src="<%=good.list_default_pic%>" class="j_item_image pg1" data-original1="<%=good.list_default_pic%>" data-brandid="<%=good.brand_id%>" data-productid="<%=good.bn%>" data-onerror="<%=good.list_default_pic%>" data-brandlazy="false" style="display: block;">

            </div>
            <div class="am-col col-sm-8 am-list-main">
              <h5 class="am-list-item-hd">
                <%=good.name%>
              </h5>
              <div class="am-list-item-text">
                <strong class="" style="color: red;font-size: 16px">¥<%=good.price%> &nbsp;</strong>
                <!--<span style="text-decoration:line-through">¥<%#=format('%.1f',good.mktprice)%> </span>-->
              </div>

              <br/>


              <span class="am-btn am-btn-danger  " style="float: right"><%= I18n.t 'commission'%> &nbsp;¥<%=format('%.2f',good.share*good.default_product.price) %> </span>

            </div>

            <div>


            </div>

          </a>
        </li>

    <%end%>
  </ul>
</div>