<%=render "shared/metable", :resource=>@cat%>

<%=content_for :head do%>
	<%= stylesheet_link_tag "store/cats" %>
	<%= javascript_include_tag "store/tree_menu" %>
<%end%>
<%=render "store/shared/cat_position"%>

<div class="products clearfix">
	<div class="left">
		<%=render "store/goods/tree_menu"%>
	</div>
	<div class="right">
		<%=render "store/goods/list_goods"%>
	</div>
</div>