<br/><br/><br/><br/>
<div class='sel_banner'>
  推广佣金&nbsp;&nbsp;&nbsp;
  <a href="/commissions/platform">平台佣金</a>&nbsp;&nbsp;&nbsp;
  <p class="total_member hidden">共有记录<%=@total_member%>条</p>
</div>
<table class="table table-bordered table-hover">
  <tr>
    <td>会员ID</td>
    <td>用户名</td>
    <td>姓名</td>
    <td>邮箱</td>
    <td>手机</td>
    <td>佣金</td>
    <td>佣金时间</td>
    <td>订单数量</td>
    <td>订单总额</td>
    <td>佣金比例</td>
    <td>发放状态</td>
    <th colspan="3">操作</th>
  </tr>

  <% @commissions.each do |commission| %>
      <tr>
        <td><%=commission.member_id %></td>
        <td><%=commission.openid%></td>
        <td><%=commission.account.member.name  if commission.member_id%></td>
        <td><%=commission.account.member.email  if commission.member_id%></td>
        <td><%=commission.account.member.mobile  if commission.member_id%></td>
        <td><%=commission.commission%></td>
        <td><%=commission.year_month %></td>
        <td><%=commission.orders_num%></td>
        <td><%=commission.orders_amount%></td>
        <td><%=commission.rate%></td>
        <td><%=commission.status%></td>
        <td>
        <%if commission.status==0 #未支付%>
            <%= link_to '支付',paid_commission_path(commission), data: { confirm: '确定支付?' } %>
        <%end%>
        </td>
        <td><%#=link_to "查看",info_admin_member_path(commission)%></td>
        <td><%#=link_to "编辑",edit_admin_member_path(commission)%></td>
      </tr>
  <% end %>
</table>

<div class="pagination">
  <%= will_paginate @commissions, :container => false %>
</div>

