
<ul class="am-gallery am-gallery-overlay" data-am-widget="gallery">
  <li>
    <div class="am-gallery-item">
      <img class="xqimg" src="<%=@good.big_pic.split(",")[0]%>" width="100%">
      <h3 class="am-gallery-title" style="color:white">
        <%=@tuan.count%>人已团</h3>

    </div>
  </li>

</ul>
<section>
  <div class="cpxq_area_1">
    <div class="onefloor">
      <div class="left"><span><%=@good.brand.brand_name if @good.brand%></span></div>
      <div class="right">
        <!--时间显示-->
        <input type="hidden"id="date" value=" <%=(@tuan.to_time)-(Time.now).to_i%>">
        <p><span style="color: rgb(0, 0, 0); font-size: 14px;"><span id="day_show">0</span><span id="hour_show">0:</span><span id="minute_show">0:</span><span id="second_show">0</span></span></p>
      </div>
    </div>
    <p class="twofloor"><%=@good.name%></p>
    <div class="threefloor">
      <div class="left"><span class="s1">￥<%=@tuan.promotionsprice%></span><span class="s2">￥<%=@good.price%></span></div>
      <div class="right">
        <%if (@tuan.to_time)-(Time.now).to_i<2%>
            <div href="javascript:;" id="orderbuy2">活动结束</div>
            <%else%>
        <a data-role="button" href="/mproducts?id=<%=@good.bn%>&supplier_id=<%=@supplier.id%>&fp=category&ref_id=<%=@tuan.ref_id%>" id="orderbuy">立即抢购</a>
           <%end%>
      </div>
      </div>
  </div>
</section>


<script type="text/javascript">
           var date=$("#date").val()  ;

//             if(date<1){
//                $("#orderbuy").css({"display":"none"})
//                 $("#orderbuy2").css({"display":"block"})
//             }
    var intDiff = parseInt(date);//倒计时总秒数量

    function timer(intDiff){
        window.setInterval(function(){
            var day=0,
                    hour=0,
                    minute=0,
                    second=0;//时间默认值
            if(intDiff > 0){
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            $('#day_show').html(day+"天");
            $('#hour_show').html('<s id="h"></s>'+hour+':');
            $('#minute_show').html('<s></s>'+minute+':');
            $('#second_show').html('<s></s>'+second);
            intDiff--;
        }, 1000);
    }

    $(function(){
        timer(intDiff);
    });</script>