<h4>使用VIP卡 </h4>

<div>
  卡号 : <strong><%=@card.no%></strong>  (<%=@card.card_type%>, <%=@card.use_status ? "已使用" : "未使用"%>)
</div>

<%=hidden_field_tag "card_type",@card.card_type%>

<%if @card.card_type == "A"%>
<div>
  用卡人手机号码 :  <strong><%=@card.member_card.user_tel%></strong>
  <%=hidden_field_tag "user_tel",@card.member_card.user_tel%>
</div>
<%end%>

<hr />

<div>
  <%=form_for :search,:url=>search_admin_users_path(:card_id=>@card.id),:html=>{:class=>"form-horizontal search"},:method=>:get,:remote=>true do |f|%>
  <%= f.hidden_field :member_type,:value=>"user"%>
  <fieldset>
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <%= f.select :type,search_options,{},{:class=>"span2"}%>
          <%= f.text_field :key%>
          <%=f.submit "搜索",:class=>"btn"%>
        </div>
      </div>
  </fieldset>
  
  <%end%>

</div>

<div id="user_list">

</div>

<div id="user">
  <p class="well">请先输入用户名或手机号码进行搜索</p>
</div>