<style>
    #province,#city,#district{
        width: 100%;
        height: 100%;
    }
    #addr{
        width: 100%;
        height: 10%;
    }
    .bottomdivsclearfix,.address{
        display: none;
    }


</style>
<div class="main">
<div class="am-input-group">
  <span class="price">* </span>
  <span > <%=I18n.t "importstart"%></span>
</div>
    <br>
<%#=javascript_include_tag "patch/member_addrs"%>

<div class="member_addrs">
  <%=form_for :visitor, :url=>@action_url , :method=>@method||:post,:html=>{ :class=> " form-horizontal" } do |f|%>
      <% if params[:return_url]%>
          <input type="hidden" name="return_url" value="<%=@return_url%>">
          <input type="hidden" name="user_id" value="<%=params[:user_id]%>"
      <%else%>

          <input type="hidden" name="return_url" value="">
      <%end%>
      <br/>
      <input type="hidden" name="platform" value="shop">

      <div class="am-input-group">

       当前用户： <span class="price" > <%=@visitors.visitor_name%> </span>
       </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><%=I18n.t "m_phone"%><span class="price">*</span></span>
        <input class="am-form-field" id="visitor_phone" name="visitor[phone]" placeholder="<%=I18n.t "m_phone"%>" value="<%=@visitors.phone%>">


      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><%=I18n.t "tel"%></span>
        <input class="am-form-field" id="visitor_tel" name="visitor[tel]" placeholder="<%=I18n.t "tel"%>" value="<%=@visitors.tel%>">


      </div>


      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><%= I18n.t "express_code"%></span>
        <input class="am-form-field" id="visitor_postal" name="visitor[postal]" placeholder="<%=I18n.t "express_code"%>" size="30" type="text">

      </div>
      <br/>
      <div class="am-input-group">
        <span class="am-input-group-label"><%= I18n.t "address_detail"%><span class="price">*</span></span>

        <%=f.text_field :address, :id=>"addr", :cols=>"0",:rows=>"0",:class=>"am-form-field",:value=>@visitors.address%>
        <span class="help-inline error"></span>
      </div>


      <br/>
      <div class="ui-btn-area">
        <%if @method == :put%>
            <input type="button" class="am-btn am-btn-primary am-btn-block  submit"  value="<%=I18n.t "confirm"%>">

        <%else%>
            <input type="button" class="am-btn  am-btn-primary am-btn-block submit  "   value="<%=I18n.t "confirm"%>">

        <%end%>
      </div>

  <%end%>
</div>

<script>
    $(".submit").click(function(){
        var mobile=$("#visitor_phone").val()

        if(mobile.length==0)
        {
            alert('请输入手机号码！');

            return false;
        }
        else if(mobile.length!=11)
        {
            alert('请输入有效的手机号码！');

            return false;
        }

        else{
            $(".form-horizontal").submit();
        }

    })




    function validatemobile(mobile)
    {

    }
</script>
