
<style type="text/css">

    .bottomdivsclearfix{
        display: none;
    }

</style>


<%#=javascript_include_tag "patch/member_addrs"%>
<div class="am-input-group">
  <span class="importstart">* </span>
  <span > <%=I18n.t "importstart"%></span>
</div>
<%=form_for :visitor, :url=>  "/goodsaddrs/edit_addr", :html=>{ :class=> " form-horizontal" } do |f|%>
    <input type="hidden" name="platform" value="<%=params[:platform]%>">
    <input type="hidden" name="id" value="<%=@addr.id%>">
    <input type="hidden" name="shop_id" value="<%=@shop_id%>">
    <input name="addr[def_addr]" type="hidden" value="1">
    <div class="new-addr <%='hide' unless display==true%>" id="addr_form">
      <div class="am-panel am-panel-default">

        <div class="am-panel am-panel-default">

          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "name"%><span class="importstart">*</span></span>


            <%=f.text_field :visitor_name,  :class=>"am-form-field" ,:placeholder=>"收货人姓名",:value=>@addr.visitor_name%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label">固定电话<span class="importstart">*</span></span>


            <%=f.text_field :tel,  :class=>"am-form-field" ,:placeholder=>"手机", :value=>@addr.tel %>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label">手机号码</span>


            <%=f.text_field :phone,  :class=>"am-form-field" ,:placeholder=>"手机", :value=>@addr.phone%>
          </div>
          <br/>
          <div class="am-input-group">
            <span class="am-input-group-label"><%= I18n.t "express_code"%></span>

            <%=f.text_field :postal,  :class=>"am-form-field" ,:placeholder=>"邮编", :value=>@addr.postal%>
            </div>
            <div class="controls" style="display:none">
              <select id="province" name="addr[province]">
                <option value="21" selected="selected">上海</option>
              </select>
              <select class="am-input-group-label" id="city" name="addr[city]">
                <option value="1" selected="selected">上海</option>
              </select>
              <select id="district" name="addr[district]" onchange="selectDistrict(this);">
                <option value="1" selected="selected">静安区</option>
              </select>
            </div>


            <br/>

          <div class="am-input-group">

            <span class="am-input-group-label"><%= I18n.t "address_detail"%><span class="importstart">*</span></span>
              <%=f.text_field :address, :id=>"addr",:class=>"am-form-field", :value=>@addr.address %>
            <span class="help-inline error"></span>


        </div>
         </div>
      </div>



      <div class="control-group">
        <div class="controls">
          <%if @method == :put%>
              <input type="submit" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t "modify"%>">
              <%#=f.submit "修 改",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%else%>
              <input type="submit" class="am-btn am-btn-primary am-btn-block" value="<%=I18n.t "confirm"%>">
              <%#=f.submit "确认收货地址",:class=>"am-btn am-btn-warning am-btn-block" %>
          <%end%>
        </div>
      </div>
    </div>
<%end%>
</div>
