<%if @cards.size > 0%>
<table class="table table-striped table-bordered">
	<tr>
		<th>卡号</th>
		<th>面值</th>
		<th>购买时间</th>
		<th>激活时间</th>
		<th>状态</th>
		<th>操作</th>
	</tr>
	<%@cards.each do |card|%>
	<tr>
		<td><%=card.no%></td>
		<td><%=number_to_currency(card.value,:unit=>"&yen;",:precision=>0)%></td>
		<td><%=card.sold_at.strftime("%Y-%m-%d %H:%M:%S") if card.sold_at.present?%></td>
		<td><%=card.used? ? card.used_at.strftime("%Y-%m-%d %H:%M:%S") :  "未激活" if card.used_at.present?%></td>
		<td><%=card.status%></td>
		<td>
			<%=link_to "修改联系方式",user_tel_card_path(card)%>
		</td>
	</tr>
	<%end%>
</table>
<br />
<p><span class="required">*</span> 小提示：所有已激活的VIP卡尽限用卡人本人修改联系方式，该联系方式用于接受VIP卡后续增值服务的相关信息。</p>
<p><span class="required">*</span> 如需帮助请致电客服：021-22306630</p>


<%else%>

<p> 您尚未激活任何VIP卡，请进入 <%=link_to "未激活的VIP卡","?tab=unactive"%> 查询您可用的VIP卡或   <%=link_to "点击此处","/vip",:target=>"_top"%>购买 </p>
<p> 如有疑问请联系客服：021-22306630 </p>

<%end%>


