<style>.hidden{display: none}</style>
<div class="row">
  <div class="large-8 medium-8 columns">

    <!-- Grid Example -->

    <div class="row">
      <div class="large-12 columns">
        <div class="callout ">
        <img src=" http://weishop.cheuks.com/images/a01/a014162_m.jpg">    </div>
      </div>
    </div>
   </div>

  <div class="large-4 medium-4 columns">
    <hr>
    <%=form_for :product,:url=>add_cart_index_path,:remote=>true do |f|%>
        <%=f.hidden_field :goods_id,:value=>good.goods_id%>
        <%=f.hidden_field :type_id,:value=>good.type_id%>
        <h3 class="name_and_price">
          <div class="name"><%=good.name %></div>

          <%if good.has_cols? %>
            <span class="price">套装价
            <span class="georgia">
              <% if signed_in? %>  ￥<%=good.default_product.price if good.default_product%>&nbsp;&nbsp;&nbsp;
               <% else %>
                <a href="#" class="small round button" data-reveal-id="login_iframe" style="font-size:14px;color:#D30000;">[会员专享]</a>
              <%end%>
            </span>
          </span>
           <span class="market_price">立省<span class="georgia">￥<%=good.savings.to_i%></span>&nbsp;</span>
          <%else%>
        <span class="price"><%#=good.default_product&&good.default_product.full_custom? ? "定金" : "会员价"%>
          <span class="georgia">
                [会员价￥<span id="product_price"><%=good.default_product.price if good.default_product%></span>]

          </span>
          <br/>
        </span>
              <span class="market_price">市场价<span class="georgia">￥<%=good.default_product.mktprice if good.default_product%></span>&nbsp;</span>

          <%end%>
          <p class="product_id">［商品号<%=good.bn%>]</p>

        </h3>

        <div class="spec" style="display: none">
          <%=render :partial=>"store/goods/product/new_spec",:locals=>{ :good=>good }%>
        </div>









          <div class="wrapper">
          <%if @good.marketable == "true"%>
              <div id="cart_msg"></div>

                <label id ="lable">加入购物车&nbsp;|&nbsp;加入收藏夹</label>
              <% unless signed_in?%>

                  <a href="#" class="inside" data-reveal-id="login_iframe" >加入购物车</a>

              <%else%>
                  <%=link_to "加入购物车","javascript:void(0);",
                             :class=>"add_to_cart #{'sold-out' if good.store.to_i == 0 }  #{'buy-cols' if good.has_cols? } inside",
                             :id=>"add_to_cart"%>
              <%end%>
          <%else%>
              <%=image_tag  "/assets/store/not_marketing.png", :class=>"not-marketing"%>
          <%end%>

          <%if signed_in?%>
              <%=link_to "已收藏",unfav_good_path(@good,:rel=>"good_#{good.goods_id}"),:id=>"add_to_favorite",:class=>"add_to_favorites  hidden",:remote=>true,:method=>:put %>
              <%=link_to "加入我的收藏夹",fav_good_path(@good,:rel=>"good_#{good.goods_id}"),:id=>"favorite",:class=>" inside",:remote=>true,:method=>:put%>
          <%else%>
              <a href="javascript:void(0);" class="add_to_favorites  inside"data-reveal-id="login_iframe" >加入收藏夹</a>
          <%end%>


          </div>
        </div>

        <!--<div class="more">-->
          <!--<%#=render partial: "store/goods/product/more",:locals=>{ :good=>good }%>-->
        <!--</div>-->
    <%end%>

  </div>


  </div>
</div>
 <script>
   window.onload=function(){

   }

 </script>