<style>.hidden{display: none}

</style>

<script type="text/javascript">
  $(document).ready(function(){
      var detail=$("#img-items li img").attr("src");
      var host=window.location.host;
      var url=window.location.href;
       var imgsrc="http://"+host+detail;
      var g_desc=$("#g_desc").val();
      var g_member=$("#g_member").val();
      var g_name=$("#g_name").text();

      bShareOpt = {
          uuid: "",
          url: url, //商品的永久链接
          summary: g_desc, //商品描述
          pic: imgsrc, //商品图片链接
          vUid: g_member, //用户id，为了让您能够知道您网站的注册用户分享、喜欢了哪些商品
          product: g_name, //商品名称
          price: "0", //商品价格
          brand: "", //商品品牌
          tag: "", //商品标签
          category: "", //商品分类
          template: "1"
      };
  })


</script>




<%= stylesheet_link_tag "test/main" %>
<!--分享-->
<input type="hidden" id="g_desc"value="<%=@good.desc%>">
<%if @user%>
<input type="hidden" id="g_member"value="<%=@user.member_id%>">
   <%end%>
        <div class="row">
          <div class="large-10 medium-10 columns">
          <div class="titles">
            <h5 ><%=@good.name%></h5>
          </div>
          </div>     </div>
<div class="row" >
  <div class="large-4 medium-4 columns">
    <div class="fdj-wrap"style="z-index: 10001;">
      <div id="preview" >
        <div id="img-medium">
          <img src="<%=@good.big_pic%>"onerror="javascript:this.src='/assets/nopic.png';" alt="pic" style="width: 100%">
          <div id="mark" style="display: none; left: 125.5px; top: 263.5px;"></div>
        </div>
        <!-- 小图导航开始 -->
        <div class="img-small">
          <!--<a href="javascript:;" class="left" id="left">&lt;</a>-->
          <!--<a href="javascript:;" class="right" id="right">&gt;</a>-->
          <div class="img-list-items">
            <ul id="img-items" >
              <li><img src="<%=@good.medium_pic%> "onerror="javascript:this.src='/assets/nopic.png';" alt="pic" msrc="<%=@good.big_pic%>" bsrc="<%=@good.big_pic%>" alt="" ></li>

            </ul>
          </div>
        </div>
        <!-- 小图导航结束 -->
        <div id="img-big" >
          <img src="<%=@good.big_pic%>" onerror="javascript:this.src='/assets/nopic.png';" alt="pic" id="detail" >
        </div>
        <a class="bsLikeDiv" href="http://static.bshare.cn"></a>
        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareLike.js"></script><div class="bshare-custom icon" style="float:left;"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到搜狐微博" class="bshare-sohuminiblog"></a></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;ssc=false&amp;mdiv=-1&amp;type=15"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC1.js"></script>

      </div>
    </div>  </div>




  <div class="large-6 medium-6 columns" style="padding: 6px">
    <div class="row">
      <%=form_for :product,:url=>add_cart_index_path,:remote=>true do |f|%>
          <%=f.hidden_field :goods_id,:value=>good.goods_id%>
          <%=f.hidden_field :type_id,:value=>good.type_id%>
          <table style="width: 100%">
            <thead>
            <tr>
              <td>产品名称：</td>
              <td id="g_name" ><%=good.name %></td>
            </tr>
            </thead>
            <tbody>
            <tr>

              <td>标准价格：</td>
              <td style=" color:#f60;">请咨询客服</td>
            </tr>
            <tr>
              <td>最小起订量：</td>
              <td>1 （台）</td>
            </tr>
            <tr>
              <td>运费：</td>
              <td style=" color:#f60;">￥0.00</td>
            </tr>
            <tr>
              <td>产品规格：</td>
              <td ><%=good.size%></td>
            </tr>
            <tr>
              <td>产品号：</td>
              <td ><%=good.bn%></td>
            </tr>
            <tr>
              <td>会员价￥：</td>
              <td style=" color:#f60;"><%=good.default_product.price if good.default_product%></td>
            </tr>

            <tr>

            </tr>

            </tbody>
          </table>
          <div class="spec" style="display: none">
            <%=render :partial=>"store/goods/product/new_spec",:locals=>{ :good=>good }%>
          </div>


          <div class="wrapper">

            <%if @good.marketable == "true"%>
                <div id="cart_msg"></div>

                <label id ="lable">加入购物车&nbsp;|&nbsp;加入收藏夹</label>
                <% unless signed_in?%>
                    <a href="#" class="inside" data-reveal-id="login_iframe" >加入购物车</a>

                <%else%>
                    <%=link_to "加入购物车","javascript:void(0);",
                               :class=>"add_to_cart #{'sold-out' if good.store.to_i == 0 }  #{'buy-cols' if good.has_cols? } inside",
                               :id=>"add_to_cart"%>
                <%end%>
            <%else%>
                <a href="javascript:void(0);" class="add_to_favorites  inside" >商品已经下架</a>
            <%end%>

            <%if signed_in?%>
                <%=link_to "已收藏",unfav_good_path(@good,:rel=>"good_#{good.goods_id}"),:id=>"add_to_favorite",:class=>"add_to_favorites  hidden",:remote=>true,:method=>:put %>
                <%=link_to "加入我的收藏夹",fav_good_path(@good,:rel=>"good_#{good.goods_id}"),:id=>"favorite",:class=>" inside",:remote=>true,:method=>:put%>
            <%else%>
                <a href="javascript:void(0);" class="add_to_favorites  inside"data-reveal-id="login_iframe" >加入收藏夹</a>
            <%end%>
          </div></div>
          <!--<div class="more">-->
          <!--<%#=render partial: "store/goods/product/more",:locals=>{ :good=>good }%>-->
          <!--</div>-->
      <%end%>
      </div>
  <div class="large-1 medium-1 columns" >

  </div>

</div>
