<%if @good.reco_collocation_goods.count >= 5%>
<div id="more_products" data-2450="bottom: -400px;" data-2850="bottom: 0px;"  data-3130="bottom: 280px;">
  <div class="wrapper">
    <h3>推荐套装 <span>WE RECOMMEND</span></h3>
    <ul id="" class="jcarousel-skin-tango">
        <%@good.reco_collocation_goods.each do |good|%>
              <%if  good.default_product%>
                <li>
                  <%=link_to good_path(good.bn) do %>
                    <%=image_tag good.default_product.list_pictures.first,:size=>"190x268" %>
                  <%end%>
                  <p>
                    <a href="#" class="item"><%=truncate2(good.name,:length=>13)%></br>
                      <span class="imodec_price"><a href="javascript:void(0)" class="login" style="font-size:13px;color:#D30000;">套装价<%= signed_in? ? "￥#{good.price}" : "[会员专享]"%></a></span> 
                      <br />
                      <span class='imodec_price' style="font-size:13px;">立省￥<%=good.savings.to_i%></span>
                    </a>
                  </p>
                </li>
              <%end%>
        <%end%>
    </ul>
  </div>
</div>
<%end%>