<!--
<%if @recommend_goods.size > 0%>
    <div id="today_recommend" class="row">
<div class="large-12  columns">

<ul class="clearing-thumbs large-block-grid-3 small-block-3">
  <%@recommend_goods.each do |good|%>
<li>
  <div class="good-pic good-4162">
    <%=link_to good_path(good.bn,:tag=>@tag&&@tag.tag_name) do %>
        <%=image_tag good.rec_image,:size=>"190x268",:alt=>good.name%>
    <%end%>		</div>
  <div class="good-info">

    <div class="name">
      <a href="/products/<%=good.bn%>" target="_blank"><%=good.name%></a>
    </div>
    <div class="prices">
                <span>
                  会员价:
                  <%if signed_in?%>
                    &yen;<%=good.price%>
                  <%else%>
                    <a href="javascript:void(0)" class="login">[会员专享]</a>
                  <%end%>
                </span>
      <span class="mtkprice">市场价: &yen;<%=good.mktprice%></span>
    </div>

  </div>

</li> <%end%>


</ul>



</div>    </div> </div>  <%end%>

!-->
<style>
    .good-pic a  img{
      width: 50%;


  }   </style>
<div id="today_recommend" class="row">
  <h3>推荐商品</h3>

  <div class="large-12  columns">

    <ul class="clearing-thumbs large-block-grid-3 small-block-3">
      <li>
        <div class="good-pic good-4162">
          <a href="/products/a014183">
            <img alt="全自动洗地吸干机-B90/CL CB" src="http://weishop.cheuks.com/images/a01/a014183_m.jpg" >
          </a>		</div>
        <div class="good-info">

          <div class="name">
            <a href="/products/a014183" target="_blank">全自动洗地吸干机-B90/CL CB</a>
          </div>
          <div class="prices">
                <span>
                  会员价:
                    ¥1000.0
                </span>
            <span class="mtkprice">市场价: ¥</span>
          </div>

        </div>

      </li> <li>
      <div class="good-pic good-4162">
        <a href="/products/a014182">
          <img alt="工业全自动洗地吸干机-B70CL-CB"  src="http://weishop.cheuks.com/images/a01/a014182_m.jpg">
        </a>		</div>
      <div class="good-info">

        <div class="name">
          <a href="/products/a014182" target="_blank">工业全自动洗地吸干机-B70CL-CB</a>
        </div>
        <div class="prices">
                <span>
                  会员价:
                    ¥0.0
                </span>
          <span class="mtkprice">市场价: ¥</span>
        </div>

      </div>

    </li>
      <li>
        <div class="good-pic good-4162">
          <a href="/products/a01173">
            <img alt="高升程搬运车--SLP10-inox" height="268" src="http://weishop.cheuks.com/images/a01/a01173_m.jpg" width="190">
          </a>		</div>
        <div class="good-info">

          <div class="name">
            <a href="/products/a01173" target="_blank">高升程搬运车--SLP10-inox</a>
          </div>
          <div class="prices">
                <span>
                  会员价:
                    ¥0.0
                </span>
            <span class="mtkprice">市场价: ¥</span>
          </div>

        </div>

      </li>


      <li>
        <div class="good-pic good-4162">
          <a href="/products/a014099">
            <img alt="四桶吊车用桶夹-L4FC" height="268" src="http://weishop.cheuks.com/images/a01/a014099_m.jpg" width="190">
          </a>		</div>
        <div class="good-info">
          <div class="brand">
            卓展</div>
          <div class="name">
            <a href="/products/a014099" target="_blank">四桶吊车用桶夹-L4FC</a>
          </div>
          <div class="prices">
                <span>
                  会员价:
                    ¥0.0
                </span>
            <span class="mtkprice">市场价: ¥</span>
          </div>

        </div>

      </li> <li>
      <div class="good-pic good-4162">
        <a href="/products/a014160">
          <img alt="平板式货叉 - HPT-PS" height="268" src="http://weishop.cheuks.com/images/a01/a014160_m.jpg" width="190">
        </a>		</div>
      <div class="good-info">
        <div class="brand">
          卓展</div>
        <div class="name">
          <a href="/products/a014160" target="_blank">平板式货叉 - HPT-PS</a>
        </div>
        <div class="prices">
                <span>
                  会员价:
                    ¥0.0
                </span>
          <span class="mtkprice">市场价: ¥</span>
        </div>

      </div>

    </li>
      <li>
        <div class="good-pic good-4162">
          <a href="/products/a014162">
            <img alt="手动堆高车--SFHD1016" height="268" src="http://weishop.cheuks.com/images/a01/a014162_m.jpg" width="190">
          </a>		</div>
        <div class="good-info">
          <div class="brand">
            卓展</div>
          <div class="name">
            <a href="/products/a014162" target="_blank">手动堆高车--SFHD1016</a>
          </div>
          <div class="prices">
                <span>
                  会员价:
                    ¥0.0
                </span>
            <span class="mtkprice">市场价: ¥</span>
          </div>

        </div>

      </li>

    </ul>



  </div>    </div>

