
<%if @recommend_goods.size > 0%>
    <div id="today_recommend" class="row">
<div class="large-12  columns">
 <hr class="dashed">
    <span style="border: 4px solid #ff0000"></span><span style="margin-left: 10px;font-size: 20px;font-weight: bold">相关产品</span>
      <br>
<ul class="clearing-thumbs large-block-grid-4 small-block-4">
  <%@recommend_goods.each do |good|%>
<li>
  <div class="good-pic good-4162">
    <%=link_to good_path(good.bn,:tag=>@tag&&@tag.tag_name) do %>
        <%=image_tag good.rec_image,:size=>"190x268",:alt=>good.name,:onerror=>"javascript:this.src='/assets/nopic.png';" %>
    <%end%>		</div>
  <div class="good-info">

    <div class="name">
      <a href="/products/<%=good.bn%>" target="_blank"><%=good.name%></a>
    </div>
    <div class="prices">
                <span class="red">
                  会员价:
                  <%if signed_in?%>
                    &yen;<%=good.price%>
                  <%else%>
                    <a href="javascript:void(0)" class="login">[会员专享]</a>
                  <%end%>
                </span>
      <span class="mtkprice">市场价: &yen;<%=good.mktprice%></span>
    </div>

  </div>

</li> <%end%>


</ul>



</div>    </div> </div>  <%end%>


<style>
    .good-pic a  img{
      width: 50%;


  }   </style>
