<li class="item">
	<a href="<%=good_path(good.bn)%>" title="<%=good.name%>">
	<%=image_tag good.suit_cover,:alt=>good.name%>
	</a>
	<div class="name"><%=truncate2(good.name,:length=>16)%></div>
	<%if good.has_cols?%>
	<div class="price">套餐价 &yen;<%=good.price%></div>
	<div class="savings">立省 &yen;<%=good.savings.to_i%></div>
	<%else%>
	<div class="price">贸威 &yen;<%=good.price%></div>
	<div class="savings">市场价 &yen;<%=good.mktprice%></div>
	<%end%>
</li>