
<div class="all-goods">
  <%@top_cats.each_with_index do |top_cat,index|%>
  <div class="item btnone">
    <div class="product">
      <a href="<%=cat_path(top_cat,:gtype=>params[:gtype])%>" ><%=top_cat.cat_name%></a>
       <s style="display: block;"></s> </div>
      <div class="product-wrap  show_<%=index%>" style="display: none">
        <div class="cf">
          <div class="fl wd252 pr20">
            <%top_cat.categories.order("p_order asc").each do |scat|%>
                <%if scat.all_goods.size > 0%>
                    <h2><%=link_to scat.cat_name,cat_path(scat,:gtype=>params[:gtype])%></h2>
                    <%if scat.categories.present?%>
                        <ul class="cf">
                          <%scat.categories.each do |tcat|%>
                              <%if tcat.all_goods.size>0%>
                                  <li><%=link_to tcat.cat_name,cat_path(tcat,:gtype=>params[:gtype])%></li>
                              <%end%>
                          <%end%>
                        </ul>
                    <%end%>

                   <%end%>  <%end%>
                   </div>

        </div>    </div>
  </div>
<%end%>   </div>
