
<script type="text/javascript">
    (function($){
        $.fn.hoverForIE6=function(option){
            var s=$.extend({current:"hover",delay:10},option||{});
            $.each(this,function(){
                var timer1=null,timer2=null,flag=false;
                $(this).bind("mouseover",function(){
                    if (flag){
                        clearTimeout(timer2);

                    }else{
                        var _this=$(this);
                        timer1=setTimeout(function(){
                            _this.addClass(s.current);
                            flag=true;

                        },s.delay);
                    }
                }).bind("mouseout",function(){
                    if (flag){

                        var _this=$(this);timer2=setTimeout(function(){
                            _this.removeClass(s.current);
                            flag=false;
                        },s.delay);
                    }else{
                        clearTimeout(timer1);
                    }
                })
            })
        }
    })(jQuery);
</script>
<style type="text/css">
    *{margin:0;padding:0;list-style-type:none;}
    a,img{border:0;}
    body{font-family:"宋体",Arial,Lucida,Verdana,Helvetica,sans-serif;font-size:12px;color:#333;background:#fff;}
  /* navsort */
    .navsort,.allsort,.allsort .mt .extra,.allsort h3,.allsort s,.allsort {background:url(/assets/nav-sort.gif) no-repeat;background-position: -110px -45px;}
    .navsort{width: 100%}


    /*allsort*/
    .allsort{width: 100%;float:left;height:50px;background-position:0px -101px;position:relative;z-index:11;}

    .allsort .mt strong{float:left;font-size:14px;color:#630;}
    .allsort .mt .extra{float:right;overflow:hidden;width:22px;height:22px;background-position:-214px -52px;}
    .allsort .mc{padding: 3px 3px 3px 0;
        background: #FAFAFA;
        border: solid #E4393C;
        border-width: 0 2px 2px;
        overflow: visible;
        position: absolute;
        overflow: visible;
        width: 100%;

        -moz-border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
    }
    .allsort .item{border-top: 1px solid #FFF; }
    .allsort .fore{border-top:none;}
    .allsort span{display:block;position:relative;z-index:1;overflow: hidden;}
    .allsort h3{line-height: 26px;
        padding-left: 20%;
        border-width: 1px 0;
        background-image: none;
        font-weight: 400;
        font-size: 14px
    }
    .allsort h3 a:link,.allsort h3 a:visited{display:block;height:30px;line-height:30px;}
    .allsort h3 a:hover,.allsort h3 a:active{color: #E4393C;text-decoration: underline;font-weight: 700;}
    .allsort s{ display: block;
        position: absolute;
        top: 27%;
        right: 0;
        width: 13px;
        height: 13px;}
   .fore dt a{color: #e4393c;text-decoration: underline;}
    .allsort .item .i-mc{display:none;position:absolute;left:163px;top:0;width:700px;border:1px solid #DDD;background:#fff;overflow:hidden;}
    .allsort .item dt{padding:3px 6px 0 0;font-weight:bold;color: #e4393c}
    .allsort .item dd{padding:3px 0 0;overflow:hidden;zoom:1;}
    .allsort .subitem{min-height: 370px;float:left;padding: 0 4px 0 8px;}
    .allsort .subitem .fore{border-top:0;}
    .allsort .subitem dl{border-top: 1px solid #EEE!important;padding: 6px 0;margin-bottom: 0;overflow: hidden;zoom: 1}
    .allsort .subitem dt{float:left;line-height:22px;text-align:right;}

    .allsort .subitem em{float: left;
        height: 14px;
        margin: 7px 0;
        line-height: 14px;
        padding: 0 8px;
        border-left: 1px solid #ccc;
        font-style: normal;
    }
    .allsort .fr{background:#fff;width:194px;padding:0 15px 2010px 15px;margin-bottom:-2000px;float:right;}
    .allsort .fr dl{padding-bottom:0;}
    .allsort .mc .extra{padding:7px 8px;background:#FDF1DE;border-top:1px solid #FDE6D2;}
    .allsorthover{background-position:0 -50px;}
    .allsorthover .mt .extra{background-position:-214px -75px;}
    .allsorthover .mc{display:block;}
    .allsort .hover span{z-index:13;width:164px;}
    .allsort .hover h3{border: solid #DDD;
        padding-left: 29%;
        border-width: 1px 0;
        background-color: #fff;
        overflow: hidden;
        -moz-box-shadow: 0 0 8px #DDD;
        -webkit-box-shadow: 0 0 8px #DDD;
        box-shadow: 0 0 8px #DDD;
    }
    .allsort .hover s{display:none;}
    .allsort .hover .i-mc{display:block;z-index:12;}
    *html .allsort .item dd{padding-bottom:6px;}
    *html .allsort .subitem{height:400px;}
    .subitem dd{background: none!important;}
    .allsort .close{position:absolute;top:6px;left:674px;z-index:14;width:19px;height:19px;background-position:-216px -125px;cursor:pointer;}

</style>
<!--

<div class="navsort">

<div class='allsort'>



<div class='mc'>
<%#@top_cats.each_with_index do |top_cat,index|%>
<div class='item '>
  <span><h3> <a href="<%#=cat_path(top_cat,:gtype=>params[:gtype])%>" ><%#=top_cat.cat_name%></a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <%#top_cat.categories.order("p_order asc").each do |scat|%>
      <dl class='fore'>
        <dt><%#=link_to scat.cat_name,cat_path(scat,:gtype=>params[:gtype])%></dt>
        <dd>
          <%#scat.categories.each do |tcat|%>

          <%#if tcat.all_goods.size>0%>
              <em> <%#=link_to tcat.cat_name,cat_path(tcat,:gtype=>params[:gtype])%></em>
          <%#end%>
          <%#end%>
        </dd>
      </dl>

          <%#end%>


  </div>
</div>

<%#end%>
</div>

</div>







</div>
-->
<div class="navsort">

<div class='allsort'>



<div class='mc'>
<div class='item '>
  <span><h3> <a href="/gallery/1" >仓储物流设备
  </a></h3><s></s></span>
  <div class='i-mc'>
  <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
  <div class='subitem'>
  <dl class='fore'>
    <dt><a href="/gallery/14">搬运车</a></dt>
    <dd>

      <em> <a href="/gallery/59">手动搬运车
      </a></em>

      <em> <a href="/gallery/60">电子称搬运车
      </a></em>

      <em> <a href="/gallery/61">纸筒搬运车
      </a></em>

      <em> <a href="/gallery/62">野外搬运车
      </a></em>

      <em> <a href="/gallery/63">宽腿搬运车
      </a></em>

      <em> <a href="/gallery/64">高升程搬运车
      </a></em>

      <em> <a href="/gallery/65">半电动搬运车
      </a></em>

      <em> <a href="/gallery/66">全电动搬运车
      </a></em>

      <em> <a href="/gallery/67">AGV无人搬运车
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/15">堆高车
    </a></dt>
    <dd>

      <em> <a href="/gallery/68">手动
      </a></em>

      <em> <a href="/gallery/69">货叉
      </a></em>

      <em> <a href="/gallery/70">电动
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/16">叉车
    </a></dt>
    <dd>

      <em> <a href="/gallery/71">电动叉车
      </a></em>

      <em> <a href="/gallery/72">四轮平衡重式蓄电池叉车
      </a></em>

      <em> <a href="/gallery/73">电瓶叉车
      </a></em>

      <em> <a href="/gallery/74">石材专用叉车
      </a></em>

      <em> <a href="/gallery/75">全方位移动叉车
      </a></em>

      <em> <a href="/gallery/76">窄巷道叉车
      </a></em>

      <em> <a href="/gallery/77">铰接式四驱越野叉车
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/17">牵引车
    </a></dt>
    <dd>

      <em> <a href="/gallery/78">电动
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/18">平台
    </a></dt>
    <dd>

      <em> <a href="/gallery/79">手动平台
      </a></em>

      <em> <a href="/gallery/80">电动平台
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/19">油桶车
    </a></dt>
    <dd>

      <em> <a href="/gallery/81">油桶搬运车
      </a></em>

      <em> <a href="/gallery/82">油桶堆高车
      </a></em>

      <em> <a href="/gallery/83">油桶属具
      </a></em>

      <em> <a href="/gallery/84">油桶翻转车
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/20">手推车
    </a></dt>
    <dd>

      <em> <a href="/gallery/85">折倒式扶手静音车系列
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/21">货台高度调剂板（卸货平台）
    </a></dt>
    <dd>

      <em> <a href="/gallery/86">气袋式
      </a></em>

      <em> <a href="/gallery/87">翻转式
      </a></em>

      <em> <a href="/gallery/88">伸缩式
      </a></em>

      <em> <a href="/gallery/89">翻转式P型坑
      </a></em>

      <em> <a href="/gallery/90">伸缩式T型坑
      </a></em>

    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/22">装车机
    </a></dt>
    <dd>

      <em> <a href="/gallery/92">A简易系列
      </a></em>

      <em> <a href="/gallery/93">B前置辊道系列
      </a></em>

      <em> <a href="/gallery/94">C月台移动伸缩系列
      </a></em>

      <em> <a href="/gallery/95">G伸缩移动系列
      </a></em>

      <em> <a href="/gallery/96">H伸缩系列
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/23">电动观光车
    </a></dt>
    <dd>

      <em> <a href="/gallery/97">4座
      </a></em>

      <em> <a href="/gallery/98">6座
      </a></em>

      <em> <a href="/gallery/99">8座
      </a></em>

      <em> <a href="/gallery/100">11座
      </a></em>

      <em> <a href="/gallery/101">14座
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/24">封闭式电动货车
    </a></dt>
    <dd>

      <em> <a href="/gallery/102">EG60系列
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/25">周转类
    </a></dt>
    <dd>

      <em> <a href="/gallery/103">托盘
      </a></em>

      <em> <a href="/gallery/104">滑板轮
      </a></em>

      <em> <a href="/gallery/105">周转箱/筐
      </a></em>

      <em> <a href="/gallery/106">仓储笼
      </a></em>
    </dd>
  </dl>

  <dl class='fore'>
    <dt><a href="/gallery/26">高尔夫球车
    </a></dt>
    <dd>

    </dd>
  </dl>






  </div>
  <div id="JD_sort_k" class='fr'>
    <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
  </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/2" >高空作业设备
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/27">高空作业平台系列
        </a></dt>
        <dd>

          <em> <a href="/gallery/108">高空作业平台
          </a></em>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/3" >清洁设备
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/28">清洁机
        </a></dt>
        <dd>

          <em> <a href="/gallery/109">扫地机
          </a></em>

          <em> <a href="/gallery/110">洗地机
          </a></em>

          <em> <a href="/gallery/111">洗地吸干机
          </a></em>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/4" >检测、工具类
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/29">工具类
        </a></dt>
        <dd>

          <em> <a href="/gallery/112">加工工具
          </a></em>

          <em> <a href="/gallery/113">工具包、箱、车
          </a></em>

          <em> <a href="/gallery/114">电子电工类工具
          </a></em>

          <em> <a href="/gallery/115">VDE绝缘类工具
          </a></em>

          <em> <a href="/gallery/116">液压类工具
          </a></em>

          <em> <a href="/gallery/117">紧固类工具
          </a></em>

          <em> <a href="/gallery/118">打包工具
          </a></em>

          <em> <a href="/gallery/119">手持式电动打带工具
          </a></em>

          <em> <a href="/gallery/120">车间辅助用品
          </a></em>

        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/30">检测类
        </a></dt>
        <dd>

          <em> <a href="/gallery/122">工业衡器
          </a></em>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/5" >机械加工设备
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/31">机床类
        </a></dt>
        <dd>

          <em> <a href="/gallery/123">立钻机床
          </a></em>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/6" >起重设备
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/32">起吊类
        </a></dt>
        <dd>

          <em> <a href="/gallery/124">吊机
          </a></em>

        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/33">葫芦类
        </a></dt>
        <dd>

          <em> <a href="/gallery/126">手拉葫芦
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/34">轨道类
        </a></dt>
        <dd>

          <em> <a href="/gallery/127">轨道小车
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/35">千斤顶
        </a></dt>
        <dd>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/36">叉车吊钩属具
        </a></dt>
        <dd>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/37">支架
        </a></dt>
        <dd>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/7" >搬运车零部件
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/38">半电动搬运车
        </a></dt>
        <dd>

          <em> <a href="/gallery/128">车架部件
          </a></em>

          <em> <a href="/gallery/129">电器系统部件
          </a></em>

          <em> <a href="/gallery/130">手柄部件
          </a></em>

          <em> <a href="/gallery/131">驱动电机部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/39">全电动搬运车
        </a></dt>
        <dd>

          <em> <a href="/gallery/132">车架部件
          </a></em>

          <em> <a href="/gallery/133">电器系统部件
          </a></em>

          <em> <a href="/gallery/134">电器液压系统部件
          </a></em>

          <em> <a href="/gallery/135">驱动轮总成部件
          </a></em>

          <em> <a href="/gallery/136">手柄部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/40">手动搬运车
        </a></dt>
        <dd>

          <em> <a href="/gallery/137">叉架零部件
          </a></em>

          <em> <a href="/gallery/138">脚刹零部件
          </a></em>

          <em> <a href="/gallery/139">手柄零部件
          </a></em>

          <em> <a href="/gallery/140">油泵部分
          </a></em>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/8" >堆高车零部件
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/41">半电动堆高车
        </a></dt>
        <dd>

          <em> <a href="/gallery/141">车架部件
          </a></em>

          <em> <a href="/gallery/142">充电器部件
          </a></em>

          <em> <a href="/gallery/143">电器系统部件
          </a></em>

          <em> <a href="/gallery/144">起升电机部件
          </a></em>

          <em> <a href="/gallery/145">油泵部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/42">全电动堆高车
        </a></dt>
        <dd>

          <em> <a href="/gallery/146">车架部件
          </a></em>

          <em> <a href="/gallery/147">电器系统部件
          </a></em>

          <em> <a href="/gallery/148">轮子部件
          </a></em>

          <em> <a href="/gallery/149">驱动电机部件
          </a></em>

          <em> <a href="/gallery/150">手柄部件
          </a></em>

          <em> <a href="/gallery/151">液压电器系统部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/43">手动堆高车
        </a></dt>
        <dd>

          <em> <a href="/gallery/152">车架部件
          </a></em>

          <em> <a href="/gallery/153">轮子部件
          </a></em>

          <em> <a href="/gallery/154">油缸部件
          </a></em>

          <em> <a href="/gallery/155">电器系统部件
          </a></em>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/9" >叉车零部件
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/44">电动车零部件
        </a></dt>
        <dd>

          <em> <a href="/gallery/156">车架部件
          </a></em>

          <em> <a href="/gallery/157">电瓶部件
          </a></em>

          <em> <a href="/gallery/158">液压电器系统部件
          </a></em>

          <em> <a href="/gallery/159">油缸部件
          </a></em>

          <em> <a href="/gallery/160">液压电器系统部件
          </a></em>

          <em> <a href="/gallery/161">驱动电机部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/45">内燃车零部件
        </a></dt>
        <dd>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/10" >其他车零部件
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/46">吊机
        </a></dt>
        <dd>

          <em> <a href="/gallery/162">吊机部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/47">高空作业平台
        </a></dt>
        <dd>

          <em> <a href="/gallery/163">高空作业平台部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/48">剪式搬运车
        </a></dt>
        <dd>

          <em> <a href="/gallery/164">剪式搬运车部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/49">静音车
        </a></dt>
        <dd>

          <em> <a href="/gallery/165">静音车部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/50">平台车
        </a></dt>
        <dd>

          <em> <a href="/gallery/166">平台车部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/51">行李车
        </a></dt>
        <dd>

          <em> <a href="/gallery/167">行李车部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/52">油桶车
        </a></dt>
        <dd>

          <em> <a href="/gallery/168">油桶车部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/53">叉车载人平台部件
        </a></dt>
        <dd>

          <em> <a href="/gallery/169">叉车载人平台部件
          </a></em>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/54">其他车型
        </a></dt>
        <dd>

          <em> <a href="/gallery/170">电瓶部件
          </a></em>

          <em> <a href="/gallery/171">电子称部件
          </a></em>

          <em> <a href="/gallery/172">工具部件
          </a></em>

          <em> <a href="/gallery/173">货叉部件
          </a></em>

          <em> <a href="/gallery/174">液压密封件
          </a></em>


          <em> <a href="/gallery/176">其他部件
          </a></em>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/11" >劳务类
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>





    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/12" >租赁设备
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>
      <dl class='fore'>
        <dt><a href="/gallery/55">高空作业平台
        </a></dt>
        <dd>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/56">叉车
        </a></dt>
        <dd>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/57">搬运车
        </a></dt>
        <dd>
        </dd>
      </dl>

      <dl class='fore'>
        <dt><a href="/gallery/58">堆高车
        </a></dt>
        <dd>
        </dd>
      </dl>






    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



<div class='item '>
  <span><h3> <a href="/gallery/13" >其他
  </a></h3><s></s></span>
  <div class='i-mc'>
    <div class='close' onclick="$(this).parent().parent().removeClass('hover')"></div>
    <div class='subitem'>





    </div>
    <div id="JD_sort_k" class='fr'>
      <!--<img src="images/1593.jpg" width="194" height="70" alt="" style="margin-top:30px;" />-->
    </div>
  </div>
</div>



</div>






</div><!--allsort end-->
</div>
<%if @history_g %>
 <div class="" style="position:relative; top :511px">
   <div class="browse_product" style="border: 1px solid #ddd;">
     <div class="biaoti"><h3>浏览历史</h3> </div>
     <ul class="biankuang" style="display:block">
      <%@history_g.each do |his|%>
           <li id="line_<%=his.id%>" style="border-bottom: 1px dashed #ddd;">
             <a  style="margin-right:5%;float: right" class="delete">×</a>
             <input type="hidden" class="id" value="<%=his.id%>">
           <a href="/products/<%=Ecstore::Good.find(his.goods_id).bn%>" target="_blank">
             <img alt="<%=Ecstore::Good.find(his.goods_id).name%>" onerror="javascript:this.src='/assets/nopic.png';" src="<%=Ecstore::Good.find(his.goods_id).medium_pic%>" style="width:140px;">
           </a>
          <p> <%=Ecstore::Good.find(his.goods_id).name%></p>
           <%end%>
       </li>
       </ul>


   </div>
   </div>

   <%end%>









<script type="text/javascript">
    $(".allsort").hoverForIE6({current:"allsorthover",delay:200});
    $(".allsort .item").hoverForIE6({delay:150});


      $(".delete").each(function(){

         $(this).bind("click",function(){
             var hid=$(this).next(".id").val();


             var url="/delete_history"
             $.ajax(url,{
                 type: "post",
                 data:{ "hisid":hid },

                 success:function(res){
                 }
             })

         })
      })

</script>