<style type="text/css">
    .am-panel-default{
        position:relative;
    }
    .icon-arr {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 10px;
        height: 15px;
        background: url(/assets/icon_order.png) 0 0 no-repeat;
        background-size: 100px 100px;
    }
    .am-panel-hd{
        padding: 20px;
    }

</style>

<div class="am-panel am-panel-default "style="margin: 0px;padding: 0px">
  <div class="am-panel-hd"  style="text-align: center;padding: 10px">欢迎来到世界美食</div>
</div>



<div class="am-panel am-panel-default">
  <a href="/mgallery?name=香肠&id=<%=@supplier.id%>">
    <div class="am-panel-hd"><%= I18n.t 'sausages' %></div>
    <span class="icon-arr"></span> </a>
</div>
<div class="am-panel am-panel-default">
  <a href="/mgallery?name=火腿&id=<%=@supplier.id%>">
    <div class="am-panel-hd"><%= I18n.t 'hams' %></div>
    <span class="icon-arr"></span> </a>
</div>

<div class="am-panel am-panel-default">
  <a href="/mgallery?name=培根&id=<%=@supplier.id%>">
    <div class="am-panel-hd"><%= I18n.t 'bacons' %></div>
    <span class="icon-arr"></span> </a>
</div>


<div class="am-panel am-panel-default">
  <a href="/mgallery?name=其它&id=<%=@supplier.id%>">
    <div class="am-panel-hd"><%= I18n.t 'others' %></div>
    <span class="icon-arr"></span> </a>
</div>


