<style type="text/css">

.bottomdivsclearfix{
    display: none;
}

</style>


<div id="demo-view" data-backend-compiled=""><figure data-am-widget="figure" class="am am-figure am-figure-default am-no-layout am-figure-zoomable">
  <img src="/assets/manco/2.jpg" alt="">
  <figcaption class="am-figure-capition-btm"><h2><%=@good.name %></h2></figcaption></figure></div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
<div id="wapModalsbox">
  <div id="goods_detail" class="aposition">


    <div class="goods_info">
      <%=form_for :product,:url=>"/cart/add",:remote=>true do |f|%>
          <%=f.hidden_field :goods_id,:value=>@good.goods_id%>
          <%=f.hidden_field :type_id,:value=>@good.type_id%>
          <%=hidden_field_tag :platform,'mancoblack_cart'%>

         <input type="hidden" name="supplier_id" value="98">
          <%=hidden_field_tag "product[specs][]"%>
      <%end%>
    </div>
  </div>
</div>

<div class="am-list">
  <div ><ul class="am-list" ><li><b class="">运输线路：</b> <%=@good.name %></li>
    <br/>

    <b class="">本次运输有效期为：</b>   <%=Time.at(@good.downtime).localtime.to_s(:db)%> </li>

    <br/>
    <li><b class="">本次运输简介：</b> <%=raw @good.desc%> </li></ul>
    <br><p class="detail"><%=raw @good.intro.gsub(/width/,'widthh').gsub(/height/,'heightt/') if @good.intro%></p></div>



</span>
</div>



<div class="bottomdiv clearfix">
  <div class="inner clearfix">
    <a class="fl cart_time" href="">
      <em class="num_cart hide"></em>

      <span class="num_cunt" data-ctime="true" data-carttime="-1402928788"></span>
    </a>

    <%=link_to "下一步","javascript:void(0);",:class=>"add_to_cart fr btn_sure " ,:id=>"add_to_cart" %>

  </div>
</div>
<!--高速版，加载速度快，使用前需测试页面的兼容性-->
<div id="SOHUCS"></div>
<script>
    (function(){
        var appid = 'cyrlDmkiB',
                conf = 'prod_0752f6454e4f942fbf7662c61dd5e455';
        var doc = document,
                s = doc.createElement('script'),
                h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
        s.type = 'text/javascript';
        s.charset = 'utf-8';
        s.src =  'http://assets.changyan.sohu.com/upload/changyan.js?conf='+ conf +'&appid=' + appid;
        h.insertBefore(s,h.firstChild);
        window.SCS_NO_IFRAME = true;
    })()
</script>


<%= javascript_include_tag "mobile/swipe.min" %>


<script type="text/javascript">

    $(document).ready(function(){
        $('.choose').on("click",function() {
            $(this).addClass("select");
            $("#product_specs_").val($(this).attr("data-size"));
            //  $(".good_salesize input[name='size']").val("");

        });

        $('#add_to_cart').on("click",function(){

            if($(this).hasClass("sold-out")){
                alert("该商品已经售完!");
                return false;
            }

            // var spec_type_size =  $("#specs_container").attr("spec-type-size")*1;
            //  if($("#specs_container input:hidden[value!='']").length != spec_type_size){
            //    $("#cart_msg").text("请您选择您要购买的商品信息 ! ");
            //    return false;
            //  }


            var formobj=  document.forms[0];
            formobj.submit();
            return false;
        });
        $(".custom-save").live("click",function(){
            var data = { custom_values:[] },spec_item_id,value;

            var url = $(this).data("url"),method = $(this).data("method");

            $(this).closest("div.popover-content").find("ul.good_spec_items li").each(function(){
                spec_item_id = $(this).find("[name='product[customs][][spec_item_id]']").val();
                value = $(this).find("[name='product[customs][][value]']").val();
                data.custom_values.push({spec_item_id:spec_item_id,value:value});
            });
            var self = this;
            $.ajax(url,{
                type:method,
                data:data,
                success:function(res){
                    $(self).closest("td").find(".semi_custom").popover('hide');
                }
            });
        });

        var deadline = parseInt($("#clock").attr("deadline"),10);
        $('div#clock').countdown(deadline, function(event) {
            $this = $(this);
            switch(event.type) {
                case "seconds":
                case "minutes":
                case "hours":
                case "days":
                    $this.find('span#'+event.type).html(event.value);
                    break;
                case "finished":
                    $this.fadeTo('slow', .5);
                    break;
            }
        });


        $("#product").on("click",'.cs_helper',function(){
            var chat = $("#live800iconlink").attr("onclick");
            if(!!!chat) return;
            var link = chat.match(/'([^']+)'/)[1];
            window.open(link);
        });

        $(".products_nav .prev_item").bind("click",function(){
            var curItem = $("#products .products_nav li a.selected").parent("li");
            var prevItem = curItem.prev();
            if(prevItem.hasClass("first")) return;
            prevItem.find("a").trigger("click");
        });

        $(".products_nav .next_item").bind("click",function(){
            var curItem = $("#products .products_nav li a.selected").parent("li");
            var next_item = curItem.next();
            if(next_item.hasClass("last")) return;
            next_item.find("a").trigger("click");
        });

        $("#products .products_nav li a.product_link").bind('click',function(){

            $("#products .products_nav li a").removeClass("selected");
            $(this).addClass("selected");

            $("#products .single-loader").show();
            return true;
        });

        $("#specs_container").on("click",".spec-value",function(){
            $("#cart_msg").empty();

            if($(this).hasClass("image") && $("#specs_container .spec-value[data-images]").length > 1){
                var images = $(this).data("images").split(/\s+/);
                var jcarouselList = $(this).closest(".product_container").find("ul.jcarousel-list li.jcarousel-item");
                if(jcarouselList.length>0){
                    for(var i = 0; i < images.length; i++){
                        $(jcarouselList[i]).find("img").attr("src",images[i]+"?t="+(new Date).getTime());
                        $(jcarouselList[i]).find("a").attr("href",images[i]);
                    }
                }
                var verticalList = $(this).closest(".product_container").find("ul.vertical li");
                if(verticalList.length>0){
                    for(var i = 0; i < images.length; i++){
                        $(verticalList[i]).find("img").attr("src",images[i]+"?t="+(new Date).getTime());
                    }
                }
                $(".zoomWindow").each(function(){
                    cls = $(this).attr("id").split("_")[0];
                    console.log(cls);
                    bigImg = $("."+cls).attr("href");
                    $(this).find("img").attr("src",bigImg);
                });
            }

            $(this).closest('.spec-item').find(":hidden").val($(this).data("value"));
            $(this).closest('.spec-values').find(".spec-value").removeClass("selected");
            $(this).addClass("selected");
            var spec_values = []
            var $specs = $("#specs_container");
            $specs.find("input[name='product[specs][]']").each(function(){
                var tmp = $(this).val();
                if(tmp.length>0){
                    spec_values.push(tmp);
                }
            });

            var url = $specs.attr("property-url");
            var spec_type_size = $specs.attr("spec-type-size")*1;
            if(spec_values.length ==  spec_type_size){
                $.get(url,{spec_values: spec_values}, function(res){
                    $("#product_store").text(res.store);
                    $("#product_price").text(res.price);

                    $("#store").empty();
                    if(res.store>0){
                        $("#add_to_cart").removeClass("sold-out");
                        for(var i=1;i <= res.store; i++){
                            $("#store").append('<option value="'+i+'">'+i+'</option>');
                        }
                    }else{
                        // no store
                        $("#store").append('<option value="'+0+'">'+0+'</option>');
                        $("#add_to_cart").addClass("sold-out");
                    }
                });
            }
            return false;
        });


    });



    var filterSize='0';

    function saveProValue(){
        return {product_id: '26038564',brand_id: '198535'}
    };
    function updateStock(itemId, is_old) {
        if (!itemId) {
            return;
        }

        var stockUrl = "http://stock.vipshop.com/detail/?merchandiseId=" + itemId;
        if (is_old) {
            stockUrl = stockUrl + "&id_old=" + is_old;
        }

        $.ajax({
            url: stockUrl,
            dataType: "jsonp",
            jsonpCallback: "handleStock"
        });
    }
    function handleStock(data) {
        if (!data || !data.items || data.items.length == 0) {
            return;
        }

        // update size list
        var sizes = data.items;
        var $sizeList = $("ul.good_sizechioce");
        $sizeList.empty();
        var html = "";
        for (var i = 0; i < sizes.length; i++) {
            var size = sizes[i];

            // stock available
            if (isSizeStockAvailable(size)) {
                html = html + getSizeAvailableText(size);
            }
            // stock not available
            else {
                html = html + getSizeNotAvailableText(size);
            }
        }
        $sizeList.html(html);
        // update size selection
        $(".good_salesize input[name='size']").val("");
        var $chooses = $("ul.good_sizechioce .choose");
        if ($chooses.length == 1) {
            $chooses.addClass("select");
            $(".good_salesize input[name='size']").val($chooses.attr("data-size"));
        }
        else
        {
            $chooses.each(
                    function(){
                        var $c=$(this);
                        if($c.text()==filterSize)
                        {
                            $c.addClass("select");
                            $(".good_salesize input[name='size']").val($c.attr("data-size"));
                            return false;
                        }
                    }
            );
        }
        // update UI
        if (isItemStockAvailable(sizes)) {
            $("div.good_salesize").css("display", "block");
            $("#goods_images .seldout").remove();
            $(".bottomdiv .fr").removeClass("btn_unav").addClass("btn_sure").attr("data-animate", "true").attr("data-addjump", "1").attr("data-addcart", "true");
        }
        else {
            $("div.good_salesize").css("display", "none");
            if ($("#goods_images .seldout").length == 0) {
                $("#goods_images").append("<div class=\"seldout clearfix\"> <span></span> </div>");
            }
            $(".bottomdiv .fr").removeClass("btn_sure").addClass("btn_unav").removeAttr("data-animate").removeAttr("data-addjump").removeAttr("data-addcart")
        }
    }
    function getSizeAvailableText(size) {
        var array = new Array();
        array.push("<li data-size=\"");
        array.push(size.id);
        array.push("\" class=\"choose\" data-maxamount=\"");
        array.push(size.max);
        array.push("\" data-minamount=\"");
        array.push(size.min);
        array.push("\">");
        array.push(size.name);
        array.push("</li>");
        return array.join("");
    }
    function getSizeNotAvailableText(size) {
        return "<li data-size=\"\" class=\"none\">" + size.name + "</li>";
    }
    function isSizeStockAvailable(size) {
        return size.stock > 0;
    }
    function isItemStockAvailable(sizes) {
        var result = false;
        for (var i = 0; i < sizes.length; i++) {
            if (sizes[i].stock > 0) {
                result = true;
                break;
            }
        }
        return result;
    }
    $(function() {
        // TODO pass in the right argument (is_old)
        updateStock("26038564", "0");
        // Leverage browser's back button for backward navigation.
        $(".head_left a").on("click", function() {
            history.back();
            return false;
        });
    });

</script>

