<link rel="stylesheet" type="text/css" href="/assets/mobile/jd/base2013.css" charset="gbk"/>
<link rel="stylesheet" type="text/css" href="/assets/mobile/jd/2013/ware/view.css" charset="gbk"/>	
<script type="text/javascript">
			var _winLocation=window.location.href;//获得当前页面的路径，根据路径规则进行逐页替换
			var _isWebKit = '__proto__' in {};//是否是webkit内核
			if(_isWebKit){//如果是webkit内核，则分模块使用zepto
				//要使用zeptojs的路径列表，可以做为分模块替换的开关
				var _locationList=new Array();
				//活动模块
				_locationList.push('../activity/proActList');
				_locationList.push('../activity/proActWareList');
				_locationList.push('../activity/list');
				//商品分类模块
				_locationList.push('../category/');
				//京东快讯模块
				_locationList.push('../newslist.html');
				_locationList.push('../newslist/');
				_locationList.push('../news/');
				//机票模块
				_locationList.push('../airline/');
				//酒店模块
				_locationList.push('../hotel/');
				//团购模块
				_locationList.push('../tuan/');
				//首页相关
				_locationList.push('../hotbrand.html');//品牌馆
				//商品筛选相关
				_locationList.push('../ware/expandSort.action');
				_locationList.push('../ware/categoryFilter.action');
				_locationList.push('../ware/search.action');
				_locationList.push('../products/');
				
				_locationList.push('../notice/');//通告模块
				_locationList.push('../coupons/');//随地惠模块
				_locationList.push('../chongzhi/');//手机充值模块
				_locationList.push('../comment/');//手机推荐模块
				_locationList.push('../pay/');//支付
				_locationList.push('../order/');//订单
				var _needReplace = false;
				//如果当前路径符合要使用的路径规则，则进行替换
				for(var i=0;i<_locationList.length;i++){
					if(_winLocation.indexOf(_locationList[i])!=-1){
						_needReplace=true;
						break;
					}
				}
				//如果是首页的话，则使用zepto
				var _tmp = _winLocation.replace(/(^http:\/\/)|(\/*$)/g,'');
				if(_tmp.indexOf('/')<0 || (_tmp.split('/').length<=2 && _tmp.indexOf('/index')>=0)){
					_needReplace=true;
				}
				//如果是商品详情页的话，则使用zepto
                var _dlocationList=new Array();
                _dlocationList.push(/\/product\/([0-9]+)\.html/);
                _dlocationList.push(/\/orderComment\/([0-9]+)\.html/);
                _dlocationList.push(/\/consultations\/([0-9]+)\.html/);
                _dlocationList.push(/\/consultations\/([0-9]+)-([0-9]+)\.html/);
                _dlocationList.push(/\/comments\/([0-9]+)\.html/);
                for(var i=0,len=_dlocationList.length;i<len;i++){
                	if(_dlocationList[i].test(_winLocation)){
                		_needReplace=true;
                     break;
                 }
             }
             if(_needReplace){
               document.write('<script src="/assets/mobile/jd/zepto.min.js"><\/script>');
               document.write('<script type="text/javascript">window.jQuery=window.Zepto;<\/script>');
           }else{
               document.write('<script src="/assets/mobile/jquery-1.8.2.min.js"><\/script>');
           }
			}else{//如果是非webkit内核直接使用jquery
				document.write('<script src="/assets/mobile/jquery-1.8.2.min.js"><\/script>');
			}
      </script>
      <script type="text/javascript" src="/assets/mobile/jd/html5/common.js"></script>
      <script type="text/javascript" src="/assets/mobile/jd/html5/spin.min.js"></script>
  </head>

  <body id="body">
    <a name="top"></a>
    <header>
     <div class="new-header">
       <a href="javascript:pageBack();" class="new-a-back" id="backUrl"><span>返回</span></a>
       <h2>商品详情</h2>
       <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span>京东键</span></a>
   </div>
   <div class="new-jd-tab" style="display:none" id="jdkey">
       <div class="new-tbl-type">
        <a href="/mobile/home/" class="new-tbl-cell">
           <span class="icon">首页</span>
           <p style="color:#6e6e6e;">首页</p>
       </a>
       <a href="#" class="new-tbl-cell">
           <span class="icon2">分类搜索</span>
           <p style="color:#6e6e6e;">分类搜索</p>
       </a>
       <a href="javascript:void(0)" id="html5_cart" class="new-tbl-cell">
           <span class="icon3">购物车</span>
           <p style="color:#6e6e6e;">购物车</p>
       </a>
       <a href="../user/home.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911" class="new-tbl-cell">
           <span class="icon4">我的京东</span>
           <p style="color:#6e6e6e;">我的京东</p>
       </a>
   </div>
</div>
</header>
<script type="text/javascript" src="/assets/mobile/jd/2013/ware/view.js"></script>
<script type="text/javascript" src="/assets/mobile/jd/2013/ware/newView.js"></script>
<div id="mainLayout" style="display:-webkit-box;">
    <div class="new-ct" id="mainStay" style="-webkit-box-flex: 1;width: 100%;">
      <div class="new-p-re">
       <div class="detail-img" >
         <div class="tbl-type"  id="_zoom">
            <div id="imgSlider" style="position:relative;left:0px;">
                <%@small_pic = @good.small_pic.split(',')%>
                <span class="tbl-cell"><img src="<%=@small_pic[0] if @good.small_pic%>" seq="0" width="320" height="292"></span>

            </div>
            <ul class="new-banner-num new-b-num-v1 new-tbl-type" id="imgSliderPage" style="display:none">
            </ul>
        </div>
    </div>
    <div class="detail-price">
       <span class="text" id="price">&yen;<%=@good.name%>  </span><a class="btn-sc" id="attention"><span></span></a>
   </div>
</div>
<div class="secton10">
    <div class="info">
        <a href="../detail/1016292843.html@resourceType=index_promotion&resourceValue=f1&sid=e0d0f025d6d3e8e8d7be5428c43ef911">
            <span class="text">商品信息</span>
        </a>
        <span class="icon-arr"></span>
    </div>
    <p class="detail-title"><%=raw @good.intro%></p>
    <p class="text3" id="promotionInfo" style=" display:none ">  </p>
    <!-- <p class="text2" id="vender" style=" ">服务：由贸微分负责发货，并提供售后服务。</p> -->
</div>
<div class="bg-h15"></div>
<div id="spinner1" class="spinner" style="left:50%;position: absolute;height:120px;margin-top:50px;z-index:1000"></div>

<div class="cart-pop" id="cart" style="display:none;position:absolute;bottom:50%;z-index:9999">
    <div class="ico-succ" >
       <span class="att-succ">添加成功！</span>
       <span class="cart-succ">商品已成功加入购物车</span>
   </div>
   <div class="cp-lnk" >
       <a href="javascript:void(0)" onClick="$('#cart').hide();$('#_mask').hide();" id="stroll">再逛逛</a>                    
       <a  id="goCart"><span class="bar"></span>去购物车</a>
   </div>
</div>

<div class="bg-h15"></div>

<div class="secton10 secton10-v1">
    <div class="info border-b-none">
      <%=form_for :product,:url=>add_cart_index_path(:agent=>"mobile"),:html =>{:class => "cart_from"} do |f|%>
        <%=f.hidden_field :goods_id,:value=>@good.goods_id%>
        <%=f.hidden_field :type_id,:value=>@good.type_id%>
        <%=hidden_field_tag "product[specs][]"%>
      <%end%>
        <span class="s-block" id="size_parent" >
            <div class="spec">
              <%=render :partial=>"store/goods/product/new_spec",:locals=>{ :good=>@good }%>
          </div>
      </span>                
      <span class="icon-arr"></span>
  </div>
</div>     
<div class="tbl-type detail-tbn detail-tbn-v1" id="jshopAndIm">
  <span class="tbl-cell" id="kefu" style="display:none">
   <a href="javascript:void(0)" id="im" class="btn-call"><span></span>联系客服</a>
</span>
</div>
<div class="tbl-type detail-tbn2" id="cart1" style="position:fixed;bottom:0;z-index:10;" >
 <!--  <div class="tbl-cell">          <a id="directorder" class="btn-buy"><span></span>立即购买</a>
  </div> -->
  <div class="tbl-cell">
    <div id="cart_msg"></div>
    <a class="btn-cart add_to_cart"><span></span>加入购物车</a>
  </div>
</div>
</div>
</div>

<div class="new-gd-view-img" id="popImg" style="position:absolute;display:none;z-index:9000" onClick="hidePop()">
	<div class="new-banner new-p-re">
        <ul class="new-tbl-type" style="position:absolute;margin-left:0" id="bigImgSlider">
            <li class="new-tbl-cell"><a href="javascript:void(0)"><span class="new-shade-img"><img src="http://img13.360buyimg.com/n1/g10/M00/05/12/rBEQWFEtb78IAAAAAAWca7l6fjYAABFowBCPIEABZyD393.jpg!q70.jpg" width="300" height="300" alt=""></span></a></li>
        </ul>
        <ul class="new-banner-num new-tbl-type" id="bigImgSliderPage">
        </ul>
    </div>
</div>

<div id="yuyuecart" style="width:100%;position:fixed;bottom:0;display:none">
   <div class="tbl-type detail-tbn2">
    <div class="tbl-cell">
        <a class="btn-cart" dataid="cartyuyue"><span></span>加入购物车</a>
    </div>
</div>
</div>

<div id="yuyueing" style="width:100%;position:fixed;bottom:0;display:none">
   <div class="tbl-type detail-tbn2" >
    <div class="tbl-cell">
        <a class="btn-yuyue" data><span class="icon-clock"></span><span id="yuyuetime"></span><span class="txt-yuyue" id="yuyuecontext"><span></span>开始预约</span></a>
    </div>
</div>
</div>

<div id="yuyuenow" style="width:100%;position:fixed;bottom:0;display:none">
    <div class="tbl-type detail-tbn2">
        <div class="tbl-cell">
            <a class="btn-yuyue2" href="../yuyue/1016292843.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911" id="nowyuyue"><span class="icon-clock"></span><span class="txt-yuyue" id="yuyuenowcontext"><span></span>立即预约</span></a>
        </div>
    </div>
</div>

<div id="yuyueend" style="position:fixed;bottom:0;display:none">
   <div class="tbl-type detail-tbn2" >
    <div class="tbl-cell">
        <a class="btn-yuyue2"><span class="icon-clock"></span><span class="txt-yuyue" id="yuyueendcontext"><span></span></span></a>
    </div>
</div>
</div>
<div class="pop" style="position:absolute;z-index:9999;display:none" id="tip">
   <p><span class="pop-txt"></span>
   </p>
   <div class="pop-txt-area">
     <span class="pop-txt2" id="tips">
     </span>
 </div>
 <div class="tbl-type">
   <a href="javascript:void(0)" onClick="$('#tip').hide();$('#_mask').hide();" class="tbl-cell" style="width:50%">知道啦</a>
   <a href="javascript:void(0)" id="myyuyue" class="tbl-cell"  style="width:50%">我的预约</a>
</div>
</div>

<div class="login-area" id="footer">
   <div class="login">
      <a href="../user/login.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911">登录</a><span class="lg-bar">|</span><a href="../user/mobileRegister.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911">注册</a>
      <span  class="new-fr"><a href="../showvote.html@sid=e0d0f025d6d3e8e8d7be5428c43ef911">反馈</a><span class="lg-bar">|</span><a href="#top">回到顶部</a></span>
  </div>
  <div class="version"><a href="../index.html@v=w&sid=e0d0f025d6d3e8e8d7be5428c43ef911">标准版</a><a href="javascript:void(0)" class="on">触屏版</a><a href="../index/pcsite.action" id="toPcHome">电脑版</a></div>
  <div class="copyright">&copy; </div>
</div>
<script type="text/javascript">
 //banner 关闭点击
 $('.div_banner_close').click(function(){
    $('#div_banner_header').unbind('click');
    jQuery.post('../index/addClientCookieVal.json',function(d){
      $('#div_banner_header').slideUp(500);
  });
});
    //banner 下载点击
    $('.div_banner_download').click(function(){
       var downloadUrl = $(this).attr('url');
       jQuery.post('../index/addClientCookieVal.json',function(d){
         window.location.href=downloadUrl;
     });
   });

    $('.add_to_cart').click(function(e){
        var spec_type_size =  $("#specs_container").attr("spec-type-size")*1;
        if($("#specs_container input:hidden[value!='']").length != spec_type_size){
          alert("请选择您要购买的商品信息!");
          return false;
        }

        if($(this).hasClass("sold-out")){
          alert("该商品已经售完!");
          return false;
        }
        if($(this).hasClass("login")) return false;

        $(".cart_from").submit();

        return false;
    });


      $("#specs_container .spec-value").live("click",function(e){
            $("#cart_msg").empty();
            $(this).closest('.spec-item').find(":hidden").val($(this).data("value"));
            $(this).closest('.spec-values').find(".spec-value").removeClass("selected");
            $(this).addClass("selected");
            var spec_values = []
            var $specs = $("#specs_container");
            $specs.find("input[name='product[specs][]']").each(function(){
                var tmp = $(this).val();
                if(tmp.length>0){
                    spec_values.push(tmp);
                }
            });
            var url = $specs.attr("property-url");
            $.get(url,{spec_values: spec_values}, function(res){
                    $("#product_store").text(res.store);
                    $("#product_price").text(res.price);

                    $("#store").empty();
                    if(res.store>0){
                        $("#add_to_cart").removeClass("sold-out");
                        for(var i=1;i <= res.store; i++){
                            $("#store").append('<option value="'+i+'">'+i+'</option>');
                        }
                    }else{
                        // no store
                        $("#store").append('<option value="'+0+'">'+0+'</option>');
                        $("#add_to_cart").addClass("sold-out");
                    }
                });
            return false;
        });
    
</script>
</body>