<%#= render "shared/metable", :resource=>@good%>
<div id="products" class="show">
	<%= render :partial=>"new_single",:locals=>{ :good=>@good } %>
</div>
<div id="product_detail">
	<%= render :partial=>"new_detail",:locals=>{ :good=>@good } %>
</div>

<%if @good.has_cols? %>
<div id="new_look">
	<%= render "new_look2"%>
	<%= render "reco_new_look" if @good.reco_collocation_goods.count > 0%>
</div>
<%else%>
<%= render "reco_goods" %>
<%end%>

<script type="text/javascript">
  window.onload = function() {
    document.getElementById("preloader").style.display = 'none';
  }
</script>