<style type="text/css">
   .sub{
       float: right;
       padding: 30px;
       width: 30%   ;
   }

</style>

<header id="header" class="header clearfix">

  <div class="head_left fl"><a href="javascript:history.go(-1)"><span class="h_back"></span></a></div>
  <span class="headtit">万家物流小黑板</span>
  <div class="head_right fr"><a href="/manco" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>
<div id="demo-view" data-backend-compiled=""><figure data-am-widget="figure" class="am am-figure am-figure-default am-no-layout am-figure-zoomable">
  <img src="/assets/manco/2.jpg" alt="加州风力发电场的圣诞灯饰">
  <figcaption class="am-figure-capition-btm"><h2><%=@good[0].name %></h2></figcaption></figure></div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
<div id="wapModalsbox">
  <div id="goods_detail" class="aposition">



  </div>
</div>

<div class="">
  <div class=""><b class="">物流信息：</b> <%=@good[0].name %>
    <br/>

    <b class="">本次运输有效期为：</b>   <%=Time.at(@good[0].downtime).localtime.to_s(:db)%> </li>

    <br/>
    <b class="">本次运输简介：</b> <%=raw @good[0].desc%>
    <br>
</div>
<div id="demo-view" data-backend-compiled="">
  <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default am-no-layout" data-am-paragraph="{ tableScrollable: true, imgLightbox: true }">
    <img src="http://s.cn.bing.net/az/hprichbg/rb/QingdaoJiaozhou_ZH-CN10690497202_1366x768.jpg">
    <p class="paragraph-default-p">南极洲又称<a href="http://zh.wikipedia.org/w/index.php?title=%E7%AC%AC%E4%B8%83%E5%A4%A7%E9%99%86&amp;redirect=no">第七大陆</a>，是地球上最后一个被发现、唯一没有土著人居住的大陆。</p><p>南极大陆为通常所说的南大洋（太平洋、印度洋和大西洋的南部水域）所包围，它与南美洲最近的距离为965公里，距新西兰2000公里、距澳大利亚2500公里、距南非3800公里、距中国北京的距离约有12000公里。南极大陆的总面积为1390万平方公里，相当于中国和印巴次大陆面积的总和，居世界各洲第五位。</p>
    <img src="http://home.hebei.com.cn/xwzx/jypd1/tp3/200911/W020091105523721711433.jpg"><p>整个南极大陆被一个巨大的冰盖所覆盖，平均海拔为2350米。南极洲是由冈瓦纳大陆分离解体而成，是世界上最高的大陆。南极横断山脉将南极大陆分成东西两部分。这两部分在地理和地质上差别很大。</p>
    <img src="http://a1.att.hudong.com/24/53/300000928390129593530805445.jpg"><p>东南极洲是一块很古老的大陆，据科学家推算,已有几亿年的历史。它的中心位于难接近点，从任何海边到难接近点的距离都很远。东南极洲平均海拔高度2500米，最大高度4800 米。在东南极洲有南极大陆最大的活火山，即位于罗斯岛上的埃里伯斯火山，海拔高度3795米，有四个喷火口</p>
  </article></div>
<script type="text/javascript">
    function saveProValue(){
        return {product_id: '26038564',brand_id: '198535'}
    };
</script>

<div class="bottomdiv clearfix">
  <div class="inner clearfix">
    <a class="fl cart_time" href="">
      <em class="num_cart hide"></em>

      <span class="num_cunt" data-ctime="true" data-carttime="-1402928788"></span>
    </a>

    <a href="/orders/goodblack?ship_id=<%=@good[0].ship_id%>" class="am-btn  am-btn-primary sub" >下单</a>

  </div>
</div>
    <br/>
  <br/>


<%= javascript_include_tag "mobile/all" %>
<%= javascript_include_tag "mobile/mars_wap" %>
<%= javascript_include_tag "mobile/page.item.index.min" %>
<%= stylesheet_link_tag    "manco/amui.all.min.css" %>
<%= stylesheet_link_tag    "manco/amui.all.css" %>

<%= javascript_include_tag "manco/amui.widget.helper.js" %>

<%= javascript_include_tag "manco/zepto.min.js" %>
<%= javascript_include_tag "manco/amui.js" %>
<%= javascript_include_tag "manco/amui.min.js" %>