<style type="text/css">


   .bottomdivsclearfix{
       display: none;
   }


</style>

<header id="header" class="header clearfix">

  <div class="head_left fl"><a href="javascript:history.go(-1)"><span class="h_back"></span></a></div>

  <div class="head_right fr"><a href="/vshop/<%=@supplier.id%>" mars_sead="nav_home_btn"><span class="h_home"></span></a></div>
</header>
<div id="demo-view" data-backend-compiled=""><figure data-am-widget="figure" class="am am-figure am-figure-default am-no-layout am-figure-zoomable">
  <img src="/assets/manco/2.jpg" alt="万家物流">
  <figcaption class="am-figure-capition-btm"><h2><%=@good[0].name %></h2></figcaption></figure></div>
<hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
<div id="wapModalsbox">
  <div id="goods_detail" class="aposition">



  </div>
</div>

<div class="">
  <div class=""><b class="">物流信息：</b> <%=@good[0].name %>
    <br/>

    <b class="">本次运输有效期为：</b>   <%=Time.at(@good[0].downtime).localtime.to_s(:db)%> </li>

    <br/>
    <b class="">本次运输简介：</b> <%=raw @good[0].desc%>
    <br>
</div>

<script type="text/javascript">
    function saveProValue(){
        return {product_id: '26038564',brand_id: '198535'}
    };
</script>

<div class="bottomdiv clearfix">
  <div class="inner clearfix">
    <a class="fl cart_time" href="">
      <em class="num_cart hide"></em>

      <span class="num_cunt" data-ctime="true" data-carttime="-1402928788"></span>
    </a>

    <a href="/orders/goodblack?ship_id=<%=@good[0].ship_id%>&supplier_id=<%=@supplier.id%>" class="am-btn  am-btn-primary sub" >获取货主联系方式</a>

  </div>
</div>
    <br/>
  <br/>


<%= javascript_include_tag "mobile/all" %>
<%= javascript_include_tag "mobile/mars_wap" %>
<%= javascript_include_tag "mobile/page.item.index.min" %>