<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap.js?body=1" type="text/javascript"></script>
<script src="/assets/standard.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script src="/assets/area_seletor.js?body=1" type="text/javascript"></script>
<script src="/assets/bootstrap.js?body=1" type="text/javascript"></script>
<script src="/assets/patch/profiles.js?body=1" type="text/javascript"></script>
<link href="/assets/cheuksgroup/bootstrap.css?body=1" media="screen" rel="stylesheet" type="text/css" />


	<ul class="nav nav-tabs">
		<li class='<%="active" if @tab == "basic"%>'>
			<a href="#basic" data-toggle="tab">基本信息</a>
		</li>
		<li class='<%="active" if @tab == "details"%>'>
			<a href="#details" data-toggle="tab">详细资料</a>
		</li>
		<!-- <li class='<%="active" if @tab == "interest"%>'>
			<a href="#interest" data-toggle="tab">个人偏好</a>
		</li> -->
	</ul>
	<div class="msg-block">

	</div>
	<div class="tab-content">
		<div class="tab-pane fade <%='active in' if @tab == 'basic'%> " id="basic">
	                <%=render "patch/profiles/edit/basic"%>
	      </div>

	      <div class="tab-pane fade <%='active in' if @tab == 'details'%>" id="details">
	                <%=render "patch/profiles/edit/details"%>
	      </div>

	      <div class="tab-pane fade <%='active in' if @tab == 'interest'%>" id="interest">
	                <%=render "patch/profiles/edit/interest"%>
	      </div>
	</div>
