<style type="text/css">
    body{
        background-color: #f0f1ff;
    }
    .am-form input[type="text"], .am-form input[type="number"]{
        margin-bottom: 20px;
        width: 80%;
        margin-left: 45px;
        border: #15afef solid 1px;

    }
    .am-label{
        background-color: #15afef;
        width: 100%;
        color: #ffffff;
    }
    .am-form textarea{
        width: 80%;
        height: 100px;
        margin-left: 45px;
        border: #15afef solid 1px;
    }
    .am-form input[type="radio"]{
        padding: 20px;
    }
    .radio_inline{
        float: left;
        text-align: center;
        margin-right: 30px;
        margin-left: 100px;
    }
    .control-group_lable{
        text-align: center;
    }
    .black_btn{
        float: right;
        margin-right: 20px;
    }
    input[type="submit"]{
        margin-left: 30%;
        width: 200px;
    }
</style>


<div class="am-panel am-panel-primary">
  <div class="am-panel-hd">司机信息管理</div>
  <div class="am-panel-bd">
    请注意：如果需要发布小黑板，需要填写必须的信息，方便我们联系您。
  </div>
</div>


<%= form_for :bank_info, :url=>"mancouser_add",:method=>"put",:html => {:class => "am-form"} do |f| %>


    <div class="control-grobank ">
      <%=f.label "姓名"%>
      <%= text_field_tag "name",@member.name%>
      <%=f.label "联系电话"%>
      <%=text_field_tag "mobile",@member.mobile%>
      <%=f.label "所属银行"%>
      <%= f.text_field :bank,:placeholder=>"可以是支付宝，财付通等",:class=>"span4"%>
      <%=f.label "银行卡号码"%>
      <%= f.text_field :account,:placeholder=>"银行卡号码",:class=>"span4"%>
      <%=f.label "银行卡开户地"%>
      <%= f.text_field :bank_branch,:placeholder=>"银行卡开户地",:class=>"span4"%>





      <div class="control-group">
        <div class="controls">
          <%= f.submit '确定', :class => "am-btn am-btn-primary" %>
          <%= link_to '返回', '/manco',:class=>"black_btn" %>
        </div>
      </div>
      <br/>

<% end %>
</div>