
	<%=form_for :account,:url=>modify_password_profile_path,:method=>:put,:html=>{:id=>"password_form"} do |f|%>
		<div class="field">
			<label>当前密码:</label>
			<%=f.password_field :current_password%>
			<span class="required"><%=@account.errors[:current_password].join(",")%></span>
		</div>

		<div class="field">
			<label>新密码:</label>
			<%=f.password_field :login_password%>
			<span class="required"><%=@account.errors[:login_password].join(",")%></span>
		</div>

		<div class="field">
			<label>确认密码:</label>
			<%=f.password_field :login_password_confirmation%>
			<span class="required"><%=@account.errors[:login_password_confirmation].join(",")%></span>
		</div>
		
		<div class="actions">
			<%=f.submit "修改密码",:class=>"btn btn-inverse"%>
		</div>
		
	<%end%>
