<div class="cards">
	<div class="form-block">
		<h4>VIP卡激活确认 </h4>

		<p>请再次核对以下信息是否正确</p>

		<%=form_for :card, :url=>activate_card_path do |f|%>
			<%=f.hidden_field :no,:value=>@card.no%>

			<div class="field">
				<label class="field-label field-label-long">待激活VIP卡号 : </label>
				<span class="field-plain"><%=@card.no%></span>
			</div>

			<div class="field">
				<label class="field-label field-label-long">充值预存款帐号 : </label>
				<span class="field-plain">
					<%=@user.login_name%>
				</span>
			</div>

			<div class="field">
				<label class="field-label field-label-long">充值金额 : </label>
				<span class="field-plain">&yen;<%=@card.value%></span>
			</div>

			<div class="field">
				<label class="field-label field-label-long">VIP卡持有人手机号码 : </label>
				<span class="field-plain"><%=mask(@card.member_card.buyer_tel)%></span>
			</div>

			<div class="field">
				<%=f.submit "确认激活",:class=>"btn submit"%>
				<%=link_to "取消",vip_path,:class=>"btn cancel"%>
			</div>

		<%end%>

	</div>
	<div class="tips-block">
		<p>小贴士</p>
		<ul>
			<li>
				<strong> 预存款账号有什么用？</strong>
				<div>答：当点击“确认激活”后，您的VIP卡余额将会被存入当前显示的预存款账号中，此操作一经确认不可修改。</div>
			</li>
			<li>
				<strong> 我不想在这个账号里充值可以吗？</strong>
				<div>答：当然可以，请退出网站并使用您想要充值的账户重新登录，并在VIP卡专区重新选择激活即可。</div>
			</li>

			<li>
				<strong> VIP卡持有人手机号码有什么用？</strong>
				<div>答：此号码将作为将来为您提供VIP卡增值服务的联系方式，一经确认后如需修改请与客服联系。</div>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="other-tip "> <span class="required">*</span> 重要提示 :  当点击“确认激活”后，即完成预存账户充值,不可再修改。 如需帮助请致电：021 - 22306630。</div>
	
</div>