<%= form_for :supplier,:url =>@action_url, :method=>@method, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
    <div style="float:left;width:450px">
      <div>基本信息</div>
      <div class="control-group">
        <%= f.label :name, "微店名称", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name%>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :logo, "logo", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :logo%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :status, "状态", :class => "control-label" %>
        <div class="controls">
          <%= f.number_field :status%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :commission_platform, "平台佣金", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :commission_platform%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :commission_promotion, "推广佣金", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :commission_promotion%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :commission_confirm_days, "佣金确认天数", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :commission_confirm_days%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :url, "访问地址", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :url%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :member_id, "用户", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :member_id%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :address, "公司地址", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :address%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :desc, "微店简介", :class => "control-label" %>
        <div class="controls">
          <%=f.text_area :desc,:placeholder=>"微店简介",:class=>"span3",:rows=>3%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :tel, "电话", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :tel%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :layout, "样式", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :layout%>
        </div>
      </div>
      <div>申请信息</div>
      <div class="control-group">
        <%= f.label :company_name, "公司名", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :company_name%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :owner, "法人代表", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :owner%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :owner_id, "法人代表身份证", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :owner_id%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :vmanager, "微店店长", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :vmanager%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :vmanager_dpt_postion, "部门职位", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :vmanager_dpt_position%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :vmanager_id, "店长身份证号", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :vmanager_id%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :vmanager_mobile, "店长手机", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :vmanager_mobile%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :vmanager_email, "店长email", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :vmanager_email%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :license, "营业执照", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :license%>
        </div>
      </div>
    </div>
    <div style="float:left;width:450px">
      <div>公众号信息</div>
      <div class="control-group">
        <%= f.label :weixin_token, "服务号token", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :weixin_token%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :weixin_secret_key, "微信密钥", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :weixin_secret_key%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :weixin_name, "微信公众名", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :weixin_name%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :weixin_account, "微信账号", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :weixin_account%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :weixin_password, "微信密码", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :weixin_password%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :weixin_appid, "appid", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :weixin_appid%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :weixin_appsecret, "appsecret", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :weixin_appsecret%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :weixin_openid, "openid", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :weixin_openid%>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :menu, "菜单", :class => "control-label" %>
        <div class="controls">
          <%= f.text_area :menu,:class=>"span3",:rows=>40%>
        </div>
      </div>
    </div>

<div style="clear:both">
    <div class="control-group">
      <%= f.label :goods_area, "商品区域", :class => "control-label" %>
      <div class="controls">
       <%= f.cktext_area :goods_area, :toolbar => 'Easy',:language=>'zh-cn',:height => 300 %>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <%= f.submit '确定', :class => "btn btn-primary" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '返回', admin_suppliers_path %>
      </div>
    </div>
</div>

  </fieldset>
<% end %>