<%= form_for :good,:url => @action_url,:method=>@method,:html => {:class => "form-horizontal"} do |f| %>
  <fieldset>

    <div class="control-group">
      <%= f.label :cat_id, "商品分类", :class => "control-label" %>
      <div class="controls">
        <%=f.select :cat_id, Ecstore::Category.all.collect {|cat| [cat.full_path_name, cat.cat_id] },{:include_blank=>"请选择"},{:class=>"span3"} %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :p_order, "排序", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :p_order,:class=>"span4"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :freight, "运费", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :freight,:class=>"span4"%>
         </div>
    </div>


    <div class="control-group">
      <%= f.label :name, "商品名称", :class => "control-label" %>
      <div class="controls">
      		<!-- <span class="plain"><%=@good.name%></span> -->
          <%= f.text_field :name,:class=>"span4"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :share, "分享佣金", :class => "control-label" %>
      <div class="controls">
        <!-- <span class="plain"><%=@good.name%></span> -->
        <%= f.text_field :share,:class=>"span4"%>例如：0.01=>售价的1%
      </div>
    </div>
    <div class="control-group">
      <%= f.label :bulk, "渠道价", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :bulk,:class=>"span4"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :wholesale, "批发价", :class => "control-label" %>
      <div class="controls">

        <%= f.text_field :wholesale,:class=>"span4"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :promotion, "促销价", :class => "control-label" %>
      <div class="controls">

        <%= f.text_field :promotion,:class=>"span4"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :bn, "商品编号", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :bn,:class=>"span4"%>
      </div>
    </div>

    <div class="control-group" >
      <%= f.label :supplier_id, "供应商", :class => "control-label" %>
      <div class="controls">
        <%=f.select :supplier_id, Ecstore::Supplier.all.collect {|supplier| [supplier.name, supplier.id] },{:include_blank=>"请选择"},{:class=>"span3"} %>
        <%#= @good.supplier.name%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :small_pic, "小图", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :small_pic,:class=>"span10"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :medium_pic, "中图", :class => "control-label" %>
      <div class="controls">
        <%#=form_for :good,:url=>uploadpic_admin_goods_path,:html => {:multipart => true} ,:method=>:post do |f|%>
            <%#= file_field :good, :file, :id=>'csvfile',:accept => "application/msexcel",:class=>"batch" %>
            <%#= f.submit '上传图片(780x1100)', :class => "btn btn-primary" %>
        <%#end%>
        <%= f.text_field :medium_pic,:class=>"span10"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :big_pic, "大图", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :big_pic,:class=>"span10"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :place, "国家", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :place%>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">品牌</label>
      <div class="controls">
         <%=f.select :brand_id, Ecstore::Brand.all.collect {|b| [b.brand_name,b.brand_id]},{:include_blank=>"请选择"}%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :price, "会员价", :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :price%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :mktprice, "市场价", :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :mktprice%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :store, "库存", :class => "control-label" %>
      <div class="controls">
        <%= f.number_field :store%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :marketable, "立即上架", :class => "control-label" %>
      <div class="controls">
        <label class="radio inline"><%= f.radio_button :marketable,'true'%>是</label>
        <label class="radio inline"><%= f.radio_button :marketable,'false'%>否</label>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :uptime, "定时上下架", :class => "control-label" %>
      <div class="controls">
        <label class="radio inline"><%= f.radio_button :up_or_down,true%>定时上架</label>
        <label class="radio inline"><%= f.radio_button :up_or_down,false%>定时下架</label>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%=f.text_field :uptime, :value=>@good.up_at, :class=>"datetime"%>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :desc, "商品描述", :class => "control-label" %>
      <div class="controls">
        <%= f.cktext_area :desc, :toolbar => 'Easy',:language=>'zh-cn',:height => 100,:width=>800 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :place_info, "产地", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :place_info,:class=>"span10" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :spec_info, "规格说明", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :spec_info,:class=>"span10" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :intro, "商品详情", :class => "control-label" %>
      <div class="controls">
        <%= f.cktext_area :intro, :toolbar => 'Easy',:language=>'zh-cn',:height => 200,:width=>800  %>
      </div>
    </div>
<!--
    <div class="control-group">
      <%#= f.label :softness, "柔软度", :class => "control-label" %>
      <div class="controls">
         <%#=f.select :softness,softness_options,{:include_blank=>"请选择"}%>
      </div>
    </div>

    <div class="control-group">
      <%#= f.label :thickness, "厚薄度", :class => "control-label" %>
      <div class="controls">
        <%#=f.select :thickness,thickness_options,{:include_blank=>"请选择"}%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :elasticity, "弹力度", :class => "control-label" %>
      <div class="controls">
         <%#=f.select :elasticity,elasticity_options,{:include_blank=>"请选择"}%>
      </div>
    </div>

    <div class="control-group">
      <%#= f.label :fitness, "修身度", :class => "control-label" %>
      <div class="controls">
      	   <%#=f.select :fitness,fitness_options,{:include_blank=>"请选择"}%>
      </div>
    </div>
//-->

    <%=render :partial=>"admin/shared/metable", :locals=>{ :form => f, :resource=> @good }%>



    <div class="control-group">
      <div class="controls">
        <%= f.submit '确定', :class => "btn btn-primary" %>
        <%= link_to '返回', admin_goods_path,:class=>"btn" %>
      </div>
    </div>
  </fieldset>
<% end %>
