<style>
	#import_goods{text-align:center; border:1px solid #e3e3e3;float:left; position: relative;margin:0px 20px;padding:5px;min-height:80px;min-width:500px;}

	dl{width:300px;margin:auto;}
	dd{margin:0; padding :1em;}
	dt{cursor:pointer; line-height:2em;background: #e3e3e3; border-bottom:1px solid #c5c5c5; border-top: 1px solid white;}
</style>

<div id ="import_goods">		
	<p id ="import_button" class="btn btn-success">批量导入商品</p>	
	<dl>
		<dt>已经有产品导入模板,直接导入</dt>
		<dd>
			<%=form_for :good,:url=>import_admin_goods_path,:html => {:multipart => true} ,:method=>:post do |f|%>
		      <%= file_field :good, :file, :id=>'csvfile',:accept => "application/msexcel",:class=>"batch" %>
		      <%= f.submit '上传', :class => "btn btn-primary" %>
		    <%end%>
		</dd>
		<dt>下载产品导入模板</dt>
		<dd>
			  <%=form_for :good, :url=>cate_temp_download_admin_goods_path,:method=>:get,:html=>{:id=>"cate_temp_download"} do |f|%>	
		<div class="filter-item">
			<%=f.select :cat, Ecstore::Category.where("length(code)=10").collect {|cat| [cat.full_path_name, cat.cat_id] },{:include_blank=>"请选择分类"},{:class=>"span3"} %>
		</div>
		<div id="goods_cate_specs"></div>
		<%= f.submit '下载模板', :class => "btn btn-primary" %>
		<%=link_to "新增分类","/admin/goods_cats",:class=>"btn",:id=>"reset_form"%> 

			  <div style="display:none">
			  	<h1>XXX分类自定义参数</h1>
			  	<div></div>
			  	<a href="#">分类自定义参数管理</a>
			  	<a href="#">新增参数</a>
			  </div>
			<%end%>
		</dd>
		<dt id="import_cancel">取消</dt>
	</dl>
	
</div>
<script>
	(function(){
		var dl = $('dl');
		dl.hide();
		var dd =$('dd');
		dd.hide();
		var p = $('p#import_button');
		var cancel = $('dt#import_cancel');

		p.on('click',function(){
			console.log("import");
			dl.show();
			p.hide();
		});
		$('dt').on('click',function(){
			console.log('showdd');
			$(this).next().siblings('dd').hide();
			$(this).next().show();
		});
		

		cancel.on('click',function(){
			dl.hide();
			p.show();
		});
	//	dl.toggle();
	// dl.slideDown();

	})();
</script>