<table class="table table-bordered">
	                					<tr>
	                						<td colspan="99">
	                							<strong>可选规格范围</strong>
	                							<%=link_to "+新增字段","#"%>
	                							<%=link_to "+添加选项","#",:class=>"add-item"%>
	                						</td>
	                					</tr>
	                					<tr>
	                						<th>范围 \ 项</th>
	                						<td>
	                							肩宽(cm)
	                							<%=link_to "#" do%>
	                								<span class="remove-item">-</span>
	                							<%end%>
	                						</td>
	                						<td>肩宽 <%=link_to "-","#"%></td>
	                						<td>肩宽 <%=link_to "-","#"%></td>
	                						<td>肩宽 <%=link_to "-","#"%></td>
	                						<td>肩宽 <%=link_to "-","#"%></td>
	                						<td>肩宽 <%=link_to "-","#"%></td>
	                					</tr>
	                					<tr>
	                						<td>最大尺寸限制</td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                					</tr>
	                					<tr>
	                						<td>最小尺寸限制</td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                						<td><%=text_field_tag :item,'',:class=>"input-mini"%></td>
	                					</tr>
	                				</table>