<div class="well">
	<div>
		<%=@good.cat.cat_name if @good.cat%>
		<strong><%=@good.name%>(<%=@good.bn%>) </strong>
		<%=@good.brand.brand_name if @good.brand%>
	</div>
</div>

<div>搭配</div>
<div class="well clearfix">
      <%=form_for :collocation,:url=>create_collocation_admin_goods_path,:remote=>true,:html=>{:class=>"clearfix"} do |f|%>
        <%=f.hidden_field :goods_id,:value=>@good.goods_id%>
        <%=f.hidden_field :collocation_type,:value=>"goods"%>
	<ul id="collocations" class="clearfix">
          <%@collocations.each do |goods_id|%>
          <%good = Ecstore::Good.find_by_goods_id(goods_id)%>
          <li data-goods_id="<%=goods_id%>">
            <div>
              <img src="<%=good.list_default_pic%>">
            </div>
            <div class="name"><%=good.name%>&yen;<%=good.price%></div>
            <input type="hidden" name="collocation[collocations][]" value="<%=goods_id%>">
            <a href="#" class="close">×</a>
          </li>
          <%end if @collocations%>
	</ul>
      <div class="clearfix">
      </div>
	<div>
          <%=f.submit "保存",:class=>"btn btn-primary"%>
          <%=link_to "返回",admin_goods_path,:class=>"btn"%>
      </div>
      <%end%>
</div>



<h5>
	选择搭配商品
</h5>
<div id="search">
<%=form_for :s, :url=>search_admin_goods_path(:marketable=>true),:method=>:get,:remote=>true,:html=>{:class=>"form-search",:id=>"simple_search"} do |f|%>
    <%=hidden_field_tag :template,"collocation_goods"%>

    <%=f.text_field :q,:placeholder=>"货号/商品名"%>
    <%=f.submit "搜索",:class=>"btn",:name=>nil%> 
<%end%>
</div>


<table class="table table-bordered table-hover collocation-goods" id="goods">
      <%=render "collocation_goods"%>
</table>

<div class="pagination">
  <%=will_paginate @goods,:container=>false,:params=>{:page=>params[:page]}%>
</div>

<script type="text/javascript">
  // $(document).ready(function(){
  //     $(".pagination").on('click', 'a', function() {
  //       var url = $(this).attr("href");
  //       $.getScript(url,function(){});
  //       return false;
  //     });
  // });
</script>