<%=content_for :title do "#{params[:q]}_贸威搜索" end%>
<%=content_for :keywords do "时尚服饰,设计师服装,时尚女性服饰,女装,配饰" end%>
<%=content_for :description do "贸威汇聚全球设计师服装精品，打造都市时尚女性首选个性网络衣橱。" end%>

<%=content_for :head do%>
	<%=stylesheet_link_tag "store/search"%>
<%end%>

<%if @goods.size > 0%>
	<%=render "store/goods/list_goods"%>
<%else%>
	<p>抱歉，没有搜索到与 “<span class="keywords"><%=params[:q]%></span>” 相关商品。</p>
<%end%>