<style>
  table tr td a{
      line-height: 20px;
  }
  .comment-box {
      background: #fcfffa;
      border: 1px solid #d0e4c2;
      padding: 10px 0 0 30px;
      margin: 0 -6px 5px;
      text-align: left;
     position: relative;
      zoom: 1;
  }
  .dl .accordion-navigation > a, .accordion dd > a{
   background: #ffffff;
  }
  .dl .accordion-navigation.active > a, .accordion dd.active > a {
      background: #ffffff;
  }
  .comment-box .box-t {
      position: absolute;
      right: 30%;
      top: -11px;
      width: 21px;
      height: 12px;
      background: url(http://misc.360buyimg.com/myjd/skin/2014/i/cicon.png) 0 0 no-repeat;
  }

  .showstar ul,.showstar span  .star ul,.star span{float:left;display:inline;height:19px;line-height:19px;}
  .showstar ul,  .star ul{margin:0 10px;}
  .showstar li, .star li{float:left;width:24px;cursor:pointer;text-indent:-9999px;background:url(/assets/cheuks/star.png) no-repeat;}
  .showstar strong .star strong{color:#f60;padding-left:10px;}
  .showstar li.on, .star li.on{background-position:0 -28px;}

  </style>
<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){

        $(".star .small-10 ul ").each(function(){
            var aLi = $(this).children("li");
             var thises=$(this);
            var i = iScore = iStar = 0;
            var aMsg = [
                "很不满意|差得太离谱，与卖家描述的严重不符，非常不满",
                "不满意|部分有破损，与卖家描述的不符，不满意",
                "一般|质量一般，没有卖家描述的那么好",
                "满意|质量不错，与卖家描述的基本一致，还是挺满意的",
                "非常满意|质量非常好，与卖家描述的完全一致，非常满意"
            ]

            for (i = 1; i <= aLi.length; i++){
                aLi[i - 1].index = i;

                //鼠标移过显示分数
                aLi[i - 1].onmouseover = function (){
                    fnPoint(this.index);

                    //浮动层显示
//                oP.style.display = "block";
                    //计算浮动层位置
//                oP.style.left = oUl.offsetLeft + this.index * this.offsetWidth - 104 + "px";
                    //匹配浮动层文字内容
//                oP.innerHTML = "<em><b>" + this.index + "</b> 分 " + aMsg[this.index - 1].match(/(.+)\|/)[1] + "</em>" + aMsg[this.index - 1].match(/\|(.+)/)[1]
                };

                //鼠标离开后恢复上次评分
                aLi[i - 1].onmouseout = function (){
                    fnPoint();
                    //关闭浮动层
//                oP.style.display = "none"
                };

                //点击后进行评分处理
                aLi[i - 1].onclick = function (){
                    iStar = this.index;

//                oP.style.display = "none";
//                oSpan.innerHTML = "<strong>" + (this.index) + " 分</strong> (" + aMsg[this.index - 1].match(/\|(.+)/)[1] + ")"

                }
            }

            //评分处理
            function fnPoint(iArg){
                //分数赋值

                iScore = iArg || iStar;
                for (i = 0; i < aLi.length; i++) aLi[i].className = i < iScore ? "on" : "";
               thises.children("#comment_degree").val(iScore);

            }


        })
        //显示评论星星
        $(".showstar .small-10 ul").each(function(){
            var aLi = $(this).children("li");
           var iscore=$(this).children(".degree").val();
            for (i = 0; i < aLi.length; i++) aLi[i].className = i < iscore ? "on" : "";
        })

        })


</script>
<div style="margin: 10px;padding: 10px">
<div class="row">
  <div class="title">
      <span style="border: 3px solid #a12b0f"> </span>
    <span style="margin-left: 10px;font-size: 20px;font-weight: bold">商品评价/晒单</span>
    </div>
<table style="width: 100%;line-height: 18px;
        text-align: center;
        border: 1px solid #f2f2f2;
        border-top: 0;
        color: #333;
        width: 100%;">
        <thead>
        <tr>
            <td >商品信息</td>
          <td>购买时间</td>
          <td>评价状态</td>
         </thead>

      </table>

  <dl class="accordion dl"style="width: 100%;" data-accordion>
       <% @order.order_items.each do |order_item|%>

  <dd class="accordion-navigation " >
    <a href="#pp<%=Ecstore::Good.find(Ecstore::Product.find_by_bn(order_item.bn).goods_id).goods_id%>" class="row">
      <div class="large-4 medium-4 small-4 columns">
        <%=  Ecstore::Good.find(Ecstore::Product.find_by_bn(order_item.bn).goods_id).name
        %> </div>
      <div class="large-4 medium-4 small-4  columns">
      <%@order.order_logs.order("alttime asc").each do |log|%>
          <%=log.created_at%>
      <%end%></div>
      <div class="large-4 medium-4 small-4 columns">在线评论</div>

    </a>
    <div id="pp<%=Ecstore::Good.find(Ecstore::Product.find_by_bn(order_item.bn).goods_id).goods_id%>" class="content ">

      <div class="row comment-box">
        <div class="box-t"></div>
        <%if Ecstore::Comment.where(:order_id=>order_item.order_id,:commentable_id=>Ecstore::Good.find(Ecstore::Product.find_by_bn(order_item.bn).goods_id).goods_id).first%>
            <%@comment_text=Ecstore::Comment.where(:order_id=>order_item.order_id,:commentable_id=>Ecstore::Good.find(Ecstore::Product.find_by_bn(order_item.bn).goods_id).goods_id).first%>
            <div class="row showstar" >
              <div class="small-2 columns">
                <label for="right-label" class="right inline">满意度</label>
              </div>

              <div class="small-10 columns">
                <ul>
                  <input type="hidden" class="degree" value="<%=@comment_text.degree%>">
                  <li><a href="javascript:;">1</a></li>
                  <li><a href="javascript:;">2</a></li>
                  <li><a href="javascript:;">3</a></li>
                  <li><a href="javascript:;">4</a></li>
                  <li><a href="javascript:;">5</a></li>
                </ul>
              </div>

            </div>

            <div class="row">
              <div class="small-8 columns">
                <div class="row">
                  <div class="small-3 columns">
                    <label for="right-label" class="right inline">标题</label>
                  </div>
                  <div class="small-9 columns">
                    <%=@comment_text.title%>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="small-8 columns">
                <div class="row">
                  <div class="small-3 columns">
                    <label for="right-label" class="right inline">心得</label>
                  </div>
                  <div class="small-9 columns">
                    <%=@comment_text.content%>

                  </div>
                </div>
              </div>
            </div>



      <%else%>
        <%=form_for :comment,:url=>"/member/add_comment" ,:remote=>true do |f|%>
            <%=f.hidden_field :commentable_id,:value=>Ecstore::Good.find(Ecstore::Product.find_by_bn(order_item.bn).goods_id).goods_id%>
            <%=f.hidden_field :member_id,:value=>@user.member_id if @user%>
            <%=f.hidden_field :order_id,:value=>@order.order_id%>
                <%=hidden_field_tag :return_url,request.url.sub('http://trade','').force_encoding('UTF-8')%>



                    <div class="row star" >
                      <div class="small-2 columns">
                        <label for="right-label" class="right inline">满意度</label>
                      </div>
                      <div class="small-10 columns">
                        <ul>
                          <%=f.hidden_field :degree%>
                          <li><a href="javascript:;">1</a></li>
                          <li><a href="javascript:;">2</a></li>
                          <li><a href="javascript:;">3</a></li>
                          <li><a href="javascript:;">4</a></li>
                          <li><a href="javascript:;">5</a></li>
                        </ul>
                      </div>

                    </div>





                <div class="row">
            <div class="small-8 columns">
              <div class="row">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline">标题</label>
                </div>
                <div class="small-9 columns">

                  <%=f.text_field :title , :placeholder=>"请描述下主题"%>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="small-8 columns">
              <div class="row">
                <div class="small-3 columns">
                  <label for="right-label" class="right inline">心得</label>
                </div>
                <div class="small-9 columns">
                  <%=f.text_area :content, :style=>"height:150px;", :placeholder=>"我们的产品是否给力，快快分享您的心得"%>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <%=f.submit "提交",:class=>"button  #{'login' unless signed_in?}"%></div>
        <%end%>
        <%end%>
        </div>
     </div>
    <hr>
  </dd>
  <%end%>
</dl>
</div>       </div>
