 <style>
     .good_name{
         overflow:hidden;
         text-overflow:ellipsis;
         -o-text-overflow:ellipsis;
         white-space:nowrap;

     }
    </style>
 <div class="row">
   <h4>订单详细</h4>  </div>
  <div class="row">
 <%if @orders&&@orders.count > 0%>
     <%@orders.each  do |order|%>
 <div class="row support panel">
   <div class="small-6 columns"><%if order.status == 'active' && order.pay_status=='0'%>
         <%=link_to "等待付款",detail_order_path(order),:target=>"_blank",:style=>"font-size:18px;color:red"%>
     <%elsif order.status == 'finish' && order.pay_status=='1'%>
         <%=link_to "完成",detail_order_path(order),:target=>"_blank",:style=>"font-size:18px;color:black"%>
     <%end%></div>
   <div class="small-6 columns"> 订单号: <%=link_to order.order_id, order_path(order),:target=>"_blank"%></div>
 </div>
  <div class="row support panel">  <img style="width: 15%" src="http://weishop.cheuks.com/images/a01/a014182_m.jpg">  </div>

   <div class="row support panel">
           <div class="small-6 columns"><h5>需支付:&yen;<%=order.final_amount.to_i%> </h5></div>
           <div class="small-6 columns" ><%=link_to "去付款",order_path(order),:target=>"_blank",:class=>"small button" if order.status == 'active' && order.pay_status=='0'%> </div>
     </div>



      <br><br>
    <%end%>


 <%else%>
     <div class="large-12 medium-12 small-12 columns good_name">
       <span>没有符合条件的订单</span>
     </div>


 <%end%>
  </div>

 <div class="pagination">
   <%=will_paginate @orders,:container=>false%>
 </div>
