
	
	<table class="table table-striped" id="order_list">
		<tr>
			<th>订单号</th>
			<th>订单商品</th>
			<th>下单时间</th>
			<th>订单金额</th>
			<th>订单状态</th>
			<th>操作</th>
		</tr>
		<%if @orders&&@orders.count > 0%>
		
			<%@orders.each  do |order|%>
			<tr>
				<td><%=link_to order.order_id, order_path(order),:target=>"_blank"%></td>
				<td>
					<%order.order_items.each_with_index do |order_item,index|%>
						<%
							link_title = order_item.name
							link_title = "赠品:#{link_title}" if order_item.item_type == 'gift'
						%>
						<%=link_to good_path(order_item.good.bn),:title=>link_title,:target=>"_blank",:class=>"thumb-link" do %>
                          <%=image_tag order_item.good.medium_pic,:class=>"thumb",:alt=>order_item.name if order_item.product&&order_item.item_type == 'product'%>
                          <%=image_tag order_item.product.gift_image_url,:class=>"thumb",:alt=>order_item.name if order_item.product&&order_item.item_type == 'gift'%>
						<%end%>

					<%end%>
				</td>
				
				<td><%=order.created_at%></td>
				<td>&yen;<%=order.final_amount.to_i%></td>
				<td><%=order.status_text%></td>
				<td>
					<div><%=link_to "查看",detail_order_path(order),:target=>"_blank"%></div>
					<div><%=link_to "去付款",order_path(order),:target=>"_blank" if order.status == 'active' && order.pay_status=='0'%></div>
				</td>
			</tr>
			<%end%>
		<%else%>
		<tr class="no-record" >
			<td colspan="6">没有符合条件的订单</td>
		</tr>
		<%end%>
	</table>
	<div class="pagination">
		<%=will_paginate @orders,:container=>false%>
	</div>
	