

<div class="section member-info clearfix">
	
	<div class="basic">
		<p class="welcome">
			<b><%=@user.login_name%></b> ，欢迎您！
			<span class="lv">
				会员等级：<%=@user.member_lv.name%>
			</span>&nbsp;
          <% @user.hasrole.each  do |hasrole|%>
              <% if hasrole.role_id==17%>
                <span class="lv">| 导购员</span>
              <% end%>
              <% if hasrole.role_id==18%>
                  <span class="lv">| 供应商</span>
              <% end%>
          <%end%>
          <% if @user.member_lv.id==10%>
              <span class="lv">| 渠道商</span>
          <% end%>
		</p>
		<p class="validation">
			<span class="email">
				邮箱认证：
				<%if @user.email_validated?%>
					<span class="validated">邮箱已认证</span>
				<%else%>
					<%=link_to "邮箱未认证",email_validation_path%>
				<%end%>
			</span>
			<span class="mobile">
				手机认证：
				<%if @user.sms_validated?%>
					<span class="validated">手机已认证</span>
				<%else%>
					<%=link_to "手机未认证",mobile_validation_path%>
				<%end%>
			</span>
			
		</p>
		<p>
			<span class="notify">
				<%=link_to  "待付款订单(#{@unpay_count})",orders_member_path(:pay_status=>'0',:status=>'active')%>
			</span>
			<span>预存款: <span class="currency">&yen; <%=@user.advance%></span></span>
		</p>
	</div>
</div>

<br>
<div class="title">
<% if (@user.login_name=="user_0001")%>
  您的导购员是：sale_0001
 <%elsif (@user.login_name=="user_0002")%>
您的导购员是：sale_0002
<%end%>
</div>
<div class="title">
	最近订单
	<%=link_to "所有订单>>",orders_member_path,:class=>"all-orders"%>
</div>
<table class="table table-striped" id="order_list">
	<tr>
		<th>订单号</th>
		<th>订单商品</th>
		
		<th>下单时间</th>
		<th>订单金额</th>
		<th>订单状态</th>
		<th>操作</th>
	</tr>
	
	<%@orders.each  do |order|%>
	<tr>
		<td><%=link_to order.order_id, order_path(order)%></td>
		<td>
			<%order.order_items.each_with_index do |order_item,index|%>
				<%
					link_title = order_item.name
					link_title = "赠品:#{link_title}" if order_item.item_type == 'gift'
				%>
				<%=link_to good_path(order_item.good.bn),:title=>link_title,:target=>"_blank",:class=>"thumb-link" do %>
					<%=image_tag order_item.good.medium_pic,:class=>"thumb",:alt=>order_item.name if order_item.item_type == 'product'%>
					<%=image_tag order_item.product.gift_image_url,:class=>"thumb",:alt=>order_item.name if order_item.item_type == 'gift'%>
				<%end%>

			<%end%>
		</td>
		
		<td><%=order.created_at%></td>
		<td>&yen;<%=order.final_amount.to_i%></td>
		<td><%=order.status_text%></td>
		<td>
			<div><%=link_to "查看",detail_order_path(order),:target=>"_blank"%></div>
			<div><%=link_to "去付款",order_path(order),:target=>"_blank" if order.status == 'active' && order.pay_status=='0'%></div>
		</td>
	</tr>
	<%end%>
</table>