<style>
    .good_name{
        overflow:hidden;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        white-space:nowrap;

    }
        .thumb{
            width: 10%;
        }
</style>

<div class="row" style="padding: 10px">
  <div class="large-12 medium-12 small-12 columns">
    <h3 style="font-size: 14px;">您好，尊敬的会员，欢迎来到卓仕工业品网！</h3>
  </div>   <br><br>
  <div class="large-4 medium-4 small-12 columns">
   <span class="left"> 会员等级:</span><span class="red" style="margin-left: 14%"><%=@user.member_lv.name%></span>
  </div>
  <div class="large-4 medium-4 small-12 columns">
   <span class="left"> 开票资质:</span><span class="red" style="margin-left: 14%"><%=@user.invoicing_qualification%></span>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <span class="left"> 账户余额:</span><span class="red" style="margin-left: 14%">&yen; <%=@user.advance%></span>
  </div>

   </div>
<br>

  <div class="title">
    <span style="border: 3px solid #ae3cbd"> </span>
    <span style="margin-left: 10px;font-size: 20px;font-weight: bold">最近订单<span class="right"><%=link_to "所有订单>>",orders_member_path%> </span> </span>
  </div>
  <br>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <%if @orders&&@orders.count > 0%>
      <%@orders.each  do |order_item|%>
  <tbody >
  <tr>
    <td width="35%">
      <div class="img-list">
        <%order_item.order_items.each_with_index do |order,index|%>
            <%
               link_title = order.name
               link_title = "赠品:#{link_title}" if order.item_type == 'gift'
            %>
            <%=link_to good_path_ext(order.good),:title=>link_title,:target=>"_blank",:class=>"thumb-link" do %>
                <%=image_tag order.good.medium_pic,:class=>"thumb" if order.item_type == 'product' && order.good%>
                <%=image_tag order.product.gift_image_url,:class=>"thumb" if order.item_type == 'gift'%>
            <%end%>

        <%end%>
      </div></td>

    <td><%=order_item.ship_name%></td>
    <td>&yen;<%=order_item.final_amount.to_i%><br><br><%=order_item.payment_name%></td>
    <%order_item.order_logs.order("alttime asc").each do |log|%>
        <td><%=log.created_at%> </td>
    <%end%>
    <td><%=order_item.status_text%>
      <%unless order_item.status == 'active' && order_item.pay_status=='0'%>
          <br>   <br><span><a href="#">跟踪</a> </span> <%end%>
    </td>
    <td >  <%=link_to "查看",detail_order_path(order_item),:target=>"_blank",:style=>"font-size:18px;color:red"%></td>
  </tr>
  </tbody>
   <%end%>
  <%else%>
      <tbody>
        <tr>
          <td colspan="6">您在近期没有提交过订单</td> </tr>

      </tbody>


  <%end%>
</table>













