<div>设置店铺地址</div>
<hr>
<%form.object = resource %>
<div id="addresses">
<%resource.addresses.each_with_index do |address,index|%>
	<%=form.fields_for :addresses, address do |addr_form|%>
		<div class="control-group old">
		      <%= addr_form.label :name, "地址#{index+1}", :class => "control-label" %>
		      <div class="controls">
		      	   <%=addr_form.text_field :name,:class=>"span5"%>
		      	   <a href="#" class="delete">×</a>
		      </div>
		      <%= addr_form.hidden_field :_destroy,:class=>"destroy" %>
	    	</div>

	<%end%>
<%end %>
</div>

<p><%=link_to "+添加新地址","#",:id=>"append_addr"%></p>