<%= stylesheet_link_tag    "vshop/create1ea897.css" %>
<%= stylesheet_link_tag    "vshop/processor897.css" %>
<br/><br/><br/><br/>
<DIV class="inner wrp">
  <DIV class="page_nav"><A class="jsUrlLink" href="javascript:void(0);" target="self"
                           data-url="manage/list">管理中心</A>     <SPAN class="gap">/</SPAN>     申请微店
  </DIV>
  <DIV class="container_box cell_layout">
    <div  id="step1"  style="display: none;">
    <DIV class="processor" id="process">
      <img src="/assets/vshop/apply_step1.png" />
    </DIV>
    <DIV class="step_panel">
      <DIV class="app_create_box app">
        <%=form_for :supplier, :html => {:multipart => true } ,:url=>"/admin/suppliers?return_url=/vshop/apply",:method=>'post', :remote=>true do |f|%>
          <DIV class="frm_control_group">
              <%= f.label :company_name, '企业全称', :class => "frm_label" %>
              <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :company_name ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
              <P class="frm_tips">需在2到40个字符之间，审核通过后不允许修改</P>
            </DIV>
          </DIV>
            <DIV class="frm_control_group">
              <%= f.label :address, '办公地址', :class => "frm_label" %>
              <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :address ,:class=>'frm_input',:maxlenth=>'100'%>
              </SPAN>
              </DIV>
            </DIV>
            <DIV class="frm_control_group">
              <%= f.label :tel, '公司电话', :class => "frm_label" %>
              <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :tel ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
              </DIV>
            </DIV>
            <DIV class="frm_control_group">
              <%= f.label :owner, '企业法定代表人姓名', :class => "frm_label" %>
              <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :owner ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
              </DIV>
            </DIV>
            <DIV class="frm_control_group">
              <%= f.label :owner_id, '身份证号', :class => "frm_label" %>
              <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :owner_id ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
              </DIV>
            </DIV>
            <DIV class="frm_control_group">
              <%= f.label :license_file, '营业执照', :class => "frm_label" %>
              <DIV class="frm_controls">
              <SPAN class="frm_input_box">
               <%= file_field_tag :license_file %>
              </SPAN>
              </DIV>
            </DIV>
          <DIV class="tool_bar border with_form">
            <%=f.submit '下一步', :class=>"btn btn_primary",:id=>"nextBt" %>
           </DIV>
        <%end%>
      </DIV>
      </DIV>
      </div>
      <div  id="step2"  style="display: none;">
      <DIV class="processor" id="process">
        <img src="/assets/vshop/apply_step2.png" />
      </DIV>
      <DIV class="step_panel">
      <DIV class="app_create_box platform">
          <%=form_for :supplier,:class=>"form", :url =>@action_url, :method=>@method do |f|%>
              <DIV class="frm_control_group">
                <%= f.label :weixin_name, '公众服务号名称', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :weixin_name ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
                </DIV>
                <P>你需要通过微信公众帐号（必须是已被微信认证的），请填写相关微信公众帐号。</P>
              </DIV>
              <DIV class="frm_control_group">
                <%= f.label :weixin_account, '服务号登录账号', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :weixin_account ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
                </DIV>
              </DIV>
              <DIV class="frm_control_group">
                <%= f.label :weixin_password, '服务号登录密码', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :weixin_password ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
                </DIV>
              </DIV>
              <DIV class="frm_control_group">
                <%= f.label :vmanager, '微店运营者姓名', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :vmanager ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
                </DIV>
              </DIV>
              <DIV class="frm_control_group">
                <%= f.label :vmanager_dpt_position, '部门与职位', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :vmanager_dpt_position ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
                </DIV>
              </DIV>
              <DIV class="frm_control_group">
                <%= f.label :vmanager_id, '身份证号码', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :vmanager_id ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
                </DIV>
              </DIV>
              <DIV class="frm_control_group">
                <%= f.label :vmanager_mobile, '手机号码', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :vmanager_mobile ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
                </DIV>
              </DIV>
              <DIV class="frm_control_group">
                <%= f.label :vmanager_email, '电子邮箱', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :vmanager_email ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
                </DIV>
              </DIV>
            <DIV class="frm_control_group">
              <%= f.label :name, '微店名称', :class => "frm_label" %>
              <DIV class="frm_controls">
              <SPAN class="frm_input_box">
              <%= f.text_field :name ,:class=>'frm_input',:maxlenth=>'40'%>
              </SPAN>
              </DIV>
              <P>尽量不要超过4个字</P>
            </DIV>
              <DIV class="frm_control_group textarea">
                <%= f.label :desc, '微店简介', :class => "frm_label" %>
                <DIV class="frm_controls">
              <SPAN class="frm_textarea_box">
               <%= f.text_field :desc ,:class=>'frm_input',:maxlenth=>'80'%>
              </SPAN>
                  <P class="frm_tips">最多80字</P></DIV>
              </DIV>
            <DIV class="frm_control_group">
              <%= f.label :agreement_file, '上传协议', :class => "frm_label" %>
              <DIV class="frm_controls">
              <SPAN class="frm_input_box">
               <%= file_field_tag :agreement_file %>
              </SPAN>
              </DIV>
              <p><a href="/m1/O2O.doc">下载协议模板</a></p>
              <P class="frm_tips"> 填写完整并且加盖企业公章的协议,大小不超过1MB。</P>

            </DIV>
            <DIV class="tool_bar border with_form">
              <%=f.submit '下一步', :class=>"btn btn_primary",:id=>"nextBt" %>
            </DIV>
            <%end%>
      </DIV>
      </DIV>
      </div>
        <div  id="step3"  style="display: none;">
          <DIV class="processor" id="process">
            <img src="/assets/vshop/apply_step3.png" />
          </DIV>
          <DIV class="step_panel">
      <DIV class="app_create_box result" >
        <DIV class="page_msg simple default">
          <DIV class="inner group"><SPAN class="msg_icon_wrp"><I
          class="icon_msg success"></I>             </SPAN>
            <DIV class="msg_content">
              <H4>您的微店开通申请已成功提交审核，预计在7天内完成审核</H4>
              <P>                    审核通过后，将为您开通商品管理、订单管理、会员管理、微信管理等功能权限。
              </P>
              <P class="spacing" style="display:none"><A class="btn btn_primary jsUrlLink" href="javascript:void(0);"
                                    target="self" data-url="manage/list">查看管理中心</A>
              </P></DIV></DIV></DIV></DIV></DIV></div>

</DIV>
</DIV>
<SCRIPT type="text/javascript">

  if ('<%=params[:step]%>'=='2'){
    document.getElementById("step2").style.display="";
  }
  else if('<%=params[:step]%>'=='3'){
      document.getElementById("step3").style.display="";
  }
  else{
  document.getElementById("step1").style.display="";
  }
</SCRIPT>