<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
 <div class="login_panel label_input prepend open" id="{id}" style="margin-top:-150px;">
    <div class="login_inner wx" id="{id}_wx">
        <%=form_for :session,:url=>"/login",:class=>"form login_form" , :remote=>true do |f|%>
        <fieldset class="login_fieldset">
          <legend class="login_legend">登录</legend>
          <input name="return_url" value="/vshop" type="hidden"/>
          <input name ="platform" value="vshop" type="hidden"/>

          <div class="login_input_area">
                    <span class="login_input_box first">
                        <label class="login_label">账号</label>
                      <%=f.text_field :username,:placeholder=>"已认证手机号/用户名/邮箱",:class=>"frm_input"%>
                    </span>
                    <span class="login_input_box last">
                        <label class="login_label">密码</label>
                      <%=f.password_field :password, :placeholder=>"密码",:class=>"frm_input"%>
                    </span>
          </div>

          <div class="login_function_area">
            <input name="remember_me" type="checkbox" value="1" checked="true">记住账号&nbsp;&nbsp;&nbsp;
            <a href="/users/forgot_password"   data-url="/users/forgot_password">忘记密码</a>
          </div>

          <div id="login_msg" style="color:red;font-size:12pt;"></div>
          <div class="login_tool_area">
            <%=f.submit "登 录",:class=>"btn btn_primary btn_login"%>
            <a href="/vshop/register" class="btn btn_default btn_regist" id="{id}_regist">注册</a>
          </div>
        </fieldset>
      <%end%>

    </div>
    <a href="/vshop" class="login_close icon16_common close " id="{id}_close">关闭</a>
  </div>
 <%= javascript_include_tag "login" %>