<br/><br/><br/><br/>
    <div class='sel_banner'>
      您当前选定了<a class='sel_nums'>0</a>条记录！  <a href='' class='cancel_all'>取消选定</a> <a href='' class='sel_all'>选定全部</a>
      <p class="total_member hidden"><%=@total_member%></p>
    </div>
    <table class="table table-bordered table-hover">
      <tr>
        <td>全选
          <%= check_box_tag "ids_all","",false,:class =>'operate_all_id'%>
        </td>
        <td>会员ID</td>
        <td>用户名</td>
        <td>姓名</td>
        <td>邮箱</td>
        <td>手机</td>
        <td>注册时间</td>
        <th colspan="3">操作</th>
      </tr>

      <% @accounts.each do |account| %>
          <tr>
            <td>
              <%= check_box_tag "ids[]",account.accout_id,false,:class =>'operate_ids'%>
            </td>
            <td><%=account.account_id %></td>
            <td><%=account.login_name%></td>
            <td><%=account.member.name %></td>
            <td><%=account.member.email%></td>
            <td><%=account.member.mobile%></td>
            <td><%=Time.at(account.createtime) %></td>

                <td><%=link_to "查看",info_admin_member_path(member)%></td>
                <td><%=link_to "编辑",edit_admin_member_path(member)%></td>
                <td>删除</td>
          </tr>
      <% end %>
    </table>

    <div class="pagination">
      <%= will_paginate @members, :container => false %>
    </div>

