<%=content_for :head do%>
   <%= stylesheet_link_tag "forgot_password"%>
	<%= javascript_include_tag "forgot_password"%>
<%end%>

<div class="forgot-password-holder">
	<%if @by == "email"%>
		<p class="sent-success"><span class="radic">&radic;</span>邮件已发送至您的邮箱 : <%=@user.mask_email%></p>
		<p>登录您的邮箱查收邮件，并点击验证链接完成修改密码。</p>
		<p><%=link_to "关闭窗口","/",:class=>"btn btn-small"%></p>
	<%end%>
</div>
