<style type="text/css">
    .am-panel-default{
        position:relative;
    }
    .icon-arr {
        position: absolute;
        top: 20px;
        right: 10px;
        width: 10px;
        height: 15px;
        background: url(/assets/icon_order.png) 0 0 no-repeat;
        background-size: 100px 100px;
    }
        .am-panel-hd{
            padding: 20px;
        }

</style>

<div class="am-panel am-panel-default "style="margin: 0px;padding: 0px">
  <div class="am-panel-hd"  style="text-align: center;padding: 10px"><%= I18n.t "personal_center"%></div>
</div>


<div class="userdiv" style="display:none">
  <ul class="orderList clearfix">
    <li><a href="user-order-list-unpay.html" class=""><span class="wait_pay"></span><p>待支付</p></a></li>
    <li><a href="user-order-list-unreceive.html" class=""><span class="wait_delivery"></span><p>待收货</p></a></li>
    <li><a href="user-order-list-more.html" class=""><span class="all_orders"></span><p>更多订单</p></a></li>
  </ul>
</div>

<div class="am-panel am-panel-default">
  <a href="/share?supplier_id=<%=@supplier.id%>">
    <div class="am-panel-hd"><%= I18n.t "commission"%></div>
    <span class="icon-arr"></span> </a>
</div>
<div class="am-panel am-panel-default">
  <a href="/commissions/bank_info?supplier_id=<%=@supplier.id%>">
    <div class="am-panel-hd"><%= I18n.t "commission_account"%></div>
    <span class="icon-arr"></span> </a>
</div>
<div class="am-panel am-panel-default">
  <a href="/orders/index_mobile?platform=mobile&supplier_id=<%=@supplier.id%>">
    <div class="am-panel-hd"><%=I18n.t "orders"%></div>
    <span class="icon-arr"></span> </a>
</div>
 <%if @supplier.id==(Ecstore::Supplier.find_by_name("万家物流").id)%>
    <div class="am-panel am-panel-default">
      <a href="/cart/manco_express?supplier_id=<%=@supplier.id%>">
        <div class="am-panel-hd"><%= I18n.t "shopping-basket"%></div>
        <span class="icon-arr"></span> </a>
    </div>

    <div class="am-panel am-panel-default">
      <a href="/manco/show_carblack?id=<%=@user.member_id%>&supplier_id=<%=@supplier.id%>">
        <div class="am-panel-hd">我的车源小黑板</div>
        <span class="icon-arr"></span> </a>
    </div>
    <div class="am-panel am-panel-default">
      <a href="/manco/departure?id=<%=@user.member_id%>&supplier_id=<%=@supplier.id%>&way=departure">
        <div class="am-panel-hd">寄货人地址</div>
        <span class="icon-arr"></span> </a>
    </div>
    <div class="am-panel am-panel-default">
      <a href="/manco/departure?id=<%=@user.member_id%>&supplier_id=<%=@supplier.id%>&way=arrival">
        <div class="am-panel-hd">收货人地址</div>
        <span class="icon-arr"></span> </a>
    </div>




<%else%>

    <div class="am-panel am-panel-default">
      <a href="/cart/mobile?id=<%=@supplier.id%>">
        <div class="am-panel-hd"><%= I18n.t "shopping-basket"%></div>
        <span class="icon-arr"></span> </a>
    </div>
    <div class="am-panel am-panel-default">
      <a href="/member_addrs?platform=mobile&supplier_id=<%=@supplier.id%>">
        <div class="am-panel-hd"><%= I18n.t "address"%></div>
        <span class="icon-arr"></span> </a>
    </div>
    <%end%>
<div class="s_links in_user_center">
  <a href="user-fav-product.html" style="display:none">

    <em class="s_fav"></em>我的收藏<span></span><i class="s_onsale"></i>
  </a>

  <a href="user-logout.html" class="btn_white btn_out" mars_sead="logout_btn" style="display:none"><%= I18n.t "logout"%></a>
  <div class="space20"></div>
</div>

<div class="footnav clearfix">
  <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
  <%if @user%>
      <script>
          if ('<%=@user.account.supplier_id %>'!='<%=@supplier.id%>'){
              location.href = "/auto_login?id=<%=@supplier.id%>&<%=request.url.sub('http://trade','').force_encoding('UTF-8')%>&platform=mobile"

          }
      </script>
      <a href="/vshop/<%=@supplier.id%>/user" style="font-size: 20px; "><%=@user.account.id%></a>
      <a href="/auto_login?id=<%=@supplier.id%>&platform=mobile&<%=return_url%>" class="am-btn am-btn-warning " ><%= I18n.t "logout"%></a>
  <%else%>

      <a href="/mlogin?id=<%=@supplier.id%>&platform=mobile&<%=return_url %>" mars_sead="footer-login_btn"><%= I18n.t "login"%></a>
      <a href="/mregister?id=<%=@supplier.id%>&platform=mobile&<%=return_url%>"><%= I18n.t "signup"%></a>
  <%end%>
  <a href="?t=1#" class="backtop" mars_sead="home_foot_top_btn"></a>
</div>