<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>TRADE-V | Admin</title>
  <meta name="description" content="全球精品第e站，都市时尚个性首选.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "admin/base", "admin/#{controller_name}" %>
  <%= javascript_include_tag "admin/base","admin/#{controller_name}"%>
  <%= javascript_include_tag "ckeditor/init" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%=render "admin/shared/top_menu"%>
  <div id="main">
    <div class="container admin <%=controller_name%> <%=action_name%>">
      <%= yield %>
    </div>
  </div>
  <%=render "admin/shared/footer"%>
</body>
</html>
