<!DOCTYPE html>
<html >
<head>


  <%= stylesheet_link_tag "app" %>
  <%= stylesheet_link_tag "foundation-icons" %>


  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
<%= javascript_include_tag "jquery", "jquery_ujs" %>
<%= javascript_include_tag "store/cart" %>
</html>