<!DOCTYPE html>
<html>
<head>
  <title>Cheuk's 卓展</title>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "store/cart" %>

  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag "store/cart" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>