<!DOCTYPE html>
<html>
<head>
  <title>摩登客 | 体验个性摩登生活方式,尊享服装配饰设计品牌精品</title>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "store/cart" %>

  <%= javascript_include_tag "jquery", "jquery_ujs" %>
  <%= javascript_include_tag "store/cart" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>