<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=640, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <title><%=@supplier.name%>微商城</title>
  <meta content="" name="keywords">
  <meta content="" name="description">
  <%= stylesheet_link_tag    "manco/amui.all.min.css" %>

  <%= stylesheet_link_tag    "manco/amui.all.css" %>
  <%= javascript_include_tag "manco/amui.widget.helper.js" %>
  <%= javascript_include_tag "manco/zepto.min.js" %>
  <%= stylesheet_link_tag    "cheuks" %>
  <%= javascript_include_tag "manco/amui.widget.helper.min" %>
  <%= javascript_include_tag "manco/handlebars.min.js" %>
  <%= javascript_include_tag "manco/amui.js" %>
  <%= javascript_include_tag "manco/amui.min.js" %>
    <style>
      .am-tabs{
          padding: 0px;
          margin: 0px;

      }

    </style>

</head>
<body>
<header >
  <h1 class="am-topbar-brand">
    <a href="#">卓展</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-cheuks am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
  class="am-icon-search"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">

    </ul>

    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
      <button type="submit" class="am-btn am-btn-cheuks am-btn-sm">搜索</button>
    </form>

  </div>
  <div data-am-widget="cheuks" class="am-tabs am-tabs-cheuks">
    <ul class="am-tabs-nav am-cf">
      <li class="am-active">
        <a href="/vshop/<%=@supplier.id%>">首页</a>
      </li>
      <li class="">
        <a href="#">关于我们</a>
      </li>
      <li class="">
        <a href="/cheuks/cheuks_goods">产品中心</a>
      </li>
      <li class="">
        <a href="/cheuks/news">新闻中心</a>
      </li>
      <li class="">
        <a href="/services">服务中心</a>
      </li>
    </ul>
      </div>

</header>


<%= yield %>






<div class="footer clearfix" style="display: none">
  <%if @user%>
      <script>
          if ('<%=@user.account.supplier_id %>'!='<%=@supplier.id%>'){
              location.href = "/logout?id=<%=@supplier.id%>&platform=mobile"
          }
      </script>
  <%end%>
  <p class="copyright">Copyright © 2013-2014 trade-v.com 版权所有 上海普慧信息科技有限公司 All rights reserved. 沪ICP备13045311号-1 </p>
</div>
<div class="space10"></div>

<div class="c-bottom"></div>
</body>
</html>




