<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>trade-v | Admin</title>
  <meta name="description" content="trade-V 跨境贸易直通车.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "admin/base", "admin/#{controller_name}", "admin/dialog" %>
  <%= javascript_include_tag "admin/base","admin/#{controller_name}","admin/dialog"%>
  <%= javascript_include_tag "ckeditor/init" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="main">
    <div class="container admin <%=controller_name%>">
      <%= yield %>
    </div>
  </div>
</body>
</html>
