<!DOCTYPE html>
<html>
<head>
  <title><%=page_title%></title>
  <meta name="keywords" content="<%=meta_keywords%>" />
  <meta name="description" content="<%=meta_description%>" />
  <%= javascript_include_tag "login" %>
  <%= stylesheet_link_tag "login" %>
  <%= csrf_meta_tags %>

</head>
<body>
<%= yield %>
<%= javascript_include_tag "google-analytics"  if Rails.env == "production"%>


</body>
</html>