<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <%if @event_desc%>
  <title><%=@event_desc%></title>
  <%else%>
  <title><%= I18n.t 'title' %></title>
  <%end%>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <script>

    <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
    function isWeixinBrowser(){
        var ua = navigator.userAgent.toLowerCase();
      //  alert(ua);
        return (/micromessenger/.test(ua)) ? true : false ;
    }   

    var is_weixin_browser = isWeixinBrowser();

    var auto_login_url= '/mlogin';
    var supplier_id='78';
    <%if @supplier%>
         supplier_id='<%=@supplier.id%>';
    <%end%>
    if(is_weixin_browser){
      
      auto_login_url= '/auto_login?id='+supplier_id+'&<%=return_url%>&platform=mobile';
    }
    
    <%if @user && @user.account.supplier_id%>
      if ('<%=@user.account.supplier_id %>'!=supplier_id){
        location.href = auto_login_url;
      }
    <%elsif @no_need_login.nil?%>
      location.href = auto_login_url;
    <%end%>   
  </script>

  <%= stylesheet_link_tag    "tradev.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.min.css" %>

  <%= stylesheet_link_tag    "amaze/amazeui.widgets.min.css" %>

  <%= javascript_include_tag "amaze/zepto.min.js"%>

  <%= javascript_include_tag "amaze/amazeui.widgets.helper.min.js"%>

  <%= javascript_include_tag "amaze/amazeui.widgets.min.js"%>

  <%= javascript_include_tag "amaze/amazeui.min.js" %>

  <%= javascript_include_tag "amaze/handlebars.min.js"%>

  <%= javascript_include_tag  "store/mobile/fly.js"%>
  <%= javascript_include_tag  "store/mobile/cart_animation.js"%>

  <script>var ui = 'touch';</script>
  <style>
 .bottomdivsclearfix {
          position: fixed;
          bottom: 0;
          width: 100%;

          background: #fff;
          border: #ddd 1px solid;
          border-top: #fff 1px solid;
          z-index: 1000000;
          margin: 3px;
      }
      .am-navbar-default .am-navbar-nav {
          background-color: #FF8000;
      }
      .hidden{
          display: none;
      }
      .am-navbar-nav li a{
          color: #ffffff;
      }

  </style>
</head>
<body style="margin: 0 auto; min-width: 320px; max-width: 640px; ">  
  <%= yield %>
  <div class="bottomdivsclearfix">

    <div data-am-widget="navbar"  class="am-navbar am-cf am-navbar-default am-no-layout" id="" >
      <ul class="am-navbar-nav am-cf sm-block-grid-3">

        <li>
          <a class=" "  data-am-modal="{target: '#trade_server'}">
            <span  class="am-navbar-label" >商品馆</span>
          </a>
        </li>
        <%if @user%>
        <li>
          <a class="" href="/cart/mobile?id=<%=@supplier.id if @suplier%>">
            <span  class="am-navbar-label">购物车</span>
          </a>
        </li>
        <li >
          <a class=" " href="/vshop/<%=@supplier.id if @supplier%>/user?id=<%=@supplier.id if @supplier%>">
            <span  class="am-navbar-label">个人中心</span>
          </a>
        </li>
        <%end%>
        <li style="display:none">
          <a  class=" " id="showall" >
            <%if  I18n.locale.to_s=="zh_cn"%>
            <span id="lange" class="">English</span>
            <%elsif  I18n.locale.to_s =="en"%>
            <span id="lange" class="">中文切换</span>
            <%end%></a>
        </li>

      </ul>
    </div>
  </div>

  <div class="am-modal-actions" id="trade_server">
    <div class="am-modal-actions-group">

      <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >

        <ul class="am-list am-col col-sm-4 am-list-thumb">
          <li>
            <a href="/tuan" >
              <span>限时特价</span>
            </a>
          </li>
          <li>
            <a href="/galleries/126" >
              <span>德国香肠馆</span>
            </a>
          </li>
          <li>
            <a href="/galleries/128" >
              <span>酒类茶叶馆</span>
            </a>
          </li>
          <li>
            <a href="/galleries/130" >
              <span>生鲜果蔬馆</span>
            </a>
          </li>
        </ul>

        <ul class="am-col col-sm-4 am-list-main am-list">
          <li>
            <a href="/galleries/129">
              <span>进口食品馆</span>
            </a>
          </li>          
          <li>
            <a href="/galleries/131" >
              <span>鲜花礼品馆</span>
            </a>
          </li>

          <li>
            <a href="/galleries/127">
              <span>养生珍品馆</span>
            </a>
          </li>
        </ul>
        <ul class="am-col col-sm-4 am-list-main am-list">
          <li>
            <a href="/galleries/133" >
              <span>婴童天地馆</span>
            </a>
          </li>
          <li>
            <a href="/galleries/132" >
              <span>粮油食品馆</span>
            </a>
          </li>
          <li>
            <a href="/galleries/134" >
              <span>生活用品馆</span>
            </a>
          </li>
        </ul>
      </li>
      <br>
      <br></ul>
  </div>
</div>

<div class="footer clearfix">

  <p class="copyright" style="display: none">
    Copyright © 2013-2014 trade-v.com
    <br/>
    版权所有 上海普慧信息科技有限公司 All rights reserved.
    <br/>
    沪ICP备13045311号-1
  </p>
  <p style="display:none">
    from=
    <%=session[:wechat_user]%>
    |recommend=
    <%=session[:recommend_user]%></p>
</div>

<script type="text/javascript">

    function wechatShare(data) {
        // If no data is defined, just fallback to wechat's default behaviour.
        if (!data) {
            return;
        }
        var title = data.title || document.title;
        var desc = data.desc || "分享";
        var url = data.url || document.location.href;

        function getDefaultImage() {
            var images = document.getElementsByTagName("img");
            if (images && images.length > 0) {
                for (var i = 0; i < images.length; i++) {
                    var image = images[i];
                    if (image.width > 140 && image.height > 130 && $(image).is(":visible")) {
                        return image.src;
                    }
                }
            }
            return null;
        }
        function shareFriend() {
            // Delay image loading to the time when DOM is ready.
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("sendAppMessage", {
                "img_url": img,
                "link": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }
        function shareTimeline() {
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("shareTimeline", {
                "img_url": img,
                "link": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }
        function shareWeibo() {
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("shareWeibo", {
                "img_url": img,
                "content": title,
                "url": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }

        document.addEventListener("WeixinJSBridgeReady", function onBridgeReady() {

            WeixinJSBridge.on("menu:share:appmessage", function(argv) {
                shareFriend();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
            WeixinJSBridge.on("menu:share:timeline", function(argv) {
                shareTimeline();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
            WeixinJSBridge.on("menu:share:weibo", function(argv) {
                shareWeibo();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
        }, false);
    }
    <%if @user%>
    <%useraccount=@user.account.login_name%>
    <%end%>
    var current_url = document.location.href;
    //去除上一个推荐者的链接
    var imgs=null
    var descs=null


    if (document.location.href.indexOf('order')>0){
        var pathname = document.location.pathname;
        if (pathname=="/orders/mobile_show_order"||pathname=="/orders/mobile_show"){
            pathnames="/orders/share_order";
            var serach =document.location.search;
            var host=document.location.host;

            var url=host + pathnames+serach;
            current_url=url

        }

    }



    if (document.location.search=="?name=%E9%A6%99%E8%82%A0&id=78"){

        imgs="http://vshop.trade-v.com/images/a077/xiangchang.png"

        descs="德国老祖母级香肠，原汁原味，来自德国的美味！";
    }

    if (document.location.pathname=="/events/party/detail"){


            descs = "吃货帮活动聚会了哦!!!";

        imgs = "http://vshop.trade-v.com/assets/nigailai.jpg"
    }

    if (document.location.pathname=="/pages/about_zmq"){

        descs="卓玛泉西藏冰川水 喝水也可以如此美好";

        imgs="http://vshop.trade-v.com/images/a104/zhuoma.png"


    }

    num_index_of = current_url.indexOf("&from=weixin&wechatuser=");
    if (num_index_of >0){
        current_url = current_url.substr(0,num_index_of);
    }
    current_url += "&from=weixin&wechatuser=<%=useraccount%>";


    var data = {"img":imgs,"url":current_url,"title":"关注贸威，转发朋友，享受更优质生活！<%#=@wechat_share_title%>","desc":descs};

    wechatShare(data);
</script>
<%= javascript_include_tag "mobile/jquery.vs.common-1.0.0.min" %>

<script type="text/javascript">
    var _smq = _smq || [];
    _smq.push(['_setAccount', '63e2363', new Date()]);
    _smq.push(['_setDirectoryIndex', '/m/']);
    _smq.push(['_setHeatmapEnabled', 'no']);
    _smq.push(['pageview']);
</script>
<script type="text/javascript">
    $(function(){
        var $clickBox = $('#channel_img')
        $clickBox.off('click.push.count','a.itemList').on('click.push.count','a.itemList', function(){
            var t = $(this),
                    dom = {
                        index: $clickBox.find('a.itemList').index(t) + 1,
                    };
            (dom.index > 0 && dom.index < 31) && _smq.push(['pageview','/brandlist', dom.index.toString()]);
        })
    })
</script>

<script>
    $(document).ready(function(){
        $("#showgood").click(function(){

            $('#aaa').toggle();

        })

        $("#showall").click(function() {
            pathname = document.location.pathname;
            url = document.location.href;
            serach = document.location.search;
            host = document.location.host;

            var langeval = $("#lange").html();



            function parseURL(url) {
                var a = document.createElement('a');
                a.href = url;
                return {
                    source: url,
                    protocol: a.protocol.replace(':', ''),
                    host: a.hostname,
                    port: a.port,
                    query: a.search,
                    params: (function () {
                        var ret = {},
                                seg = a.search.replace(/^\?/, '').split('&'),
                                len = seg.length, i = 0, s;
                        for (; i < len; i++) {
                            if (!seg[i]) { continue; }
                            s = seg[i].split('=');
                            ret[s[0]] = s[1];
                        }
                        return ret;

                    })(),
                    file: (a.pathname.match(/\/([^\/?#]+)$/i) || [, ''])[1],
                    hash: a.hash.replace('#', ''),
                    path: a.pathname.replace(/^([^\/])/, '/$1'),
                    relative: (a.href.match(/tps?:\/\/[^\/]+(.+)/) || [, ''])[1],
                    segments: a.pathname.replace(/^\//, '').split('/')
                };
            }

//替换myUrl中的同名参数值
            function replaceUrlParams(myUrl, newParams) {
                for (var x in newParams) {
                    var hasInMyUrlParams = false;
                    for (var y in myUrl.params) {
                        if (x.toLowerCase() == y.toLowerCase()) {
                            myUrl.params[y] = newParams[x];
                            hasInMyUrlParams = true;
                            break;
                        }
                    }
                    //原来没有的参数则追加
                    if (!hasInMyUrlParams) {
                        myUrl.params[x] = newParams[x];
                    }
                }
                var _result = myUrl.protocol + "://" + myUrl.host + ":" + myUrl.port + myUrl.path + "?";

                for (var p in myUrl.params) {
                    _result += (p + "=" + myUrl.params[p] + "&");
                }

                if (_result.substr(_result.length - 1) == "&") {
                    _result = _result.substr(0, _result.length - 1);
                }

                if (myUrl.hash != "") {
                    _result += "#" + myUrl.hash;
                }
                return _result;
            }

//辅助输出

            urlsss=document.location.href
            var myURL = parseURL(urlsss);

            if (langeval == "|English") {
                var _newUrl = replaceUrlParams(myURL, {locale: "en"}); }
            else{
                var _newUrl = replaceUrlParams(myURL, {locale: "zh_cn"});
            }
            window.location.href=_newUrl;




        })

    })


</script></body>
</html>