<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <title><%=@supplier.name%>微商城</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

 <%= stylesheet_link_tag    "norsh.css" %>


  <%= stylesheet_link_tag    "amaze/amazeui.basic.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.basic.min.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.min.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.widgets.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.widgets.min.css" %>
  <%= stylesheet_link_tag    "amaze/duoshuo.css" %>


  <%= javascript_include_tag "amaze/zepto.min.js"%>
  <%= javascript_include_tag "amaze/amazeui.widgets.helper.js"%>
  <%= javascript_include_tag "amaze/amazeui.widgets.helper.min.js"%>
  <%= javascript_include_tag "amaze/amazeui.widgets.js"%>
  <%= javascript_include_tag "amaze/amazeui.widgets.min.js"%>
  <%= javascript_include_tag "amaze/amazeui.js" %>
  <%= javascript_include_tag "amaze/amazeui.min.js" %>
  <%= javascript_include_tag "amaze/amazeui.basic.js"%>
  <%= javascript_include_tag "amaze/amazeui.basic.min.js"%>
 <%= javascript_include_tag "amaze/handlebars.min.js"%>


  <style type="text/css">

      .bottomdivsclearfix {
          position: fixed;
          bottom: 0;
          width: 100%;
          background: #fff;
          border: #ddd 1px solid;
          border-top: #fff 1px solid;
          z-index: 1000000;
         margin: 3px;
      }
      .am-navbar-default .am-navbar-nav {
          background-color: #dc852d;
      }

  </style>

  <script>
      $(document).ready(function(){
          $("#showgood").click(function(){
            $("#aaa").toggle();
          })
      })


  </script>

</head>
<body>
<div class="footer clearfix" style="display:none">
  <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
  <%if @user%>
      <script>
          if ('<%=@user.account.supplier_id %>'!='<%=@supplier.id%>'){
              location.href = "/auto_login?id=<%=@supplier.id%>&<%=return_url%>&platform=mobile"
          }
      </script>
  <%else%>
      <script>
          location.href = "/auto_login?id=<%=@supplier.id%>&<%=return_url%>&platform=mobile"
      </script>
  <%end%>
  <p class="copyright">Copyright © 2013-2014 trade-v.com <br/>版权所有 上海普慧信息科技有限公司 All rights reserved. <br/>沪ICP备13045311号-1 </p>
  <p >from=<%=session[:wechat_user]%>|recommend=<%=session[:recommend_user]%></p>
</div>
<header data-am-widget="header" class="am-header am-header-warning  am-no-layout"><div class="am-header-left am-header-nav">
  <a href="javascript:history.go(-1)" class=""><img class="am-header-icon-custom" src="data:image/svg+xml;charset=utf-8,&lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; viewBox=&quot;0 0 12 20&quot;&gt;&lt;path d=&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill=&quot;%23fff&quot;/&gt;&lt;/svg&gt;" alt=""></a>
</div>
  <h1 class="am-header-title"><img src="/images/a0<%=@supplier.id%>/logo.png"></h1>
  <div class="am-header-right am-header-nav">
  </div></header>

<%= yield %>



<div class="bottomdivsclearfix">

  <div data-am-widget="navbar"  class="am-navbar am-cf am-navbar-default am-no-layout"
       id="">
    <ul class="am-navbar-nav am-cf sm-block-grid-4">
      <li>
        <a href="tel:<%=@supplier.tel%>">
				<span class="am-icon-phone">
				</span>

        </a>
      </li>
      <li >
        <a id="showgood" href="###">
				<span  class="am-icon-dashboard">
				</span>

        </a>
      </li>
      <li >
        <a href="/vshop/<%=@supplier.id%>/user?id=<%=@supplier.id%>" onclick="setBackAct(&#39;topHeaderUserHome&#39;);" id="reddot"">
				<span class="am-icon-user">
				</span>

        </a>
      </li>

      <li >
        <a href="/cart/mobile?id=<%=@supplier.id%>">
				<span class="am-icon-shopping-cart">
				</span>
</a>
      </li>
    </ul>

  </div>
   </div>

<div >
  <div class="am-share am-modal-actions am-modal-active" id="aaa"
       style="margin-top: -138px;display: none
       ">

    <ul style="clear: both" class="am-share-sns sm-block-grid-4">
      <li style="clear: both">

        <a href="/vshop/<%=@supplier.id%>/category?cat=572"
           >
          <i class="am-icon-star">
          </i>
				<span>
					手工皂
				</span>
        </a>
      </li>
      <li>
        <a href="/vshop/<%=@supplier.id%>/category?cat=573"
           >
          <i class="am-icon-star">
          </i>
				<span>
					餐具
				</span>
        </a>
      </li>
      <li>
        <a href="/vshop/<%=@supplier.id%>/category?cat=516"
           >
          <i class="am-icon-star">
          </i>
				<span>
					牙膏
				</span>
        </a>
      </li>
      <li>
        <a href="/vshop/<%=@supplier.id%>/category?cat=515"
           >
          <i class="am-icon-star">
          </i>
				<span>
					牙刷
				</span>
        </a>
      </li>
      <div class="am-share-footer">
        <button class="am-btn am-btn-default am-btn-block" data-am-share-close="">
          取消
        </button>
      </div>
    </ul>

  </div>
</div>
     <br/>

<script src="/assets/mobile/swipe.min.js" type="text/javascript"></script>

<div class="footer clearfix">
  <% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
  <%if @user%>
      <script>
          if ('<%=@user.account.supplier_id %>'!='<%=@supplier.id%>'){
              location.href = "/auto_login?id=<%=@supplier.id%>&<%=return_url%>&platform=mobile"
          }
      </script>
  <%end%>
  <p class="copyright">Copyright © 2013-2014 trade-v.com <br/>版权所有 上海普慧信息科技有限公司 All rights reserved. <br/>沪ICP备13045311号-1 </p>
  <p style="display:none">from=<%=session[:wechat_user]%>|recommend=<%=session[:recommend_user]%></p>
</div>
<!--<div class="space10"></div>-->

<!--<div class="c-bottom"></div>-->

<script type="text/javascript">
    function wechatShare(data) {
        // If no data is defined, just fallback to wechat's default behaviour.
        if (!data) {
            return;
        }
        var title = data.title || document.title;
        var desc = data.desc || "分享";
        var url = data.url || document.location.href;

        function getDefaultImage() {
            var images = document.getElementsByTagName("img");
            if (images && images.length > 0) {
                for (var i = 0; i < images.length; i++) {
                    var image = images[i];
                    if (image.width > 140 && image.height > 130 && $(image).is(":visible")) {
                        return image.src;
                    }
                }
            }
            return null;
        }
        function shareFriend() {
            // Delay image loading to the time when DOM is ready.
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("sendAppMessage", {
                "img_url": img,
                "link": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }
        function shareTimeline() {
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("shareTimeline", {
                "img_url": img,
                "link": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }
        function shareWeibo() {
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("shareWeibo", {
                "img_url": img,
                "content": title,
                "url": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }

        document.addEventListener("WeixinJSBridgeReady", function onBridgeReady() {

            WeixinJSBridge.on("menu:share:appmessage", function(argv) {
                shareFriend();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
            WeixinJSBridge.on("menu:share:timeline", function(argv) {
                shareTimeline();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
            WeixinJSBridge.on("menu:share:weibo", function(argv) {
                shareWeibo();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
        }, false);
    }
    <%if @user%>
    <%useraccount=@user.account.login_name%>
    <%end%>
    var current_url = document.location.href;
     var imgs=null;
     var descs=null;




    if (document.location.pathname=="/vshop/97"){

        imgs="http://vshop.trade-v.com/images/a097/yagao.png"

        descs="全球首款天然去糖牙膏-为宝宝挑选最好的";
    }
    //去除上一个推荐者的链接
    num_index_of = current_url.indexOf("&from=weixin&wechatuser=");
    if (num_index_of >0){
        current_url = current_url.substr(0,num_index_of);
    }
    current_url += "&from=weixin&wechatuser=<%=useraccount%>";
    // alert(current_url);
    var data = {"img":imgs,"url":current_url,"title":"关注我们，转发朋友，享受优质生活！<%#=@wechat_share_title%>","desc":descs};
    wechatShare(data);
</script>
<%= javascript_include_tag "mobile/jquery.vs.common-1.0.0.min" %>
<%#= javascript_include_tag "mobile/jquery.vs.mobile-1.0.0.min" %>
<%= javascript_include_tag "mobile/jquery.vs.mars_wap" %>
<!--<script src="/assets/mobile/sm.js" type="text/javascript" charset="utf-8"></script>-->
<script type="text/javascript">
    var _smq = _smq || [];
    _smq.push(['_setAccount', '63e2363', new Date()]);
    _smq.push(['_setDirectoryIndex', '/m/']);
    _smq.push(['_setHeatmapEnabled', 'no']);
    _smq.push(['pageview']);
</script>
< type="text/javascript">
    $(function(){
        var $clickBox = $('#channel_img')
        $clickBox.off('click.push.count','a.itemList').on('click.push.count','a.itemList', function(){
            var t = $(this),
                    dom = {
                        index: $clickBox.find('a.itemList').index(t) + 1,
                    };
            (dom.index > 0 && dom.index < 31) && _smq.push(['pageview','/brandlist', dom.index.toString()]);
        })
    })
</script>

</body>
</html>





</body>
</html>




