<!DOCTYPE html>
<html>
<head>
  <title>订单中心 |  摩登客 | 体验个性摩登生活方式，尊享服装配饰设计精品</title>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "store/orders" %>

  <%=javascript_include_tag "store/orders"%>
 
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "store/shared/new_header" %>

<div id="main" class="container">
	<%= yield %>
</div>


<%= render "store/shared/footer" %>


<%= javascript_include_tag "google-analytics" %>
</body>
</html>
