
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="zh" > <![endif]-->
<html class="no-js" lang="zh" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title><%=page_title%></title>
      <meta name="keywords" content="<%=meta_keywords%>" />
  <meta name="description" content="<%=meta_description%>" />
    <title>上海卓仕工业品有限公司,一站式工业品网上订购平台,工业品,物流设备,动力工具、搬运车、堆高车、叉车、高空作业平台!</title>
    <meta name="description" content="上海卓仕工业品有限公司,一站式工业品网上订购平台,工业品,物流设备,动力工具、搬运车、堆高车、叉车、高空作业平台!" />
    <meta name="author" content="Cheuks MRO Co.,Ltd. " />
    <meta name="copyright" content="Copyright © 2009-2014 Cheuks MRO Co.,Ltd. 卓展集团版权所有" />


  <%=javascript_include_tag "standard"%>
  <%=stylesheet_link_tag "standard"%>
  
  <%= yield :head%>

  <%#=render "shared/baidu" if Rails.env == "production"%>
  <%= csrf_meta_tags %>

    <link rel="stylesheet" href="stylesheets/app.css" />
    <link rel="stylesheet" href="stylesheets/foundation-icons.css" />

    <script src="js/foundation.min.js"></script> 
  
</head>

<body>

  <%=yield :notice%>
  <%= render "shared/header" %>
  <%if controller_name!='home'%>
  <%= render "shared/top_menu" %>
  <%= yield :cover %>

  <div id= "main" class="<%=controller_name%> <%=action_name%> clearfix">
  <%end%>
    <%= yield%>
  <%if controller_name!='home'%>
  </div>
  <%end%>
  <%=render "shared/common_footer"%>
  
  <div id="backToTop" title="返回顶部"><span><em class="at">♦</em><em class="ab">▐</em>返回顶部</span></div>

  <%=render "shared/iframe_cart" if signed_in?%>
  <%=render "shared/iframe_login" unless signed_in?%>
  <%= javascript_include_tag "google-analytics" if Rails.env == "production"%>
</body>
</html>
