<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <title><%=@supplier.name%>微商城</title>
  <meta content="" name="keywords">
  <meta content="" name="description">
  <%= stylesheet_link_tag    "tairyo" %>
  <%= stylesheet_link_tag    "amaze/amazeui.basic.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.basic.min.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.min.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.widgets.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.widgets.min.css" %>
  <%= stylesheet_link_tag    "amaze/duoshuo.css" %>


  <%= javascript_include_tag "amaze/zepto.min.js"%>
  <%= javascript_include_tag "amaze/amazeui.widgets.helper.js"%>
  <%= javascript_include_tag "amaze/amazeui.widgets.helper.min.js"%>
  <%= javascript_include_tag "amaze/amazeui.widgets.js"%>
  <%= javascript_include_tag "amaze/amazeui.widgets.min.js"%>
  <%= javascript_include_tag "amaze/amazeui.js" %>
  <%= javascript_include_tag "amaze/amazeui.min.js" %>
  <%= javascript_include_tag "amaze/amazeui.basic.js"%>
  <%= javascript_include_tag "amaze/amazeui.basic.min.js"%>
  <%= javascript_include_tag "amaze/handlebars.min.js"%>


  <script>
      var ui = 'touch';
  </script>
</head>
<body>
<header data-am-widget="header" data-am-widget="header" style="background-color: #b21119;padding: 7px" class=" am-header-default" >


  <!-- 按钮触发器， 需要指定 target -->
  <button class="am-btn am-btn-tairyo" data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}"><span class="am-sr-only">导航切换</span> <span
  class="am-icon-bars"></span></button>
  <span style="margin-left: 35%;color: white;font-size: 20px"> <%=@supplier.name%></span>
  <button class="am-btn am-btn-tairyo" style="float: right"  data-am-offcanvas="{target: '#doc-oc-demo3'}"><span
  class="am-icon-search"></span></button>
  <!-- 侧边栏内容 -->
  <div class="col-md-3 col-md-pull-9 my-sidebar">
    <div class="am-offcanvas" id="doc-oc-demo2">
      <div class=" am-offcanvas-bar am-offcanvas-bar-overlay am-offcanvas-bar-active">
        <ul class="am-nav am-menu-nav" style="color:red;">
          <li class="am-parent"><a  style="color:red"><%=@supplier.name%>微商城</a></li>
          <li class="am-nav-header">目录</li>
          <li class="am-menu-nav-channelt">  <a href="/vshop/<%=@supplier.id%>">首页</a> </li>
          <li class="am-menu-nav-channelt">  <a href="/tairyo/map?supplier_id=<%=@supplier.id%>">地图信息</a> </li>

        </ul>
      </div>
    </div>
  </div>

  </header>

<%= yield %>


<div class="bottomdivsclearfix">

  <div data-am-widget="navbar"  class="am-navbar am-cf am-navbar-tairyo am-no-layout"
       id="">
    <ul class="am-navbar-nav am-cf sm-block-grid-4">
      <li>
        <a href="tel:<%=@supplier.tel%>">
				<span class="am-icon-phone">
				</span>

        </a>
      </li>
      <li >
        <a  href="/tairyo/comment?supplier_id=<%=@supplier.id%>">
				<span  class="am-icon-comment ">
				</span>

        </a>
      </li>
      <li >
        <a href="/vshop/<%=@supplier.id%>/user?id=<%=@supplier.id%>" onclick="setBackAct(&#39;topHeaderUserHome&#39;);" id="reddot"">
				<span class="am-icon-user">
				</span>

        </a>
      </li>

      <li >
        <a href="/cart/mobile?id=<%=@supplier.id%>">
				<span class="am-icon-shopping-cart">
				</span>
        </a>
      </li>
    </ul>

  </div>
</div>





<script src="/assets/mobile/swipe.min.js" type="text/javascript"></script>

<div class="footer clearfix">
  <div class="footnav clearfix">

    <a href="?t=1#" class="backtop" mars_sead="home_foot_top_btn"></a>
  </div>
  <p class="copyright"  style="display:none">Copyright © 2013-2014 trade-v.com 版权所有 上海普慧信息科技有限公司 All rights reserved. 沪ICP备13045311号-1 </p>
  <p style="display:none">from=<%=session[:wechat_user]%>|recommend=<%=session[:recommend_user]%></p>
</div>
<div class="space10"></div>

<div class="c-bottom"></div>

<script type="text/javascript">
    function wechatShare(data) {
        // If no data is defined, just fallback to wechat's default behaviour.
        if (!data) {
            return;
        }
        var title = data.title || document.title;
        var desc = data.desc || "分享";
        var url = data.url || document.location.href;

        function getDefaultImage() {
            var images = document.getElementsByTagName("img");
            if (images && images.length > 0) {
                for (var i = 0; i < images.length; i++) {
                    var image = images[i];
                    if (image.width > 140 && image.height > 130 && $(image).is(":visible")) {
                        return image.src;
                    }
                }
            }
            return null;
        }
        function shareFriend() {
            // Delay image loading to the time when DOM is ready.
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("sendAppMessage", {
                "img_url": img,
                "link": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }
        function shareTimeline() {
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("shareTimeline", {
                "img_url": img,
                "link": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }
        function shareWeibo() {
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("shareWeibo", {
                "img_url": img,
                "content": title,
                "url": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }

        document.addEventListener("WeixinJSBridgeReady", function onBridgeReady() {
            WeixinJSBridge.on("menu:share:appmessage", function(argv) {
                shareFriend();
            });
            WeixinJSBridge.on("menu:share:timeline", function(argv) {
                shareTimeline();
            });
            WeixinJSBridge.on("menu:share:weibo", function(argv) {
                shareWeibo();
            });
        }, false);
    }
    <%if @user%>
    <%useraccount=@user.account.login_name%>
    <%end%>
    var current_url =document.location.href+"&from=weixin&wechatuser=<%=useraccount%>"
    var data = {"img":null,"url":current_url,"title":"关注我们，转发朋友，赚佣金啰！<%#=@wechat_share_title%>","desc":null};
    wechatShare(data);
</script>
<%#= javascript_include_tag "mobile/jquery.vs.common-1.0.0.min" %>
<%#= javascript_include_tag "mobile/jquery.vs.mobile-1.0.0.min" %>
<%#= javascript_include_tag "mobile/jquery.vs.mars_wap" %>
<!--<script src="/assets/mobile/sm.js" type="text/javascript" charset="utf-8"></script>-->
<script type="text/javascript">
    var _smq = _smq || [];
    _smq.push(['_setAccount', '63e2363', new Date()]);
    _smq.push(['_setDirectoryIndex', '/m/']);
    _smq.push(['_setHeatmapEnabled', 'no']);
    _smq.push(['pageview']);
</script>
<script type="text/javascript">
    $(function(){
        var $clickBox = $('#channel_img')
        $clickBox.off('click.push.count','a.itemList').on('click.push.count','a.itemList', function(){
            var t = $(this),
                    dom = {
                        index: $clickBox.find('a.itemList').index(t) + 1,
                    };
            (dom.index > 0 && dom.index < 31) && _smq.push(['pageview','/brandlist', dom.index.toString()]);
        })
    })
</script>

</body></html>