<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  <title>贸威团购</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <%= stylesheet_link_tag    "amaze/amazeui.min.css" %>
  <%= stylesheet_link_tag    "amaze/amazeui.widgets.min.css" %>

  <%= stylesheet_link_tag    "tuan.css" %>
  <%= javascript_include_tag "amaze2.2/jquery.min.js"%>
  <%= javascript_include_tag "amaze2.2/amazeui.min.js"%>
  <%= javascript_include_tag "amaze2.2/amazeui.legacy.min.js"%>
  <%= javascript_include_tag "amaze2.2/amazeui.widgets.helper.min.js"%>
  <%= javascript_include_tag "amaze2.2/handlebars.min.js"%>
  <script>
      var ui = 'touch';
  </script>
  <style>


      .bottomdivsclearfix {
          position: fixed;
          bottom: 0;
          width: 100%;
          background: #fff;
          border: #ddd 1px solid;
          border-top: #fff 1px solid;
          z-index: 1000000;
          margin: 3px;
      }
      .am-navbar-default .am-navbar-nav {
          background-color: #FF8000;
      }
      .hidden{
          display: none;
      }
      .am-navbar-nav li a{
          color: #ffffff;
      }

  </style>
</head>

<header data-am-widget="header" class="am-header am-header-danger">
  <h1 class="am-header-title">
   <%if @tuan_title%>  <%=@tuan_title%> <%else%>团购<%end%>
   </h1>

</header>
<body style="margin: 0 auto; min-width: 320px; max-width: 640px; >
<% return_url={:return_url => request.url.sub('http://trade','').force_encoding('UTF-8')}.to_query%>
<script>
    var supplier_id='78';
    <%if @supplier%>
    supplier_id="<%=@supplier.id%>";
    <%end%>
    <%if @user%>


    if ('<%=@user.account.supplier_id %>'!=supplier_id){
        location.href = '/auto_login?id='+supplier_id+'&<%=return_url%>&platform=mobile'
    }

    <%else%>

    location.href = "/auto_login?id="+supplier_id+"&<%=return_url%>&platform=mobile"

    <%end%> </script>
<%= yield %>





<div class="footer clearfix">

  <p class="copyright" style="display: none">Copyright © 2013-2014 trade-v.com <br/>版权所有 上海普慧信息科技有限公司 All rights reserved. <br/>沪ICP备13045311号-1 </p>
  <p style="display:none">from=<%=session[:wechat_user]%>|recommend=<%=session[:recommend_user]%></p>
</div>


<script type="text/javascript">



    function wechatShare(data) {
        // If no data is defined, just fallback to wechat's default behaviour.
        if (!data) {
            return;
        }
        var title = data.title || document.title;
        var desc = data.desc || "分享";
        var url = data.url || document.location.href;

        function getDefaultImage() {
            var images = document.getElementsByTagName("img");
            if (images && images.length > 0) {
                for (var i = 0; i < images.length; i++) {
                    var image = images[i];
                    if (image.width > 140 && image.height > 130 && $(image).is(":visible")) {
                        return image.src;
                    }
                }
            }
            return null;
        }
        function shareFriend() {
            // Delay image loading to the time when DOM is ready.
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("sendAppMessage", {
                "img_url": img,
                "link": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }
        function shareTimeline() {
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("shareTimeline", {
                "img_url": img,
                "link": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }
        function shareWeibo() {
            var img = data.img || getDefaultImage();
            WeixinJSBridge.invoke("shareWeibo", {
                "img_url": img,
                "content": title,
                "url": url,
                "desc": desc,
                "title": title
            }, function(res) {
            });
        }

        document.addEventListener("WeixinJSBridgeReady", function onBridgeReady() {

            WeixinJSBridge.on("menu:share:appmessage", function(argv) {
                shareFriend();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
            WeixinJSBridge.on("menu:share:timeline", function(argv) {
                shareTimeline();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
            WeixinJSBridge.on("menu:share:weibo", function(argv) {
                shareWeibo();
                <%if @user==nil%>
                alert('您还没有登录，只有登录后，分享给朋友，才可能赚到佣金噢！');
                <%end%>
            });
        }, false);
    }
    <%if @user%>
    <%useraccount=@user.account.login_name%>
    <%end%>
    var current_url = document.location.href;
    //去除上一个推荐者的链接
    var imgs=null
    var descs=null


    if (document.location.href.indexOf('order')>0){
        var pathname = document.location.pathname;
        if (pathname=="/events/party/detail"){

            var serach =document.location.search;
            var host=document.location.host;

            var url=host + pathname+serach;
            current_url=url

        }

    }

    if (document.location.href.indexOf('events')>0) {
        var pathname = document.location.pathname;


        var serach = document.location.search;

        var host = document.location.host;
        imgs = "http://vshop.trade-v.com/assets/nigailai.png"
        var url = host + pathname + serach;
        current_url = url

        descs ='<%=@event_desc%>'
        if (descs.length===0){
            desc = "吃货帮活动聚会了哦!!!";
        }



    }


    if (document.location.search=="?name=%E9%A6%99%E8%82%A0&id=78"){

        imgs="http://vshop.trade-v.com/images/a077/xiangchang.png"

        descs="德国老祖母级香肠，原汁原味，来自德国的美味！";
    }

    if (document.location.pathname=="/pages/about_zmq"){

        descs="卓玛泉西藏冰川水 喝水也可以如此美好";
        imgs="http://vshop.trade-v.com/images/a104/zhuoma.png"

    }

    num_index_of = current_url.indexOf("&from=weixin&wechatuser=");
    if (num_index_of >0){
        current_url = current_url.substr(0,num_index_of);
    }
    current_url += "&from=weixin&wechatuser=<%=useraccount%>";
    // alert(current_url);

    var data = {"img":imgs,"url":current_url,"title":"关注贸威，转发朋友，享受更优质生活！<%#=@wechat_share_title%>","desc":descs};
    wechatShare(data);
</script>


<script type="text/javascript">
    var _smq = _smq || [];
    _smq.push(['_setAccount', '63e2363', new Date()]);
    _smq.push(['_setDirectoryIndex', '/m/']);
    _smq.push(['_setHeatmapEnabled', 'no']);
    _smq.push(['pageview']);
</script>
<script type="text/javascript">
    $(function(){
        var $clickBox = $('#channel_img')
        $clickBox.off('click.push.count','a.itemList').on('click.push.count','a.itemList', function(){
            var t = $(this),
                    dom = {
                        index: $clickBox.find('a.itemList').index(t) + 1,
                    };
            (dom.index > 0 && dom.index < 31) && _smq.push(['pageview','/brandlist', dom.index.toString()]);
        })
    })
</script>

</body></html>
