<!DOCTYPE HTML>
<HTML><HEAD>
  <META charset="utf-8"> <TITLE>微信互助O2O直销管理平台</TITLE>
  <SCRIPT type="text/javascript">
      var Report={
          start:+new Date(),
          point:{}
      }
  </SCRIPT>
  <liNK href="https://www.trade-v.com/assets/vshop/weixin.ico"  rel="Shortcut Icon">

  <%= stylesheet_link_tag    "vshop/page_index1ea897.css" %>
  <%= stylesheet_link_tag    "vshop/slider1ea897.css" %>
  <%= stylesheet_link_tag    "vshop/lib1ea897.css" %>
  <%= stylesheet_link_tag    "vshop/base1ea897.css" %>
</HEAD>

<BODY class="page_introduction">
<div class="head">
  <div class="global_bar" id="loginBar">
    <div class="inner wrp">
      <div class="account" id="loginAccount">
        &nbsp;
      <%if @user%>
            <a href="javascript:void(0);" data-url="setting/dev" target="self" class="account_meta no_extra jsUrllink"><%=truncate2(@user.account.login_name,:length=>5)%></a>
            <a href="javascript:void(0);" data-url="home/notice" target="self" class="account_meta jsUrllink jsNotice">通知<i class="icon_common notices jsDot" style="display:none"></i></a>
            <a href="/logout?platform=/vshop" class="account_meta" target="_self">退出</a>
      <%else%>
         <A class="account_meta no_extra" id="loginBarBt" href="/vshop/login">登录</A>	         <A class="account_meta jsUrllink" href="/vshop/register">注册</A>
      <%end%>
      </div>

    </div>
  </div>
  <div class="head_box">
    <div class="inner wrp">
      <H1 class="logo"><A title="微信互助O2O直销平台" class="jsUrllink" href="/vshop" target="self" data-url="/vshop">微信互助O2O直销平台</A></H1>
      <UL class="nav">
        <li class="nav_item jsNavItem" data-id="index"><A class="jsUrllink" href="/vshop">首页</A></li>
        <li class="nav_item jsNavItem" data-id="res"><A class="jsUrllink" href="/vshop/goods">商品管理</A></li>
        <li class="nav_item jsNavItem" data-id="manage"><A class="jsUrllink" href="/vshop/orders">订单管理</A></li>
        <!--       <li class="nav_item jsNavItem" data-id="account" style="display:none"><A class="jsUrllink" href="/vshop/promotion">促销管理</A></li> -->
        <li class="nav_item jsNavItem" data-id="manage"><A class="jsUrllink" href="/admin/wechat/followers?platform=vshop">会员管理</A></li>
        <li class="nav_item jsNavItem" data-id="manage"><A class="jsUrllink" href="/commissions">佣金管理</A></li>
        <li class="nav_item jsNavItem" data-id="manage"><A class="jsUrllink" href="/vshop/weixin">微店管理</A></li>
      </UL></div></div></div>
<SCRIPT type="text/javascript">
    Report.point[20]=+new Date();
</SCRIPT>

<div class="body">
  <link rel="stylesheet" href="https://res.wx.qq.com/open/zh_CN/htmledition/res/css/page/manage/list1ea897.css">
  <link rel="stylesheet" href="https://res.wx.qq.com/open/zh_CN/htmledition/res/css/widget/tab1ea897.css">
  <link rel="stylesheet" href="https://res.wx.qq.com/open/zh_CN/htmledition/res/css/widget/pop_tips1ea897.css">
  <br/><br/><br/>
  <div class="inner wrp">

    <div class="page_nav"> 管理中心</div>
    <div class="tool_area" style="display:none;">
    <span class="frm_input_box search prepend">
        <a id="msgSearchBtn" href="javascript:void(0);" class="icon16_common search_gray frm_input_append">搜索</a>
        <input id="msgSearchInput" type="text" placeholder="输入名称或编号查找" value="" class="frm_input" />
    </span>
    </div>

    <div class="container_box cell_layout">
      <div id="data_box" class="data_box">
        <div class="tab">
          <ul id="appTabUl" class="tab_navs">
            <li apptype="biz" class="tab_nav"><a href="/vshop/weixin">基本信息</a></li>
            <li apptype="mobile" class="tab_nav first"><a href="/admin/wechat/followers?platform=vshop">佣金管理</a></li>
            <li apptype="web" class="tab_nav"><a href="/admin/static_pages">内容管理</a></li>

          </ul>
        </div>
        <%= yield %>
      </div>
    </div>

  </div>

 </div>
<div class="foot">
  <div class="inner wrp">
    <P class="copyright"> Copyright © 2013-2014 上海普慧信息科技有限公司 All rights reserved. 沪ICP备13045311号-1 </P>
    <UL class="ft links">
      <li class="links_item no_extra"><A href="#">联系我们 021-22306630</A></li>
      <li class="links_item last_child"><A href="mailto:cs@iotps.com" target="_self">投诉建议</A></li></UL></div></div>


<SCRIPT type="text/javascript">
    Report.point[21]=+new Date();//dom加载完
</SCRIPT>
  <%= javascript_include_tag "vshop/sea1ea897.js"%>
  <%= javascript_include_tag "vshop/lib1ea897.js"%>

<SCRIPT type="text/javascript" charset="utf-8">
    //全局变量和快捷方法
    window.wx={
        T:template,
        url:function(url){
            if(url.indexOf("?")>-1){
                url+="&token=&lang=zh_CN"
            }else{
                url+="?token=&lang=zh_CN"
            }
            return url;
        },
        getUrl:function(name){
            var match=(window.location+"&").match(new RegExp("(?:\\?|\\&)"+name+"=(.*?)\\&"));
            if(match&&match[1]){
                return String(match[1]).html(true);
            }
        },
        fakeId:'',
        token:""
    };



    //控制导航头nav选中
    window.nav={
        selected:function(id){
            $(".jsNavItem[data-id='"+id+"']").addClass('selected').siblings().removeClass('selected');
        }
    };

    //错误上报  图片异常1 script标签异常2  页面script异常3 cgi请求异常4
    (function(){
        var data={
            fakeid: wx.fakeId,
            userAgent:window.navigator.userAgent,
            url:location.href
        };

        jQuery("img").error(function(){
            send(1,"type=img||fakeid={fakeid}||url={url}||src={0}||useragent={userAgent}".format(data).format([jQuery(this).src||""]));
        });

        jQuery("script").error(function(){
            send(2,"type=script||fakeid={fakeid}||url={url}||src={0}||useragent={userAgent}".format(data).format([jQuery(this).src||""]));
        });


        window.onerror = function( msg, url, line ){
            send(3,"type=runtime||fakeid={fakeid}||url={url}||line={line}||msg={msg}||useragent={userAgent}".format(data).format({
                msg:msg,
                url:url,
                line:line
            }));
        };

        function send(type,msg){
            jQuery.ajax({
                url:'/cgi-bin/jslog?1=1',
                data:{
                    content:msg,
                    id:type,
                    level:"error"
                },
                type:"POST"
            });
        };
        wx.jslog = function(d, e){
            return;
            /* d = jQuery.extend(d, data);
             var e_str = [];
             if (!!e){
             jQuery.each(["message", "stack", "lineNumber"], function(k, v){
             e_str.push(v + ":" + (e[v]||""));
             });
             }
             d.e = e_str.join(';').replace(/\s/g, "");
             var msg = "fakeid={fakeid}||type=exception||url={url}||useragent={userAgent}||src={src}||exception={e}]".format(d);
             send(4, msg);*/
        };
    })();

    $(function(){
        Report.point[22]=+new Date();
    });

    window.onload=function(){
        Report.point[23]=+new Date();
        var start=Report.start;
        var point=Report.point;
        $.each(point,function(i,d){
            point[i]=d-start;
        });
        if (window.performance&&window.performance.timing) {
            var navigationTime = window.performance.timing;
            Report.start=navigationTime.navigationStart||Report.start;
            //可以获取到的时间点
            var field = [
                "unloadEventStart",
                "unloadEventEnd",
                "redirectStart",
                "redirectEnd",
                "fetchStart",
                "domainLookupStart",
                "domainLookupEnd",
                "connectStart",
                "connectEnd",
                "requestStart",
                "responseStart",
                "responseEnd",
                "domLoading",
                "domInteractive",
                "domContentLoadedEventStart",
                "domContentLoadedEventEnd",
                "domComplete",
                "loadEventStart",
                "loadEventEnd"
            ];
            field.each(function(name,i){
                if(navigationTime[name]>0){
                    point[i]=navigationTime[name]-Report.start;
                }
                if(point[i]<0||point[i]>10000){
                    console.log(name);
                    console.log(navigationTime[name]);
                    console.log(Report.start);
                    console.log(value);
                    point[i]=0;
                }
            });
        }

        (function(){
            if(Report.isReport){
                var img=new Image();
                img.src=Report.url+"&"+Object.param(Report.point);
            }
        }).delay(5);
    };

    Report.init=function(flag1,flag2,flag3){
        this.url="http://isdspeed.qq.com/cgi-bin/r.cgi?"+Object.param({
            flag1:flag1,
            flag2:flag2,
            flag3:flag3
        });
        this.isReport=true;
    }
</SCRIPT>

<%= javascript_include_tag "vshop/index1ea897.js"%>
<SCRIPT type="text/javascript">
    nav.selected("index");
    seajs.use("home/index");
    Report.init(169,2086,1);
</SCRIPT>
</BODY></HTML>

